=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class ActionsV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Actions V1
    # List all actions for an organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :incident_id Find actions related to this incident
    # @option opts [Boolean] :is_follow_up Filter to actions marked as being follow up actions
    # @option opts [String] :incident_mode Filter to actions from incidents of the given mode. If not set, only actions from &#x60;real&#x60; incidents are returned
    # @return [ActionsListResultV1]
    # @deprecated GET /v1/actions is deprecated and will be removed.
    def actions_v1_list(opts = {})
      data, _status_code, _headers = actions_v1_list_with_http_info(opts)
      data
    end

    # List Actions V1
    # List all actions for an organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :incident_id Find actions related to this incident
    # @option opts [Boolean] :is_follow_up Filter to actions marked as being follow up actions
    # @option opts [String] :incident_mode Filter to actions from incidents of the given mode. If not set, only actions from &#x60;real&#x60; incidents are returned
    # @return [Array<(ActionsListResultV1, Integer, Hash)>] ActionsListResultV1 data, response status code and response headers
    # @deprecated GET /v1/actions is deprecated and will be removed.
    def actions_v1_list_with_http_info(opts = {})
      IncidentIo::Deprecation.warn("GET /v1/actions")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV1Api.actions_v1_list ...'
      end
      # resource path
      local_var_path = '/v1/actions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'incident_id'] = opts[:'incident_id'] if !opts[:'incident_id'].nil?
      query_params[:'is_follow_up'] = opts[:'is_follow_up'] if !opts[:'is_follow_up'].nil?
      query_params[:'incident_mode'] = opts[:'incident_mode'] if !opts[:'incident_mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActionsListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV1Api.actions_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV1Api#actions_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Actions V1
    # Get a single incident action.
    # @param id [String] Unique identifier for the action
    # @param [Hash] opts the optional parameters
    # @return [ActionsShowResultV1]
    # @deprecated GET /v1/actions/{id} is deprecated and will be removed.
    def actions_v1_show(id, opts = {})
      data, _status_code, _headers = actions_v1_show_with_http_info(id, opts)
      data
    end

    # Show Actions V1
    # Get a single incident action.
    # @param id [String] Unique identifier for the action
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActionsShowResultV1, Integer, Hash)>] ActionsShowResultV1 data, response status code and response headers
    # @deprecated GET /v1/actions/{id} is deprecated and will be removed.
    def actions_v1_show_with_http_info(id, opts = {})
      IncidentIo::Deprecation.warn("GET /v1/actions/{id}")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV1Api.actions_v1_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionsV1Api.actions_v1_show"
      end
      # resource path
      local_var_path = '/v1/actions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActionsShowResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV1Api.actions_v1_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV1Api#actions_v1_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
