=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class ActionsV3Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Actions V3
    # Create a new incident action.
    # @param actions_create_payload_v3 [ActionsCreatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [ActionsCreateResultV3]
    def actions_v3_create(actions_create_payload_v3, opts = {})
      data, _status_code, _headers = actions_v3_create_with_http_info(actions_create_payload_v3, opts)
      data
    end

    # Create Actions V3
    # Create a new incident action.
    # @param actions_create_payload_v3 [ActionsCreatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActionsCreateResultV3, Integer, Hash)>] ActionsCreateResultV3 data, response status code and response headers
    def actions_v3_create_with_http_info(actions_create_payload_v3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV3Api.actions_v3_create ...'
      end
      # verify the required parameter 'actions_create_payload_v3' is set
      if @api_client.config.client_side_validation && actions_create_payload_v3.nil?
        fail ArgumentError, "Missing the required parameter 'actions_create_payload_v3' when calling ActionsV3Api.actions_v3_create"
      end
      # resource path
      local_var_path = '/v3/actions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(actions_create_payload_v3)

      # return_type
      return_type = opts[:debug_return_type] || 'ActionsCreateResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV3Api.actions_v3_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV3Api#actions_v3_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Actions V3
    # Delete an incident action.
    # @param id [String] Unique identifier for the action
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def actions_v3_delete(id, opts = {})
      actions_v3_delete_with_http_info(id, opts)
      nil
    end

    # Delete Actions V3
    # Delete an incident action.
    # @param id [String] Unique identifier for the action
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def actions_v3_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV3Api.actions_v3_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionsV3Api.actions_v3_delete"
      end
      # resource path
      local_var_path = '/v3/actions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV3Api.actions_v3_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV3Api#actions_v3_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Actions V3
    # List actions for an organisation.  Results are paginated and ordered by action ID, oldest first. Use the <code>after</code> value from <code>pagination_meta</code> to fetch the next page; it is only set when there may be more results.  ### By created_at and updated_at  Both timestamp filters accept the operators \"gte\" (greater than or equal to), \"lte\" (less than or equal to) and \"date_range\" (between two dates). The following example finds all actions updated after 2025-01-01:    curl --get 'https://api.incident.io/v3/actions' \\    --data 'updated_at[gte]=2025-01-01T00:00:00Z'  To find actions created within a specific date range, use the date_range operator with tilde-separated dates:    curl --get 'https://api.incident.io/v3/actions' \\    --data 'created_at[date_range]=2024-12-02~2024-12-08'  Filtering on updated_at is useful for incrementally syncing actions: poll with updated_at[gte] set to your last sync time instead of re-fetching the full history. Two caveats: updated_at moves whenever the action row itself is written, but changes to embedded objects (e.g. an assignee being renamed) can alter the payload without bumping it. And timestamps are stamped before commit, so an action can become visible with an older updated_at than rows you have already seen — overlap your sync window by a few minutes to allow for writes that commit out of timestamp order. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An action&#39;s ID. This endpoint will return a list of actions after this ID in relation to the API response order.
    # @option opts [String] :incident_id Find actions related to this incident
    # @option opts [String] :incident_mode Filter to actions from incidents of the given mode. If not set, only actions from &#x60;standard&#x60; and &#x60;retrospective&#x60; incidents are returned
    # @option opts [Hash<String, Array<String>>] :created_at Filter on action created at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :updated_at Filter on action updated at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @return [ActionsListResultV3]
    def actions_v3_list(opts = {})
      data, _status_code, _headers = actions_v3_list_with_http_info(opts)
      data
    end

    # List Actions V3
    # List actions for an organisation.  Results are paginated and ordered by action ID, oldest first. Use the &lt;code&gt;after&lt;/code&gt; value from &lt;code&gt;pagination_meta&lt;/code&gt; to fetch the next page; it is only set when there may be more results.  ### By created_at and updated_at  Both timestamp filters accept the operators \&quot;gte\&quot; (greater than or equal to), \&quot;lte\&quot; (less than or equal to) and \&quot;date_range\&quot; (between two dates). The following example finds all actions updated after 2025-01-01:    curl --get &#39;https://api.incident.io/v3/actions&#39; \\    --data &#39;updated_at[gte]&#x3D;2025-01-01T00:00:00Z&#39;  To find actions created within a specific date range, use the date_range operator with tilde-separated dates:    curl --get &#39;https://api.incident.io/v3/actions&#39; \\    --data &#39;created_at[date_range]&#x3D;2024-12-02~2024-12-08&#39;  Filtering on updated_at is useful for incrementally syncing actions: poll with updated_at[gte] set to your last sync time instead of re-fetching the full history. Two caveats: updated_at moves whenever the action row itself is written, but changes to embedded objects (e.g. an assignee being renamed) can alter the payload without bumping it. And timestamps are stamped before commit, so an action can become visible with an older updated_at than rows you have already seen — overlap your sync window by a few minutes to allow for writes that commit out of timestamp order. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An action&#39;s ID. This endpoint will return a list of actions after this ID in relation to the API response order.
    # @option opts [String] :incident_id Find actions related to this incident
    # @option opts [String] :incident_mode Filter to actions from incidents of the given mode. If not set, only actions from &#x60;standard&#x60; and &#x60;retrospective&#x60; incidents are returned
    # @option opts [Hash<String, Array<String>>] :created_at Filter on action created at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :updated_at Filter on action updated at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @return [Array<(ActionsListResultV3, Integer, Hash)>] ActionsListResultV3 data, response status code and response headers
    def actions_v3_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV3Api.actions_v3_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ActionsV3Api.actions_v3_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ActionsV3Api.actions_v3_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v3/actions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'incident_id'] = opts[:'incident_id'] if !opts[:'incident_id'].nil?
      query_params[:'incident_mode'] = opts[:'incident_mode'] if !opts[:'incident_mode'].nil?
      query_params[:'created_at'] = opts[:'created_at'] if !opts[:'created_at'].nil?
      query_params[:'updated_at'] = opts[:'updated_at'] if !opts[:'updated_at'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActionsListResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV3Api.actions_v3_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV3Api#actions_v3_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Actions V3
    # Get a single incident action.
    # @param id [String] Unique identifier for the action
    # @param [Hash] opts the optional parameters
    # @return [ActionsShowResultV3]
    def actions_v3_show(id, opts = {})
      data, _status_code, _headers = actions_v3_show_with_http_info(id, opts)
      data
    end

    # Show Actions V3
    # Get a single incident action.
    # @param id [String] Unique identifier for the action
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActionsShowResultV3, Integer, Hash)>] ActionsShowResultV3 data, response status code and response headers
    def actions_v3_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV3Api.actions_v3_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionsV3Api.actions_v3_show"
      end
      # resource path
      local_var_path = '/v3/actions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActionsShowResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV3Api.actions_v3_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV3Api#actions_v3_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Actions V3
    # Update an existing incident action.
    # @param id [String] Unique identifier for the action
    # @param actions_update_payload_v3 [ActionsUpdatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [ActionsUpdateResultV3]
    def actions_v3_update(id, actions_update_payload_v3, opts = {})
      data, _status_code, _headers = actions_v3_update_with_http_info(id, actions_update_payload_v3, opts)
      data
    end

    # Update Actions V3
    # Update an existing incident action.
    # @param id [String] Unique identifier for the action
    # @param actions_update_payload_v3 [ActionsUpdatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActionsUpdateResultV3, Integer, Hash)>] ActionsUpdateResultV3 data, response status code and response headers
    def actions_v3_update_with_http_info(id, actions_update_payload_v3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV3Api.actions_v3_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionsV3Api.actions_v3_update"
      end
      # verify the required parameter 'actions_update_payload_v3' is set
      if @api_client.config.client_side_validation && actions_update_payload_v3.nil?
        fail ArgumentError, "Missing the required parameter 'actions_update_payload_v3' when calling ActionsV3Api.actions_v3_update"
      end
      # resource path
      local_var_path = '/v3/actions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(actions_update_payload_v3)

      # return_type
      return_type = opts[:debug_return_type] || 'ActionsUpdateResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV3Api.actions_v3_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV3Api#actions_v3_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
