=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class ActionsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Actions V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use <code>POST /v3/actions</code> instead.  Create a new incident action.
    # @param actions_create_payload_v2 [ActionsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [ActionsCreateResultV2]
    # @deprecated POST /v2/actions is deprecated and will be removed.
    def actions_v2_create(actions_create_payload_v2, opts = {})
      data, _status_code, _headers = actions_v2_create_with_http_info(actions_create_payload_v2, opts)
      data
    end

    # Create Actions V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use &lt;code&gt;POST /v3/actions&lt;/code&gt; instead.  Create a new incident action.
    # @param actions_create_payload_v2 [ActionsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActionsCreateResultV2, Integer, Hash)>] ActionsCreateResultV2 data, response status code and response headers
    # @deprecated POST /v2/actions is deprecated and will be removed.
    def actions_v2_create_with_http_info(actions_create_payload_v2, opts = {})
      IncidentIo::Deprecation.warn("POST /v2/actions")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV2Api.actions_v2_create ...'
      end
      # verify the required parameter 'actions_create_payload_v2' is set
      if @api_client.config.client_side_validation && actions_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'actions_create_payload_v2' when calling ActionsV2Api.actions_v2_create"
      end
      # resource path
      local_var_path = '/v2/actions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(actions_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'ActionsCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV2Api.actions_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV2Api#actions_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Actions V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use <code>DELETE /v3/actions/{id}</code> instead.  Delete an incident action.
    # @param id [String] Unique identifier for the action
    # @param [Hash] opts the optional parameters
    # @return [nil]
    # @deprecated DELETE /v2/actions/{id} is deprecated and will be removed.
    def actions_v2_delete(id, opts = {})
      actions_v2_delete_with_http_info(id, opts)
      nil
    end

    # Delete Actions V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use &lt;code&gt;DELETE /v3/actions/{id}&lt;/code&gt; instead.  Delete an incident action.
    # @param id [String] Unique identifier for the action
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    # @deprecated DELETE /v2/actions/{id} is deprecated and will be removed.
    def actions_v2_delete_with_http_info(id, opts = {})
      IncidentIo::Deprecation.warn("DELETE /v2/actions/{id}")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV2Api.actions_v2_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionsV2Api.actions_v2_delete"
      end
      # resource path
      local_var_path = '/v2/actions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV2Api.actions_v2_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV2Api#actions_v2_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Actions V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use <code>GET /v3/actions</code> instead.  List all actions for an organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :incident_id Find actions related to this incident
    # @option opts [String] :incident_mode Filter to actions from incidents of the given mode. If not set, only actions from &#x60;standard&#x60; and &#x60;retrospective&#x60; incidents are returned
    # @return [ActionsListResultV2]
    # @deprecated GET /v2/actions is deprecated and will be removed.
    def actions_v2_list(opts = {})
      data, _status_code, _headers = actions_v2_list_with_http_info(opts)
      data
    end

    # List Actions V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use &lt;code&gt;GET /v3/actions&lt;/code&gt; instead.  List all actions for an organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :incident_id Find actions related to this incident
    # @option opts [String] :incident_mode Filter to actions from incidents of the given mode. If not set, only actions from &#x60;standard&#x60; and &#x60;retrospective&#x60; incidents are returned
    # @return [Array<(ActionsListResultV2, Integer, Hash)>] ActionsListResultV2 data, response status code and response headers
    # @deprecated GET /v2/actions is deprecated and will be removed.
    def actions_v2_list_with_http_info(opts = {})
      IncidentIo::Deprecation.warn("GET /v2/actions")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV2Api.actions_v2_list ...'
      end
      # resource path
      local_var_path = '/v2/actions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'incident_id'] = opts[:'incident_id'] if !opts[:'incident_id'].nil?
      query_params[:'incident_mode'] = opts[:'incident_mode'] if !opts[:'incident_mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActionsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV2Api.actions_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV2Api#actions_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Actions V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use <code>GET /v3/actions/{id}</code> instead.  Get a single incident action.
    # @param id [String] Unique identifier for the action
    # @param [Hash] opts the optional parameters
    # @return [ActionsShowResultV2]
    # @deprecated GET /v2/actions/{id} is deprecated and will be removed.
    def actions_v2_show(id, opts = {})
      data, _status_code, _headers = actions_v2_show_with_http_info(id, opts)
      data
    end

    # Show Actions V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use &lt;code&gt;GET /v3/actions/{id}&lt;/code&gt; instead.  Get a single incident action.
    # @param id [String] Unique identifier for the action
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActionsShowResultV2, Integer, Hash)>] ActionsShowResultV2 data, response status code and response headers
    # @deprecated GET /v2/actions/{id} is deprecated and will be removed.
    def actions_v2_show_with_http_info(id, opts = {})
      IncidentIo::Deprecation.warn("GET /v2/actions/{id}")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV2Api.actions_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionsV2Api.actions_v2_show"
      end
      # resource path
      local_var_path = '/v2/actions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActionsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV2Api.actions_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV2Api#actions_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Actions V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use <code>PUT /v3/actions/{id}</code> instead.  Update an existing incident action.
    # @param id [String] Unique identifier for the action
    # @param actions_update_payload_v2 [ActionsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [ActionsUpdateResultV2]
    # @deprecated PUT /v2/actions/{id} is deprecated and will be removed.
    def actions_v2_update(id, actions_update_payload_v2, opts = {})
      data, _status_code, _headers = actions_v2_update_with_http_info(id, actions_update_payload_v2, opts)
      data
    end

    # Update Actions V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use &lt;code&gt;PUT /v3/actions/{id}&lt;/code&gt; instead.  Update an existing incident action.
    # @param id [String] Unique identifier for the action
    # @param actions_update_payload_v2 [ActionsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActionsUpdateResultV2, Integer, Hash)>] ActionsUpdateResultV2 data, response status code and response headers
    # @deprecated PUT /v2/actions/{id} is deprecated and will be removed.
    def actions_v2_update_with_http_info(id, actions_update_payload_v2, opts = {})
      IncidentIo::Deprecation.warn("PUT /v2/actions/{id}")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionsV2Api.actions_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionsV2Api.actions_v2_update"
      end
      # verify the required parameter 'actions_update_payload_v2' is set
      if @api_client.config.client_side_validation && actions_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'actions_update_payload_v2' when calling ActionsV2Api.actions_v2_update"
      end
      # resource path
      local_var_path = '/v2/actions/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(actions_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'ActionsUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ActionsV2Api.actions_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionsV2Api#actions_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
