=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class AlertNotesV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Alert Notes V1
    # Add a note to an alert.
    # @param alert_notes_create_payload_v1 [AlertNotesCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [AlertNotesCreateResultV1]
    def alert_notes_v1_create(alert_notes_create_payload_v1, opts = {})
      data, _status_code, _headers = alert_notes_v1_create_with_http_info(alert_notes_create_payload_v1, opts)
      data
    end

    # Create Alert Notes V1
    # Add a note to an alert.
    # @param alert_notes_create_payload_v1 [AlertNotesCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertNotesCreateResultV1, Integer, Hash)>] AlertNotesCreateResultV1 data, response status code and response headers
    def alert_notes_v1_create_with_http_info(alert_notes_create_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertNotesV1Api.alert_notes_v1_create ...'
      end
      # verify the required parameter 'alert_notes_create_payload_v1' is set
      if @api_client.config.client_side_validation && alert_notes_create_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'alert_notes_create_payload_v1' when calling AlertNotesV1Api.alert_notes_v1_create"
      end
      # resource path
      local_var_path = '/v1/alert_notes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_notes_create_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertNotesCreateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertNotesV1Api.alert_notes_v1_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertNotesV1Api#alert_notes_v1_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Alert Notes V1
    # Delete an alert note.
    # @param id [String] Unique identifier for the alert note
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def alert_notes_v1_delete(id, opts = {})
      alert_notes_v1_delete_with_http_info(id, opts)
      nil
    end

    # Delete Alert Notes V1
    # Delete an alert note.
    # @param id [String] Unique identifier for the alert note
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def alert_notes_v1_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertNotesV1Api.alert_notes_v1_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertNotesV1Api.alert_notes_v1_delete"
      end
      # resource path
      local_var_path = '/v1/alert_notes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertNotesV1Api.alert_notes_v1_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertNotesV1Api#alert_notes_v1_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Alert Notes V1
    # List alert notes attached to an alert.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :alert_id ID of the alert to list notes for. Provide exactly one of alert_id or alert_group_id.
    # @option opts [String] :alert_group_id ID of the alert group to list notes for. Provide exactly one of alert_id or alert_group_id.
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [AlertNotesListResultV1]
    def alert_notes_v1_list(opts = {})
      data, _status_code, _headers = alert_notes_v1_list_with_http_info(opts)
      data
    end

    # List Alert Notes V1
    # List alert notes attached to an alert.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :alert_id ID of the alert to list notes for. Provide exactly one of alert_id or alert_group_id.
    # @option opts [String] :alert_group_id ID of the alert group to list notes for. Provide exactly one of alert_id or alert_group_id.
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [Array<(AlertNotesListResultV1, Integer, Hash)>] AlertNotesListResultV1 data, response status code and response headers
    def alert_notes_v1_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertNotesV1Api.alert_notes_v1_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AlertNotesV1Api.alert_notes_v1_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AlertNotesV1Api.alert_notes_v1_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/alert_notes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'alert_id'] = opts[:'alert_id'] if !opts[:'alert_id'].nil?
      query_params[:'alert_group_id'] = opts[:'alert_group_id'] if !opts[:'alert_group_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertNotesListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertNotesV1Api.alert_notes_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertNotesV1Api#alert_notes_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Alert Notes V1
    # Get a single alert note.
    # @param id [String] Unique identifier for the alert note
    # @param [Hash] opts the optional parameters
    # @return [AlertNotesShowResultV1]
    def alert_notes_v1_show(id, opts = {})
      data, _status_code, _headers = alert_notes_v1_show_with_http_info(id, opts)
      data
    end

    # Show Alert Notes V1
    # Get a single alert note.
    # @param id [String] Unique identifier for the alert note
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertNotesShowResultV1, Integer, Hash)>] AlertNotesShowResultV1 data, response status code and response headers
    def alert_notes_v1_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertNotesV1Api.alert_notes_v1_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertNotesV1Api.alert_notes_v1_show"
      end
      # resource path
      local_var_path = '/v1/alert_notes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertNotesShowResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertNotesV1Api.alert_notes_v1_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertNotesV1Api#alert_notes_v1_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Alert Notes V1
    # Replace the content of an alert note.
    # @param id [String] ID of the alert note
    # @param alert_notes_update_payload_v1 [AlertNotesUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [AlertNotesUpdateResultV1]
    def alert_notes_v1_update(id, alert_notes_update_payload_v1, opts = {})
      data, _status_code, _headers = alert_notes_v1_update_with_http_info(id, alert_notes_update_payload_v1, opts)
      data
    end

    # Update Alert Notes V1
    # Replace the content of an alert note.
    # @param id [String] ID of the alert note
    # @param alert_notes_update_payload_v1 [AlertNotesUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertNotesUpdateResultV1, Integer, Hash)>] AlertNotesUpdateResultV1 data, response status code and response headers
    def alert_notes_v1_update_with_http_info(id, alert_notes_update_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertNotesV1Api.alert_notes_v1_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertNotesV1Api.alert_notes_v1_update"
      end
      # verify the required parameter 'alert_notes_update_payload_v1' is set
      if @api_client.config.client_side_validation && alert_notes_update_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'alert_notes_update_payload_v1' when calling AlertNotesV1Api.alert_notes_v1_update"
      end
      # resource path
      local_var_path = '/v1/alert_notes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_notes_update_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertNotesUpdateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertNotesV1Api.alert_notes_v1_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertNotesV1Api#alert_notes_v1_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
