=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class AlertSourcesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Alert Sources V2
    # Create a new alert source in your account.
    # @param alert_sources_create_payload_v2 [AlertSourcesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AlertSourcesCreateResultV2]
    def alert_sources_v2_create(alert_sources_create_payload_v2, opts = {})
      data, _status_code, _headers = alert_sources_v2_create_with_http_info(alert_sources_create_payload_v2, opts)
      data
    end

    # Create Alert Sources V2
    # Create a new alert source in your account.
    # @param alert_sources_create_payload_v2 [AlertSourcesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertSourcesCreateResultV2, Integer, Hash)>] AlertSourcesCreateResultV2 data, response status code and response headers
    def alert_sources_v2_create_with_http_info(alert_sources_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertSourcesV2Api.alert_sources_v2_create ...'
      end
      # verify the required parameter 'alert_sources_create_payload_v2' is set
      if @api_client.config.client_side_validation && alert_sources_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alert_sources_create_payload_v2' when calling AlertSourcesV2Api.alert_sources_v2_create"
      end
      # resource path
      local_var_path = '/v2/alert_sources'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_sources_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertSourcesCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertSourcesV2Api.alert_sources_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertSourcesV2Api#alert_sources_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Alert Sources V2
    # Delete an existing alert source in your account.
    # @param id [String] The ID of this alert source
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def alert_sources_v2_delete(id, opts = {})
      alert_sources_v2_delete_with_http_info(id, opts)
      nil
    end

    # Delete Alert Sources V2
    # Delete an existing alert source in your account.
    # @param id [String] The ID of this alert source
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def alert_sources_v2_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertSourcesV2Api.alert_sources_v2_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertSourcesV2Api.alert_sources_v2_delete"
      end
      # resource path
      local_var_path = '/v2/alert_sources/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertSourcesV2Api.alert_sources_v2_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertSourcesV2Api#alert_sources_v2_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Alert Sources V2
    # List all alert sources in your account.
    # @param [Hash] opts the optional parameters
    # @return [AlertSourcesListResultV2]
    def alert_sources_v2_list(opts = {})
      data, _status_code, _headers = alert_sources_v2_list_with_http_info(opts)
      data
    end

    # List Alert Sources V2
    # List all alert sources in your account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertSourcesListResultV2, Integer, Hash)>] AlertSourcesListResultV2 data, response status code and response headers
    def alert_sources_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertSourcesV2Api.alert_sources_v2_list ...'
      end
      # resource path
      local_var_path = '/v2/alert_sources'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertSourcesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertSourcesV2Api.alert_sources_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertSourcesV2Api#alert_sources_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Alert Sources V2
    # Load details about a specific alert source in your account.
    # @param id [String] The ID of this alert source
    # @param [Hash] opts the optional parameters
    # @return [AlertSourcesShowResultV2]
    def alert_sources_v2_show(id, opts = {})
      data, _status_code, _headers = alert_sources_v2_show_with_http_info(id, opts)
      data
    end

    # Show Alert Sources V2
    # Load details about a specific alert source in your account.
    # @param id [String] The ID of this alert source
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertSourcesShowResultV2, Integer, Hash)>] AlertSourcesShowResultV2 data, response status code and response headers
    def alert_sources_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertSourcesV2Api.alert_sources_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertSourcesV2Api.alert_sources_v2_show"
      end
      # resource path
      local_var_path = '/v2/alert_sources/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertSourcesShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertSourcesV2Api.alert_sources_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertSourcesV2Api#alert_sources_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Alert Sources V2
    # Update an existing alert source in your account.
    # @param id [String] The ID of this alert source
    # @param alert_sources_update_payload_v2 [AlertSourcesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AlertSourcesUpdateResultV2]
    def alert_sources_v2_update(id, alert_sources_update_payload_v2, opts = {})
      data, _status_code, _headers = alert_sources_v2_update_with_http_info(id, alert_sources_update_payload_v2, opts)
      data
    end

    # Update Alert Sources V2
    # Update an existing alert source in your account.
    # @param id [String] The ID of this alert source
    # @param alert_sources_update_payload_v2 [AlertSourcesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertSourcesUpdateResultV2, Integer, Hash)>] AlertSourcesUpdateResultV2 data, response status code and response headers
    def alert_sources_v2_update_with_http_info(id, alert_sources_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertSourcesV2Api.alert_sources_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertSourcesV2Api.alert_sources_v2_update"
      end
      # verify the required parameter 'alert_sources_update_payload_v2' is set
      if @api_client.config.client_side_validation && alert_sources_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alert_sources_update_payload_v2' when calling AlertSourcesV2Api.alert_sources_v2_update"
      end
      # resource path
      local_var_path = '/v2/alert_sources/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_sources_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertSourcesUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertSourcesV2Api.alert_sources_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertSourcesV2Api#alert_sources_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate Alert Sources V2
    # Check whether an alert source template is valid, without creating or updating anything.  This validates the template in the same way a create or update would: expressions are compiled and checked against your alert schema and catalog, and merge strategies are checked against the attributes they bind to. Values that are only known once an alert source exists are not validated.
    # @param alert_sources_validate_payload_v2 [AlertSourcesValidatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def alert_sources_v2_validate(alert_sources_validate_payload_v2, opts = {})
      alert_sources_v2_validate_with_http_info(alert_sources_validate_payload_v2, opts)
      nil
    end

    # Validate Alert Sources V2
    # Check whether an alert source template is valid, without creating or updating anything.  This validates the template in the same way a create or update would: expressions are compiled and checked against your alert schema and catalog, and merge strategies are checked against the attributes they bind to. Values that are only known once an alert source exists are not validated.
    # @param alert_sources_validate_payload_v2 [AlertSourcesValidatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def alert_sources_v2_validate_with_http_info(alert_sources_validate_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertSourcesV2Api.alert_sources_v2_validate ...'
      end
      # verify the required parameter 'alert_sources_validate_payload_v2' is set
      if @api_client.config.client_side_validation && alert_sources_validate_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alert_sources_validate_payload_v2' when calling AlertSourcesV2Api.alert_sources_v2_validate"
      end
      # resource path
      local_var_path = '/v2/alert_sources/actions/validate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_sources_validate_payload_v2)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertSourcesV2Api.alert_sources_v2_validate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertSourcesV2Api#alert_sources_v2_validate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
