=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class AlertRoutesV3Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Alert Routes V3
    # Create a new alert route in your account.
    # @param alert_routes_create_payload_v3 [AlertRoutesCreatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [AlertRoutesCreateResultV3]
    def alert_routes_v3_create(alert_routes_create_payload_v3, opts = {})
      data, _status_code, _headers = alert_routes_v3_create_with_http_info(alert_routes_create_payload_v3, opts)
      data
    end

    # Create Alert Routes V3
    # Create a new alert route in your account.
    # @param alert_routes_create_payload_v3 [AlertRoutesCreatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertRoutesCreateResultV3, Integer, Hash)>] AlertRoutesCreateResultV3 data, response status code and response headers
    def alert_routes_v3_create_with_http_info(alert_routes_create_payload_v3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRoutesV3Api.alert_routes_v3_create ...'
      end
      # verify the required parameter 'alert_routes_create_payload_v3' is set
      if @api_client.config.client_side_validation && alert_routes_create_payload_v3.nil?
        fail ArgumentError, "Missing the required parameter 'alert_routes_create_payload_v3' when calling AlertRoutesV3Api.alert_routes_v3_create"
      end
      # resource path
      local_var_path = '/v3/alert_routes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_routes_create_payload_v3)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertRoutesCreateResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertRoutesV3Api.alert_routes_v3_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRoutesV3Api#alert_routes_v3_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Alert Routes V3
    # Delete an existing alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def alert_routes_v3_delete(id, opts = {})
      alert_routes_v3_delete_with_http_info(id, opts)
      nil
    end

    # Delete Alert Routes V3
    # Delete an existing alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def alert_routes_v3_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRoutesV3Api.alert_routes_v3_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertRoutesV3Api.alert_routes_v3_delete"
      end
      # resource path
      local_var_path = '/v3/alert_routes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertRoutesV3Api.alert_routes_v3_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRoutesV3Api#alert_routes_v3_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Alert Routes V3
    # List all alert routes in your account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of alert routes to return per page (default to 25)
    # @option opts [String] :after The ID of the last alert route on the previous page
    # @return [AlertRoutesListResultV3]
    def alert_routes_v3_list(opts = {})
      data, _status_code, _headers = alert_routes_v3_list_with_http_info(opts)
      data
    end

    # List Alert Routes V3
    # List all alert routes in your account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of alert routes to return per page (default to 25)
    # @option opts [String] :after The ID of the last alert route on the previous page
    # @return [Array<(AlertRoutesListResultV3, Integer, Hash)>] AlertRoutesListResultV3 data, response status code and response headers
    def alert_routes_v3_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRoutesV3Api.alert_routes_v3_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 50
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AlertRoutesV3Api.alert_routes_v3_list, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AlertRoutesV3Api.alert_routes_v3_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v3/alert_routes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertRoutesListResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertRoutesV3Api.alert_routes_v3_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRoutesV3Api#alert_routes_v3_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Alert Routes V3
    # Load details about a specific alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param [Hash] opts the optional parameters
    # @return [AlertRoutesShowResultV3]
    def alert_routes_v3_show(id, opts = {})
      data, _status_code, _headers = alert_routes_v3_show_with_http_info(id, opts)
      data
    end

    # Show Alert Routes V3
    # Load details about a specific alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertRoutesShowResultV3, Integer, Hash)>] AlertRoutesShowResultV3 data, response status code and response headers
    def alert_routes_v3_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRoutesV3Api.alert_routes_v3_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertRoutesV3Api.alert_routes_v3_show"
      end
      # resource path
      local_var_path = '/v3/alert_routes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertRoutesShowResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertRoutesV3Api.alert_routes_v3_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRoutesV3Api#alert_routes_v3_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Alert Routes V3
    # Update an existing alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param alert_routes_update_payload_v3 [AlertRoutesUpdatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [AlertRoutesUpdateResultV3]
    def alert_routes_v3_update(id, alert_routes_update_payload_v3, opts = {})
      data, _status_code, _headers = alert_routes_v3_update_with_http_info(id, alert_routes_update_payload_v3, opts)
      data
    end

    # Update Alert Routes V3
    # Update an existing alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param alert_routes_update_payload_v3 [AlertRoutesUpdatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertRoutesUpdateResultV3, Integer, Hash)>] AlertRoutesUpdateResultV3 data, response status code and response headers
    def alert_routes_v3_update_with_http_info(id, alert_routes_update_payload_v3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRoutesV3Api.alert_routes_v3_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertRoutesV3Api.alert_routes_v3_update"
      end
      # verify the required parameter 'alert_routes_update_payload_v3' is set
      if @api_client.config.client_side_validation && alert_routes_update_payload_v3.nil?
        fail ArgumentError, "Missing the required parameter 'alert_routes_update_payload_v3' when calling AlertRoutesV3Api.alert_routes_v3_update"
      end
      # resource path
      local_var_path = '/v3/alert_routes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_routes_update_payload_v3)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertRoutesUpdateResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertRoutesV3Api.alert_routes_v3_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRoutesV3Api#alert_routes_v3_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
