=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class AlertAttributesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Alert Attributes V2
    # Create a new alert attribute.
    # @param alert_attributes_create_payload_v2 [AlertAttributesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AlertAttributesCreateResultV2]
    def alert_attributes_v2_create(alert_attributes_create_payload_v2, opts = {})
      data, _status_code, _headers = alert_attributes_v2_create_with_http_info(alert_attributes_create_payload_v2, opts)
      data
    end

    # Create Alert Attributes V2
    # Create a new alert attribute.
    # @param alert_attributes_create_payload_v2 [AlertAttributesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertAttributesCreateResultV2, Integer, Hash)>] AlertAttributesCreateResultV2 data, response status code and response headers
    def alert_attributes_v2_create_with_http_info(alert_attributes_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertAttributesV2Api.alert_attributes_v2_create ...'
      end
      # verify the required parameter 'alert_attributes_create_payload_v2' is set
      if @api_client.config.client_side_validation && alert_attributes_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alert_attributes_create_payload_v2' when calling AlertAttributesV2Api.alert_attributes_v2_create"
      end
      # resource path
      local_var_path = '/v2/alert_attributes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_attributes_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertAttributesCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertAttributesV2Api.alert_attributes_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertAttributesV2Api#alert_attributes_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroy Alert Attributes V2
    # Destroy an alert attribute.
    # @param id [String] The ID of this attribute
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def alert_attributes_v2_destroy(id, opts = {})
      alert_attributes_v2_destroy_with_http_info(id, opts)
      nil
    end

    # Destroy Alert Attributes V2
    # Destroy an alert attribute.
    # @param id [String] The ID of this attribute
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def alert_attributes_v2_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertAttributesV2Api.alert_attributes_v2_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertAttributesV2Api.alert_attributes_v2_destroy"
      end
      # resource path
      local_var_path = '/v2/alert_attributes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertAttributesV2Api.alert_attributes_v2_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertAttributesV2Api#alert_attributes_v2_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Alert Attributes V2
    # List alert attributes.
    # @param [Hash] opts the optional parameters
    # @return [AlertAttributesListResultV2]
    def alert_attributes_v2_list(opts = {})
      data, _status_code, _headers = alert_attributes_v2_list_with_http_info(opts)
      data
    end

    # List Alert Attributes V2
    # List alert attributes.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertAttributesListResultV2, Integer, Hash)>] AlertAttributesListResultV2 data, response status code and response headers
    def alert_attributes_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertAttributesV2Api.alert_attributes_v2_list ...'
      end
      # resource path
      local_var_path = '/v2/alert_attributes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertAttributesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertAttributesV2Api.alert_attributes_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertAttributesV2Api#alert_attributes_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Alert Attributes V2
    # Show an alert attribute.
    # @param id [String] The ID of this attribute
    # @param [Hash] opts the optional parameters
    # @return [AlertAttributesShowResultV2]
    def alert_attributes_v2_show(id, opts = {})
      data, _status_code, _headers = alert_attributes_v2_show_with_http_info(id, opts)
      data
    end

    # Show Alert Attributes V2
    # Show an alert attribute.
    # @param id [String] The ID of this attribute
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertAttributesShowResultV2, Integer, Hash)>] AlertAttributesShowResultV2 data, response status code and response headers
    def alert_attributes_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertAttributesV2Api.alert_attributes_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertAttributesV2Api.alert_attributes_v2_show"
      end
      # resource path
      local_var_path = '/v2/alert_attributes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertAttributesShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertAttributesV2Api.alert_attributes_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertAttributesV2Api#alert_attributes_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Alert Attributes V2
    # Update an alert attribute.
    # @param id [String] The ID of this attribute
    # @param alert_attributes_update_payload_v2 [AlertAttributesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AlertAttributesUpdateResultV2]
    def alert_attributes_v2_update(id, alert_attributes_update_payload_v2, opts = {})
      data, _status_code, _headers = alert_attributes_v2_update_with_http_info(id, alert_attributes_update_payload_v2, opts)
      data
    end

    # Update Alert Attributes V2
    # Update an alert attribute.
    # @param id [String] The ID of this attribute
    # @param alert_attributes_update_payload_v2 [AlertAttributesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertAttributesUpdateResultV2, Integer, Hash)>] AlertAttributesUpdateResultV2 data, response status code and response headers
    def alert_attributes_v2_update_with_http_info(id, alert_attributes_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertAttributesV2Api.alert_attributes_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertAttributesV2Api.alert_attributes_v2_update"
      end
      # verify the required parameter 'alert_attributes_update_payload_v2' is set
      if @api_client.config.client_side_validation && alert_attributes_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alert_attributes_update_payload_v2' when calling AlertAttributesV2Api.alert_attributes_v2_update"
      end
      # resource path
      local_var_path = '/v2/alert_attributes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_attributes_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertAttributesUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertAttributesV2Api.alert_attributes_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertAttributesV2Api#alert_attributes_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
