=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class AlertRoutesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Alert Routes V2
    # Create a new alert route in your account.
    # @param alert_routes_create_payload_v2 [AlertRoutesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AlertRoutesCreateResultV2]
    def alert_routes_v2_create(alert_routes_create_payload_v2, opts = {})
      data, _status_code, _headers = alert_routes_v2_create_with_http_info(alert_routes_create_payload_v2, opts)
      data
    end

    # Create Alert Routes V2
    # Create a new alert route in your account.
    # @param alert_routes_create_payload_v2 [AlertRoutesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertRoutesCreateResultV2, Integer, Hash)>] AlertRoutesCreateResultV2 data, response status code and response headers
    def alert_routes_v2_create_with_http_info(alert_routes_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRoutesV2Api.alert_routes_v2_create ...'
      end
      # verify the required parameter 'alert_routes_create_payload_v2' is set
      if @api_client.config.client_side_validation && alert_routes_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alert_routes_create_payload_v2' when calling AlertRoutesV2Api.alert_routes_v2_create"
      end
      # resource path
      local_var_path = '/v2/alert_routes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_routes_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertRoutesCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertRoutesV2Api.alert_routes_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRoutesV2Api#alert_routes_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Alert Routes V2
    # Delete an existing alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def alert_routes_v2_delete(id, opts = {})
      alert_routes_v2_delete_with_http_info(id, opts)
      nil
    end

    # Delete Alert Routes V2
    # Delete an existing alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def alert_routes_v2_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRoutesV2Api.alert_routes_v2_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertRoutesV2Api.alert_routes_v2_delete"
      end
      # resource path
      local_var_path = '/v2/alert_routes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertRoutesV2Api.alert_routes_v2_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRoutesV2Api#alert_routes_v2_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Alert Routes V2
    # List all alert routes in your account.
    # @param page_size [Integer] Number of alert routes to return per page
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after The ID of the last alert route on the previous page
    # @return [AlertRoutesListResultV2]
    def alert_routes_v2_list(page_size, opts = {})
      data, _status_code, _headers = alert_routes_v2_list_with_http_info(page_size, opts)
      data
    end

    # List Alert Routes V2
    # List all alert routes in your account.
    # @param page_size [Integer] Number of alert routes to return per page
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after The ID of the last alert route on the previous page
    # @return [Array<(AlertRoutesListResultV2, Integer, Hash)>] AlertRoutesListResultV2 data, response status code and response headers
    def alert_routes_v2_list_with_http_info(page_size, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRoutesV2Api.alert_routes_v2_list ...'
      end
      # verify the required parameter 'page_size' is set
      if @api_client.config.client_side_validation && page_size.nil?
        fail ArgumentError, "Missing the required parameter 'page_size' when calling AlertRoutesV2Api.alert_routes_v2_list"
      end
      if @api_client.config.client_side_validation && page_size > 50
        fail ArgumentError, 'invalid value for "page_size" when calling AlertRoutesV2Api.alert_routes_v2_list, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && page_size < 1
        fail ArgumentError, 'invalid value for "page_size" when calling AlertRoutesV2Api.alert_routes_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/alert_routes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = page_size
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertRoutesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertRoutesV2Api.alert_routes_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRoutesV2Api#alert_routes_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Alert Routes V2
    # Load details about a specific alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param [Hash] opts the optional parameters
    # @return [AlertRoutesShowResultV2]
    def alert_routes_v2_show(id, opts = {})
      data, _status_code, _headers = alert_routes_v2_show_with_http_info(id, opts)
      data
    end

    # Show Alert Routes V2
    # Load details about a specific alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertRoutesShowResultV2, Integer, Hash)>] AlertRoutesShowResultV2 data, response status code and response headers
    def alert_routes_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRoutesV2Api.alert_routes_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertRoutesV2Api.alert_routes_v2_show"
      end
      # resource path
      local_var_path = '/v2/alert_routes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertRoutesShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertRoutesV2Api.alert_routes_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRoutesV2Api#alert_routes_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Alert Routes V2
    # Update an existing alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param alert_routes_update_payload_v2 [AlertRoutesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AlertRoutesUpdateResultV2]
    def alert_routes_v2_update(id, alert_routes_update_payload_v2, opts = {})
      data, _status_code, _headers = alert_routes_v2_update_with_http_info(id, alert_routes_update_payload_v2, opts)
      data
    end

    # Update Alert Routes V2
    # Update an existing alert route in your account.
    # @param id [String] Unique identifier of the alert route
    # @param alert_routes_update_payload_v2 [AlertRoutesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertRoutesUpdateResultV2, Integer, Hash)>] AlertRoutesUpdateResultV2 data, response status code and response headers
    def alert_routes_v2_update_with_http_info(id, alert_routes_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRoutesV2Api.alert_routes_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertRoutesV2Api.alert_routes_v2_update"
      end
      # verify the required parameter 'alert_routes_update_payload_v2' is set
      if @api_client.config.client_side_validation && alert_routes_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alert_routes_update_payload_v2' when calling AlertRoutesV2Api.alert_routes_v2_update"
      end
      # resource path
      local_var_path = '/v2/alert_routes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_routes_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertRoutesUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertRoutesV2Api.alert_routes_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRoutesV2Api#alert_routes_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
