=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class AlertEventsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # CreateHTTP Alert Events V2
    # Create an alert event using an HTTP source.
    # @param alert_source_config_id [String] Which alert source config produced this alert
    # @param alert_events_create_http_payload_v2 [AlertEventsCreateHTTPPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token Token used to authenticate the request, generated when configuring the alert source. Will be consumed via a URL query string parameter
    # @option opts [String] :authorization Whatever is provided in the Authorization header. We support either Basic or Bearer authorization with the secret provided on the alert source.
    # @option opts [Hash<String, Object>] :query Query parameters
    # @return [AlertEventsCreateHTTPResultV2]
    def alert_events_v2_create_http(alert_source_config_id, alert_events_create_http_payload_v2, opts = {})
      data, _status_code, _headers = alert_events_v2_create_http_with_http_info(alert_source_config_id, alert_events_create_http_payload_v2, opts)
      data
    end

    # CreateHTTP Alert Events V2
    # Create an alert event using an HTTP source.
    # @param alert_source_config_id [String] Which alert source config produced this alert
    # @param alert_events_create_http_payload_v2 [AlertEventsCreateHTTPPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token Token used to authenticate the request, generated when configuring the alert source. Will be consumed via a URL query string parameter
    # @option opts [String] :authorization Whatever is provided in the Authorization header. We support either Basic or Bearer authorization with the secret provided on the alert source.
    # @option opts [Hash<String, Object>] :query Query parameters
    # @return [Array<(AlertEventsCreateHTTPResultV2, Integer, Hash)>] AlertEventsCreateHTTPResultV2 data, response status code and response headers
    def alert_events_v2_create_http_with_http_info(alert_source_config_id, alert_events_create_http_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertEventsV2Api.alert_events_v2_create_http ...'
      end
      # verify the required parameter 'alert_source_config_id' is set
      if @api_client.config.client_side_validation && alert_source_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_source_config_id' when calling AlertEventsV2Api.alert_events_v2_create_http"
      end
      # verify the required parameter 'alert_events_create_http_payload_v2' is set
      if @api_client.config.client_side_validation && alert_events_create_http_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alert_events_create_http_payload_v2' when calling AlertEventsV2Api.alert_events_v2_create_http"
      end
      # resource path
      local_var_path = '/v2/alert_events/http/{alert_source_config_id}'.sub('{alert_source_config_id}', CGI.escape(alert_source_config_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alert_events_create_http_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertEventsCreateHTTPResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AlertEventsV2Api.alert_events_v2_create_http",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertEventsV2Api#alert_events_v2_create_http\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
