=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class AlertsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # AddTags Alerts V2
    # Add tags to an alert without changing its existing tags.  Each tag is a name. A name that does not exist is created, except on private alerts, where only names already in the organisation's tag vocabulary can be used. Tags that are already present are ignored.
    # @param id [String] Unique identifier for the alert
    # @param alerts_add_tags_payload_v2 [AlertsAddTagsPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AlertsAddTagsResultV2]
    def alerts_v2_add_tags(id, alerts_add_tags_payload_v2, opts = {})
      data, _status_code, _headers = alerts_v2_add_tags_with_http_info(id, alerts_add_tags_payload_v2, opts)
      data
    end

    # AddTags Alerts V2
    # Add tags to an alert without changing its existing tags.  Each tag is a name. A name that does not exist is created, except on private alerts, where only names already in the organisation&#39;s tag vocabulary can be used. Tags that are already present are ignored.
    # @param id [String] Unique identifier for the alert
    # @param alerts_add_tags_payload_v2 [AlertsAddTagsPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertsAddTagsResultV2, Integer, Hash)>] AlertsAddTagsResultV2 data, response status code and response headers
    def alerts_v2_add_tags_with_http_info(id, alerts_add_tags_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsV2Api.alerts_v2_add_tags ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertsV2Api.alerts_v2_add_tags"
      end
      # verify the required parameter 'alerts_add_tags_payload_v2' is set
      if @api_client.config.client_side_validation && alerts_add_tags_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alerts_add_tags_payload_v2' when calling AlertsV2Api.alerts_v2_add_tags"
      end
      # resource path
      local_var_path = '/v2/alerts/{id}/actions/add_tags'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alerts_add_tags_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsAddTagsResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertsV2Api.alerts_v2_add_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsV2Api#alerts_v2_add_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateIncidentAlert Alerts V2
    # Attach an alert to an incident, creating the connection between them.  The API key also needs the 'manage incident alerts' scope, which is what actually relates the alert once the connection exists.  If the alert is already related to this incident, the existing connection is returned unchanged. If someone previously marked the alert as unrelated to this incident, that decision is preserved and this endpoint returns a 422 — set re_relate to override it.  Private alerts can only be attached to private incidents, including when re_relate is set. An API key that cannot see the alert or the incident receives a 404.  Busy incidents can be locked by another operation, in which case this endpoint returns a 409 and the request can be retried.  Note that this endpoint returns 201 even when it re-relates or returns an existing connection rather than creating a new one. 
    # @param alerts_create_incident_alert_payload_v2 [AlertsCreateIncidentAlertPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AlertsCreateIncidentAlertResultV2]
    def alerts_v2_create_incident_alert(alerts_create_incident_alert_payload_v2, opts = {})
      data, _status_code, _headers = alerts_v2_create_incident_alert_with_http_info(alerts_create_incident_alert_payload_v2, opts)
      data
    end

    # CreateIncidentAlert Alerts V2
    # Attach an alert to an incident, creating the connection between them.  The API key also needs the &#39;manage incident alerts&#39; scope, which is what actually relates the alert once the connection exists.  If the alert is already related to this incident, the existing connection is returned unchanged. If someone previously marked the alert as unrelated to this incident, that decision is preserved and this endpoint returns a 422 — set re_relate to override it.  Private alerts can only be attached to private incidents, including when re_relate is set. An API key that cannot see the alert or the incident receives a 404.  Busy incidents can be locked by another operation, in which case this endpoint returns a 409 and the request can be retried.  Note that this endpoint returns 201 even when it re-relates or returns an existing connection rather than creating a new one. 
    # @param alerts_create_incident_alert_payload_v2 [AlertsCreateIncidentAlertPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertsCreateIncidentAlertResultV2, Integer, Hash)>] AlertsCreateIncidentAlertResultV2 data, response status code and response headers
    def alerts_v2_create_incident_alert_with_http_info(alerts_create_incident_alert_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsV2Api.alerts_v2_create_incident_alert ...'
      end
      # verify the required parameter 'alerts_create_incident_alert_payload_v2' is set
      if @api_client.config.client_side_validation && alerts_create_incident_alert_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alerts_create_incident_alert_payload_v2' when calling AlertsV2Api.alerts_v2_create_incident_alert"
      end
      # resource path
      local_var_path = '/v2/incident_alerts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alerts_create_incident_alert_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsCreateIncidentAlertResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertsV2Api.alerts_v2_create_incident_alert",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsV2Api#alerts_v2_create_incident_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Alerts V2
    # List all alerts for your account.    This endpoint supports a number of filters, which can help find alerts matching certain criteria. These filters work similarly to the filters on the incidents endpoint, where  a field is specified alongside a comparison operator in the query string.  Note that: - Filters may be used together, and the result will be alerts that match all filters. - All query parameters must be URI encoded.  ### By deduplication_key  Find all alerts with deduplication_key ABC:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'deduplication_key[is]=ABC'  ### By status  Find all alerts in a firing state:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'status[one_of]=firing'  ### By alert_source  Find all alerts from a specific alert source (by alert source ID):    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'alert_source[one_of]=01GBSQF3FHF7FWZQNWGHAVQ804'  Find all alerts not from a specific alert source:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'alert_source[not_in]=01GBSQF3FHF7FWZQNWGHAVQ804'  ### By alert_group_id  Find all alerts in a specific alert group:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'alert_group_id[one_of]=01GBSQF3FHF7FWZQNWGHAVQ804'  ### By created_at Find all alerts that follow specified date parameters for created_at field. Possible values are \"gte\" (greater than or equal to), \"lte\" (less than or equal to), and  \"date_range\" (between two dates). The following example finds all alerts created after  2025-01-01:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'created_at[gte]=2025-01-01'  To find alerts created within a specific date range, use the date_range option with  tilde-separated dates:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'created_at[date_range]=2024-12-02~2024-12-08'  ### By updated_at Find all alerts that follow specified date parameters for updated_at field, using the same \"gte\", \"lte\" and \"date_range\" operators as created_at. This is useful for incrementally syncing alerts: poll with updated_at[gte] set to your last sync time instead of re-fetching the full history. Note that updated_at moves whenever the alert row is written, which can happen without a visible change to the alert payload, so treat matches as candidates to re-fetch rather than guaranteed changes — and overlap your sync window by a few minutes to allow for writes that commit out of timestamp order:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'updated_at[gte]=2025-01-01T00:00:00Z'  ### By has_notes  Find all alerts that have notes attached:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'has_notes[is]=true'  Find all alerts that have no notes attached:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'has_notes[is]=false'  ### By tags  Filter by tag name, matched case-insensitively.  Find all alerts that have any of the given tags:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'tags[one_of]=known issue'  Find all alerts that have all of the given tags:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'tags[all_of]=known issue' \\    --data 'tags[all_of]=customer impacting'  Find all alerts that do not have any of the given tags. Untagged alerts are included:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'tags[not_in]=known issue'  ### By attributes  Alerts can be filtered by their attribute values. Each filter is keyed by the alert attribute ID, followed by an operator and the values to match. The accepted operators depend on the attribute's type.  Find all alerts where attribute 01GBSQF3FHF7FWZQNWGHAVQ804 is one of two catalog entries:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'attributes[01GBSQF3FHF7FWZQNWGHAVQ804][one_of]=01GBSQF3FHF7FWZQNWGHAVQ804' \\    --data 'attributes[01GBSQF3FHF7FWZQNWGHAVQ804][one_of]=01ET65M7ZARSFZ6TFDFVQDN9AA'  You can filter on multiple attributes at once, and the result will be alerts that match all of them.  ### Maintenance windows By default, all alerts are returned including those held by a maintenance window. To exclude alerts that are held by a maintenance window:    curl --get 'https://api.incident.io/v2/alerts' \\    --data 'include_maintenance_window[is]=false'   
    # @param page_size [Integer] Number of alerts to return per page
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after If provided, pass this as the &#39;after&#39; param to load the next page
    # @option opts [Hash<String, Array<String>>] :deduplication_key Filter on alert deduplication key. The accepted operator is &#39;is&#39;.
    # @option opts [Hash<String, Array<String>>] :status Filter on alert status. The accepted operators are &#39;one_of&#39;, or &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :alert_source Filter on alert source by ID. The accepted operators are &#39;one_of&#39;, or &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :alert_group_id Filter on alert group ID. Returns alerts that belong to any of the specified groups. The accepted operator is &#39;one_of&#39;.
    # @option opts [Hash<String, Array<String>>] :created_at Filter on alert created at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :updated_at Filter on alert updated at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Hash<String, Array<String>>>] :attributes Filter on an alerts attributes. Alert attribute ID should be sent, followed by the operator and values. Accepted operator will depend on the attribute type.
    # @option opts [Hash<String, Array<String>>] :has_notes Filter on whether an alert has notes. The accepted operator is &#39;is&#39;.
    # @option opts [Hash<String, Array<String>>] :tags Filter on the tags applied to an alert, by tag name. The accepted operators are &#39;one_of&#39;, &#39;all_of&#39; and &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :include_maintenance_window Filter on whether to include maintenance window alerts. The accepted operator is &#39;is&#39;.
    # @return [AlertsListResultV2]
    def alerts_v2_list(page_size, opts = {})
      data, _status_code, _headers = alerts_v2_list_with_http_info(page_size, opts)
      data
    end

    # List Alerts V2
    # List all alerts for your account.    This endpoint supports a number of filters, which can help find alerts matching certain criteria. These filters work similarly to the filters on the incidents endpoint, where  a field is specified alongside a comparison operator in the query string.  Note that: - Filters may be used together, and the result will be alerts that match all filters. - All query parameters must be URI encoded.  ### By deduplication_key  Find all alerts with deduplication_key ABC:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;deduplication_key[is]&#x3D;ABC&#39;  ### By status  Find all alerts in a firing state:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;status[one_of]&#x3D;firing&#39;  ### By alert_source  Find all alerts from a specific alert source (by alert source ID):    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;alert_source[one_of]&#x3D;01GBSQF3FHF7FWZQNWGHAVQ804&#39;  Find all alerts not from a specific alert source:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;alert_source[not_in]&#x3D;01GBSQF3FHF7FWZQNWGHAVQ804&#39;  ### By alert_group_id  Find all alerts in a specific alert group:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;alert_group_id[one_of]&#x3D;01GBSQF3FHF7FWZQNWGHAVQ804&#39;  ### By created_at Find all alerts that follow specified date parameters for created_at field. Possible values are \&quot;gte\&quot; (greater than or equal to), \&quot;lte\&quot; (less than or equal to), and  \&quot;date_range\&quot; (between two dates). The following example finds all alerts created after  2025-01-01:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;created_at[gte]&#x3D;2025-01-01&#39;  To find alerts created within a specific date range, use the date_range option with  tilde-separated dates:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;created_at[date_range]&#x3D;2024-12-02~2024-12-08&#39;  ### By updated_at Find all alerts that follow specified date parameters for updated_at field, using the same \&quot;gte\&quot;, \&quot;lte\&quot; and \&quot;date_range\&quot; operators as created_at. This is useful for incrementally syncing alerts: poll with updated_at[gte] set to your last sync time instead of re-fetching the full history. Note that updated_at moves whenever the alert row is written, which can happen without a visible change to the alert payload, so treat matches as candidates to re-fetch rather than guaranteed changes — and overlap your sync window by a few minutes to allow for writes that commit out of timestamp order:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;updated_at[gte]&#x3D;2025-01-01T00:00:00Z&#39;  ### By has_notes  Find all alerts that have notes attached:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;has_notes[is]&#x3D;true&#39;  Find all alerts that have no notes attached:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;has_notes[is]&#x3D;false&#39;  ### By tags  Filter by tag name, matched case-insensitively.  Find all alerts that have any of the given tags:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;tags[one_of]&#x3D;known issue&#39;  Find all alerts that have all of the given tags:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;tags[all_of]&#x3D;known issue&#39; \\    --data &#39;tags[all_of]&#x3D;customer impacting&#39;  Find all alerts that do not have any of the given tags. Untagged alerts are included:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;tags[not_in]&#x3D;known issue&#39;  ### By attributes  Alerts can be filtered by their attribute values. Each filter is keyed by the alert attribute ID, followed by an operator and the values to match. The accepted operators depend on the attribute&#39;s type.  Find all alerts where attribute 01GBSQF3FHF7FWZQNWGHAVQ804 is one of two catalog entries:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;attributes[01GBSQF3FHF7FWZQNWGHAVQ804][one_of]&#x3D;01GBSQF3FHF7FWZQNWGHAVQ804&#39; \\    --data &#39;attributes[01GBSQF3FHF7FWZQNWGHAVQ804][one_of]&#x3D;01ET65M7ZARSFZ6TFDFVQDN9AA&#39;  You can filter on multiple attributes at once, and the result will be alerts that match all of them.  ### Maintenance windows By default, all alerts are returned including those held by a maintenance window. To exclude alerts that are held by a maintenance window:    curl --get &#39;https://api.incident.io/v2/alerts&#39; \\    --data &#39;include_maintenance_window[is]&#x3D;false&#39;   
    # @param page_size [Integer] Number of alerts to return per page
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after If provided, pass this as the &#39;after&#39; param to load the next page
    # @option opts [Hash<String, Array<String>>] :deduplication_key Filter on alert deduplication key. The accepted operator is &#39;is&#39;.
    # @option opts [Hash<String, Array<String>>] :status Filter on alert status. The accepted operators are &#39;one_of&#39;, or &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :alert_source Filter on alert source by ID. The accepted operators are &#39;one_of&#39;, or &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :alert_group_id Filter on alert group ID. Returns alerts that belong to any of the specified groups. The accepted operator is &#39;one_of&#39;.
    # @option opts [Hash<String, Array<String>>] :created_at Filter on alert created at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :updated_at Filter on alert updated at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Hash<String, Array<String>>>] :attributes Filter on an alerts attributes. Alert attribute ID should be sent, followed by the operator and values. Accepted operator will depend on the attribute type.
    # @option opts [Hash<String, Array<String>>] :has_notes Filter on whether an alert has notes. The accepted operator is &#39;is&#39;.
    # @option opts [Hash<String, Array<String>>] :tags Filter on the tags applied to an alert, by tag name. The accepted operators are &#39;one_of&#39;, &#39;all_of&#39; and &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :include_maintenance_window Filter on whether to include maintenance window alerts. The accepted operator is &#39;is&#39;.
    # @return [Array<(AlertsListResultV2, Integer, Hash)>] AlertsListResultV2 data, response status code and response headers
    def alerts_v2_list_with_http_info(page_size, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsV2Api.alerts_v2_list ...'
      end
      # verify the required parameter 'page_size' is set
      if @api_client.config.client_side_validation && page_size.nil?
        fail ArgumentError, "Missing the required parameter 'page_size' when calling AlertsV2Api.alerts_v2_list"
      end
      if @api_client.config.client_side_validation && page_size > 50
        fail ArgumentError, 'invalid value for "page_size" when calling AlertsV2Api.alerts_v2_list, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && page_size < 1
        fail ArgumentError, 'invalid value for "page_size" when calling AlertsV2Api.alerts_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/alerts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = page_size
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'deduplication_key'] = opts[:'deduplication_key'] if !opts[:'deduplication_key'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'alert_source'] = opts[:'alert_source'] if !opts[:'alert_source'].nil?
      query_params[:'alert_group_id'] = opts[:'alert_group_id'] if !opts[:'alert_group_id'].nil?
      query_params[:'created_at'] = opts[:'created_at'] if !opts[:'created_at'].nil?
      query_params[:'updated_at'] = opts[:'updated_at'] if !opts[:'updated_at'].nil?
      query_params[:'attributes'] = opts[:'attributes'] if !opts[:'attributes'].nil?
      query_params[:'has_notes'] = opts[:'has_notes'] if !opts[:'has_notes'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'include_maintenance_window'] = opts[:'include_maintenance_window'] if !opts[:'include_maintenance_window'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertsV2Api.alerts_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsV2Api#alerts_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListAlertTags Alerts V2
    # List the alert tags in your organisation's vocabulary.  Alert tags are the reusable labels you can apply to alerts. This endpoint lists the organisation's active tags, ordered by name, and excludes archived tags.  To narrow the list, filter by search, which matches tags whose name contains the given value (case-insensitive):    curl --get 'https://api.incident.io/v2/alert_tags' \\    --data 'search=noisy' 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A tag&#39;s ID. This endpoint will return a list of tags after this ID in relation to the API response order.
    # @option opts [String] :search Filter to tags whose name contains this value (case-insensitive)
    # @return [AlertsListAlertTagsResultV2]
    def alerts_v2_list_alert_tags(opts = {})
      data, _status_code, _headers = alerts_v2_list_alert_tags_with_http_info(opts)
      data
    end

    # ListAlertTags Alerts V2
    # List the alert tags in your organisation&#39;s vocabulary.  Alert tags are the reusable labels you can apply to alerts. This endpoint lists the organisation&#39;s active tags, ordered by name, and excludes archived tags.  To narrow the list, filter by search, which matches tags whose name contains the given value (case-insensitive):    curl --get &#39;https://api.incident.io/v2/alert_tags&#39; \\    --data &#39;search&#x3D;noisy&#39; 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A tag&#39;s ID. This endpoint will return a list of tags after this ID in relation to the API response order.
    # @option opts [String] :search Filter to tags whose name contains this value (case-insensitive)
    # @return [Array<(AlertsListAlertTagsResultV2, Integer, Hash)>] AlertsListAlertTagsResultV2 data, response status code and response headers
    def alerts_v2_list_alert_tags_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsV2Api.alerts_v2_list_alert_tags ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AlertsV2Api.alerts_v2_list_alert_tags, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AlertsV2Api.alerts_v2_list_alert_tags, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/alert_tags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsListAlertTagsResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertsV2Api.alerts_v2_list_alert_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsV2Api#alerts_v2_list_alert_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListIncidentAlerts Alerts V2
    # List the connections between incidents and alerts
    # @param page_size [Integer] Number of incident alerts to return per page
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after If provided, pass this as the &#39;after&#39; param to load the next page
    # @option opts [String] :alert_id Alert that this incident alert refers to
    # @option opts [String] :incident_id Incident that this incident alert is attached to
    # @return [AlertsListIncidentAlertsResultV2]
    def alerts_v2_list_incident_alerts(page_size, opts = {})
      data, _status_code, _headers = alerts_v2_list_incident_alerts_with_http_info(page_size, opts)
      data
    end

    # ListIncidentAlerts Alerts V2
    # List the connections between incidents and alerts
    # @param page_size [Integer] Number of incident alerts to return per page
    # @param [Hash] opts the optional parameters
    # @option opts [String] :after If provided, pass this as the &#39;after&#39; param to load the next page
    # @option opts [String] :alert_id Alert that this incident alert refers to
    # @option opts [String] :incident_id Incident that this incident alert is attached to
    # @return [Array<(AlertsListIncidentAlertsResultV2, Integer, Hash)>] AlertsListIncidentAlertsResultV2 data, response status code and response headers
    def alerts_v2_list_incident_alerts_with_http_info(page_size, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsV2Api.alerts_v2_list_incident_alerts ...'
      end
      # verify the required parameter 'page_size' is set
      if @api_client.config.client_side_validation && page_size.nil?
        fail ArgumentError, "Missing the required parameter 'page_size' when calling AlertsV2Api.alerts_v2_list_incident_alerts"
      end
      if @api_client.config.client_side_validation && page_size > 50
        fail ArgumentError, 'invalid value for "page_size" when calling AlertsV2Api.alerts_v2_list_incident_alerts, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && page_size < 1
        fail ArgumentError, 'invalid value for "page_size" when calling AlertsV2Api.alerts_v2_list_incident_alerts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/incident_alerts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = page_size
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'alert_id'] = opts[:'alert_id'] if !opts[:'alert_id'].nil?
      query_params[:'incident_id'] = opts[:'incident_id'] if !opts[:'incident_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsListIncidentAlertsResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertsV2Api.alerts_v2_list_incident_alerts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsV2Api#alerts_v2_list_incident_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RemoveTags Alerts V2
    # Remove tags from an alert without changing its other tags.  Each tag is a name. Tags that are not present on the alert are ignored.
    # @param id [String] Unique identifier for the alert
    # @param alerts_remove_tags_payload_v2 [AlertsRemoveTagsPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AlertsRemoveTagsResultV2]
    def alerts_v2_remove_tags(id, alerts_remove_tags_payload_v2, opts = {})
      data, _status_code, _headers = alerts_v2_remove_tags_with_http_info(id, alerts_remove_tags_payload_v2, opts)
      data
    end

    # RemoveTags Alerts V2
    # Remove tags from an alert without changing its other tags.  Each tag is a name. Tags that are not present on the alert are ignored.
    # @param id [String] Unique identifier for the alert
    # @param alerts_remove_tags_payload_v2 [AlertsRemoveTagsPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertsRemoveTagsResultV2, Integer, Hash)>] AlertsRemoveTagsResultV2 data, response status code and response headers
    def alerts_v2_remove_tags_with_http_info(id, alerts_remove_tags_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsV2Api.alerts_v2_remove_tags ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertsV2Api.alerts_v2_remove_tags"
      end
      # verify the required parameter 'alerts_remove_tags_payload_v2' is set
      if @api_client.config.client_side_validation && alerts_remove_tags_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alerts_remove_tags_payload_v2' when calling AlertsV2Api.alerts_v2_remove_tags"
      end
      # resource path
      local_var_path = '/v2/alerts/{id}/actions/remove_tags'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alerts_remove_tags_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsRemoveTagsResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertsV2Api.alerts_v2_remove_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsV2Api#alerts_v2_remove_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve Alerts V2
    # Resolve a currently firing alert.  This marks the alert as resolved with the current time, attributing the resolution to the API key that made the request. Resolving an already-resolved alert is a no-op and returns the alert unchanged.  Some alert sources are 'externally resolved' (for example, Datadog) — those alerts can only be resolved by the third-party system itself, and this endpoint will return a 422 explaining that.  Private alerts: an API key without the 'view all alerts' scope can only resolve non-private alerts; private alerts will return a 404. Grant the API key a role that includes the global alerts access scope to resolve private alerts. 
    # @param id [String] Unique identifier for the alert
    # @param [Hash] opts the optional parameters
    # @return [AlertsResolveResultV2]
    def alerts_v2_resolve(id, opts = {})
      data, _status_code, _headers = alerts_v2_resolve_with_http_info(id, opts)
      data
    end

    # Resolve Alerts V2
    # Resolve a currently firing alert.  This marks the alert as resolved with the current time, attributing the resolution to the API key that made the request. Resolving an already-resolved alert is a no-op and returns the alert unchanged.  Some alert sources are &#39;externally resolved&#39; (for example, Datadog) — those alerts can only be resolved by the third-party system itself, and this endpoint will return a 422 explaining that.  Private alerts: an API key without the &#39;view all alerts&#39; scope can only resolve non-private alerts; private alerts will return a 404. Grant the API key a role that includes the global alerts access scope to resolve private alerts. 
    # @param id [String] Unique identifier for the alert
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertsResolveResultV2, Integer, Hash)>] AlertsResolveResultV2 data, response status code and response headers
    def alerts_v2_resolve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsV2Api.alerts_v2_resolve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertsV2Api.alerts_v2_resolve"
      end
      # resource path
      local_var_path = '/v2/alerts/{id}/actions/resolve'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsResolveResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertsV2Api.alerts_v2_resolve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsV2Api#alerts_v2_resolve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # SetTags Alerts V2
    # Replace all tags on an alert.  Each tag is a name. A name that does not exist is created, except on private alerts, where only names already in the organisation's tag vocabulary can be used. Passing an empty list removes every tag.
    # @param id [String] Unique identifier for the alert
    # @param alerts_set_tags_payload_v2 [AlertsSetTagsPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AlertsSetTagsResultV2]
    def alerts_v2_set_tags(id, alerts_set_tags_payload_v2, opts = {})
      data, _status_code, _headers = alerts_v2_set_tags_with_http_info(id, alerts_set_tags_payload_v2, opts)
      data
    end

    # SetTags Alerts V2
    # Replace all tags on an alert.  Each tag is a name. A name that does not exist is created, except on private alerts, where only names already in the organisation&#39;s tag vocabulary can be used. Passing an empty list removes every tag.
    # @param id [String] Unique identifier for the alert
    # @param alerts_set_tags_payload_v2 [AlertsSetTagsPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertsSetTagsResultV2, Integer, Hash)>] AlertsSetTagsResultV2 data, response status code and response headers
    def alerts_v2_set_tags_with_http_info(id, alerts_set_tags_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsV2Api.alerts_v2_set_tags ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertsV2Api.alerts_v2_set_tags"
      end
      # verify the required parameter 'alerts_set_tags_payload_v2' is set
      if @api_client.config.client_side_validation && alerts_set_tags_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alerts_set_tags_payload_v2' when calling AlertsV2Api.alerts_v2_set_tags"
      end
      # resource path
      local_var_path = '/v2/alerts/{id}/actions/set_tags'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alerts_set_tags_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsSetTagsResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertsV2Api.alerts_v2_set_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsV2Api#alerts_v2_set_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Alerts V2
    # Show a single alert for your account
    # @param id [String] Unique identifier for the alert
    # @param [Hash] opts the optional parameters
    # @return [AlertsShowResultV2]
    def alerts_v2_show(id, opts = {})
      data, _status_code, _headers = alerts_v2_show_with_http_info(id, opts)
      data
    end

    # Show Alerts V2
    # Show a single alert for your account
    # @param id [String] Unique identifier for the alert
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertsShowResultV2, Integer, Hash)>] AlertsShowResultV2 data, response status code and response headers
    def alerts_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsV2Api.alerts_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertsV2Api.alerts_v2_show"
      end
      # resource path
      local_var_path = '/v2/alerts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertsV2Api.alerts_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsV2Api#alerts_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # TransitionIncidentAlert Alerts V2
    # Confirm or detach the connection between an alert and an incident.  Set state to 'related' to confirm the connection, or 'unrelated' to detach the alert from the incident. The API key also needs the 'manage incident alerts' scope.  A detached connection no longer appears in the list endpoint, which returns related connections only.  Busy incidents can be locked by another operation, in which case this endpoint returns a 409 and the request can be retried. 
    # @param id [String] Unique identifier for the incident alert
    # @param alerts_transition_incident_alert_payload_v2 [AlertsTransitionIncidentAlertPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AlertsTransitionIncidentAlertResultV2]
    def alerts_v2_transition_incident_alert(id, alerts_transition_incident_alert_payload_v2, opts = {})
      data, _status_code, _headers = alerts_v2_transition_incident_alert_with_http_info(id, alerts_transition_incident_alert_payload_v2, opts)
      data
    end

    # TransitionIncidentAlert Alerts V2
    # Confirm or detach the connection between an alert and an incident.  Set state to &#39;related&#39; to confirm the connection, or &#39;unrelated&#39; to detach the alert from the incident. The API key also needs the &#39;manage incident alerts&#39; scope.  A detached connection no longer appears in the list endpoint, which returns related connections only.  Busy incidents can be locked by another operation, in which case this endpoint returns a 409 and the request can be retried. 
    # @param id [String] Unique identifier for the incident alert
    # @param alerts_transition_incident_alert_payload_v2 [AlertsTransitionIncidentAlertPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AlertsTransitionIncidentAlertResultV2, Integer, Hash)>] AlertsTransitionIncidentAlertResultV2 data, response status code and response headers
    def alerts_v2_transition_incident_alert_with_http_info(id, alerts_transition_incident_alert_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsV2Api.alerts_v2_transition_incident_alert ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertsV2Api.alerts_v2_transition_incident_alert"
      end
      # verify the required parameter 'alerts_transition_incident_alert_payload_v2' is set
      if @api_client.config.client_side_validation && alerts_transition_incident_alert_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'alerts_transition_incident_alert_payload_v2' when calling AlertsV2Api.alerts_v2_transition_incident_alert"
      end
      # resource path
      local_var_path = '/v2/incident_alerts/{id}/actions/transition'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alerts_transition_incident_alert_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertsTransitionIncidentAlertResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AlertsV2Api.alerts_v2_transition_incident_alert",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsV2Api#alerts_v2_transition_incident_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
