=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class AnnouncementTemplatesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Announcement Templates V2
    # Create an announcement template.
    # @param announcement_templates_create_payload_v2 [AnnouncementTemplatesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AnnouncementTemplatesCreateResultV2]
    def announcement_templates_v2_create(announcement_templates_create_payload_v2, opts = {})
      data, _status_code, _headers = announcement_templates_v2_create_with_http_info(announcement_templates_create_payload_v2, opts)
      data
    end

    # Create Announcement Templates V2
    # Create an announcement template.
    # @param announcement_templates_create_payload_v2 [AnnouncementTemplatesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnnouncementTemplatesCreateResultV2, Integer, Hash)>] AnnouncementTemplatesCreateResultV2 data, response status code and response headers
    def announcement_templates_v2_create_with_http_info(announcement_templates_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnouncementTemplatesV2Api.announcement_templates_v2_create ...'
      end
      # verify the required parameter 'announcement_templates_create_payload_v2' is set
      if @api_client.config.client_side_validation && announcement_templates_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'announcement_templates_create_payload_v2' when calling AnnouncementTemplatesV2Api.announcement_templates_v2_create"
      end
      # resource path
      local_var_path = '/v2/announcement_templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(announcement_templates_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AnnouncementTemplatesCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AnnouncementTemplatesV2Api.announcement_templates_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnouncementTemplatesV2Api#announcement_templates_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroy Announcement Templates V2
    # Delete an announcement template. The default template, and templates still used by an announcement rule or workflow, can't be deleted.
    # @param id [String] Unique identifier for this announcement template
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def announcement_templates_v2_destroy(id, opts = {})
      announcement_templates_v2_destroy_with_http_info(id, opts)
      nil
    end

    # Destroy Announcement Templates V2
    # Delete an announcement template. The default template, and templates still used by an announcement rule or workflow, can&#39;t be deleted.
    # @param id [String] Unique identifier for this announcement template
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def announcement_templates_v2_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnouncementTemplatesV2Api.announcement_templates_v2_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AnnouncementTemplatesV2Api.announcement_templates_v2_destroy"
      end
      # resource path
      local_var_path = '/v2/announcement_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AnnouncementTemplatesV2Api.announcement_templates_v2_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnouncementTemplatesV2Api#announcement_templates_v2_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Announcement Templates V2
    # List announcement templates for this organisation.
    # @param [Hash] opts the optional parameters
    # @return [AnnouncementTemplatesListResultV2]
    def announcement_templates_v2_list(opts = {})
      data, _status_code, _headers = announcement_templates_v2_list_with_http_info(opts)
      data
    end

    # List Announcement Templates V2
    # List announcement templates for this organisation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnnouncementTemplatesListResultV2, Integer, Hash)>] AnnouncementTemplatesListResultV2 data, response status code and response headers
    def announcement_templates_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnouncementTemplatesV2Api.announcement_templates_v2_list ...'
      end
      # resource path
      local_var_path = '/v2/announcement_templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AnnouncementTemplatesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AnnouncementTemplatesV2Api.announcement_templates_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnouncementTemplatesV2Api#announcement_templates_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Announcement Templates V2
    # Show an announcement template.
    # @param id [String] Unique identifier for this announcement template
    # @param [Hash] opts the optional parameters
    # @return [AnnouncementTemplatesShowResultV2]
    def announcement_templates_v2_show(id, opts = {})
      data, _status_code, _headers = announcement_templates_v2_show_with_http_info(id, opts)
      data
    end

    # Show Announcement Templates V2
    # Show an announcement template.
    # @param id [String] Unique identifier for this announcement template
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnnouncementTemplatesShowResultV2, Integer, Hash)>] AnnouncementTemplatesShowResultV2 data, response status code and response headers
    def announcement_templates_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnouncementTemplatesV2Api.announcement_templates_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AnnouncementTemplatesV2Api.announcement_templates_v2_show"
      end
      # resource path
      local_var_path = '/v2/announcement_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AnnouncementTemplatesShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AnnouncementTemplatesV2Api.announcement_templates_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnouncementTemplatesV2Api#announcement_templates_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Announcement Templates V2
    # Update an announcement template. Fields and actions are replaced wholesale, so send the full set you want.
    # @param id [String] Unique identifier for this announcement template
    # @param announcement_templates_update_payload_v2 [AnnouncementTemplatesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AnnouncementTemplatesUpdateResultV2]
    def announcement_templates_v2_update(id, announcement_templates_update_payload_v2, opts = {})
      data, _status_code, _headers = announcement_templates_v2_update_with_http_info(id, announcement_templates_update_payload_v2, opts)
      data
    end

    # Update Announcement Templates V2
    # Update an announcement template. Fields and actions are replaced wholesale, so send the full set you want.
    # @param id [String] Unique identifier for this announcement template
    # @param announcement_templates_update_payload_v2 [AnnouncementTemplatesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnnouncementTemplatesUpdateResultV2, Integer, Hash)>] AnnouncementTemplatesUpdateResultV2 data, response status code and response headers
    def announcement_templates_v2_update_with_http_info(id, announcement_templates_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnouncementTemplatesV2Api.announcement_templates_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AnnouncementTemplatesV2Api.announcement_templates_v2_update"
      end
      # verify the required parameter 'announcement_templates_update_payload_v2' is set
      if @api_client.config.client_side_validation && announcement_templates_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'announcement_templates_update_payload_v2' when calling AnnouncementTemplatesV2Api.announcement_templates_v2_update"
      end
      # resource path
      local_var_path = '/v2/announcement_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(announcement_templates_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AnnouncementTemplatesUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AnnouncementTemplatesV2Api.announcement_templates_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnouncementTemplatesV2Api#announcement_templates_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
