=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class AnnouncementRulesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Announcement Rules V2
    # Create an announcement rule.
    # @param announcement_rules_create_payload_v2 [AnnouncementRulesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AnnouncementRulesCreateResultV2]
    def announcement_rules_v2_create(announcement_rules_create_payload_v2, opts = {})
      data, _status_code, _headers = announcement_rules_v2_create_with_http_info(announcement_rules_create_payload_v2, opts)
      data
    end

    # Create Announcement Rules V2
    # Create an announcement rule.
    # @param announcement_rules_create_payload_v2 [AnnouncementRulesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnnouncementRulesCreateResultV2, Integer, Hash)>] AnnouncementRulesCreateResultV2 data, response status code and response headers
    def announcement_rules_v2_create_with_http_info(announcement_rules_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnouncementRulesV2Api.announcement_rules_v2_create ...'
      end
      # verify the required parameter 'announcement_rules_create_payload_v2' is set
      if @api_client.config.client_side_validation && announcement_rules_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'announcement_rules_create_payload_v2' when calling AnnouncementRulesV2Api.announcement_rules_v2_create"
      end
      # resource path
      local_var_path = '/v2/announcement_rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(announcement_rules_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AnnouncementRulesCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AnnouncementRulesV2Api.announcement_rules_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnouncementRulesV2Api#announcement_rules_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroy Announcement Rules V2
    # Delete an announcement rule.
    # @param id [String] Unique identifier for this announcement rule
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def announcement_rules_v2_destroy(id, opts = {})
      announcement_rules_v2_destroy_with_http_info(id, opts)
      nil
    end

    # Destroy Announcement Rules V2
    # Delete an announcement rule.
    # @param id [String] Unique identifier for this announcement rule
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def announcement_rules_v2_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnouncementRulesV2Api.announcement_rules_v2_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AnnouncementRulesV2Api.announcement_rules_v2_destroy"
      end
      # resource path
      local_var_path = '/v2/announcement_rules/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AnnouncementRulesV2Api.announcement_rules_v2_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnouncementRulesV2Api#announcement_rules_v2_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Announcement Rules V2
    # List announcement rules for this organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 50)
    # @option opts [String] :after An announcement rule&#39;s ID.
    # @return [AnnouncementRulesListResultV2]
    def announcement_rules_v2_list(opts = {})
      data, _status_code, _headers = announcement_rules_v2_list_with_http_info(opts)
      data
    end

    # List Announcement Rules V2
    # List announcement rules for this organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 50)
    # @option opts [String] :after An announcement rule&#39;s ID.
    # @return [Array<(AnnouncementRulesListResultV2, Integer, Hash)>] AnnouncementRulesListResultV2 data, response status code and response headers
    def announcement_rules_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnouncementRulesV2Api.announcement_rules_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnnouncementRulesV2Api.announcement_rules_v2_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling AnnouncementRulesV2Api.announcement_rules_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/announcement_rules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AnnouncementRulesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AnnouncementRulesV2Api.announcement_rules_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnouncementRulesV2Api#announcement_rules_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Announcement Rules V2
    # Show an announcement rule.
    # @param id [String] Unique identifier for this announcement rule
    # @param [Hash] opts the optional parameters
    # @return [AnnouncementRulesShowResultV2]
    def announcement_rules_v2_show(id, opts = {})
      data, _status_code, _headers = announcement_rules_v2_show_with_http_info(id, opts)
      data
    end

    # Show Announcement Rules V2
    # Show an announcement rule.
    # @param id [String] Unique identifier for this announcement rule
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnnouncementRulesShowResultV2, Integer, Hash)>] AnnouncementRulesShowResultV2 data, response status code and response headers
    def announcement_rules_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnouncementRulesV2Api.announcement_rules_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AnnouncementRulesV2Api.announcement_rules_v2_show"
      end
      # resource path
      local_var_path = '/v2/announcement_rules/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AnnouncementRulesShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AnnouncementRulesV2Api.announcement_rules_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnouncementRulesV2Api#announcement_rules_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Announcement Rules V2
    # Update an announcement rule.
    # @param id [String] Unique identifier for this announcement rule
    # @param announcement_rules_update_payload_v2 [AnnouncementRulesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [AnnouncementRulesUpdateResultV2]
    def announcement_rules_v2_update(id, announcement_rules_update_payload_v2, opts = {})
      data, _status_code, _headers = announcement_rules_v2_update_with_http_info(id, announcement_rules_update_payload_v2, opts)
      data
    end

    # Update Announcement Rules V2
    # Update an announcement rule.
    # @param id [String] Unique identifier for this announcement rule
    # @param announcement_rules_update_payload_v2 [AnnouncementRulesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnnouncementRulesUpdateResultV2, Integer, Hash)>] AnnouncementRulesUpdateResultV2 data, response status code and response headers
    def announcement_rules_v2_update_with_http_info(id, announcement_rules_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnnouncementRulesV2Api.announcement_rules_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AnnouncementRulesV2Api.announcement_rules_v2_update"
      end
      # verify the required parameter 'announcement_rules_update_payload_v2' is set
      if @api_client.config.client_side_validation && announcement_rules_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'announcement_rules_update_payload_v2' when calling AnnouncementRulesV2Api.announcement_rules_v2_update"
      end
      # resource path
      local_var_path = '/v2/announcement_rules/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(announcement_rules_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'AnnouncementRulesUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"AnnouncementRulesV2Api.announcement_rules_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnnouncementRulesV2Api#announcement_rules_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
