=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class APIKeysV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create API Keys V1
    # Create a new API key. The calling API key can only assign roles whose scopes are a subset of its own. The `api_keys_manage` role cannot be assigned via the API. An organization can have a maximum of 5000 active API keys.  This endpoint requires a valid API key with the `api_keys_manage` role at either the account level or team level.
    # @param api_keys_create_payload_v1 [APIKeysCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [APIKeysCreateResultV1]
    def api_keys_v1_create(api_keys_create_payload_v1, opts = {})
      data, _status_code, _headers = api_keys_v1_create_with_http_info(api_keys_create_payload_v1, opts)
      data
    end

    # Create API Keys V1
    # Create a new API key. The calling API key can only assign roles whose scopes are a subset of its own. The &#x60;api_keys_manage&#x60; role cannot be assigned via the API. An organization can have a maximum of 5000 active API keys.  This endpoint requires a valid API key with the &#x60;api_keys_manage&#x60; role at either the account level or team level.
    # @param api_keys_create_payload_v1 [APIKeysCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIKeysCreateResultV1, Integer, Hash)>] APIKeysCreateResultV1 data, response status code and response headers
    def api_keys_v1_create_with_http_info(api_keys_create_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysV1Api.api_keys_v1_create ...'
      end
      # verify the required parameter 'api_keys_create_payload_v1' is set
      if @api_client.config.client_side_validation && api_keys_create_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'api_keys_create_payload_v1' when calling APIKeysV1Api.api_keys_v1_create"
      end
      # resource path
      local_var_path = '/v1/api_keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_keys_create_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'APIKeysCreateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"APIKeysV1Api.api_keys_v1_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysV1Api#api_keys_v1_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete API Keys V1
    # Delete an existing API key. The calling API key does not need to hold the scopes of the key being deleted, but a team-scoped key can only delete keys belonging to its teams.  This endpoint requires a valid API key with the `api_keys_manage` role at either the account level or team level.
    # @param id [String] Unique identifier of the API key to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_keys_v1_delete(id, opts = {})
      api_keys_v1_delete_with_http_info(id, opts)
      nil
    end

    # Delete API Keys V1
    # Delete an existing API key. The calling API key does not need to hold the scopes of the key being deleted, but a team-scoped key can only delete keys belonging to its teams.  This endpoint requires a valid API key with the &#x60;api_keys_manage&#x60; role at either the account level or team level.
    # @param id [String] Unique identifier of the API key to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_keys_v1_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysV1Api.api_keys_v1_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling APIKeysV1Api.api_keys_v1_delete"
      end
      # resource path
      local_var_path = '/v1/api_keys/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"APIKeysV1Api.api_keys_v1_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysV1Api#api_keys_v1_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List API Keys V1
    # List API keys visible to the calling API key, with pagination. An API key with account-level `api_keys_manage` access will see all keys, while a key with the `api_keys_manage` role scoped to specific teams will only see keys belonging to those teams.  This endpoint requires a valid API key with the `api_keys_manage` role at either the account level or team level.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [APIKeysListResultV1]
    def api_keys_v1_list(opts = {})
      data, _status_code, _headers = api_keys_v1_list_with_http_info(opts)
      data
    end

    # List API Keys V1
    # List API keys visible to the calling API key, with pagination. An API key with account-level &#x60;api_keys_manage&#x60; access will see all keys, while a key with the &#x60;api_keys_manage&#x60; role scoped to specific teams will only see keys belonging to those teams.  This endpoint requires a valid API key with the &#x60;api_keys_manage&#x60; role at either the account level or team level.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [Array<(APIKeysListResultV1, Integer, Hash)>] APIKeysListResultV1 data, response status code and response headers
    def api_keys_v1_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysV1Api.api_keys_v1_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling APIKeysV1Api.api_keys_v1_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling APIKeysV1Api.api_keys_v1_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/api_keys'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APIKeysListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"APIKeysV1Api.api_keys_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysV1Api#api_keys_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate API Keys V1
    # Rotate the access token for an API key. This generates a new bearer token and optionally keeps the old token valid for a configurable grace period (up to 60 minutes), allowing a seamless rollover without downtime. The calling API key must have all the scopes of the key being rotated.  This endpoint requires a valid API key with the `api_keys_manage` role at either the account level or team level.
    # @param id [String] Unique identifier of the API key to rotate
    # @param api_keys_rotate_payload_v1 [APIKeysRotatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [APIKeysRotateResultV1]
    def api_keys_v1_rotate(id, api_keys_rotate_payload_v1, opts = {})
      data, _status_code, _headers = api_keys_v1_rotate_with_http_info(id, api_keys_rotate_payload_v1, opts)
      data
    end

    # Rotate API Keys V1
    # Rotate the access token for an API key. This generates a new bearer token and optionally keeps the old token valid for a configurable grace period (up to 60 minutes), allowing a seamless rollover without downtime. The calling API key must have all the scopes of the key being rotated.  This endpoint requires a valid API key with the &#x60;api_keys_manage&#x60; role at either the account level or team level.
    # @param id [String] Unique identifier of the API key to rotate
    # @param api_keys_rotate_payload_v1 [APIKeysRotatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIKeysRotateResultV1, Integer, Hash)>] APIKeysRotateResultV1 data, response status code and response headers
    def api_keys_v1_rotate_with_http_info(id, api_keys_rotate_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysV1Api.api_keys_v1_rotate ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling APIKeysV1Api.api_keys_v1_rotate"
      end
      # verify the required parameter 'api_keys_rotate_payload_v1' is set
      if @api_client.config.client_side_validation && api_keys_rotate_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'api_keys_rotate_payload_v1' when calling APIKeysV1Api.api_keys_v1_rotate"
      end
      # resource path
      local_var_path = '/v1/api_keys/{id}/actions/rotate'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_keys_rotate_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'APIKeysRotateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"APIKeysV1Api.api_keys_v1_rotate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysV1Api#api_keys_v1_rotate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show API Keys V1
    # Show details of a specific API key, including its roles, team assignments and when its token was last issued.  This endpoint requires a valid API key with the `api_keys_manage` role at either the account level or team level.
    # @param id [String] Unique identifier of the API key to retrieve
    # @param [Hash] opts the optional parameters
    # @return [APIKeysShowResultV1]
    def api_keys_v1_show(id, opts = {})
      data, _status_code, _headers = api_keys_v1_show_with_http_info(id, opts)
      data
    end

    # Show API Keys V1
    # Show details of a specific API key, including its roles, team assignments and when its token was last issued.  This endpoint requires a valid API key with the &#x60;api_keys_manage&#x60; role at either the account level or team level.
    # @param id [String] Unique identifier of the API key to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIKeysShowResultV1, Integer, Hash)>] APIKeysShowResultV1 data, response status code and response headers
    def api_keys_v1_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysV1Api.api_keys_v1_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling APIKeysV1Api.api_keys_v1_show"
      end
      # resource path
      local_var_path = '/v1/api_keys/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'APIKeysShowResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"APIKeysV1Api.api_keys_v1_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysV1Api#api_keys_v1_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update API Keys V1
    # Update an existing API key's name, roles, or team assignments. All fields must be provided (PUT semantics). The calling API key can only assign roles whose scopes are a subset of its own. An API key cannot edit itself, and the `api_keys_manage` role cannot be assigned via the API.  This endpoint requires a valid API key with the `api_keys_manage` role at either the account level or team level.
    # @param id [String] Unique identifier of the API key to update
    # @param api_keys_update_payload_v1 [APIKeysUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [APIKeysUpdateResultV1]
    def api_keys_v1_update(id, api_keys_update_payload_v1, opts = {})
      data, _status_code, _headers = api_keys_v1_update_with_http_info(id, api_keys_update_payload_v1, opts)
      data
    end

    # Update API Keys V1
    # Update an existing API key&#39;s name, roles, or team assignments. All fields must be provided (PUT semantics). The calling API key can only assign roles whose scopes are a subset of its own. An API key cannot edit itself, and the &#x60;api_keys_manage&#x60; role cannot be assigned via the API.  This endpoint requires a valid API key with the &#x60;api_keys_manage&#x60; role at either the account level or team level.
    # @param id [String] Unique identifier of the API key to update
    # @param api_keys_update_payload_v1 [APIKeysUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIKeysUpdateResultV1, Integer, Hash)>] APIKeysUpdateResultV1 data, response status code and response headers
    def api_keys_v1_update_with_http_info(id, api_keys_update_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysV1Api.api_keys_v1_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling APIKeysV1Api.api_keys_v1_update"
      end
      # verify the required parameter 'api_keys_update_payload_v1' is set
      if @api_client.config.client_side_validation && api_keys_update_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'api_keys_update_payload_v1' when calling APIKeysV1Api.api_keys_v1_update"
      end
      # resource path
      local_var_path = '/v1/api_keys/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_keys_update_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'APIKeysUpdateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"APIKeysV1Api.api_keys_v1_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysV1Api#api_keys_v1_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
