=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class CallRoutesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # CreateAllowedCaller Call Routes V2
    # Allow a number to call this route.
    # @param call_route_id [String] The call route to allow this number to call
    # @param call_routes_create_allowed_caller_payload_v2 [CallRoutesCreateAllowedCallerPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [CallRoutesCreateAllowedCallerResultV2]
    def call_routes_v2_create_allowed_caller(call_route_id, call_routes_create_allowed_caller_payload_v2, opts = {})
      data, _status_code, _headers = call_routes_v2_create_allowed_caller_with_http_info(call_route_id, call_routes_create_allowed_caller_payload_v2, opts)
      data
    end

    # CreateAllowedCaller Call Routes V2
    # Allow a number to call this route.
    # @param call_route_id [String] The call route to allow this number to call
    # @param call_routes_create_allowed_caller_payload_v2 [CallRoutesCreateAllowedCallerPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallRoutesCreateAllowedCallerResultV2, Integer, Hash)>] CallRoutesCreateAllowedCallerResultV2 data, response status code and response headers
    def call_routes_v2_create_allowed_caller_with_http_info(call_route_id, call_routes_create_allowed_caller_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_create_allowed_caller ...'
      end
      # verify the required parameter 'call_route_id' is set
      if @api_client.config.client_side_validation && call_route_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_route_id' when calling CallRoutesV2Api.call_routes_v2_create_allowed_caller"
      end
      # verify the required parameter 'call_routes_create_allowed_caller_payload_v2' is set
      if @api_client.config.client_side_validation && call_routes_create_allowed_caller_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'call_routes_create_allowed_caller_payload_v2' when calling CallRoutesV2Api.call_routes_v2_create_allowed_caller"
      end
      # resource path
      local_var_path = '/v2/call_routes/{call_route_id}/allowed_callers'.sub('{call_route_id}', CGI.escape(call_route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_routes_create_allowed_caller_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'CallRoutesCreateAllowedCallerResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_create_allowed_caller",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_create_allowed_caller\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateOption Call Routes V2
    # Add an option to a call route's phone-tree menu.  Callers hear the menu instead of being routed down the route's own path, so adding the first option clears that path. Every plan allows a single option. A menu of two or more options is not on every plan, so get in touch if you need one enabled.
    # @param call_route_id [String] The call route to add this option to
    # @param call_routes_create_option_payload_v2 [CallRoutesCreateOptionPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [CallRoutesCreateOptionResultV2]
    def call_routes_v2_create_option(call_route_id, call_routes_create_option_payload_v2, opts = {})
      data, _status_code, _headers = call_routes_v2_create_option_with_http_info(call_route_id, call_routes_create_option_payload_v2, opts)
      data
    end

    # CreateOption Call Routes V2
    # Add an option to a call route&#39;s phone-tree menu.  Callers hear the menu instead of being routed down the route&#39;s own path, so adding the first option clears that path. Every plan allows a single option. A menu of two or more options is not on every plan, so get in touch if you need one enabled.
    # @param call_route_id [String] The call route to add this option to
    # @param call_routes_create_option_payload_v2 [CallRoutesCreateOptionPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallRoutesCreateOptionResultV2, Integer, Hash)>] CallRoutesCreateOptionResultV2 data, response status code and response headers
    def call_routes_v2_create_option_with_http_info(call_route_id, call_routes_create_option_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_create_option ...'
      end
      # verify the required parameter 'call_route_id' is set
      if @api_client.config.client_side_validation && call_route_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_route_id' when calling CallRoutesV2Api.call_routes_v2_create_option"
      end
      # verify the required parameter 'call_routes_create_option_payload_v2' is set
      if @api_client.config.client_side_validation && call_routes_create_option_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'call_routes_create_option_payload_v2' when calling CallRoutesV2Api.call_routes_v2_create_option"
      end
      # resource path
      local_var_path = '/v2/call_routes/{call_route_id}/options'.sub('{call_route_id}', CGI.escape(call_route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_routes_create_option_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'CallRoutesCreateOptionResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_create_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_create_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DestroyAllowedCaller Call Routes V2
    # Stop allowing a number to call this route.  A route that only answers its allowed callers must keep at least one, so turn use_caller_allowlist off before removing the last number.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The allowed caller&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def call_routes_v2_destroy_allowed_caller(call_route_id, id, opts = {})
      call_routes_v2_destroy_allowed_caller_with_http_info(call_route_id, id, opts)
      nil
    end

    # DestroyAllowedCaller Call Routes V2
    # Stop allowing a number to call this route.  A route that only answers its allowed callers must keep at least one, so turn use_caller_allowlist off before removing the last number.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The allowed caller&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def call_routes_v2_destroy_allowed_caller_with_http_info(call_route_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_destroy_allowed_caller ...'
      end
      # verify the required parameter 'call_route_id' is set
      if @api_client.config.client_side_validation && call_route_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_route_id' when calling CallRoutesV2Api.call_routes_v2_destroy_allowed_caller"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CallRoutesV2Api.call_routes_v2_destroy_allowed_caller"
      end
      # resource path
      local_var_path = '/v2/call_routes/{call_route_id}/allowed_callers/{id}'.sub('{call_route_id}', CGI.escape(call_route_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_destroy_allowed_caller",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_destroy_allowed_caller\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DestroyOption Call Routes V2
    # Remove an option from a call route's phone-tree menu.  A route has to route calls somewhere, so give it a path before removing its last option.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The option&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def call_routes_v2_destroy_option(call_route_id, id, opts = {})
      call_routes_v2_destroy_option_with_http_info(call_route_id, id, opts)
      nil
    end

    # DestroyOption Call Routes V2
    # Remove an option from a call route&#39;s phone-tree menu.  A route has to route calls somewhere, so give it a path before removing its last option.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The option&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def call_routes_v2_destroy_option_with_http_info(call_route_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_destroy_option ...'
      end
      # verify the required parameter 'call_route_id' is set
      if @api_client.config.client_side_validation && call_route_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_route_id' when calling CallRoutesV2Api.call_routes_v2_destroy_option"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CallRoutesV2Api.call_routes_v2_destroy_option"
      end
      # resource path
      local_var_path = '/v2/call_routes/{call_route_id}/options/{id}'.sub('{call_route_id}', CGI.escape(call_route_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_destroy_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_destroy_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Call Routes V2
    # List all call routes for this organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A call route&#39;s ID. This endpoint will return a list of call routes after this ID in relation to the API response order.
    # @return [CallRoutesListResultV2]
    def call_routes_v2_list(opts = {})
      data, _status_code, _headers = call_routes_v2_list_with_http_info(opts)
      data
    end

    # List Call Routes V2
    # List all call routes for this organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A call route&#39;s ID. This endpoint will return a list of call routes after this ID in relation to the API response order.
    # @return [Array<(CallRoutesListResultV2, Integer, Hash)>] CallRoutesListResultV2 data, response status code and response headers
    def call_routes_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CallRoutesV2Api.call_routes_v2_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CallRoutesV2Api.call_routes_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/call_routes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallRoutesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListAllowedCallers Call Routes V2
    # List the numbers allowed to call a route.
    # @param call_route_id [String] The call route&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [CallRoutesListAllowedCallersResultV2]
    def call_routes_v2_list_allowed_callers(call_route_id, opts = {})
      data, _status_code, _headers = call_routes_v2_list_allowed_callers_with_http_info(call_route_id, opts)
      data
    end

    # ListAllowedCallers Call Routes V2
    # List the numbers allowed to call a route.
    # @param call_route_id [String] The call route&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallRoutesListAllowedCallersResultV2, Integer, Hash)>] CallRoutesListAllowedCallersResultV2 data, response status code and response headers
    def call_routes_v2_list_allowed_callers_with_http_info(call_route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_list_allowed_callers ...'
      end
      # verify the required parameter 'call_route_id' is set
      if @api_client.config.client_side_validation && call_route_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_route_id' when calling CallRoutesV2Api.call_routes_v2_list_allowed_callers"
      end
      # resource path
      local_var_path = '/v2/call_routes/{call_route_id}/allowed_callers'.sub('{call_route_id}', CGI.escape(call_route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallRoutesListAllowedCallersResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_list_allowed_callers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_list_allowed_callers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListOptions Call Routes V2
    # List a call route's phone-tree options, in the order callers hear them.
    # @param call_route_id [String] The call route&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [CallRoutesListOptionsResultV2]
    def call_routes_v2_list_options(call_route_id, opts = {})
      data, _status_code, _headers = call_routes_v2_list_options_with_http_info(call_route_id, opts)
      data
    end

    # ListOptions Call Routes V2
    # List a call route&#39;s phone-tree options, in the order callers hear them.
    # @param call_route_id [String] The call route&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallRoutesListOptionsResultV2, Integer, Hash)>] CallRoutesListOptionsResultV2 data, response status code and response headers
    def call_routes_v2_list_options_with_http_info(call_route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_list_options ...'
      end
      # verify the required parameter 'call_route_id' is set
      if @api_client.config.client_side_validation && call_route_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_route_id' when calling CallRoutesV2Api.call_routes_v2_list_options"
      end
      # resource path
      local_var_path = '/v2/call_routes/{call_route_id}/options'.sub('{call_route_id}', CGI.escape(call_route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallRoutesListOptionsResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_list_options",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_list_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Call Routes V2
    # Show a single call route.
    # @param id [String] The call route&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [CallRoutesShowResultV2]
    def call_routes_v2_show(id, opts = {})
      data, _status_code, _headers = call_routes_v2_show_with_http_info(id, opts)
      data
    end

    # Show Call Routes V2
    # Show a single call route.
    # @param id [String] The call route&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallRoutesShowResultV2, Integer, Hash)>] CallRoutesShowResultV2 data, response status code and response headers
    def call_routes_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CallRoutesV2Api.call_routes_v2_show"
      end
      # resource path
      local_var_path = '/v2/call_routes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallRoutesShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowAllowedCaller Call Routes V2
    # Show a single allowed caller.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The allowed caller&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [CallRoutesShowAllowedCallerResultV2]
    def call_routes_v2_show_allowed_caller(call_route_id, id, opts = {})
      data, _status_code, _headers = call_routes_v2_show_allowed_caller_with_http_info(call_route_id, id, opts)
      data
    end

    # ShowAllowedCaller Call Routes V2
    # Show a single allowed caller.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The allowed caller&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallRoutesShowAllowedCallerResultV2, Integer, Hash)>] CallRoutesShowAllowedCallerResultV2 data, response status code and response headers
    def call_routes_v2_show_allowed_caller_with_http_info(call_route_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_show_allowed_caller ...'
      end
      # verify the required parameter 'call_route_id' is set
      if @api_client.config.client_side_validation && call_route_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_route_id' when calling CallRoutesV2Api.call_routes_v2_show_allowed_caller"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CallRoutesV2Api.call_routes_v2_show_allowed_caller"
      end
      # resource path
      local_var_path = '/v2/call_routes/{call_route_id}/allowed_callers/{id}'.sub('{call_route_id}', CGI.escape(call_route_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallRoutesShowAllowedCallerResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_show_allowed_caller",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_show_allowed_caller\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowOption Call Routes V2
    # Show a single phone-tree option.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The option&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [CallRoutesShowOptionResultV2]
    def call_routes_v2_show_option(call_route_id, id, opts = {})
      data, _status_code, _headers = call_routes_v2_show_option_with_http_info(call_route_id, id, opts)
      data
    end

    # ShowOption Call Routes V2
    # Show a single phone-tree option.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The option&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallRoutesShowOptionResultV2, Integer, Hash)>] CallRoutesShowOptionResultV2 data, response status code and response headers
    def call_routes_v2_show_option_with_http_info(call_route_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_show_option ...'
      end
      # verify the required parameter 'call_route_id' is set
      if @api_client.config.client_side_validation && call_route_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_route_id' when calling CallRoutesV2Api.call_routes_v2_show_option"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CallRoutesV2Api.call_routes_v2_show_option"
      end
      # resource path
      local_var_path = '/v2/call_routes/{call_route_id}/options/{id}'.sub('{call_route_id}', CGI.escape(call_route_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallRoutesShowOptionResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_show_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_show_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Call Routes V2
    # Replace a call route's configuration.  Sending a path retires any phone-tree menu on the route. Send an empty path to keep the menu.
    # @param id [String] The call route&#39;s ID
    # @param call_routes_update_payload_v2 [CallRoutesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [CallRoutesUpdateResultV2]
    def call_routes_v2_update(id, call_routes_update_payload_v2, opts = {})
      data, _status_code, _headers = call_routes_v2_update_with_http_info(id, call_routes_update_payload_v2, opts)
      data
    end

    # Update Call Routes V2
    # Replace a call route&#39;s configuration.  Sending a path retires any phone-tree menu on the route. Send an empty path to keep the menu.
    # @param id [String] The call route&#39;s ID
    # @param call_routes_update_payload_v2 [CallRoutesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallRoutesUpdateResultV2, Integer, Hash)>] CallRoutesUpdateResultV2 data, response status code and response headers
    def call_routes_v2_update_with_http_info(id, call_routes_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CallRoutesV2Api.call_routes_v2_update"
      end
      # verify the required parameter 'call_routes_update_payload_v2' is set
      if @api_client.config.client_side_validation && call_routes_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'call_routes_update_payload_v2' when calling CallRoutesV2Api.call_routes_v2_update"
      end
      # resource path
      local_var_path = '/v2/call_routes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_routes_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'CallRoutesUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdateAllowedCaller Call Routes V2
    # Replace an allowed caller's number and label.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The allowed caller&#39;s ID
    # @param call_routes_update_allowed_caller_payload_v2 [CallRoutesUpdateAllowedCallerPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [CallRoutesUpdateAllowedCallerResultV2]
    def call_routes_v2_update_allowed_caller(call_route_id, id, call_routes_update_allowed_caller_payload_v2, opts = {})
      data, _status_code, _headers = call_routes_v2_update_allowed_caller_with_http_info(call_route_id, id, call_routes_update_allowed_caller_payload_v2, opts)
      data
    end

    # UpdateAllowedCaller Call Routes V2
    # Replace an allowed caller&#39;s number and label.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The allowed caller&#39;s ID
    # @param call_routes_update_allowed_caller_payload_v2 [CallRoutesUpdateAllowedCallerPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallRoutesUpdateAllowedCallerResultV2, Integer, Hash)>] CallRoutesUpdateAllowedCallerResultV2 data, response status code and response headers
    def call_routes_v2_update_allowed_caller_with_http_info(call_route_id, id, call_routes_update_allowed_caller_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_update_allowed_caller ...'
      end
      # verify the required parameter 'call_route_id' is set
      if @api_client.config.client_side_validation && call_route_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_route_id' when calling CallRoutesV2Api.call_routes_v2_update_allowed_caller"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CallRoutesV2Api.call_routes_v2_update_allowed_caller"
      end
      # verify the required parameter 'call_routes_update_allowed_caller_payload_v2' is set
      if @api_client.config.client_side_validation && call_routes_update_allowed_caller_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'call_routes_update_allowed_caller_payload_v2' when calling CallRoutesV2Api.call_routes_v2_update_allowed_caller"
      end
      # resource path
      local_var_path = '/v2/call_routes/{call_route_id}/allowed_callers/{id}'.sub('{call_route_id}', CGI.escape(call_route_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_routes_update_allowed_caller_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'CallRoutesUpdateAllowedCallerResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_update_allowed_caller",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_update_allowed_caller\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdateOption Call Routes V2
    # Replace a phone-tree option.  Two live options can't share a digit, so moving an option onto a digit the menu already uses is rejected.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The option&#39;s ID
    # @param call_routes_update_option_payload_v2 [CallRoutesUpdateOptionPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [CallRoutesUpdateOptionResultV2]
    def call_routes_v2_update_option(call_route_id, id, call_routes_update_option_payload_v2, opts = {})
      data, _status_code, _headers = call_routes_v2_update_option_with_http_info(call_route_id, id, call_routes_update_option_payload_v2, opts)
      data
    end

    # UpdateOption Call Routes V2
    # Replace a phone-tree option.  Two live options can&#39;t share a digit, so moving an option onto a digit the menu already uses is rejected.
    # @param call_route_id [String] The call route&#39;s ID
    # @param id [String] The option&#39;s ID
    # @param call_routes_update_option_payload_v2 [CallRoutesUpdateOptionPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallRoutesUpdateOptionResultV2, Integer, Hash)>] CallRoutesUpdateOptionResultV2 data, response status code and response headers
    def call_routes_v2_update_option_with_http_info(call_route_id, id, call_routes_update_option_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallRoutesV2Api.call_routes_v2_update_option ...'
      end
      # verify the required parameter 'call_route_id' is set
      if @api_client.config.client_side_validation && call_route_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_route_id' when calling CallRoutesV2Api.call_routes_v2_update_option"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CallRoutesV2Api.call_routes_v2_update_option"
      end
      # verify the required parameter 'call_routes_update_option_payload_v2' is set
      if @api_client.config.client_side_validation && call_routes_update_option_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'call_routes_update_option_payload_v2' when calling CallRoutesV2Api.call_routes_v2_update_option"
      end
      # resource path
      local_var_path = '/v2/call_routes/{call_route_id}/options/{id}'.sub('{call_route_id}', CGI.escape(call_route_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_routes_update_option_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'CallRoutesUpdateOptionResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallRoutesV2Api.call_routes_v2_update_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallRoutesV2Api#call_routes_v2_update_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
