=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class CallTranscriptEntriesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Call Transcript Entries V2
    # List transcript entries for a call session, oldest first.  Returns an empty list if your organisation has disabled viewing transcripts.
    # @param call_session_id [String] Call session whose transcript entries you want to list
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A transcript entry&#39;s ID. This endpoint will return a list of entries after this ID in relation to the API response order.
    # @return [CallTranscriptEntriesListResultV2]
    def call_transcript_entries_v2_list(call_session_id, opts = {})
      data, _status_code, _headers = call_transcript_entries_v2_list_with_http_info(call_session_id, opts)
      data
    end

    # List Call Transcript Entries V2
    # List transcript entries for a call session, oldest first.  Returns an empty list if your organisation has disabled viewing transcripts.
    # @param call_session_id [String] Call session whose transcript entries you want to list
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A transcript entry&#39;s ID. This endpoint will return a list of entries after this ID in relation to the API response order.
    # @return [Array<(CallTranscriptEntriesListResultV2, Integer, Hash)>] CallTranscriptEntriesListResultV2 data, response status code and response headers
    def call_transcript_entries_v2_list_with_http_info(call_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallTranscriptEntriesV2Api.call_transcript_entries_v2_list ...'
      end
      # verify the required parameter 'call_session_id' is set
      if @api_client.config.client_side_validation && call_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_session_id' when calling CallTranscriptEntriesV2Api.call_transcript_entries_v2_list"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CallTranscriptEntriesV2Api.call_transcript_entries_v2_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CallTranscriptEntriesV2Api.call_transcript_entries_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/call_transcript_entries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'call_session_id'] = call_session_id
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CallTranscriptEntriesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CallTranscriptEntriesV2Api.call_transcript_entries_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallTranscriptEntriesV2Api#call_transcript_entries_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
