=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class CustomFieldOptionsV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Custom Field Options V1
    # Create a custom field option. If the sort key is not supplied, it'll default to 1000, so the option appears near the end of the list.
    # @param custom_field_options_create_payload_v1 [CustomFieldOptionsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldOptionsCreateResultV1]
    def custom_field_options_v1_create(custom_field_options_create_payload_v1, opts = {})
      data, _status_code, _headers = custom_field_options_v1_create_with_http_info(custom_field_options_create_payload_v1, opts)
      data
    end

    # Create Custom Field Options V1
    # Create a custom field option. If the sort key is not supplied, it&#39;ll default to 1000, so the option appears near the end of the list.
    # @param custom_field_options_create_payload_v1 [CustomFieldOptionsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldOptionsCreateResultV1, Integer, Hash)>] CustomFieldOptionsCreateResultV1 data, response status code and response headers
    def custom_field_options_v1_create_with_http_info(custom_field_options_create_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldOptionsV1Api.custom_field_options_v1_create ...'
      end
      # verify the required parameter 'custom_field_options_create_payload_v1' is set
      if @api_client.config.client_side_validation && custom_field_options_create_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'custom_field_options_create_payload_v1' when calling CustomFieldOptionsV1Api.custom_field_options_v1_create"
      end
      # resource path
      local_var_path = '/v1/custom_field_options'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(custom_field_options_create_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldOptionsCreateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldOptionsV1Api.custom_field_options_v1_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldOptionsV1Api#custom_field_options_v1_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Custom Field Options V1
    # Delete a custom field option
    # @param id [String] Unique identifier for the custom field option
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def custom_field_options_v1_delete(id, opts = {})
      custom_field_options_v1_delete_with_http_info(id, opts)
      nil
    end

    # Delete Custom Field Options V1
    # Delete a custom field option
    # @param id [String] Unique identifier for the custom field option
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def custom_field_options_v1_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldOptionsV1Api.custom_field_options_v1_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomFieldOptionsV1Api.custom_field_options_v1_delete"
      end
      # resource path
      local_var_path = '/v1/custom_field_options/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldOptionsV1Api.custom_field_options_v1_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldOptionsV1Api#custom_field_options_v1_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Custom Field Options V1
    # Show custom field options for a custom field
    # @param custom_field_id [String] The custom field to list options for.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A custom field option&#39;s ID. This endpoint will return a list of custom field options created after this option.
    # @return [CustomFieldOptionsListResultV1]
    def custom_field_options_v1_list(custom_field_id, opts = {})
      data, _status_code, _headers = custom_field_options_v1_list_with_http_info(custom_field_id, opts)
      data
    end

    # List Custom Field Options V1
    # Show custom field options for a custom field
    # @param custom_field_id [String] The custom field to list options for.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A custom field option&#39;s ID. This endpoint will return a list of custom field options created after this option.
    # @return [Array<(CustomFieldOptionsListResultV1, Integer, Hash)>] CustomFieldOptionsListResultV1 data, response status code and response headers
    def custom_field_options_v1_list_with_http_info(custom_field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldOptionsV1Api.custom_field_options_v1_list ...'
      end
      # verify the required parameter 'custom_field_id' is set
      if @api_client.config.client_side_validation && custom_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'custom_field_id' when calling CustomFieldOptionsV1Api.custom_field_options_v1_list"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CustomFieldOptionsV1Api.custom_field_options_v1_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling CustomFieldOptionsV1Api.custom_field_options_v1_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/custom_field_options'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'custom_field_id'] = custom_field_id
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldOptionsListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldOptionsV1Api.custom_field_options_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldOptionsV1Api#custom_field_options_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Custom Field Options V1
    # Get a single custom field option
    # @param id [String] Unique identifier for the custom field option
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldOptionsShowResultV1]
    def custom_field_options_v1_show(id, opts = {})
      data, _status_code, _headers = custom_field_options_v1_show_with_http_info(id, opts)
      data
    end

    # Show Custom Field Options V1
    # Get a single custom field option
    # @param id [String] Unique identifier for the custom field option
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldOptionsShowResultV1, Integer, Hash)>] CustomFieldOptionsShowResultV1 data, response status code and response headers
    def custom_field_options_v1_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldOptionsV1Api.custom_field_options_v1_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomFieldOptionsV1Api.custom_field_options_v1_show"
      end
      # resource path
      local_var_path = '/v1/custom_field_options/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldOptionsShowResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldOptionsV1Api.custom_field_options_v1_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldOptionsV1Api#custom_field_options_v1_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Custom Field Options V1
    # Update a custom field option
    # @param id [String] Unique identifier for the custom field option
    # @param custom_field_options_update_payload_v1 [CustomFieldOptionsUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldOptionsUpdateResultV1]
    def custom_field_options_v1_update(id, custom_field_options_update_payload_v1, opts = {})
      data, _status_code, _headers = custom_field_options_v1_update_with_http_info(id, custom_field_options_update_payload_v1, opts)
      data
    end

    # Update Custom Field Options V1
    # Update a custom field option
    # @param id [String] Unique identifier for the custom field option
    # @param custom_field_options_update_payload_v1 [CustomFieldOptionsUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldOptionsUpdateResultV1, Integer, Hash)>] CustomFieldOptionsUpdateResultV1 data, response status code and response headers
    def custom_field_options_v1_update_with_http_info(id, custom_field_options_update_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldOptionsV1Api.custom_field_options_v1_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomFieldOptionsV1Api.custom_field_options_v1_update"
      end
      # verify the required parameter 'custom_field_options_update_payload_v1' is set
      if @api_client.config.client_side_validation && custom_field_options_update_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'custom_field_options_update_payload_v1' when calling CustomFieldOptionsV1Api.custom_field_options_v1_update"
      end
      # resource path
      local_var_path = '/v1/custom_field_options/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(custom_field_options_update_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldOptionsUpdateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldOptionsV1Api.custom_field_options_v1_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldOptionsV1Api#custom_field_options_v1_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
