=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class CustomFieldsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Custom Fields V2
    # Create a new custom field
    # @param custom_fields_create_payload_v2 [CustomFieldsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldsCreateResultV2]
    def custom_fields_v2_create(custom_fields_create_payload_v2, opts = {})
      data, _status_code, _headers = custom_fields_v2_create_with_http_info(custom_fields_create_payload_v2, opts)
      data
    end

    # Create Custom Fields V2
    # Create a new custom field
    # @param custom_fields_create_payload_v2 [CustomFieldsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldsCreateResultV2, Integer, Hash)>] CustomFieldsCreateResultV2 data, response status code and response headers
    def custom_fields_v2_create_with_http_info(custom_fields_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsV2Api.custom_fields_v2_create ...'
      end
      # verify the required parameter 'custom_fields_create_payload_v2' is set
      if @api_client.config.client_side_validation && custom_fields_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'custom_fields_create_payload_v2' when calling CustomFieldsV2Api.custom_fields_v2_create"
      end
      # resource path
      local_var_path = '/v2/custom_fields'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(custom_fields_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldsV2Api.custom_fields_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsV2Api#custom_fields_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Custom Fields V2
    # Delete a custom field
    # @param id [String] Unique identifier for the custom field
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def custom_fields_v2_delete(id, opts = {})
      custom_fields_v2_delete_with_http_info(id, opts)
      nil
    end

    # Delete Custom Fields V2
    # Delete a custom field
    # @param id [String] Unique identifier for the custom field
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def custom_fields_v2_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsV2Api.custom_fields_v2_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomFieldsV2Api.custom_fields_v2_delete"
      end
      # resource path
      local_var_path = '/v2/custom_fields/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldsV2Api.custom_fields_v2_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsV2Api#custom_fields_v2_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Custom Fields V2
    # List all custom fields for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldsListResultV2]
    def custom_fields_v2_list(opts = {})
      data, _status_code, _headers = custom_fields_v2_list_with_http_info(opts)
      data
    end

    # List Custom Fields V2
    # List all custom fields for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldsListResultV2, Integer, Hash)>] CustomFieldsListResultV2 data, response status code and response headers
    def custom_fields_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsV2Api.custom_fields_v2_list ...'
      end
      # resource path
      local_var_path = '/v2/custom_fields'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldsV2Api.custom_fields_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsV2Api#custom_fields_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Custom Fields V2
    # Get a single custom field.
    # @param id [String] Unique identifier for the custom field
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldsShowResultV2]
    def custom_fields_v2_show(id, opts = {})
      data, _status_code, _headers = custom_fields_v2_show_with_http_info(id, opts)
      data
    end

    # Show Custom Fields V2
    # Get a single custom field.
    # @param id [String] Unique identifier for the custom field
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldsShowResultV2, Integer, Hash)>] CustomFieldsShowResultV2 data, response status code and response headers
    def custom_fields_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsV2Api.custom_fields_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomFieldsV2Api.custom_fields_v2_show"
      end
      # resource path
      local_var_path = '/v2/custom_fields/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldsV2Api.custom_fields_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsV2Api#custom_fields_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Custom Fields V2
    # Update the details of a custom field
    # @param id [String] Unique identifier for the custom field
    # @param custom_fields_update_payload_v2 [CustomFieldsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [CustomFieldsUpdateResultV2]
    def custom_fields_v2_update(id, custom_fields_update_payload_v2, opts = {})
      data, _status_code, _headers = custom_fields_v2_update_with_http_info(id, custom_fields_update_payload_v2, opts)
      data
    end

    # Update Custom Fields V2
    # Update the details of a custom field
    # @param id [String] Unique identifier for the custom field
    # @param custom_fields_update_payload_v2 [CustomFieldsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomFieldsUpdateResultV2, Integer, Hash)>] CustomFieldsUpdateResultV2 data, response status code and response headers
    def custom_fields_v2_update_with_http_info(id, custom_fields_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsV2Api.custom_fields_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomFieldsV2Api.custom_fields_v2_update"
      end
      # verify the required parameter 'custom_fields_update_payload_v2' is set
      if @api_client.config.client_side_validation && custom_fields_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'custom_fields_update_payload_v2' when calling CustomFieldsV2Api.custom_fields_v2_update"
      end
      # resource path
      local_var_path = '/v2/custom_fields/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(custom_fields_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomFieldsUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldsV2Api.custom_fields_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsV2Api#custom_fields_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
