=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class EscalationsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # CancelEscalation Escalations V2
    # Cancel an escalation.  Cancelling an escalation stops any further paging: notifications cease and the escalation will not advance to further levels or repeat. This works on escalations that are still paging (for example to silence a page when an incident is resolved before anyone acknowledges it) as well as snoozed ones. Escalations that have already resolved or expired cannot be cancelled, and cancelling an already-cancelled escalation is a no-op.  To use this API, you will need an API key with the \"Create and manage escalations\" permission.
    # @param id [String] Unique ID of the escalation
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def escalations_v2_cancel_escalation(id, opts = {})
      escalations_v2_cancel_escalation_with_http_info(id, opts)
      nil
    end

    # CancelEscalation Escalations V2
    # Cancel an escalation.  Cancelling an escalation stops any further paging: notifications cease and the escalation will not advance to further levels or repeat. This works on escalations that are still paging (for example to silence a page when an incident is resolved before anyone acknowledges it) as well as snoozed ones. Escalations that have already resolved or expired cannot be cancelled, and cancelling an already-cancelled escalation is a no-op.  To use this API, you will need an API key with the \&quot;Create and manage escalations\&quot; permission.
    # @param id [String] Unique ID of the escalation
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def escalations_v2_cancel_escalation_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_cancel_escalation ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EscalationsV2Api.escalations_v2_cancel_escalation"
      end
      # resource path
      local_var_path = '/v2/escalations/{id}/actions/cancel'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_cancel_escalation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_cancel_escalation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CheckEscalationPermissions Escalations V2
    # Check whether the given users can currently acknowledge, decline, or snooze an escalation.  This is a read-only projection of the escalation's current state, intended for deciding which response actions to surface to each user in a custom integration.  To use this API, you will need an API key that can view escalations and users.
    # @param escalation_id [String] The ID of the escalation
    # @param escalations_check_escalation_permissions_payload_v2 [EscalationsCheckEscalationPermissionsPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [EscalationsCheckEscalationPermissionsResultV2]
    def escalations_v2_check_escalation_permissions(escalation_id, escalations_check_escalation_permissions_payload_v2, opts = {})
      data, _status_code, _headers = escalations_v2_check_escalation_permissions_with_http_info(escalation_id, escalations_check_escalation_permissions_payload_v2, opts)
      data
    end

    # CheckEscalationPermissions Escalations V2
    # Check whether the given users can currently acknowledge, decline, or snooze an escalation.  This is a read-only projection of the escalation&#39;s current state, intended for deciding which response actions to surface to each user in a custom integration.  To use this API, you will need an API key that can view escalations and users.
    # @param escalation_id [String] The ID of the escalation
    # @param escalations_check_escalation_permissions_payload_v2 [EscalationsCheckEscalationPermissionsPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EscalationsCheckEscalationPermissionsResultV2, Integer, Hash)>] EscalationsCheckEscalationPermissionsResultV2 data, response status code and response headers
    def escalations_v2_check_escalation_permissions_with_http_info(escalation_id, escalations_check_escalation_permissions_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_check_escalation_permissions ...'
      end
      # verify the required parameter 'escalation_id' is set
      if @api_client.config.client_side_validation && escalation_id.nil?
        fail ArgumentError, "Missing the required parameter 'escalation_id' when calling EscalationsV2Api.escalations_v2_check_escalation_permissions"
      end
      # verify the required parameter 'escalations_check_escalation_permissions_payload_v2' is set
      if @api_client.config.client_side_validation && escalations_check_escalation_permissions_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'escalations_check_escalation_permissions_payload_v2' when calling EscalationsV2Api.escalations_v2_check_escalation_permissions"
      end
      # resource path
      local_var_path = '/v2/escalations/{escalation_id}/actions/check_permissions'.sub('{escalation_id}', CGI.escape(escalation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(escalations_check_escalation_permissions_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationsCheckEscalationPermissionsResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_check_escalation_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_check_escalation_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Escalations V2
    # Create an escalation.  An escalation pages people, either according to an escalation path, or directly to specific users. You must provide either an escalation_path_id OR user_ids, but not both.  When escalating via an escalation path, the escalation will follow the configured path with its levels and timeouts, using your default [alert priority](https://app.incident.io/~/settings/alerts/configuration/priorities).  When escalating directly to users, they will receive a high-urgency notification, based on their notification rules.  This endpoint is rate-limited to 60 requests per minute, since it is intended for interactive use cases (for example someone clicking a \"escalate to team\" button in your internal developer platform). To escalate based on automated alerts, we recommend sending events to an alert source instead.  If your API key's permissions are scoped to teams, you can only escalate via an escalation path that one of those teams owns. Escalating directly to user_ids needs the permission at the account level, because an escalation aimed at a person has no owning team. 
    # @param escalations_create_payload_v2 [EscalationsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [EscalationsCreateResultV2]
    def escalations_v2_create(escalations_create_payload_v2, opts = {})
      data, _status_code, _headers = escalations_v2_create_with_http_info(escalations_create_payload_v2, opts)
      data
    end

    # Create Escalations V2
    # Create an escalation.  An escalation pages people, either according to an escalation path, or directly to specific users. You must provide either an escalation_path_id OR user_ids, but not both.  When escalating via an escalation path, the escalation will follow the configured path with its levels and timeouts, using your default [alert priority](https://app.incident.io/~/settings/alerts/configuration/priorities).  When escalating directly to users, they will receive a high-urgency notification, based on their notification rules.  This endpoint is rate-limited to 60 requests per minute, since it is intended for interactive use cases (for example someone clicking a \&quot;escalate to team\&quot; button in your internal developer platform). To escalate based on automated alerts, we recommend sending events to an alert source instead.  If your API key&#39;s permissions are scoped to teams, you can only escalate via an escalation path that one of those teams owns. Escalating directly to user_ids needs the permission at the account level, because an escalation aimed at a person has no owning team. 
    # @param escalations_create_payload_v2 [EscalationsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EscalationsCreateResultV2, Integer, Hash)>] EscalationsCreateResultV2 data, response status code and response headers
    def escalations_v2_create_with_http_info(escalations_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_create ...'
      end
      # verify the required parameter 'escalations_create_payload_v2' is set
      if @api_client.config.client_side_validation && escalations_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'escalations_create_payload_v2' when calling EscalationsV2Api.escalations_v2_create"
      end
      # resource path
      local_var_path = '/v2/escalations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(escalations_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationsCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreatePath Escalations V2
    # Create an escalation path.  An escalation path is a series of steps that describe how a page should be escalated, represented as graph, supporting conditional branches based on alert priority and working intervals.  We recommend you create escalation paths in the incident.io dashboard where our path builder makes it easy to use conditions and visualise the path. 
    # @param escalations_create_path_payload_v2 [EscalationsCreatePathPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [EscalationsCreatePathResultV2]
    def escalations_v2_create_path(escalations_create_path_payload_v2, opts = {})
      data, _status_code, _headers = escalations_v2_create_path_with_http_info(escalations_create_path_payload_v2, opts)
      data
    end

    # CreatePath Escalations V2
    # Create an escalation path.  An escalation path is a series of steps that describe how a page should be escalated, represented as graph, supporting conditional branches based on alert priority and working intervals.  We recommend you create escalation paths in the incident.io dashboard where our path builder makes it easy to use conditions and visualise the path. 
    # @param escalations_create_path_payload_v2 [EscalationsCreatePathPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EscalationsCreatePathResultV2, Integer, Hash)>] EscalationsCreatePathResultV2 data, response status code and response headers
    def escalations_v2_create_path_with_http_info(escalations_create_path_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_create_path ...'
      end
      # verify the required parameter 'escalations_create_path_payload_v2' is set
      if @api_client.config.client_side_validation && escalations_create_path_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'escalations_create_path_payload_v2' when calling EscalationsV2Api.escalations_v2_create_path"
      end
      # resource path
      local_var_path = '/v2/escalation_paths'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(escalations_create_path_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationsCreatePathResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_create_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_create_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DestroyPath Escalations V2
    # Archives an escalation path.  We recommend you create escalation paths in the incident.io dashboard where our path builder makes it easy to use conditions and visualise the path. 
    # @param id [String] Unique identifier for this escalation path.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def escalations_v2_destroy_path(id, opts = {})
      escalations_v2_destroy_path_with_http_info(id, opts)
      nil
    end

    # DestroyPath Escalations V2
    # Archives an escalation path.  We recommend you create escalation paths in the incident.io dashboard where our path builder makes it easy to use conditions and visualise the path. 
    # @param id [String] Unique identifier for this escalation path.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def escalations_v2_destroy_path_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_destroy_path ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EscalationsV2Api.escalations_v2_destroy_path"
      end
      # resource path
      local_var_path = '/v2/escalation_paths/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_destroy_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_destroy_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Escalations V2
    # List all escalations for your account.  This endpoint supports a number of filters, which can help find escalations matching certain criteria.  Note that: - Filters may be used together, and the result will be escalations that match all filters. - All query parameters must be URI encoded.  To use this API, you will need an API key with the \"View data\" or \"Create and manage on-call resources\" permission.  ### By escalation_path  Find all escalations that escalated to escalation path with id=ABC:    curl --get 'https://api.incident.io/v2/escalations' \\    --data 'escalation_path[one_of]=ABC'  ### By status  Find all escalations with a current status of \"triggered\":    curl --get 'https://api.incident.io/v2/escalations' \\    --data 'status[one_of]=triggered'  Possible values are \"pending\", \"triggered\", \"acked\", \"resolved\", \"expired\" and \"cancelled\". Escalations are in \"pending\" when they are in a grace period when the related alert has been grouped in an incident.  ### By alert  Find all escalations that were created by alert with id=ABC:    curl --get 'https://api.incident.io/v2/escalations' \\    --data 'alert[one_of]=ABC'  ### By incident  Find all escalations related to incident with id=ABC:    curl --get 'https://api.incident.io/v2/escalations' \\    --data 'incident[one_of]=ABC'  An escalation is related to an incident if it is linked to that incident directly, if it is attached to one of the incident's alerts, or if it triggered one of those alerts (which is what happens when someone pages by calling in, and that call raises the alert).  To find everything that is not related to an incident, use \"not_in\":    curl --get 'https://api.incident.io/v2/escalations' \\    --data 'incident[not_in]=ABC'  ### By created_at and updated_at Find all escalations that follow specified date parameters for created_at and updated_at fields. Possible values are \"gte\" (greater than or equal to), \"lte\" (less than or equal to), and \"date_range\" (between two dates). For example, to find all escalations updated after 2025-01-01:    curl --get 'https://api.incident.io/v2/escalations' \\    --data 'updated_at[gte]=2025-01-01'  To find all escalations created between 2025-01-01 and 2025-01-31:    curl --get 'https://api.incident.io/v2/escalations' \\             --data 'created_at[date_range]=2025-01-01~2025-01-31' 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of escalations to return per page (default to 25)
    # @option opts [String] :after An escalation&#39;s ID. This endpoint will return a list of escalations after this ID in relation to the API response order.
    # @option opts [Hash<String, Array<String>>] :escalation_path Filter on the escalation path for which the escalation was triggered. Accepted operators are &#39;one_of&#39; and &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :status Filter on the status of the escalation. Accepted operators are &#39;one_of&#39; and &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :alert Filter on the alert that created an escalation. Accepted operators are &#39;one_of&#39; and &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :incident Filter on the incident that the escalation is connected to. Accepted operators are &#39;one_of&#39; and &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :created_at Filter on the created_at timestamp of the escalation. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :updated_at Filter on the updated_at timestamp of the escalation. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :idempotency_key Filter on the idempotency key of the escalation. This is the key set when creating escalations via the API, and is distinct from alert deduplication keys. Accepted operators are &#39;is&#39; for exact matches and &#39;starts_with&#39; for prefix matching.
    # @return [EscalationsListResultV2]
    def escalations_v2_list(opts = {})
      data, _status_code, _headers = escalations_v2_list_with_http_info(opts)
      data
    end

    # List Escalations V2
    # List all escalations for your account.  This endpoint supports a number of filters, which can help find escalations matching certain criteria.  Note that: - Filters may be used together, and the result will be escalations that match all filters. - All query parameters must be URI encoded.  To use this API, you will need an API key with the \&quot;View data\&quot; or \&quot;Create and manage on-call resources\&quot; permission.  ### By escalation_path  Find all escalations that escalated to escalation path with id&#x3D;ABC:    curl --get &#39;https://api.incident.io/v2/escalations&#39; \\    --data &#39;escalation_path[one_of]&#x3D;ABC&#39;  ### By status  Find all escalations with a current status of \&quot;triggered\&quot;:    curl --get &#39;https://api.incident.io/v2/escalations&#39; \\    --data &#39;status[one_of]&#x3D;triggered&#39;  Possible values are \&quot;pending\&quot;, \&quot;triggered\&quot;, \&quot;acked\&quot;, \&quot;resolved\&quot;, \&quot;expired\&quot; and \&quot;cancelled\&quot;. Escalations are in \&quot;pending\&quot; when they are in a grace period when the related alert has been grouped in an incident.  ### By alert  Find all escalations that were created by alert with id&#x3D;ABC:    curl --get &#39;https://api.incident.io/v2/escalations&#39; \\    --data &#39;alert[one_of]&#x3D;ABC&#39;  ### By incident  Find all escalations related to incident with id&#x3D;ABC:    curl --get &#39;https://api.incident.io/v2/escalations&#39; \\    --data &#39;incident[one_of]&#x3D;ABC&#39;  An escalation is related to an incident if it is linked to that incident directly, if it is attached to one of the incident&#39;s alerts, or if it triggered one of those alerts (which is what happens when someone pages by calling in, and that call raises the alert).  To find everything that is not related to an incident, use \&quot;not_in\&quot;:    curl --get &#39;https://api.incident.io/v2/escalations&#39; \\    --data &#39;incident[not_in]&#x3D;ABC&#39;  ### By created_at and updated_at Find all escalations that follow specified date parameters for created_at and updated_at fields. Possible values are \&quot;gte\&quot; (greater than or equal to), \&quot;lte\&quot; (less than or equal to), and \&quot;date_range\&quot; (between two dates). For example, to find all escalations updated after 2025-01-01:    curl --get &#39;https://api.incident.io/v2/escalations&#39; \\    --data &#39;updated_at[gte]&#x3D;2025-01-01&#39;  To find all escalations created between 2025-01-01 and 2025-01-31:    curl --get &#39;https://api.incident.io/v2/escalations&#39; \\             --data &#39;created_at[date_range]&#x3D;2025-01-01~2025-01-31&#39; 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of escalations to return per page (default to 25)
    # @option opts [String] :after An escalation&#39;s ID. This endpoint will return a list of escalations after this ID in relation to the API response order.
    # @option opts [Hash<String, Array<String>>] :escalation_path Filter on the escalation path for which the escalation was triggered. Accepted operators are &#39;one_of&#39; and &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :status Filter on the status of the escalation. Accepted operators are &#39;one_of&#39; and &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :alert Filter on the alert that created an escalation. Accepted operators are &#39;one_of&#39; and &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :incident Filter on the incident that the escalation is connected to. Accepted operators are &#39;one_of&#39; and &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :created_at Filter on the created_at timestamp of the escalation. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :updated_at Filter on the updated_at timestamp of the escalation. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :idempotency_key Filter on the idempotency key of the escalation. This is the key set when creating escalations via the API, and is distinct from alert deduplication keys. Accepted operators are &#39;is&#39; for exact matches and &#39;starts_with&#39; for prefix matching.
    # @return [Array<(EscalationsListResultV2, Integer, Hash)>] EscalationsListResultV2 data, response status code and response headers
    def escalations_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 50
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling EscalationsV2Api.escalations_v2_list, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling EscalationsV2Api.escalations_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/escalations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'escalation_path'] = opts[:'escalation_path'] if !opts[:'escalation_path'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'alert'] = opts[:'alert'] if !opts[:'alert'].nil?
      query_params[:'incident'] = opts[:'incident'] if !opts[:'incident'].nil?
      query_params[:'created_at'] = opts[:'created_at'] if !opts[:'created_at'].nil?
      query_params[:'updated_at'] = opts[:'updated_at'] if !opts[:'updated_at'].nil?
      query_params[:'idempotency_key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListPaths Escalations V2
    # List all escalation paths in your account.  An escalation path is a series of steps that describe how a page should be escalated, represented as a graph, supporting conditional branches based on alert priority and working intervals. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [EscalationsListPathsResultV2]
    def escalations_v2_list_paths(opts = {})
      data, _status_code, _headers = escalations_v2_list_paths_with_http_info(opts)
      data
    end

    # ListPaths Escalations V2
    # List all escalation paths in your account.  An escalation path is a series of steps that describe how a page should be escalated, represented as a graph, supporting conditional branches based on alert priority and working intervals. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [Array<(EscalationsListPathsResultV2, Integer, Hash)>] EscalationsListPathsResultV2 data, response status code and response headers
    def escalations_v2_list_paths_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_list_paths ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling EscalationsV2Api.escalations_v2_list_paths, must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling EscalationsV2Api.escalations_v2_list_paths, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/escalation_paths'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationsListPathsResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_list_paths",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_list_paths\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ReassignEscalation Escalations V2
    # Reassign an escalation to a different escalation path or set of users.  Use this when a page reached the wrong people. Reassigning creates a new escalation aimed at the targets you give, linked back to the original, and carries over the original's title, description, priority, incident and alert so the page stays attached to the same alert and acknowledgements keep grouping under it.  You must provide either an escalation_path_id OR user_ids, but not both. Both name incident.io escalation paths and users, so an escalation cannot be reassigned to an external escalator such as PagerDuty or Opsgenie.  By default the original escalation is resolved, so the first targets stop being paged. Pass resolve_original=false to leave it running alongside the new one. Resolving the original additionally needs the \"escalations.respond\" permission, since it stops a page someone else may be responding to.  An escalation can only be reassigned once: calling this again for the same escalation is rejected. Retrying a request whose response you never saw is safe in the sense that matters — a reassignment that already happened is never repeated, so nobody is paged twice — but the retry is rejected rather than returning the escalation the first call created, so keep the ID from the original response.  To use this API, you will need an API key with the \"Create and manage escalations\" permission. The reassignment is attributed to the key; to attribute it to one of your users instead, set the X-Incident-User header, which needs the \"api_keys.act_on_behalf_of_users\" scope.  If your API key's permissions are scoped to teams, the escalation you're reassigning must be owned by one of those teams, and you can only reassign via an escalation path one of them owns. Reassigning directly to user_ids needs the permission at the account level, because an escalation aimed at a person has no owning team.
    # @param escalation_id [String] The ID of the escalation to reassign
    # @param escalations_reassign_escalation_payload_v2 [EscalationsReassignEscalationPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [EscalationsReassignEscalationResultV2]
    def escalations_v2_reassign_escalation(escalation_id, escalations_reassign_escalation_payload_v2, opts = {})
      data, _status_code, _headers = escalations_v2_reassign_escalation_with_http_info(escalation_id, escalations_reassign_escalation_payload_v2, opts)
      data
    end

    # ReassignEscalation Escalations V2
    # Reassign an escalation to a different escalation path or set of users.  Use this when a page reached the wrong people. Reassigning creates a new escalation aimed at the targets you give, linked back to the original, and carries over the original&#39;s title, description, priority, incident and alert so the page stays attached to the same alert and acknowledgements keep grouping under it.  You must provide either an escalation_path_id OR user_ids, but not both. Both name incident.io escalation paths and users, so an escalation cannot be reassigned to an external escalator such as PagerDuty or Opsgenie.  By default the original escalation is resolved, so the first targets stop being paged. Pass resolve_original&#x3D;false to leave it running alongside the new one. Resolving the original additionally needs the \&quot;escalations.respond\&quot; permission, since it stops a page someone else may be responding to.  An escalation can only be reassigned once: calling this again for the same escalation is rejected. Retrying a request whose response you never saw is safe in the sense that matters — a reassignment that already happened is never repeated, so nobody is paged twice — but the retry is rejected rather than returning the escalation the first call created, so keep the ID from the original response.  To use this API, you will need an API key with the \&quot;Create and manage escalations\&quot; permission. The reassignment is attributed to the key; to attribute it to one of your users instead, set the X-Incident-User header, which needs the \&quot;api_keys.act_on_behalf_of_users\&quot; scope.  If your API key&#39;s permissions are scoped to teams, the escalation you&#39;re reassigning must be owned by one of those teams, and you can only reassign via an escalation path one of them owns. Reassigning directly to user_ids needs the permission at the account level, because an escalation aimed at a person has no owning team.
    # @param escalation_id [String] The ID of the escalation to reassign
    # @param escalations_reassign_escalation_payload_v2 [EscalationsReassignEscalationPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EscalationsReassignEscalationResultV2, Integer, Hash)>] EscalationsReassignEscalationResultV2 data, response status code and response headers
    def escalations_v2_reassign_escalation_with_http_info(escalation_id, escalations_reassign_escalation_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_reassign_escalation ...'
      end
      # verify the required parameter 'escalation_id' is set
      if @api_client.config.client_side_validation && escalation_id.nil?
        fail ArgumentError, "Missing the required parameter 'escalation_id' when calling EscalationsV2Api.escalations_v2_reassign_escalation"
      end
      # verify the required parameter 'escalations_reassign_escalation_payload_v2' is set
      if @api_client.config.client_side_validation && escalations_reassign_escalation_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'escalations_reassign_escalation_payload_v2' when calling EscalationsV2Api.escalations_v2_reassign_escalation"
      end
      # resource path
      local_var_path = '/v2/escalations/{escalation_id}/actions/reassign'.sub('{escalation_id}', CGI.escape(escalation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(escalations_reassign_escalation_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationsReassignEscalationResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_reassign_escalation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_reassign_escalation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # RespondEscalation Escalations V2
    # Respond to an escalation.  An API key can acknowledge or snooze an escalation on its own, and the response is attributed to the key.  Declining (\"nack\") means \"I personally can't take this page\", so it isn't available to an API key responding in its own right.  To use this API, you will need an API key with the \"Create and manage escalations\" permission.
    # @param escalation_id [String] The ID of the escalation
    # @param escalations_respond_escalation_payload_v2 [EscalationsRespondEscalationPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def escalations_v2_respond_escalation(escalation_id, escalations_respond_escalation_payload_v2, opts = {})
      escalations_v2_respond_escalation_with_http_info(escalation_id, escalations_respond_escalation_payload_v2, opts)
      nil
    end

    # RespondEscalation Escalations V2
    # Respond to an escalation.  An API key can acknowledge or snooze an escalation on its own, and the response is attributed to the key.  Declining (\&quot;nack\&quot;) means \&quot;I personally can&#39;t take this page\&quot;, so it isn&#39;t available to an API key responding in its own right.  To use this API, you will need an API key with the \&quot;Create and manage escalations\&quot; permission.
    # @param escalation_id [String] The ID of the escalation
    # @param escalations_respond_escalation_payload_v2 [EscalationsRespondEscalationPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def escalations_v2_respond_escalation_with_http_info(escalation_id, escalations_respond_escalation_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_respond_escalation ...'
      end
      # verify the required parameter 'escalation_id' is set
      if @api_client.config.client_side_validation && escalation_id.nil?
        fail ArgumentError, "Missing the required parameter 'escalation_id' when calling EscalationsV2Api.escalations_v2_respond_escalation"
      end
      # verify the required parameter 'escalations_respond_escalation_payload_v2' is set
      if @api_client.config.client_side_validation && escalations_respond_escalation_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'escalations_respond_escalation_payload_v2' when calling EscalationsV2Api.escalations_v2_respond_escalation"
      end
      # resource path
      local_var_path = '/v2/escalations/{escalation_id}/actions/respond'.sub('{escalation_id}', CGI.escape(escalation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(escalations_respond_escalation_payload_v2)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_respond_escalation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_respond_escalation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Escalations V2
    # Show a specific escalation.
    # @param id [String] Unique ID of the escalation
    # @param [Hash] opts the optional parameters
    # @return [EscalationsShowResultV2]
    def escalations_v2_show(id, opts = {})
      data, _status_code, _headers = escalations_v2_show_with_http_info(id, opts)
      data
    end

    # Show Escalations V2
    # Show a specific escalation.
    # @param id [String] Unique ID of the escalation
    # @param [Hash] opts the optional parameters
    # @return [Array<(EscalationsShowResultV2, Integer, Hash)>] EscalationsShowResultV2 data, response status code and response headers
    def escalations_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EscalationsV2Api.escalations_v2_show"
      end
      # resource path
      local_var_path = '/v2/escalations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowPath Escalations V2
    # Show an escalation path.  We recommend you create escalation paths in the incident.io dashboard where our path builder makes it easy to use conditions and visualise the path. 
    # @param id [String] Unique identifier for this escalation path.
    # @param [Hash] opts the optional parameters
    # @return [EscalationsShowPathResultV2]
    def escalations_v2_show_path(id, opts = {})
      data, _status_code, _headers = escalations_v2_show_path_with_http_info(id, opts)
      data
    end

    # ShowPath Escalations V2
    # Show an escalation path.  We recommend you create escalation paths in the incident.io dashboard where our path builder makes it easy to use conditions and visualise the path. 
    # @param id [String] Unique identifier for this escalation path.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EscalationsShowPathResultV2, Integer, Hash)>] EscalationsShowPathResultV2 data, response status code and response headers
    def escalations_v2_show_path_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_show_path ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EscalationsV2Api.escalations_v2_show_path"
      end
      # resource path
      local_var_path = '/v2/escalation_paths/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationsShowPathResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_show_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_show_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdatePath Escalations V2
    # Updates an escalation path.  We recommend you create escalation paths in the incident.io dashboard where our path builder makes it easy to use conditions and visualise the path. 
    # @param id [String] Unique identifier for this escalation path.
    # @param escalations_update_path_payload_v2 [EscalationsUpdatePathPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [EscalationsUpdatePathResultV2]
    def escalations_v2_update_path(id, escalations_update_path_payload_v2, opts = {})
      data, _status_code, _headers = escalations_v2_update_path_with_http_info(id, escalations_update_path_payload_v2, opts)
      data
    end

    # UpdatePath Escalations V2
    # Updates an escalation path.  We recommend you create escalation paths in the incident.io dashboard where our path builder makes it easy to use conditions and visualise the path. 
    # @param id [String] Unique identifier for this escalation path.
    # @param escalations_update_path_payload_v2 [EscalationsUpdatePathPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EscalationsUpdatePathResultV2, Integer, Hash)>] EscalationsUpdatePathResultV2 data, response status code and response headers
    def escalations_v2_update_path_with_http_info(id, escalations_update_path_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationsV2Api.escalations_v2_update_path ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EscalationsV2Api.escalations_v2_update_path"
      end
      # verify the required parameter 'escalations_update_path_payload_v2' is set
      if @api_client.config.client_side_validation && escalations_update_path_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'escalations_update_path_payload_v2' when calling EscalationsV2Api.escalations_v2_update_path"
      end
      # resource path
      local_var_path = '/v2/escalation_paths/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(escalations_update_path_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationsUpdatePathResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationsV2Api.escalations_v2_update_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationsV2Api#escalations_v2_update_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
