=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class EscalationPathTemplatesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Escalation Path Templates V2
    # Create a new escalation path template.
    # @param escalation_path_templates_create_payload_v2 [EscalationPathTemplatesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [EscalationPathTemplatesCreateResultV2]
    def escalation_path_templates_v2_create(escalation_path_templates_create_payload_v2, opts = {})
      data, _status_code, _headers = escalation_path_templates_v2_create_with_http_info(escalation_path_templates_create_payload_v2, opts)
      data
    end

    # Create Escalation Path Templates V2
    # Create a new escalation path template.
    # @param escalation_path_templates_create_payload_v2 [EscalationPathTemplatesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EscalationPathTemplatesCreateResultV2, Integer, Hash)>] EscalationPathTemplatesCreateResultV2 data, response status code and response headers
    def escalation_path_templates_v2_create_with_http_info(escalation_path_templates_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationPathTemplatesV2Api.escalation_path_templates_v2_create ...'
      end
      # verify the required parameter 'escalation_path_templates_create_payload_v2' is set
      if @api_client.config.client_side_validation && escalation_path_templates_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'escalation_path_templates_create_payload_v2' when calling EscalationPathTemplatesV2Api.escalation_path_templates_v2_create"
      end
      # resource path
      local_var_path = '/v2/escalation_path_templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(escalation_path_templates_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationPathTemplatesCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationPathTemplatesV2Api.escalation_path_templates_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationPathTemplatesV2Api#escalation_path_templates_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroy Escalation Path Templates V2
    # Archives a particular escalation path template.
    # @param id [String] Unique identifier for this template.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def escalation_path_templates_v2_destroy(id, opts = {})
      escalation_path_templates_v2_destroy_with_http_info(id, opts)
      nil
    end

    # Destroy Escalation Path Templates V2
    # Archives a particular escalation path template.
    # @param id [String] Unique identifier for this template.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def escalation_path_templates_v2_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationPathTemplatesV2Api.escalation_path_templates_v2_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EscalationPathTemplatesV2Api.escalation_path_templates_v2_destroy"
      end
      # resource path
      local_var_path = '/v2/escalation_path_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationPathTemplatesV2Api.escalation_path_templates_v2_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationPathTemplatesV2Api#escalation_path_templates_v2_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Escalation Path Templates V2
    # List active escalation path templates.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @option opts [String] :search Search query to filter results by name.
    # @return [EscalationPathTemplatesListResultV2]
    def escalation_path_templates_v2_list(opts = {})
      data, _status_code, _headers = escalation_path_templates_v2_list_with_http_info(opts)
      data
    end

    # List Escalation Path Templates V2
    # List active escalation path templates.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @option opts [String] :search Search query to filter results by name.
    # @return [Array<(EscalationPathTemplatesListResultV2, Integer, Hash)>] EscalationPathTemplatesListResultV2 data, response status code and response headers
    def escalation_path_templates_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationPathTemplatesV2Api.escalation_path_templates_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 25
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling EscalationPathTemplatesV2Api.escalation_path_templates_v2_list, must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling EscalationPathTemplatesV2Api.escalation_path_templates_v2_list, must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[^\x00]*$/)
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"search\"]' when calling EscalationPathTemplatesV2Api.escalation_path_templates_v2_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v2/escalation_path_templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationPathTemplatesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationPathTemplatesV2Api.escalation_path_templates_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationPathTemplatesV2Api#escalation_path_templates_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Escalation Path Templates V2
    # Show a particular escalation path template.
    # @param id [String] Unique identifier for this template.
    # @param [Hash] opts the optional parameters
    # @return [EscalationPathTemplatesShowResultV2]
    def escalation_path_templates_v2_show(id, opts = {})
      data, _status_code, _headers = escalation_path_templates_v2_show_with_http_info(id, opts)
      data
    end

    # Show Escalation Path Templates V2
    # Show a particular escalation path template.
    # @param id [String] Unique identifier for this template.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EscalationPathTemplatesShowResultV2, Integer, Hash)>] EscalationPathTemplatesShowResultV2 data, response status code and response headers
    def escalation_path_templates_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationPathTemplatesV2Api.escalation_path_templates_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EscalationPathTemplatesV2Api.escalation_path_templates_v2_show"
      end
      # resource path
      local_var_path = '/v2/escalation_path_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationPathTemplatesShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationPathTemplatesV2Api.escalation_path_templates_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationPathTemplatesV2Api#escalation_path_templates_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Escalation Path Templates V2
    # Update a particular escalation path template.
    # @param id [String] Unique identifier for this template.
    # @param escalation_path_templates_update_payload_v2 [EscalationPathTemplatesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [EscalationPathTemplatesUpdateResultV2]
    def escalation_path_templates_v2_update(id, escalation_path_templates_update_payload_v2, opts = {})
      data, _status_code, _headers = escalation_path_templates_v2_update_with_http_info(id, escalation_path_templates_update_payload_v2, opts)
      data
    end

    # Update Escalation Path Templates V2
    # Update a particular escalation path template.
    # @param id [String] Unique identifier for this template.
    # @param escalation_path_templates_update_payload_v2 [EscalationPathTemplatesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EscalationPathTemplatesUpdateResultV2, Integer, Hash)>] EscalationPathTemplatesUpdateResultV2 data, response status code and response headers
    def escalation_path_templates_v2_update_with_http_info(id, escalation_path_templates_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EscalationPathTemplatesV2Api.escalation_path_templates_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EscalationPathTemplatesV2Api.escalation_path_templates_v2_update"
      end
      # verify the required parameter 'escalation_path_templates_update_payload_v2' is set
      if @api_client.config.client_side_validation && escalation_path_templates_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'escalation_path_templates_update_payload_v2' when calling EscalationPathTemplatesV2Api.escalation_path_templates_v2_update"
      end
      # resource path
      local_var_path = '/v2/escalation_path_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(escalation_path_templates_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'EscalationPathTemplatesUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EscalationPathTemplatesV2Api.escalation_path_templates_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EscalationPathTemplatesV2Api#escalation_path_templates_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
