=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class FollowUpsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # ConnectExternalIssue Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use <code>POST /v3/follow_ups/{id}/actions/connect_external_issue</code> instead.  Connect a follow-up to an existing issue in an issue tracker, using the URL of the issue.  This will not work if the follow-up is already connected to an external issue. 
    # @param id [String] Unique identifier for the follow-up
    # @param follow_ups_connect_external_issue_payload_v2 [FollowUpsConnectExternalIssuePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [FollowUpsConnectExternalIssueResultV2]
    # @deprecated POST /v2/follow_ups/{id}/actions/connect_external_issue is deprecated and will be removed.
    def follow_ups_v2_connect_external_issue(id, follow_ups_connect_external_issue_payload_v2, opts = {})
      data, _status_code, _headers = follow_ups_v2_connect_external_issue_with_http_info(id, follow_ups_connect_external_issue_payload_v2, opts)
      data
    end

    # ConnectExternalIssue Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use &lt;code&gt;POST /v3/follow_ups/{id}/actions/connect_external_issue&lt;/code&gt; instead.  Connect a follow-up to an existing issue in an issue tracker, using the URL of the issue.  This will not work if the follow-up is already connected to an external issue. 
    # @param id [String] Unique identifier for the follow-up
    # @param follow_ups_connect_external_issue_payload_v2 [FollowUpsConnectExternalIssuePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowUpsConnectExternalIssueResultV2, Integer, Hash)>] FollowUpsConnectExternalIssueResultV2 data, response status code and response headers
    # @deprecated POST /v2/follow_ups/{id}/actions/connect_external_issue is deprecated and will be removed.
    def follow_ups_v2_connect_external_issue_with_http_info(id, follow_ups_connect_external_issue_payload_v2, opts = {})
      IncidentIo::Deprecation.warn("POST /v2/follow_ups/{id}/actions/connect_external_issue")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV2Api.follow_ups_v2_connect_external_issue ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FollowUpsV2Api.follow_ups_v2_connect_external_issue"
      end
      # verify the required parameter 'follow_ups_connect_external_issue_payload_v2' is set
      if @api_client.config.client_side_validation && follow_ups_connect_external_issue_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'follow_ups_connect_external_issue_payload_v2' when calling FollowUpsV2Api.follow_ups_v2_connect_external_issue"
      end
      # resource path
      local_var_path = '/v2/follow_ups/{id}/actions/connect_external_issue'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(follow_ups_connect_external_issue_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUpsConnectExternalIssueResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV2Api.follow_ups_v2_connect_external_issue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV2Api#follow_ups_v2_connect_external_issue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use <code>POST /v3/follow_ups</code> instead.  Create a new incident follow-up.
    # @param follow_ups_create_payload_v2 [FollowUpsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [FollowUpsCreateResultV2]
    # @deprecated POST /v2/follow_ups is deprecated and will be removed.
    def follow_ups_v2_create(follow_ups_create_payload_v2, opts = {})
      data, _status_code, _headers = follow_ups_v2_create_with_http_info(follow_ups_create_payload_v2, opts)
      data
    end

    # Create Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use &lt;code&gt;POST /v3/follow_ups&lt;/code&gt; instead.  Create a new incident follow-up.
    # @param follow_ups_create_payload_v2 [FollowUpsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowUpsCreateResultV2, Integer, Hash)>] FollowUpsCreateResultV2 data, response status code and response headers
    # @deprecated POST /v2/follow_ups is deprecated and will be removed.
    def follow_ups_v2_create_with_http_info(follow_ups_create_payload_v2, opts = {})
      IncidentIo::Deprecation.warn("POST /v2/follow_ups")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV2Api.follow_ups_v2_create ...'
      end
      # verify the required parameter 'follow_ups_create_payload_v2' is set
      if @api_client.config.client_side_validation && follow_ups_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'follow_ups_create_payload_v2' when calling FollowUpsV2Api.follow_ups_v2_create"
      end
      # resource path
      local_var_path = '/v2/follow_ups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(follow_ups_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUpsCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV2Api.follow_ups_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV2Api#follow_ups_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use <code>DELETE /v3/follow_ups/{id}</code> instead.  Delete an incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param [Hash] opts the optional parameters
    # @return [nil]
    # @deprecated DELETE /v2/follow_ups/{id} is deprecated and will be removed.
    def follow_ups_v2_delete(id, opts = {})
      follow_ups_v2_delete_with_http_info(id, opts)
      nil
    end

    # Delete Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use &lt;code&gt;DELETE /v3/follow_ups/{id}&lt;/code&gt; instead.  Delete an incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    # @deprecated DELETE /v2/follow_ups/{id} is deprecated and will be removed.
    def follow_ups_v2_delete_with_http_info(id, opts = {})
      IncidentIo::Deprecation.warn("DELETE /v2/follow_ups/{id}")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV2Api.follow_ups_v2_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FollowUpsV2Api.follow_ups_v2_delete"
      end
      # resource path
      local_var_path = '/v2/follow_ups/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV2Api.follow_ups_v2_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV2Api#follow_ups_v2_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use <code>GET /v3/follow_ups</code> instead.  List all follow-ups for an organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :incident_id Find follow-ups related to this incident
    # @option opts [String] :incident_mode Filter to follow-ups from incidents of the given mode. If not set, only follow-ups from &#x60;standard&#x60; and &#x60;retrospective&#x60; incidents are returned
    # @option opts [String] :assignee_team_id Filter follow-ups that are assigned to the given team
    # @return [FollowUpsListResultV2]
    # @deprecated GET /v2/follow_ups is deprecated and will be removed.
    def follow_ups_v2_list(opts = {})
      data, _status_code, _headers = follow_ups_v2_list_with_http_info(opts)
      data
    end

    # List Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use &lt;code&gt;GET /v3/follow_ups&lt;/code&gt; instead.  List all follow-ups for an organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :incident_id Find follow-ups related to this incident
    # @option opts [String] :incident_mode Filter to follow-ups from incidents of the given mode. If not set, only follow-ups from &#x60;standard&#x60; and &#x60;retrospective&#x60; incidents are returned
    # @option opts [String] :assignee_team_id Filter follow-ups that are assigned to the given team
    # @return [Array<(FollowUpsListResultV2, Integer, Hash)>] FollowUpsListResultV2 data, response status code and response headers
    # @deprecated GET /v2/follow_ups is deprecated and will be removed.
    def follow_ups_v2_list_with_http_info(opts = {})
      IncidentIo::Deprecation.warn("GET /v2/follow_ups")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV2Api.follow_ups_v2_list ...'
      end
      # resource path
      local_var_path = '/v2/follow_ups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'incident_id'] = opts[:'incident_id'] if !opts[:'incident_id'].nil?
      query_params[:'incident_mode'] = opts[:'incident_mode'] if !opts[:'incident_mode'].nil?
      query_params[:'assignee_team_id'] = opts[:'assignee_team_id'] if !opts[:'assignee_team_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUpsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV2Api.follow_ups_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV2Api#follow_ups_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use <code>GET /v3/follow_ups/{id}</code> instead.  Get a single incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param [Hash] opts the optional parameters
    # @return [FollowUpsShowResultV2]
    # @deprecated GET /v2/follow_ups/{id} is deprecated and will be removed.
    def follow_ups_v2_show(id, opts = {})
      data, _status_code, _headers = follow_ups_v2_show_with_http_info(id, opts)
      data
    end

    # Show Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use &lt;code&gt;GET /v3/follow_ups/{id}&lt;/code&gt; instead.  Get a single incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowUpsShowResultV2, Integer, Hash)>] FollowUpsShowResultV2 data, response status code and response headers
    # @deprecated GET /v2/follow_ups/{id} is deprecated and will be removed.
    def follow_ups_v2_show_with_http_info(id, opts = {})
      IncidentIo::Deprecation.warn("GET /v2/follow_ups/{id}")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV2Api.follow_ups_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FollowUpsV2Api.follow_ups_v2_show"
      end
      # resource path
      local_var_path = '/v2/follow_ups/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUpsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV2Api.follow_ups_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV2Api#follow_ups_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use <code>PUT /v3/follow_ups/{id}</code> instead.  Update an existing incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param follow_ups_update_payload_v2 [FollowUpsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [FollowUpsUpdateResultV2]
    # @deprecated PUT /v2/follow_ups/{id} is deprecated and will be removed.
    def follow_ups_v2_update(id, follow_ups_update_payload_v2, opts = {})
      data, _status_code, _headers = follow_ups_v2_update_with_http_info(id, follow_ups_update_payload_v2, opts)
      data
    end

    # Update Follow-ups V2
    # Deprecated: this endpoint will be removed on 31 December 2026. Use &lt;code&gt;PUT /v3/follow_ups/{id}&lt;/code&gt; instead.  Update an existing incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param follow_ups_update_payload_v2 [FollowUpsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowUpsUpdateResultV2, Integer, Hash)>] FollowUpsUpdateResultV2 data, response status code and response headers
    # @deprecated PUT /v2/follow_ups/{id} is deprecated and will be removed.
    def follow_ups_v2_update_with_http_info(id, follow_ups_update_payload_v2, opts = {})
      IncidentIo::Deprecation.warn("PUT /v2/follow_ups/{id}")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV2Api.follow_ups_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FollowUpsV2Api.follow_ups_v2_update"
      end
      # verify the required parameter 'follow_ups_update_payload_v2' is set
      if @api_client.config.client_side_validation && follow_ups_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'follow_ups_update_payload_v2' when calling FollowUpsV2Api.follow_ups_v2_update"
      end
      # resource path
      local_var_path = '/v2/follow_ups/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(follow_ups_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUpsUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV2Api.follow_ups_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV2Api#follow_ups_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
