=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class FollowUpsV3Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # ConnectExternalIssue Follow-ups V3
    # Connect a follow-up to an existing issue in an issue tracker, using the URL of the issue.  This will not work if the follow-up is already connected to an external issue. 
    # @param id [String] Unique identifier for the follow-up
    # @param follow_ups_connect_external_issue_payload_v3 [FollowUpsConnectExternalIssuePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [FollowUpsConnectExternalIssueResultV3]
    def follow_ups_v3_connect_external_issue(id, follow_ups_connect_external_issue_payload_v3, opts = {})
      data, _status_code, _headers = follow_ups_v3_connect_external_issue_with_http_info(id, follow_ups_connect_external_issue_payload_v3, opts)
      data
    end

    # ConnectExternalIssue Follow-ups V3
    # Connect a follow-up to an existing issue in an issue tracker, using the URL of the issue.  This will not work if the follow-up is already connected to an external issue. 
    # @param id [String] Unique identifier for the follow-up
    # @param follow_ups_connect_external_issue_payload_v3 [FollowUpsConnectExternalIssuePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowUpsConnectExternalIssueResultV3, Integer, Hash)>] FollowUpsConnectExternalIssueResultV3 data, response status code and response headers
    def follow_ups_v3_connect_external_issue_with_http_info(id, follow_ups_connect_external_issue_payload_v3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV3Api.follow_ups_v3_connect_external_issue ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FollowUpsV3Api.follow_ups_v3_connect_external_issue"
      end
      # verify the required parameter 'follow_ups_connect_external_issue_payload_v3' is set
      if @api_client.config.client_side_validation && follow_ups_connect_external_issue_payload_v3.nil?
        fail ArgumentError, "Missing the required parameter 'follow_ups_connect_external_issue_payload_v3' when calling FollowUpsV3Api.follow_ups_v3_connect_external_issue"
      end
      # resource path
      local_var_path = '/v3/follow_ups/{id}/actions/connect_external_issue'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(follow_ups_connect_external_issue_payload_v3)

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUpsConnectExternalIssueResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV3Api.follow_ups_v3_connect_external_issue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV3Api#follow_ups_v3_connect_external_issue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Follow-ups V3
    # Create a new incident follow-up.
    # @param follow_ups_create_payload_v3 [FollowUpsCreatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [FollowUpsCreateResultV3]
    def follow_ups_v3_create(follow_ups_create_payload_v3, opts = {})
      data, _status_code, _headers = follow_ups_v3_create_with_http_info(follow_ups_create_payload_v3, opts)
      data
    end

    # Create Follow-ups V3
    # Create a new incident follow-up.
    # @param follow_ups_create_payload_v3 [FollowUpsCreatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowUpsCreateResultV3, Integer, Hash)>] FollowUpsCreateResultV3 data, response status code and response headers
    def follow_ups_v3_create_with_http_info(follow_ups_create_payload_v3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV3Api.follow_ups_v3_create ...'
      end
      # verify the required parameter 'follow_ups_create_payload_v3' is set
      if @api_client.config.client_side_validation && follow_ups_create_payload_v3.nil?
        fail ArgumentError, "Missing the required parameter 'follow_ups_create_payload_v3' when calling FollowUpsV3Api.follow_ups_v3_create"
      end
      # resource path
      local_var_path = '/v3/follow_ups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(follow_ups_create_payload_v3)

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUpsCreateResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV3Api.follow_ups_v3_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV3Api#follow_ups_v3_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateFromLink Follow-ups V3
    # Create a follow-up from the URL of an issue that already exists in an issue tracker.  The follow-up is created already connected to that issue, so it will not also be exported to a new one. Prefer this over creating a follow-up and then connecting it: that sequence races the automatic export, which can leave you with a duplicate issue or a connect call that fails because the export won.  The follow-up's title, description and assignee are taken from the issue, and it is backdated to the issue's creation time. Its priority is taken from the issue only if your organisation has priority sync enabled, and otherwise falls back to your default priority.  Issues that are already closed are accepted: the follow-up records the issue's completion time, though it is still created with an <code>outstanding</code> status until the next sync from the issue tracker.  If your organisation requires a follow-up owner and the issue is unassigned, the incident lead is used instead. Where there is no incident lead either, this returns a validation error rather than creating an unowned follow-up. 
    # @param follow_ups_create_from_link_payload_v3 [FollowUpsCreateFromLinkPayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [FollowUpsCreateFromLinkResultV3]
    def follow_ups_v3_create_from_link(follow_ups_create_from_link_payload_v3, opts = {})
      data, _status_code, _headers = follow_ups_v3_create_from_link_with_http_info(follow_ups_create_from_link_payload_v3, opts)
      data
    end

    # CreateFromLink Follow-ups V3
    # Create a follow-up from the URL of an issue that already exists in an issue tracker.  The follow-up is created already connected to that issue, so it will not also be exported to a new one. Prefer this over creating a follow-up and then connecting it: that sequence races the automatic export, which can leave you with a duplicate issue or a connect call that fails because the export won.  The follow-up&#39;s title, description and assignee are taken from the issue, and it is backdated to the issue&#39;s creation time. Its priority is taken from the issue only if your organisation has priority sync enabled, and otherwise falls back to your default priority.  Issues that are already closed are accepted: the follow-up records the issue&#39;s completion time, though it is still created with an &lt;code&gt;outstanding&lt;/code&gt; status until the next sync from the issue tracker.  If your organisation requires a follow-up owner and the issue is unassigned, the incident lead is used instead. Where there is no incident lead either, this returns a validation error rather than creating an unowned follow-up. 
    # @param follow_ups_create_from_link_payload_v3 [FollowUpsCreateFromLinkPayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowUpsCreateFromLinkResultV3, Integer, Hash)>] FollowUpsCreateFromLinkResultV3 data, response status code and response headers
    def follow_ups_v3_create_from_link_with_http_info(follow_ups_create_from_link_payload_v3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV3Api.follow_ups_v3_create_from_link ...'
      end
      # verify the required parameter 'follow_ups_create_from_link_payload_v3' is set
      if @api_client.config.client_side_validation && follow_ups_create_from_link_payload_v3.nil?
        fail ArgumentError, "Missing the required parameter 'follow_ups_create_from_link_payload_v3' when calling FollowUpsV3Api.follow_ups_v3_create_from_link"
      end
      # resource path
      local_var_path = '/v3/follow_ups/actions/create_from_link'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(follow_ups_create_from_link_payload_v3)

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUpsCreateFromLinkResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV3Api.follow_ups_v3_create_from_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV3Api#follow_ups_v3_create_from_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Follow-ups V3
    # Delete an incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def follow_ups_v3_delete(id, opts = {})
      follow_ups_v3_delete_with_http_info(id, opts)
      nil
    end

    # Delete Follow-ups V3
    # Delete an incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def follow_ups_v3_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV3Api.follow_ups_v3_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FollowUpsV3Api.follow_ups_v3_delete"
      end
      # resource path
      local_var_path = '/v3/follow_ups/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV3Api.follow_ups_v3_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV3Api#follow_ups_v3_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Follow-ups V3
    # List follow-ups for an organisation.  Results are paginated and ordered by follow-up ID, oldest first. Use the <code>after</code> value from <code>pagination_meta</code> to fetch the next page; it is only set when there may be more results.  ### By created_at and updated_at  Both timestamp filters accept the operators \"gte\" (greater than or equal to), \"lte\" (less than or equal to) and \"date_range\" (between two dates). The following example finds all follow-ups updated after 2025-01-01:    curl --get 'https://api.incident.io/v3/follow_ups' \\    --data 'updated_at[gte]=2025-01-01T00:00:00Z'  To find follow-ups created within a specific date range, use the date_range operator with tilde-separated dates:    curl --get 'https://api.incident.io/v3/follow_ups' \\    --data 'created_at[date_range]=2024-12-02~2024-12-08'  Filtering on updated_at is useful for incrementally syncing follow-ups: poll with updated_at[gte] set to your last sync time instead of re-fetching the full history. Two caveats: updated_at moves whenever the follow-up row itself is written, but changes to embedded objects (e.g. an assignee being renamed, or an external issue's status text) can alter the payload without bumping it. And timestamps are stamped before commit, so a follow-up can become visible with an older updated_at than rows you have already seen — overlap your sync window by a few minutes to allow for writes that commit out of timestamp order. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A follow-up&#39;s ID. This endpoint will return a list of follow-ups after this ID in relation to the API response order.
    # @option opts [String] :incident_id Find follow-ups related to this incident
    # @option opts [String] :incident_mode Filter to follow-ups from incidents of the given mode. If not set, only follow-ups from &#x60;standard&#x60; and &#x60;retrospective&#x60; incidents are returned
    # @option opts [String] :assignee_team_id Filter follow-ups that are assigned to the given team
    # @option opts [Hash<String, Array<String>>] :created_at Filter on follow-up created at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :updated_at Filter on follow-up updated at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @return [FollowUpsListResultV3]
    def follow_ups_v3_list(opts = {})
      data, _status_code, _headers = follow_ups_v3_list_with_http_info(opts)
      data
    end

    # List Follow-ups V3
    # List follow-ups for an organisation.  Results are paginated and ordered by follow-up ID, oldest first. Use the &lt;code&gt;after&lt;/code&gt; value from &lt;code&gt;pagination_meta&lt;/code&gt; to fetch the next page; it is only set when there may be more results.  ### By created_at and updated_at  Both timestamp filters accept the operators \&quot;gte\&quot; (greater than or equal to), \&quot;lte\&quot; (less than or equal to) and \&quot;date_range\&quot; (between two dates). The following example finds all follow-ups updated after 2025-01-01:    curl --get &#39;https://api.incident.io/v3/follow_ups&#39; \\    --data &#39;updated_at[gte]&#x3D;2025-01-01T00:00:00Z&#39;  To find follow-ups created within a specific date range, use the date_range operator with tilde-separated dates:    curl --get &#39;https://api.incident.io/v3/follow_ups&#39; \\    --data &#39;created_at[date_range]&#x3D;2024-12-02~2024-12-08&#39;  Filtering on updated_at is useful for incrementally syncing follow-ups: poll with updated_at[gte] set to your last sync time instead of re-fetching the full history. Two caveats: updated_at moves whenever the follow-up row itself is written, but changes to embedded objects (e.g. an assignee being renamed, or an external issue&#39;s status text) can alter the payload without bumping it. And timestamps are stamped before commit, so a follow-up can become visible with an older updated_at than rows you have already seen — overlap your sync window by a few minutes to allow for writes that commit out of timestamp order. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A follow-up&#39;s ID. This endpoint will return a list of follow-ups after this ID in relation to the API response order.
    # @option opts [String] :incident_id Find follow-ups related to this incident
    # @option opts [String] :incident_mode Filter to follow-ups from incidents of the given mode. If not set, only follow-ups from &#x60;standard&#x60; and &#x60;retrospective&#x60; incidents are returned
    # @option opts [String] :assignee_team_id Filter follow-ups that are assigned to the given team
    # @option opts [Hash<String, Array<String>>] :created_at Filter on follow-up created at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :updated_at Filter on follow-up updated at timestamp. Accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @return [Array<(FollowUpsListResultV3, Integer, Hash)>] FollowUpsListResultV3 data, response status code and response headers
    def follow_ups_v3_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV3Api.follow_ups_v3_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FollowUpsV3Api.follow_ups_v3_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling FollowUpsV3Api.follow_ups_v3_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v3/follow_ups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'incident_id'] = opts[:'incident_id'] if !opts[:'incident_id'].nil?
      query_params[:'incident_mode'] = opts[:'incident_mode'] if !opts[:'incident_mode'].nil?
      query_params[:'assignee_team_id'] = opts[:'assignee_team_id'] if !opts[:'assignee_team_id'].nil?
      query_params[:'created_at'] = opts[:'created_at'] if !opts[:'created_at'].nil?
      query_params[:'updated_at'] = opts[:'updated_at'] if !opts[:'updated_at'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUpsListResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV3Api.follow_ups_v3_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV3Api#follow_ups_v3_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Follow-ups V3
    # Get a single incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param [Hash] opts the optional parameters
    # @return [FollowUpsShowResultV3]
    def follow_ups_v3_show(id, opts = {})
      data, _status_code, _headers = follow_ups_v3_show_with_http_info(id, opts)
      data
    end

    # Show Follow-ups V3
    # Get a single incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowUpsShowResultV3, Integer, Hash)>] FollowUpsShowResultV3 data, response status code and response headers
    def follow_ups_v3_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV3Api.follow_ups_v3_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FollowUpsV3Api.follow_ups_v3_show"
      end
      # resource path
      local_var_path = '/v3/follow_ups/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUpsShowResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV3Api.follow_ups_v3_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV3Api#follow_ups_v3_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Follow-ups V3
    # Update an existing incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param follow_ups_update_payload_v3 [FollowUpsUpdatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [FollowUpsUpdateResultV3]
    def follow_ups_v3_update(id, follow_ups_update_payload_v3, opts = {})
      data, _status_code, _headers = follow_ups_v3_update_with_http_info(id, follow_ups_update_payload_v3, opts)
      data
    end

    # Update Follow-ups V3
    # Update an existing incident follow-up.
    # @param id [String] Unique identifier for the follow-up
    # @param follow_ups_update_payload_v3 [FollowUpsUpdatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowUpsUpdateResultV3, Integer, Hash)>] FollowUpsUpdateResultV3 data, response status code and response headers
    def follow_ups_v3_update_with_http_info(id, follow_ups_update_payload_v3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FollowUpsV3Api.follow_ups_v3_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FollowUpsV3Api.follow_ups_v3_update"
      end
      # verify the required parameter 'follow_ups_update_payload_v3' is set
      if @api_client.config.client_side_validation && follow_ups_update_payload_v3.nil?
        fail ArgumentError, "Missing the required parameter 'follow_ups_update_payload_v3' when calling FollowUpsV3Api.follow_ups_v3_update"
      end
      # resource path
      local_var_path = '/v3/follow_ups/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(follow_ups_update_payload_v3)

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUpsUpdateResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"FollowUpsV3Api.follow_ups_v3_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FollowUpsV3Api#follow_ups_v3_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
