=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class HeartbeatV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ping Heartbeat V2
    # Send a heartbeat ping for the specified alert source.  Records a ping, indicating that the monitored job or service is healthy. The heartbeat monitor uses these pings to detect missed heartbeats and fire alerts. Both GET and POST are accepted 
    # @param alert_source_config_id [String] The alert source config this heartbeat ping is for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token Token provided via the token query parameter
    # @option opts [String] :authorization Bearer token provided via the Authorization header
    # @return [nil]
    def heartbeat_v2_ping(alert_source_config_id, opts = {})
      heartbeat_v2_ping_with_http_info(alert_source_config_id, opts)
      nil
    end

    # Ping Heartbeat V2
    # Send a heartbeat ping for the specified alert source.  Records a ping, indicating that the monitored job or service is healthy. The heartbeat monitor uses these pings to detect missed heartbeats and fire alerts. Both GET and POST are accepted 
    # @param alert_source_config_id [String] The alert source config this heartbeat ping is for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token Token provided via the token query parameter
    # @option opts [String] :authorization Bearer token provided via the Authorization header
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def heartbeat_v2_ping_with_http_info(alert_source_config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HeartbeatV2Api.heartbeat_v2_ping ...'
      end
      # verify the required parameter 'alert_source_config_id' is set
      if @api_client.config.client_side_validation && alert_source_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_source_config_id' when calling HeartbeatV2Api.heartbeat_v2_ping"
      end
      # resource path
      local_var_path = '/v2/heartbeat/{alert_source_config_id}/ping'.sub('{alert_source_config_id}', CGI.escape(alert_source_config_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"HeartbeatV2Api.heartbeat_v2_ping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HeartbeatV2Api#heartbeat_v2_ping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Ping Heartbeat V2
    # Send a heartbeat ping for the specified alert source.  Records a ping, indicating that the monitored job or service is healthy. The heartbeat monitor uses these pings to detect missed heartbeats and fire alerts. Both GET and POST are accepted 
    # @param alert_source_config_id [String] The alert source config this heartbeat ping is for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token Token provided via the token query parameter
    # @option opts [String] :authorization Bearer token provided via the Authorization header
    # @return [nil]
    def heartbeat_v2_ping1(alert_source_config_id, opts = {})
      heartbeat_v2_ping1_with_http_info(alert_source_config_id, opts)
      nil
    end

    # Ping Heartbeat V2
    # Send a heartbeat ping for the specified alert source.  Records a ping, indicating that the monitored job or service is healthy. The heartbeat monitor uses these pings to detect missed heartbeats and fire alerts. Both GET and POST are accepted 
    # @param alert_source_config_id [String] The alert source config this heartbeat ping is for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token Token provided via the token query parameter
    # @option opts [String] :authorization Bearer token provided via the Authorization header
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def heartbeat_v2_ping1_with_http_info(alert_source_config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HeartbeatV2Api.heartbeat_v2_ping1 ...'
      end
      # verify the required parameter 'alert_source_config_id' is set
      if @api_client.config.client_side_validation && alert_source_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_source_config_id' when calling HeartbeatV2Api.heartbeat_v2_ping1"
      end
      # resource path
      local_var_path = '/v2/heartbeat/{alert_source_config_id}/ping'.sub('{alert_source_config_id}', CGI.escape(alert_source_config_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"HeartbeatV2Api.heartbeat_v2_ping1",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HeartbeatV2Api#heartbeat_v2_ping1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
