=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentUpdatesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Incident Updates V2
    # Share an update against an incident.  An update can carry a message, move the incident to a new status, change its severity, or any combination of the three. At least one of them must be provided.  Which permissions you need depends on what the update does: changing status requires permission to update an incident's status, and changing severity permission to update its severity. 
    # @param incident_updates_create_payload_v2 [IncidentUpdatesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentUpdatesCreateResultV2]
    def incident_updates_v2_create(incident_updates_create_payload_v2, opts = {})
      data, _status_code, _headers = incident_updates_v2_create_with_http_info(incident_updates_create_payload_v2, opts)
      data
    end

    # Create Incident Updates V2
    # Share an update against an incident.  An update can carry a message, move the incident to a new status, change its severity, or any combination of the three. At least one of them must be provided.  Which permissions you need depends on what the update does: changing status requires permission to update an incident&#39;s status, and changing severity permission to update its severity. 
    # @param incident_updates_create_payload_v2 [IncidentUpdatesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentUpdatesCreateResultV2, Integer, Hash)>] IncidentUpdatesCreateResultV2 data, response status code and response headers
    def incident_updates_v2_create_with_http_info(incident_updates_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentUpdatesV2Api.incident_updates_v2_create ...'
      end
      # verify the required parameter 'incident_updates_create_payload_v2' is set
      if @api_client.config.client_side_validation && incident_updates_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'incident_updates_create_payload_v2' when calling IncidentUpdatesV2Api.incident_updates_v2_create"
      end
      # resource path
      local_var_path = '/v2/incident_updates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_updates_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentUpdatesCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentUpdatesV2Api.incident_updates_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentUpdatesV2Api#incident_updates_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Incident Updates V2
    # List all incident updates for an organisation, or for a specific incident.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :incident_id Incident whose updates you want to list
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [IncidentUpdatesListResultV2]
    def incident_updates_v2_list(opts = {})
      data, _status_code, _headers = incident_updates_v2_list_with_http_info(opts)
      data
    end

    # List Incident Updates V2
    # List all incident updates for an organisation, or for a specific incident.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :incident_id Incident whose updates you want to list
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [Array<(IncidentUpdatesListResultV2, Integer, Hash)>] IncidentUpdatesListResultV2 data, response status code and response headers
    def incident_updates_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentUpdatesV2Api.incident_updates_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentUpdatesV2Api.incident_updates_v2_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentUpdatesV2Api.incident_updates_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/incident_updates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'incident_id'] = opts[:'incident_id'] if !opts[:'incident_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentUpdatesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentUpdatesV2Api.incident_updates_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentUpdatesV2Api#incident_updates_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
