=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentTeamMembershipsV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Incident Team Memberships V1
    # Grants a team access to a private incident
    # @param incident_team_memberships_create_payload_v1 [IncidentTeamMembershipsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentTeamMembershipsCreateResultV1]
    def incident_team_memberships_v1_create(incident_team_memberships_create_payload_v1, opts = {})
      data, _status_code, _headers = incident_team_memberships_v1_create_with_http_info(incident_team_memberships_create_payload_v1, opts)
      data
    end

    # Create Incident Team Memberships V1
    # Grants a team access to a private incident
    # @param incident_team_memberships_create_payload_v1 [IncidentTeamMembershipsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentTeamMembershipsCreateResultV1, Integer, Hash)>] IncidentTeamMembershipsCreateResultV1 data, response status code and response headers
    def incident_team_memberships_v1_create_with_http_info(incident_team_memberships_create_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTeamMembershipsV1Api.incident_team_memberships_v1_create ...'
      end
      # verify the required parameter 'incident_team_memberships_create_payload_v1' is set
      if @api_client.config.client_side_validation && incident_team_memberships_create_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'incident_team_memberships_create_payload_v1' when calling IncidentTeamMembershipsV1Api.incident_team_memberships_v1_create"
      end
      # resource path
      local_var_path = '/v1/incident_team_memberships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_team_memberships_create_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTeamMembershipsCreateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTeamMembershipsV1Api.incident_team_memberships_v1_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTeamMembershipsV1Api#incident_team_memberships_v1_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke Incident Team Memberships V1
    # Revoke a team's access to a private incident. Members who only had access through this team lose it too; directly-added members and members still covered by another team keep theirs.
    # @param incident_team_memberships_revoke_payload_v1 [IncidentTeamMembershipsRevokePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def incident_team_memberships_v1_revoke(incident_team_memberships_revoke_payload_v1, opts = {})
      incident_team_memberships_v1_revoke_with_http_info(incident_team_memberships_revoke_payload_v1, opts)
      nil
    end

    # Revoke Incident Team Memberships V1
    # Revoke a team&#39;s access to a private incident. Members who only had access through this team lose it too; directly-added members and members still covered by another team keep theirs.
    # @param incident_team_memberships_revoke_payload_v1 [IncidentTeamMembershipsRevokePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def incident_team_memberships_v1_revoke_with_http_info(incident_team_memberships_revoke_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTeamMembershipsV1Api.incident_team_memberships_v1_revoke ...'
      end
      # verify the required parameter 'incident_team_memberships_revoke_payload_v1' is set
      if @api_client.config.client_side_validation && incident_team_memberships_revoke_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'incident_team_memberships_revoke_payload_v1' when calling IncidentTeamMembershipsV1Api.incident_team_memberships_v1_revoke"
      end
      # resource path
      local_var_path = '/v1/incident_team_memberships/actions/revoke'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_team_memberships_revoke_payload_v1)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTeamMembershipsV1Api.incident_team_memberships_v1_revoke",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTeamMembershipsV1Api#incident_team_memberships_v1_revoke\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
