=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentsV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Incidents V1
    # Create a new incident.
    # @param incidents_create_payload_v1 [IncidentsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentsCreateResultV1]
    # @deprecated POST /v1/incidents is deprecated and will be removed.
    def incidents_v1_create(incidents_create_payload_v1, opts = {})
      data, _status_code, _headers = incidents_v1_create_with_http_info(incidents_create_payload_v1, opts)
      data
    end

    # Create Incidents V1
    # Create a new incident.
    # @param incidents_create_payload_v1 [IncidentsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentsCreateResultV1, Integer, Hash)>] IncidentsCreateResultV1 data, response status code and response headers
    # @deprecated POST /v1/incidents is deprecated and will be removed.
    def incidents_v1_create_with_http_info(incidents_create_payload_v1, opts = {})
      IncidentIo::Deprecation.warn("POST /v1/incidents")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentsV1Api.incidents_v1_create ...'
      end
      # verify the required parameter 'incidents_create_payload_v1' is set
      if @api_client.config.client_side_validation && incidents_create_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'incidents_create_payload_v1' when calling IncidentsV1Api.incidents_v1_create"
      end
      # resource path
      local_var_path = '/v1/incidents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incidents_create_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentsCreateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentsV1Api.incidents_v1_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentsV1Api#incidents_v1_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Incidents V1
    # List all incidents for an organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @option opts [Array<String>] :status Filter for incidents in these statuses
    # @return [IncidentsListResultV1]
    # @deprecated GET /v1/incidents is deprecated and will be removed.
    def incidents_v1_list(opts = {})
      data, _status_code, _headers = incidents_v1_list_with_http_info(opts)
      data
    end

    # List Incidents V1
    # List all incidents for an organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @option opts [Array<String>] :status Filter for incidents in these statuses
    # @return [Array<(IncidentsListResultV1, Integer, Hash)>] IncidentsListResultV1 data, response status code and response headers
    # @deprecated GET /v1/incidents is deprecated and will be removed.
    def incidents_v1_list_with_http_info(opts = {})
      IncidentIo::Deprecation.warn("GET /v1/incidents")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentsV1Api.incidents_v1_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentsV1Api.incidents_v1_list, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentsV1Api.incidents_v1_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/incidents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'status'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentsListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentsV1Api.incidents_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentsV1Api#incidents_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Incidents V1
    # Get a single incident.
    # @param id [String] Unique identifier for the incident
    # @param [Hash] opts the optional parameters
    # @return [IncidentsShowResultV1]
    # @deprecated GET /v1/incidents/{id} is deprecated and will be removed.
    def incidents_v1_show(id, opts = {})
      data, _status_code, _headers = incidents_v1_show_with_http_info(id, opts)
      data
    end

    # Show Incidents V1
    # Get a single incident.
    # @param id [String] Unique identifier for the incident
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentsShowResultV1, Integer, Hash)>] IncidentsShowResultV1 data, response status code and response headers
    # @deprecated GET /v1/incidents/{id} is deprecated and will be removed.
    def incidents_v1_show_with_http_info(id, opts = {})
      IncidentIo::Deprecation.warn("GET /v1/incidents/{id}")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentsV1Api.incidents_v1_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentsV1Api.incidents_v1_show"
      end
      # resource path
      local_var_path = '/v1/incidents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentsShowResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentsV1Api.incidents_v1_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentsV1Api#incidents_v1_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
