=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentMembershipsV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Incident Memberships V1
    # Makes a user a member of a private incident
    # @param incident_memberships_create_payload_v1 [IncidentMembershipsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentMembershipsCreateResultV1]
    def incident_memberships_v1_create(incident_memberships_create_payload_v1, opts = {})
      data, _status_code, _headers = incident_memberships_v1_create_with_http_info(incident_memberships_create_payload_v1, opts)
      data
    end

    # Create Incident Memberships V1
    # Makes a user a member of a private incident
    # @param incident_memberships_create_payload_v1 [IncidentMembershipsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentMembershipsCreateResultV1, Integer, Hash)>] IncidentMembershipsCreateResultV1 data, response status code and response headers
    def incident_memberships_v1_create_with_http_info(incident_memberships_create_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentMembershipsV1Api.incident_memberships_v1_create ...'
      end
      # verify the required parameter 'incident_memberships_create_payload_v1' is set
      if @api_client.config.client_side_validation && incident_memberships_create_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'incident_memberships_create_payload_v1' when calling IncidentMembershipsV1Api.incident_memberships_v1_create"
      end
      # resource path
      local_var_path = '/v1/incident_memberships'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_memberships_create_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentMembershipsCreateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentMembershipsV1Api.incident_memberships_v1_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentMembershipsV1Api#incident_memberships_v1_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke Incident Memberships V1
    # Revoke a user's membership of a private incident
    # @param incident_memberships_revoke_payload_v1 [IncidentMembershipsRevokePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def incident_memberships_v1_revoke(incident_memberships_revoke_payload_v1, opts = {})
      incident_memberships_v1_revoke_with_http_info(incident_memberships_revoke_payload_v1, opts)
      nil
    end

    # Revoke Incident Memberships V1
    # Revoke a user&#39;s membership of a private incident
    # @param incident_memberships_revoke_payload_v1 [IncidentMembershipsRevokePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def incident_memberships_v1_revoke_with_http_info(incident_memberships_revoke_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentMembershipsV1Api.incident_memberships_v1_revoke ...'
      end
      # verify the required parameter 'incident_memberships_revoke_payload_v1' is set
      if @api_client.config.client_side_validation && incident_memberships_revoke_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'incident_memberships_revoke_payload_v1' when calling IncidentMembershipsV1Api.incident_memberships_v1_revoke"
      end
      # resource path
      local_var_path = '/v1/incident_memberships/actions/revoke'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_memberships_revoke_payload_v1)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentMembershipsV1Api.incident_memberships_v1_revoke",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentMembershipsV1Api#incident_memberships_v1_revoke\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
