=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentParticipantsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List IncidentParticipants V2
    # List the participants of an incident with the role they took.  Participants are split into those who are actively helping with the incident and those who are just observing. Each participant is annotated with their participant type.
    # @param incident_id [String] Find participants of this incident
    # @param [Hash] opts the optional parameters
    # @return [IncidentParticipantsListResultV2]
    def incident_participants_v2_list(incident_id, opts = {})
      data, _status_code, _headers = incident_participants_v2_list_with_http_info(incident_id, opts)
      data
    end

    # List IncidentParticipants V2
    # List the participants of an incident with the role they took.  Participants are split into those who are actively helping with the incident and those who are just observing. Each participant is annotated with their participant type.
    # @param incident_id [String] Find participants of this incident
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentParticipantsListResultV2, Integer, Hash)>] IncidentParticipantsListResultV2 data, response status code and response headers
    def incident_participants_v2_list_with_http_info(incident_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentParticipantsV2Api.incident_participants_v2_list ...'
      end
      # verify the required parameter 'incident_id' is set
      if @api_client.config.client_side_validation && incident_id.nil?
        fail ArgumentError, "Missing the required parameter 'incident_id' when calling IncidentParticipantsV2Api.incident_participants_v2_list"
      end
      # resource path
      local_var_path = '/v2/incident_participants'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'incident_id'] = incident_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentParticipantsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentParticipantsV2Api.incident_participants_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentParticipantsV2Api#incident_participants_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
