=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentTemplatesV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Incident Templates V1
    # Create an incident template.
    # @param incident_templates_create_payload_v1 [IncidentTemplatesCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentTemplatesCreateResultV1]
    def incident_templates_v1_create(incident_templates_create_payload_v1, opts = {})
      data, _status_code, _headers = incident_templates_v1_create_with_http_info(incident_templates_create_payload_v1, opts)
      data
    end

    # Create Incident Templates V1
    # Create an incident template.
    # @param incident_templates_create_payload_v1 [IncidentTemplatesCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentTemplatesCreateResultV1, Integer, Hash)>] IncidentTemplatesCreateResultV1 data, response status code and response headers
    def incident_templates_v1_create_with_http_info(incident_templates_create_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTemplatesV1Api.incident_templates_v1_create ...'
      end
      # verify the required parameter 'incident_templates_create_payload_v1' is set
      if @api_client.config.client_side_validation && incident_templates_create_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'incident_templates_create_payload_v1' when calling IncidentTemplatesV1Api.incident_templates_v1_create"
      end
      # resource path
      local_var_path = '/v1/incident_templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_templates_create_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTemplatesCreateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTemplatesV1Api.incident_templates_v1_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTemplatesV1Api#incident_templates_v1_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroy Incident Templates V1
    # Archive an incident template. Fails if the template is still referenced by an alert route.
    # @param id [String] The incident template&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def incident_templates_v1_destroy(id, opts = {})
      incident_templates_v1_destroy_with_http_info(id, opts)
      nil
    end

    # Destroy Incident Templates V1
    # Archive an incident template. Fails if the template is still referenced by an alert route.
    # @param id [String] The incident template&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def incident_templates_v1_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTemplatesV1Api.incident_templates_v1_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentTemplatesV1Api.incident_templates_v1_destroy"
      end
      # resource path
      local_var_path = '/v1/incident_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTemplatesV1Api.incident_templates_v1_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTemplatesV1Api#incident_templates_v1_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Incident Templates V1
    # List all incident templates for this organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An incident template&#39;s ID. This endpoint returns a list of templates after this ID in relation to the API response order.
    # @return [IncidentTemplatesListResultV1]
    def incident_templates_v1_list(opts = {})
      data, _status_code, _headers = incident_templates_v1_list_with_http_info(opts)
      data
    end

    # List Incident Templates V1
    # List all incident templates for this organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An incident template&#39;s ID. This endpoint returns a list of templates after this ID in relation to the API response order.
    # @return [Array<(IncidentTemplatesListResultV1, Integer, Hash)>] IncidentTemplatesListResultV1 data, response status code and response headers
    def incident_templates_v1_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTemplatesV1Api.incident_templates_v1_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentTemplatesV1Api.incident_templates_v1_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentTemplatesV1Api.incident_templates_v1_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/incident_templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTemplatesListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTemplatesV1Api.incident_templates_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTemplatesV1Api#incident_templates_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Incident Templates V1
    # Show a single incident template.
    # @param id [String] The incident template&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [IncidentTemplatesShowResultV1]
    def incident_templates_v1_show(id, opts = {})
      data, _status_code, _headers = incident_templates_v1_show_with_http_info(id, opts)
      data
    end

    # Show Incident Templates V1
    # Show a single incident template.
    # @param id [String] The incident template&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentTemplatesShowResultV1, Integer, Hash)>] IncidentTemplatesShowResultV1 data, response status code and response headers
    def incident_templates_v1_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTemplatesV1Api.incident_templates_v1_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentTemplatesV1Api.incident_templates_v1_show"
      end
      # resource path
      local_var_path = '/v1/incident_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTemplatesShowResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTemplatesV1Api.incident_templates_v1_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTemplatesV1Api#incident_templates_v1_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Incident Templates V1
    # Update an incident template. This is a full replacement: any field not supplied is cleared.
    # @param id [String] The incident template&#39;s ID
    # @param incident_templates_update_payload_v1 [IncidentTemplatesUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentTemplatesUpdateResultV1]
    def incident_templates_v1_update(id, incident_templates_update_payload_v1, opts = {})
      data, _status_code, _headers = incident_templates_v1_update_with_http_info(id, incident_templates_update_payload_v1, opts)
      data
    end

    # Update Incident Templates V1
    # Update an incident template. This is a full replacement: any field not supplied is cleared.
    # @param id [String] The incident template&#39;s ID
    # @param incident_templates_update_payload_v1 [IncidentTemplatesUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentTemplatesUpdateResultV1, Integer, Hash)>] IncidentTemplatesUpdateResultV1 data, response status code and response headers
    def incident_templates_v1_update_with_http_info(id, incident_templates_update_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTemplatesV1Api.incident_templates_v1_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentTemplatesV1Api.incident_templates_v1_update"
      end
      # verify the required parameter 'incident_templates_update_payload_v1' is set
      if @api_client.config.client_side_validation && incident_templates_update_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'incident_templates_update_payload_v1' when calling IncidentTemplatesV1Api.incident_templates_v1_update"
      end
      # resource path
      local_var_path = '/v1/incident_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_templates_update_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTemplatesUpdateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTemplatesV1Api.incident_templates_v1_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTemplatesV1Api#incident_templates_v1_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate Incident Templates V1
    # Check whether an incident template's config is valid, without creating or updating anything.  This validates in the same way a create or update would: expressions are compiled and checked against your catalog. An invalid config is an error. A config that is valid but probably not what you meant — such as a name that's already taken — comes back as a warning on a successful response, so a client can show it without blocking.
    # @param incident_templates_validate_payload_v1 [IncidentTemplatesValidatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentTemplatesValidateResultV1]
    def incident_templates_v1_validate(incident_templates_validate_payload_v1, opts = {})
      data, _status_code, _headers = incident_templates_v1_validate_with_http_info(incident_templates_validate_payload_v1, opts)
      data
    end

    # Validate Incident Templates V1
    # Check whether an incident template&#39;s config is valid, without creating or updating anything.  This validates in the same way a create or update would: expressions are compiled and checked against your catalog. An invalid config is an error. A config that is valid but probably not what you meant — such as a name that&#39;s already taken — comes back as a warning on a successful response, so a client can show it without blocking.
    # @param incident_templates_validate_payload_v1 [IncidentTemplatesValidatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentTemplatesValidateResultV1, Integer, Hash)>] IncidentTemplatesValidateResultV1 data, response status code and response headers
    def incident_templates_v1_validate_with_http_info(incident_templates_validate_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTemplatesV1Api.incident_templates_v1_validate ...'
      end
      # verify the required parameter 'incident_templates_validate_payload_v1' is set
      if @api_client.config.client_side_validation && incident_templates_validate_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'incident_templates_validate_payload_v1' when calling IncidentTemplatesV1Api.incident_templates_v1_validate"
      end
      # resource path
      local_var_path = '/v1/incident_templates/actions/validate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_templates_validate_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTemplatesValidateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTemplatesV1Api.incident_templates_v1_validate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTemplatesV1Api#incident_templates_v1_validate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
