=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Incidents V2
    # Create a new incident.  Note that if the incident mode is set to \"retrospective\" then the new incident will not be announced in Slack. 
    # @param incidents_create_payload_v2 [IncidentsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentsCreateResultV2]
    def incidents_v2_create(incidents_create_payload_v2, opts = {})
      data, _status_code, _headers = incidents_v2_create_with_http_info(incidents_create_payload_v2, opts)
      data
    end

    # Create Incidents V2
    # Create a new incident.  Note that if the incident mode is set to \&quot;retrospective\&quot; then the new incident will not be announced in Slack. 
    # @param incidents_create_payload_v2 [IncidentsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentsCreateResultV2, Integer, Hash)>] IncidentsCreateResultV2 data, response status code and response headers
    def incidents_v2_create_with_http_info(incidents_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentsV2Api.incidents_v2_create ...'
      end
      # verify the required parameter 'incidents_create_payload_v2' is set
      if @api_client.config.client_side_validation && incidents_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'incidents_create_payload_v2' when calling IncidentsV2Api.incidents_v2_create"
      end
      # resource path
      local_var_path = '/v2/incidents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incidents_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentsCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentsV2Api.incidents_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentsV2Api#incidents_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit Incidents V2
    # Edit an existing incident.  This endpoint allows you to edit the properties of an existing incident: e.g. set the severity or update custom fields.  When using this endpoint, only fields that are provided will be edited (omitted fields will be ignored).  The API key must have the scope corresponding to each property it changes:  - `incidents.update_name` for the name - `incidents.update_summary` for the summary - `incidents.update_severity` for the severity - `incidents.update_status` for the status - `incidents.update_custom_fields` for custom fields - `incidents.update_timestamps` for timestamps - `incidents.update_role_assignments` for role assignments - `incident_calls.create` to set the call URL - `incident_calls.destroy` when replacing an existing call URL 
    # @param id [String] The unique identifier of the incident that you want to edit
    # @param incidents_edit_payload_v2 [IncidentsEditPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentsEditResultV2]
    def incidents_v2_edit(id, incidents_edit_payload_v2, opts = {})
      data, _status_code, _headers = incidents_v2_edit_with_http_info(id, incidents_edit_payload_v2, opts)
      data
    end

    # Edit Incidents V2
    # Edit an existing incident.  This endpoint allows you to edit the properties of an existing incident: e.g. set the severity or update custom fields.  When using this endpoint, only fields that are provided will be edited (omitted fields will be ignored).  The API key must have the scope corresponding to each property it changes:  - &#x60;incidents.update_name&#x60; for the name - &#x60;incidents.update_summary&#x60; for the summary - &#x60;incidents.update_severity&#x60; for the severity - &#x60;incidents.update_status&#x60; for the status - &#x60;incidents.update_custom_fields&#x60; for custom fields - &#x60;incidents.update_timestamps&#x60; for timestamps - &#x60;incidents.update_role_assignments&#x60; for role assignments - &#x60;incident_calls.create&#x60; to set the call URL - &#x60;incident_calls.destroy&#x60; when replacing an existing call URL 
    # @param id [String] The unique identifier of the incident that you want to edit
    # @param incidents_edit_payload_v2 [IncidentsEditPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentsEditResultV2, Integer, Hash)>] IncidentsEditResultV2 data, response status code and response headers
    def incidents_v2_edit_with_http_info(id, incidents_edit_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentsV2Api.incidents_v2_edit ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentsV2Api.incidents_v2_edit"
      end
      # verify the required parameter 'incidents_edit_payload_v2' is set
      if @api_client.config.client_side_validation && incidents_edit_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'incidents_edit_payload_v2' when calling IncidentsV2Api.incidents_v2_edit"
      end
      # resource path
      local_var_path = '/v2/incidents/{id}/actions/edit'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incidents_edit_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentsEditResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentsV2Api.incidents_v2_edit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentsV2Api#incidents_v2_edit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ImportPostmortemDocument Incidents V2
    # Import a postmortem document from markdown into an incident.  The document content should be provided as GitHub-Flavored Markdown. It will be parsed and converted into the collaborative editor format, and a new postmortem document will be created for the incident.  If no main postmortem document exists for the incident, the imported document will become the main document.
    # @param id [String] The unique identifier of the incident
    # @param incidents_import_postmortem_document_payload_v2 [IncidentsImportPostmortemDocumentPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentsImportPostmortemDocumentResultV2]
    def incidents_v2_import_postmortem_document(id, incidents_import_postmortem_document_payload_v2, opts = {})
      data, _status_code, _headers = incidents_v2_import_postmortem_document_with_http_info(id, incidents_import_postmortem_document_payload_v2, opts)
      data
    end

    # ImportPostmortemDocument Incidents V2
    # Import a postmortem document from markdown into an incident.  The document content should be provided as GitHub-Flavored Markdown. It will be parsed and converted into the collaborative editor format, and a new postmortem document will be created for the incident.  If no main postmortem document exists for the incident, the imported document will become the main document.
    # @param id [String] The unique identifier of the incident
    # @param incidents_import_postmortem_document_payload_v2 [IncidentsImportPostmortemDocumentPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentsImportPostmortemDocumentResultV2, Integer, Hash)>] IncidentsImportPostmortemDocumentResultV2 data, response status code and response headers
    def incidents_v2_import_postmortem_document_with_http_info(id, incidents_import_postmortem_document_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentsV2Api.incidents_v2_import_postmortem_document ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentsV2Api.incidents_v2_import_postmortem_document"
      end
      # verify the required parameter 'incidents_import_postmortem_document_payload_v2' is set
      if @api_client.config.client_side_validation && incidents_import_postmortem_document_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'incidents_import_postmortem_document_payload_v2' when calling IncidentsV2Api.incidents_v2_import_postmortem_document"
      end
      # resource path
      local_var_path = '/v2/incidents/{id}/actions/import_postmortem_document'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incidents_import_postmortem_document_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentsImportPostmortemDocumentResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentsV2Api.incidents_v2_import_postmortem_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentsV2Api#incidents_v2_import_postmortem_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Incidents V2
    # List all incidents for an organisation.  This endpoint supports a number of filters, which can help find incidents matching certain criteria.  Filters are provided as query parameters, but due to the dynamic nature of what you can query by (different accounts have different custom fields, statuses, etc) they are more complex than most.  The maximum page size that can be requested is 250.  To help, here are some exemplar curl requests with a human description of what they search for.  Note that: - Filters may be combined using the filter_mode parameter: 'all' (default) requires all filters to match (AND logic), while 'any' requires at least one filter to match (OR logic). - IDs are normally in UUID format, but have been replaced with shorter strings to improve readability. - All query parameters must be URI encoded.  ### By status  With status of id=ABC, find all incidents that are set to that status:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'status[one_of]=ABC'  Or all incidents that are not set to status with id=ABC:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'status[not_in]=ABC'  ### By created_at or updated_at  Find all incidents that follow specified date parameters for created_at and updated_at fields. Possible values are \"gte\" (greater than or equal to), \"lte\" (less than or equal to), and \"date_range\" (between two dates). The following example finds all incidents created before or on 2021-01-02T00:00:00Z:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'created_at[lte]=2021-01-02'  To find incidents created within a specific date range, use the date_range option with tilde-separated dates:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'created_at[date_range]=2024-12-02~2024-12-08'  ### By status category  Find all incidents that are in a status category. Some categories use a different name in the API than the one shown in the dashboard — most notably \"live\" (shown as \"Active\") and \"learning\" (shown as \"Post-incident\"). The full mapping is:  | API value  | Shown in app as | | ---------- | --------------- | | triage     | Triage          | | live       | Active          | | learning   | Post-incident   | | paused     | Paused          | | closed     | Closed          | | declined   | Declined        | | canceled   | Canceled        | | merged     | Merged          |  For example, to find all incidents the dashboard shows as \"Active\", filter on the \"live\" category:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'status_category[one_of]=live'  Or all incidents that are not in a status category:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'status_category[not_in]=live'   ### By severity  With severity of id=ABC, find all incidents that are set to that severity:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'severity[one_of]=ABC'  Or all incidents where severity rank is greater-than-or-equal-to the rank of severity id=ABC:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'severity[gte]=ABC'  Or all incidents where severity rank is less-than-or-equal-to the rank of severity id=ABC:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'severity[lte]=ABC'  ### By incident type  With incident type of id=ABC, find all incidents that are of that type:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'incident_type[one_of]=ABC'  Or all incidents not of that type:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'incident_type[not_in]=ABC'  ### By incident mode  By default, we return standard and retrospective incidents. This means that test and tutorial incidents are filtered out. To override this behaviour, you can use the mode filter to specify which modes you want to get.  To find incidents of all modes:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'mode[one_of]=standard&mode[one_of]=retrospective&mode[one_of]=test&mode[one_of]=tutorial'  To find just test incidents:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'mode[one_of]=test'   ### By incident role  Roles and custom fields have another nested layer in the query parameter, to account for operations against any of the roles or custom fields created in the account.  With incident role id=ABC, find all incidents where that role is unset:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'incident_role[ABC][is_set]=true'  Or where the role has been set:    curl --get 'https://api.incident.io/v2/incidents' \\    --data 'incident_role[ABC][is_set]=false'  ### By option custom fields  With an option custom field id=ABC, all incidents that have field ABC set to the custom field option of id=XYZ:    curl \\    --get 'https://api.incident.io/v2/incidents' \\    --data 'custom_field[ABC][one_of]=XYZ'  Or all incidents that do not have custom field id=ABC set to option id=XYZ:    curl \\    --get 'https://api.incident.io/v2/incidents' \\    --data 'custom_field[ABC][not_in]=XYZ'  ### Sorting  By default, results are ordered by their creation date. You can use the sort_by parameter to reverse this order:    curl \\    --get 'https://api.incident.io/v2/incidents' \\    --data 'sort_by=created_at_oldest_first' 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An incident&#39;s ID. This endpoint will return a list of incidents after this ID in relation to the API response order.
    # @option opts [String] :sort_by What order to return results in. (default to 'created_at_newest_first')
    # @option opts [String] :filter_mode How to combine the filters: &#39;all&#39; combines them with AND logic (all must match), &#39;any&#39; combines them with OR logic (any can match). Defaults to &#39;all&#39;.
    # @option opts [Hash<String, Array<String>>] :status Filter on incident status. The accepted operators are &#39;one_of&#39;, or &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :status_category Filter on the category of the incidents status. The accepted operators are &#39;one_of&#39;, or &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :created_at Filter on incident created at timestamp. The accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :updated_at Filter on incident updated at timestamp. The accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :severity Filter on incident severity. The accepted operators are &#39;one_of&#39;, &#39;not_in&#39;, &#39;gte&#39;, &#39;lte&#39;.
    # @option opts [Hash<String, Array<String>>] :incident_type Filter on incident type. The accepted operators are &#39;one_of, or &#39;not_in&#39;.
    # @option opts [Hash<String, Hash<String, Array<String>>>] :incident_role Filter on an incident role. Role ID should be sent, along with backlink attribute ID (if needed) followed by the operator and values. The accepted operators are &#39;one_of&#39;, &#39;is_blank&#39;.
    # @option opts [Hash<String, Hash<String, Array<String>>>] :custom_field Filter on an incident custom field. Custom field ID should be sent, followed by the operator and values. Accepted operator will depend on the custom field type.
    # @option opts [Hash<String, Array<String>>] :mode Filter on incident mode. The accepted operator is &#39;one_of&#39;.  If this is not provided, this value defaults to &#x60;{\&quot;one_of\&quot;: [\&quot;standard\&quot;, \&quot;retrospective\&quot;] }&#x60;, meaning that test and tutorial incidents are not included.
    # @return [IncidentsListResultV2]
    def incidents_v2_list(opts = {})
      data, _status_code, _headers = incidents_v2_list_with_http_info(opts)
      data
    end

    # List Incidents V2
    # List all incidents for an organisation.  This endpoint supports a number of filters, which can help find incidents matching certain criteria.  Filters are provided as query parameters, but due to the dynamic nature of what you can query by (different accounts have different custom fields, statuses, etc) they are more complex than most.  The maximum page size that can be requested is 250.  To help, here are some exemplar curl requests with a human description of what they search for.  Note that: - Filters may be combined using the filter_mode parameter: &#39;all&#39; (default) requires all filters to match (AND logic), while &#39;any&#39; requires at least one filter to match (OR logic). - IDs are normally in UUID format, but have been replaced with shorter strings to improve readability. - All query parameters must be URI encoded.  ### By status  With status of id&#x3D;ABC, find all incidents that are set to that status:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;status[one_of]&#x3D;ABC&#39;  Or all incidents that are not set to status with id&#x3D;ABC:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;status[not_in]&#x3D;ABC&#39;  ### By created_at or updated_at  Find all incidents that follow specified date parameters for created_at and updated_at fields. Possible values are \&quot;gte\&quot; (greater than or equal to), \&quot;lte\&quot; (less than or equal to), and \&quot;date_range\&quot; (between two dates). The following example finds all incidents created before or on 2021-01-02T00:00:00Z:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;created_at[lte]&#x3D;2021-01-02&#39;  To find incidents created within a specific date range, use the date_range option with tilde-separated dates:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;created_at[date_range]&#x3D;2024-12-02~2024-12-08&#39;  ### By status category  Find all incidents that are in a status category. Some categories use a different name in the API than the one shown in the dashboard — most notably \&quot;live\&quot; (shown as \&quot;Active\&quot;) and \&quot;learning\&quot; (shown as \&quot;Post-incident\&quot;). The full mapping is:  | API value  | Shown in app as | | ---------- | --------------- | | triage     | Triage          | | live       | Active          | | learning   | Post-incident   | | paused     | Paused          | | closed     | Closed          | | declined   | Declined        | | canceled   | Canceled        | | merged     | Merged          |  For example, to find all incidents the dashboard shows as \&quot;Active\&quot;, filter on the \&quot;live\&quot; category:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;status_category[one_of]&#x3D;live&#39;  Or all incidents that are not in a status category:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;status_category[not_in]&#x3D;live&#39;   ### By severity  With severity of id&#x3D;ABC, find all incidents that are set to that severity:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;severity[one_of]&#x3D;ABC&#39;  Or all incidents where severity rank is greater-than-or-equal-to the rank of severity id&#x3D;ABC:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;severity[gte]&#x3D;ABC&#39;  Or all incidents where severity rank is less-than-or-equal-to the rank of severity id&#x3D;ABC:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;severity[lte]&#x3D;ABC&#39;  ### By incident type  With incident type of id&#x3D;ABC, find all incidents that are of that type:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;incident_type[one_of]&#x3D;ABC&#39;  Or all incidents not of that type:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;incident_type[not_in]&#x3D;ABC&#39;  ### By incident mode  By default, we return standard and retrospective incidents. This means that test and tutorial incidents are filtered out. To override this behaviour, you can use the mode filter to specify which modes you want to get.  To find incidents of all modes:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;mode[one_of]&#x3D;standard&amp;mode[one_of]&#x3D;retrospective&amp;mode[one_of]&#x3D;test&amp;mode[one_of]&#x3D;tutorial&#39;  To find just test incidents:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;mode[one_of]&#x3D;test&#39;   ### By incident role  Roles and custom fields have another nested layer in the query parameter, to account for operations against any of the roles or custom fields created in the account.  With incident role id&#x3D;ABC, find all incidents where that role is unset:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;incident_role[ABC][is_set]&#x3D;true&#39;  Or where the role has been set:    curl --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;incident_role[ABC][is_set]&#x3D;false&#39;  ### By option custom fields  With an option custom field id&#x3D;ABC, all incidents that have field ABC set to the custom field option of id&#x3D;XYZ:    curl \\    --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;custom_field[ABC][one_of]&#x3D;XYZ&#39;  Or all incidents that do not have custom field id&#x3D;ABC set to option id&#x3D;XYZ:    curl \\    --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;custom_field[ABC][not_in]&#x3D;XYZ&#39;  ### Sorting  By default, results are ordered by their creation date. You can use the sort_by parameter to reverse this order:    curl \\    --get &#39;https://api.incident.io/v2/incidents&#39; \\    --data &#39;sort_by&#x3D;created_at_oldest_first&#39; 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An incident&#39;s ID. This endpoint will return a list of incidents after this ID in relation to the API response order.
    # @option opts [String] :sort_by What order to return results in. (default to 'created_at_newest_first')
    # @option opts [String] :filter_mode How to combine the filters: &#39;all&#39; combines them with AND logic (all must match), &#39;any&#39; combines them with OR logic (any can match). Defaults to &#39;all&#39;.
    # @option opts [Hash<String, Array<String>>] :status Filter on incident status. The accepted operators are &#39;one_of&#39;, or &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :status_category Filter on the category of the incidents status. The accepted operators are &#39;one_of&#39;, or &#39;not_in&#39;.
    # @option opts [Hash<String, Array<String>>] :created_at Filter on incident created at timestamp. The accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :updated_at Filter on incident updated at timestamp. The accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Hash<String, Array<String>>] :severity Filter on incident severity. The accepted operators are &#39;one_of&#39;, &#39;not_in&#39;, &#39;gte&#39;, &#39;lte&#39;.
    # @option opts [Hash<String, Array<String>>] :incident_type Filter on incident type. The accepted operators are &#39;one_of, or &#39;not_in&#39;.
    # @option opts [Hash<String, Hash<String, Array<String>>>] :incident_role Filter on an incident role. Role ID should be sent, along with backlink attribute ID (if needed) followed by the operator and values. The accepted operators are &#39;one_of&#39;, &#39;is_blank&#39;.
    # @option opts [Hash<String, Hash<String, Array<String>>>] :custom_field Filter on an incident custom field. Custom field ID should be sent, followed by the operator and values. Accepted operator will depend on the custom field type.
    # @option opts [Hash<String, Array<String>>] :mode Filter on incident mode. The accepted operator is &#39;one_of&#39;.  If this is not provided, this value defaults to &#x60;{\&quot;one_of\&quot;: [\&quot;standard\&quot;, \&quot;retrospective\&quot;] }&#x60;, meaning that test and tutorial incidents are not included.
    # @return [Array<(IncidentsListResultV2, Integer, Hash)>] IncidentsListResultV2 data, response status code and response headers
    def incidents_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentsV2Api.incidents_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 500
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentsV2Api.incidents_v2_list, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentsV2Api.incidents_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/incidents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'filter_mode'] = opts[:'filter_mode'] if !opts[:'filter_mode'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'status_category'] = opts[:'status_category'] if !opts[:'status_category'].nil?
      query_params[:'created_at'] = opts[:'created_at'] if !opts[:'created_at'].nil?
      query_params[:'updated_at'] = opts[:'updated_at'] if !opts[:'updated_at'].nil?
      query_params[:'severity'] = opts[:'severity'] if !opts[:'severity'].nil?
      query_params[:'incident_type'] = opts[:'incident_type'] if !opts[:'incident_type'].nil?
      query_params[:'incident_role'] = opts[:'incident_role'] if !opts[:'incident_role'].nil?
      query_params[:'custom_field'] = opts[:'custom_field'] if !opts[:'custom_field'].nil?
      query_params[:'mode'] = opts[:'mode'] if !opts[:'mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentsV2Api.incidents_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentsV2Api#incidents_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Incidents V2
    # Get a single incident.  The ID supplied can be either the incident's full ID, or the numeric part of its reference. For example, to get INC-123, you could use either its full ID or:    curl \\    --get 'https://api.incident.io/v2/incidents/123 
    # @param id [String] Unique identifier for the incident
    # @param [Hash] opts the optional parameters
    # @return [IncidentsShowResultV2]
    def incidents_v2_show(id, opts = {})
      data, _status_code, _headers = incidents_v2_show_with_http_info(id, opts)
      data
    end

    # Show Incidents V2
    # Get a single incident.  The ID supplied can be either the incident&#39;s full ID, or the numeric part of its reference. For example, to get INC-123, you could use either its full ID or:    curl \\    --get &#39;https://api.incident.io/v2/incidents/123 
    # @param id [String] Unique identifier for the incident
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentsShowResultV2, Integer, Hash)>] IncidentsShowResultV2 data, response status code and response headers
    def incidents_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentsV2Api.incidents_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentsV2Api.incidents_v2_show"
      end
      # resource path
      local_var_path = '/v2/incidents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentsV2Api.incidents_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentsV2Api#incidents_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
