=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentFormsV3Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Incident Forms V3
    # Create an incident form for an incident type. A form that already exists for that form type and incident type is rejected.
    # @param incident_forms_create_payload_v3 [IncidentFormsCreatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentFormsCreateResultV3]
    def incident_forms_v3_create(incident_forms_create_payload_v3, opts = {})
      data, _status_code, _headers = incident_forms_v3_create_with_http_info(incident_forms_create_payload_v3, opts)
      data
    end

    # Create Incident Forms V3
    # Create an incident form for an incident type. A form that already exists for that form type and incident type is rejected.
    # @param incident_forms_create_payload_v3 [IncidentFormsCreatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentFormsCreateResultV3, Integer, Hash)>] IncidentFormsCreateResultV3 data, response status code and response headers
    def incident_forms_v3_create_with_http_info(incident_forms_create_payload_v3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentFormsV3Api.incident_forms_v3_create ...'
      end
      # verify the required parameter 'incident_forms_create_payload_v3' is set
      if @api_client.config.client_side_validation && incident_forms_create_payload_v3.nil?
        fail ArgumentError, "Missing the required parameter 'incident_forms_create_payload_v3' when calling IncidentFormsV3Api.incident_forms_v3_create"
      end
      # resource path
      local_var_path = '/v3/incident_forms'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_forms_create_payload_v3)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentFormsCreateResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentFormsV3Api.incident_forms_v3_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentFormsV3Api#incident_forms_v3_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Incident Forms V3
    # Archive an incident form. The organisation's default form of a type cannot be archived.
    # @param id [String] Unique identifier for this incident form
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def incident_forms_v3_delete(id, opts = {})
      incident_forms_v3_delete_with_http_info(id, opts)
      nil
    end

    # Delete Incident Forms V3
    # Archive an incident form. The organisation&#39;s default form of a type cannot be archived.
    # @param id [String] Unique identifier for this incident form
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def incident_forms_v3_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentFormsV3Api.incident_forms_v3_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentFormsV3Api.incident_forms_v3_delete"
      end
      # resource path
      local_var_path = '/v3/incident_forms/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentFormsV3Api.incident_forms_v3_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentFormsV3Api#incident_forms_v3_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Incident Forms V3
    # List incident forms for your account, including their elements and expressions.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An incident form&#39;s ID. This endpoint will return a list of forms after this ID in relation to the API response order.
    # @return [IncidentFormsListResultV3]
    def incident_forms_v3_list(opts = {})
      data, _status_code, _headers = incident_forms_v3_list_with_http_info(opts)
      data
    end

    # List Incident Forms V3
    # List incident forms for your account, including their elements and expressions.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An incident form&#39;s ID. This endpoint will return a list of forms after this ID in relation to the API response order.
    # @return [Array<(IncidentFormsListResultV3, Integer, Hash)>] IncidentFormsListResultV3 data, response status code and response headers
    def incident_forms_v3_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentFormsV3Api.incident_forms_v3_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentFormsV3Api.incident_forms_v3_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentFormsV3Api.incident_forms_v3_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v3/incident_forms'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentFormsListResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentFormsV3Api.incident_forms_v3_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentFormsV3Api#incident_forms_v3_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Incident Forms V3
    # Get a single incident form, including its elements and expressions.
    # @param id [String] Unique identifier for this incident form
    # @param [Hash] opts the optional parameters
    # @return [IncidentFormsShowResultV3]
    def incident_forms_v3_show(id, opts = {})
      data, _status_code, _headers = incident_forms_v3_show_with_http_info(id, opts)
      data
    end

    # Show Incident Forms V3
    # Get a single incident form, including its elements and expressions.
    # @param id [String] Unique identifier for this incident form
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentFormsShowResultV3, Integer, Hash)>] IncidentFormsShowResultV3 data, response status code and response headers
    def incident_forms_v3_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentFormsV3Api.incident_forms_v3_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentFormsV3Api.incident_forms_v3_show"
      end
      # resource path
      local_var_path = '/v3/incident_forms/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentFormsShowResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentFormsV3Api.incident_forms_v3_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentFormsV3Api#incident_forms_v3_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Incident Forms V3
    # Replace an incident form, including its elements and expressions.
    # @param id [String] Unique identifier of the incident form
    # @param incident_forms_update_payload_v3 [IncidentFormsUpdatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentFormsUpdateResultV3]
    def incident_forms_v3_update(id, incident_forms_update_payload_v3, opts = {})
      data, _status_code, _headers = incident_forms_v3_update_with_http_info(id, incident_forms_update_payload_v3, opts)
      data
    end

    # Update Incident Forms V3
    # Replace an incident form, including its elements and expressions.
    # @param id [String] Unique identifier of the incident form
    # @param incident_forms_update_payload_v3 [IncidentFormsUpdatePayloadV3] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentFormsUpdateResultV3, Integer, Hash)>] IncidentFormsUpdateResultV3 data, response status code and response headers
    def incident_forms_v3_update_with_http_info(id, incident_forms_update_payload_v3, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentFormsV3Api.incident_forms_v3_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentFormsV3Api.incident_forms_v3_update"
      end
      # verify the required parameter 'incident_forms_update_payload_v3' is set
      if @api_client.config.client_side_validation && incident_forms_update_payload_v3.nil?
        fail ArgumentError, "Missing the required parameter 'incident_forms_update_payload_v3' when calling IncidentFormsV3Api.incident_forms_v3_update"
      end
      # resource path
      local_var_path = '/v3/incident_forms/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_forms_update_payload_v3)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentFormsUpdateResultV3'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentFormsV3Api.incident_forms_v3_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentFormsV3Api#incident_forms_v3_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
