=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentRolesV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Incident Roles V1
    # Create a new incident role
    # @param incident_roles_create_payload_v1 [IncidentRolesCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentRolesCreateResultV1]
    # @deprecated POST /v1/incident_roles is deprecated and will be removed.
    def incident_roles_v1_create(incident_roles_create_payload_v1, opts = {})
      data, _status_code, _headers = incident_roles_v1_create_with_http_info(incident_roles_create_payload_v1, opts)
      data
    end

    # Create Incident Roles V1
    # Create a new incident role
    # @param incident_roles_create_payload_v1 [IncidentRolesCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentRolesCreateResultV1, Integer, Hash)>] IncidentRolesCreateResultV1 data, response status code and response headers
    # @deprecated POST /v1/incident_roles is deprecated and will be removed.
    def incident_roles_v1_create_with_http_info(incident_roles_create_payload_v1, opts = {})
      IncidentIo::Deprecation.warn("POST /v1/incident_roles")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentRolesV1Api.incident_roles_v1_create ...'
      end
      # verify the required parameter 'incident_roles_create_payload_v1' is set
      if @api_client.config.client_side_validation && incident_roles_create_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'incident_roles_create_payload_v1' when calling IncidentRolesV1Api.incident_roles_v1_create"
      end
      # resource path
      local_var_path = '/v1/incident_roles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_roles_create_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentRolesCreateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentRolesV1Api.incident_roles_v1_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentRolesV1Api#incident_roles_v1_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Incident Roles V1
    # Removes an existing role
    # @param id [String] Unique identifier for the role
    # @param [Hash] opts the optional parameters
    # @return [nil]
    # @deprecated DELETE /v1/incident_roles/{id} is deprecated and will be removed.
    def incident_roles_v1_delete(id, opts = {})
      incident_roles_v1_delete_with_http_info(id, opts)
      nil
    end

    # Delete Incident Roles V1
    # Removes an existing role
    # @param id [String] Unique identifier for the role
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    # @deprecated DELETE /v1/incident_roles/{id} is deprecated and will be removed.
    def incident_roles_v1_delete_with_http_info(id, opts = {})
      IncidentIo::Deprecation.warn("DELETE /v1/incident_roles/{id}")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentRolesV1Api.incident_roles_v1_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentRolesV1Api.incident_roles_v1_delete"
      end
      # resource path
      local_var_path = '/v1/incident_roles/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentRolesV1Api.incident_roles_v1_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentRolesV1Api#incident_roles_v1_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Incident Roles V1
    # List all incident roles for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [IncidentRolesListResultV1]
    # @deprecated GET /v1/incident_roles is deprecated and will be removed.
    def incident_roles_v1_list(opts = {})
      data, _status_code, _headers = incident_roles_v1_list_with_http_info(opts)
      data
    end

    # List Incident Roles V1
    # List all incident roles for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentRolesListResultV1, Integer, Hash)>] IncidentRolesListResultV1 data, response status code and response headers
    # @deprecated GET /v1/incident_roles is deprecated and will be removed.
    def incident_roles_v1_list_with_http_info(opts = {})
      IncidentIo::Deprecation.warn("GET /v1/incident_roles")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentRolesV1Api.incident_roles_v1_list ...'
      end
      # resource path
      local_var_path = '/v1/incident_roles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentRolesListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentRolesV1Api.incident_roles_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentRolesV1Api#incident_roles_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Incident Roles V1
    # Get a single incident role.
    # @param id [String] Unique identifier for the role
    # @param [Hash] opts the optional parameters
    # @return [IncidentRolesShowResultV1]
    # @deprecated GET /v1/incident_roles/{id} is deprecated and will be removed.
    def incident_roles_v1_show(id, opts = {})
      data, _status_code, _headers = incident_roles_v1_show_with_http_info(id, opts)
      data
    end

    # Show Incident Roles V1
    # Get a single incident role.
    # @param id [String] Unique identifier for the role
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentRolesShowResultV1, Integer, Hash)>] IncidentRolesShowResultV1 data, response status code and response headers
    # @deprecated GET /v1/incident_roles/{id} is deprecated and will be removed.
    def incident_roles_v1_show_with_http_info(id, opts = {})
      IncidentIo::Deprecation.warn("GET /v1/incident_roles/{id}")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentRolesV1Api.incident_roles_v1_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentRolesV1Api.incident_roles_v1_show"
      end
      # resource path
      local_var_path = '/v1/incident_roles/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentRolesShowResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentRolesV1Api.incident_roles_v1_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentRolesV1Api#incident_roles_v1_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Incident Roles V1
    # Update an existing incident role
    # @param id [String] Unique identifier for the role
    # @param incident_roles_update_payload_v1 [IncidentRolesUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentRolesUpdateResultV1]
    # @deprecated PUT /v1/incident_roles/{id} is deprecated and will be removed.
    def incident_roles_v1_update(id, incident_roles_update_payload_v1, opts = {})
      data, _status_code, _headers = incident_roles_v1_update_with_http_info(id, incident_roles_update_payload_v1, opts)
      data
    end

    # Update Incident Roles V1
    # Update an existing incident role
    # @param id [String] Unique identifier for the role
    # @param incident_roles_update_payload_v1 [IncidentRolesUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentRolesUpdateResultV1, Integer, Hash)>] IncidentRolesUpdateResultV1 data, response status code and response headers
    # @deprecated PUT /v1/incident_roles/{id} is deprecated and will be removed.
    def incident_roles_v1_update_with_http_info(id, incident_roles_update_payload_v1, opts = {})
      IncidentIo::Deprecation.warn("PUT /v1/incident_roles/{id}")
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentRolesV1Api.incident_roles_v1_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentRolesV1Api.incident_roles_v1_update"
      end
      # verify the required parameter 'incident_roles_update_payload_v1' is set
      if @api_client.config.client_side_validation && incident_roles_update_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'incident_roles_update_payload_v1' when calling IncidentRolesV1Api.incident_roles_v1_update"
      end
      # resource path
      local_var_path = '/v1/incident_roles/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_roles_update_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentRolesUpdateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentRolesV1Api.incident_roles_v1_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentRolesV1Api#incident_roles_v1_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
