=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentTimelineItemsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Incident Timeline Items V2
    # Add a custom item to an incident's timeline.  Items created here are custom, so they carry no activity_log_id and their timestamp stays editable. Set it to when the thing actually happened rather than when you're telling us about it - a deploy you shipped an hour ago belongs an hour back on the timeline.  Every request needs an idempotency_key. Retrying with a key we've already seen returns the item the first request created rather than writing a second one, so an automation that retries on a timeout doesn't leave a duplicate behind. 
    # @param incident_timeline_items_create_payload_v2 [IncidentTimelineItemsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentTimelineItemsCreateResultV2]
    def incident_timeline_items_v2_create(incident_timeline_items_create_payload_v2, opts = {})
      data, _status_code, _headers = incident_timeline_items_v2_create_with_http_info(incident_timeline_items_create_payload_v2, opts)
      data
    end

    # Create Incident Timeline Items V2
    # Add a custom item to an incident&#39;s timeline.  Items created here are custom, so they carry no activity_log_id and their timestamp stays editable. Set it to when the thing actually happened rather than when you&#39;re telling us about it - a deploy you shipped an hour ago belongs an hour back on the timeline.  Every request needs an idempotency_key. Retrying with a key we&#39;ve already seen returns the item the first request created rather than writing a second one, so an automation that retries on a timeout doesn&#39;t leave a duplicate behind. 
    # @param incident_timeline_items_create_payload_v2 [IncidentTimelineItemsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentTimelineItemsCreateResultV2, Integer, Hash)>] IncidentTimelineItemsCreateResultV2 data, response status code and response headers
    def incident_timeline_items_v2_create_with_http_info(incident_timeline_items_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTimelineItemsV2Api.incident_timeline_items_v2_create ...'
      end
      # verify the required parameter 'incident_timeline_items_create_payload_v2' is set
      if @api_client.config.client_side_validation && incident_timeline_items_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'incident_timeline_items_create_payload_v2' when calling IncidentTimelineItemsV2Api.incident_timeline_items_v2_create"
      end
      # resource path
      local_var_path = '/v2/incident_timeline_items'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_timeline_items_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTimelineItemsCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTimelineItemsV2Api.incident_timeline_items_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTimelineItemsV2Api#incident_timeline_items_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Incident Timeline Items V2
    # List the timeline items for an incident, oldest first.  Items are ordered by timestamp, then by ID to break ties, which is the order the dashboard shows them in. If the incident has streams, this returns the items on its streams too - they're part of the same narrative - and incident_id on each item tells you which stream it came from.  Items can be edited after they're written, and this endpoint always returns their current state, so listing an incident again gives you the timeline as it stands today. 
    # @param incident_id [String] Incident whose timeline you want to list
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A timeline item&#39;s ID. This endpoint returns the items that follow it.
    # @return [IncidentTimelineItemsListResultV2]
    def incident_timeline_items_v2_list(incident_id, opts = {})
      data, _status_code, _headers = incident_timeline_items_v2_list_with_http_info(incident_id, opts)
      data
    end

    # List Incident Timeline Items V2
    # List the timeline items for an incident, oldest first.  Items are ordered by timestamp, then by ID to break ties, which is the order the dashboard shows them in. If the incident has streams, this returns the items on its streams too - they&#39;re part of the same narrative - and incident_id on each item tells you which stream it came from.  Items can be edited after they&#39;re written, and this endpoint always returns their current state, so listing an incident again gives you the timeline as it stands today. 
    # @param incident_id [String] Incident whose timeline you want to list
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A timeline item&#39;s ID. This endpoint returns the items that follow it.
    # @return [Array<(IncidentTimelineItemsListResultV2, Integer, Hash)>] IncidentTimelineItemsListResultV2 data, response status code and response headers
    def incident_timeline_items_v2_list_with_http_info(incident_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTimelineItemsV2Api.incident_timeline_items_v2_list ...'
      end
      # verify the required parameter 'incident_id' is set
      if @api_client.config.client_side_validation && incident_id.nil?
        fail ArgumentError, "Missing the required parameter 'incident_id' when calling IncidentTimelineItemsV2Api.incident_timeline_items_v2_list"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentTimelineItemsV2Api.incident_timeline_items_v2_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentTimelineItemsV2Api.incident_timeline_items_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/incident_timeline_items'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'incident_id'] = incident_id
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTimelineItemsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTimelineItemsV2Api.incident_timeline_items_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTimelineItemsV2Api#incident_timeline_items_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Incident Timeline Items V2
    # Edit a timeline item.  Fields you leave out are unchanged, and an empty description removes it. Timestamp can only be changed on a custom item: a promoted one follows the activity it came from. 
    # @param id [String] Timeline item to edit
    # @param incident_timeline_items_update_payload_v2 [IncidentTimelineItemsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentTimelineItemsUpdateResultV2]
    def incident_timeline_items_v2_update(id, incident_timeline_items_update_payload_v2, opts = {})
      data, _status_code, _headers = incident_timeline_items_v2_update_with_http_info(id, incident_timeline_items_update_payload_v2, opts)
      data
    end

    # Update Incident Timeline Items V2
    # Edit a timeline item.  Fields you leave out are unchanged, and an empty description removes it. Timestamp can only be changed on a custom item: a promoted one follows the activity it came from. 
    # @param id [String] Timeline item to edit
    # @param incident_timeline_items_update_payload_v2 [IncidentTimelineItemsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentTimelineItemsUpdateResultV2, Integer, Hash)>] IncidentTimelineItemsUpdateResultV2 data, response status code and response headers
    def incident_timeline_items_v2_update_with_http_info(id, incident_timeline_items_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTimelineItemsV2Api.incident_timeline_items_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentTimelineItemsV2Api.incident_timeline_items_v2_update"
      end
      # verify the required parameter 'incident_timeline_items_update_payload_v2' is set
      if @api_client.config.client_side_validation && incident_timeline_items_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'incident_timeline_items_update_payload_v2' when calling IncidentTimelineItemsV2Api.incident_timeline_items_v2_update"
      end
      # resource path
      local_var_path = '/v2/incident_timeline_items/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_timeline_items_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTimelineItemsUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTimelineItemsV2Api.incident_timeline_items_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTimelineItemsV2Api#incident_timeline_items_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
