=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentTypesV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Incident Types V1
    # List all incident types for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [IncidentTypesListResultV1]
    def incident_types_v1_list(opts = {})
      data, _status_code, _headers = incident_types_v1_list_with_http_info(opts)
      data
    end

    # List Incident Types V1
    # List all incident types for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentTypesListResultV1, Integer, Hash)>] IncidentTypesListResultV1 data, response status code and response headers
    def incident_types_v1_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTypesV1Api.incident_types_v1_list ...'
      end
      # resource path
      local_var_path = '/v1/incident_types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTypesListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTypesV1Api.incident_types_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTypesV1Api#incident_types_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Incident Types V1
    # Get a single incident type.
    # @param id [String] Unique identifier for this Incident Type
    # @param [Hash] opts the optional parameters
    # @return [IncidentTypesShowResultV1]
    def incident_types_v1_show(id, opts = {})
      data, _status_code, _headers = incident_types_v1_show_with_http_info(id, opts)
      data
    end

    # Show Incident Types V1
    # Get a single incident type.
    # @param id [String] Unique identifier for this Incident Type
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentTypesShowResultV1, Integer, Hash)>] IncidentTypesShowResultV1 data, response status code and response headers
    def incident_types_v1_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTypesV1Api.incident_types_v1_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentTypesV1Api.incident_types_v1_show"
      end
      # resource path
      local_var_path = '/v1/incident_types/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTypesShowResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTypesV1Api.incident_types_v1_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTypesV1Api#incident_types_v1_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
