=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentTimestampsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Incident Timestamps V2
    # List all incident timestamps for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [IncidentTimestampsListResultV2]
    def incident_timestamps_v2_list(opts = {})
      data, _status_code, _headers = incident_timestamps_v2_list_with_http_info(opts)
      data
    end

    # List Incident Timestamps V2
    # List all incident timestamps for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentTimestampsListResultV2, Integer, Hash)>] IncidentTimestampsListResultV2 data, response status code and response headers
    def incident_timestamps_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTimestampsV2Api.incident_timestamps_v2_list ...'
      end
      # resource path
      local_var_path = '/v2/incident_timestamps'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTimestampsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTimestampsV2Api.incident_timestamps_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTimestampsV2Api#incident_timestamps_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Incident Timestamps V2
    # Get a single incident timestamp.
    # @param id [String] Unique ID of this incident timestamp
    # @param [Hash] opts the optional parameters
    # @return [IncidentTimestampsShowResultV2]
    def incident_timestamps_v2_show(id, opts = {})
      data, _status_code, _headers = incident_timestamps_v2_show_with_http_info(id, opts)
      data
    end

    # Show Incident Timestamps V2
    # Get a single incident timestamp.
    # @param id [String] Unique ID of this incident timestamp
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentTimestampsShowResultV2, Integer, Hash)>] IncidentTimestampsShowResultV2 data, response status code and response headers
    def incident_timestamps_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentTimestampsV2Api.incident_timestamps_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentTimestampsV2Api.incident_timestamps_v2_show"
      end
      # resource path
      local_var_path = '/v2/incident_timestamps/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentTimestampsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentTimestampsV2Api.incident_timestamps_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentTimestampsV2Api#incident_timestamps_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
