=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentRolesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Incident Roles V2
    # Create a new incident role
    # @param incident_roles_create_payload_v2 [IncidentRolesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentRolesCreateResultV2]
    def incident_roles_v2_create(incident_roles_create_payload_v2, opts = {})
      data, _status_code, _headers = incident_roles_v2_create_with_http_info(incident_roles_create_payload_v2, opts)
      data
    end

    # Create Incident Roles V2
    # Create a new incident role
    # @param incident_roles_create_payload_v2 [IncidentRolesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentRolesCreateResultV2, Integer, Hash)>] IncidentRolesCreateResultV2 data, response status code and response headers
    def incident_roles_v2_create_with_http_info(incident_roles_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentRolesV2Api.incident_roles_v2_create ...'
      end
      # verify the required parameter 'incident_roles_create_payload_v2' is set
      if @api_client.config.client_side_validation && incident_roles_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'incident_roles_create_payload_v2' when calling IncidentRolesV2Api.incident_roles_v2_create"
      end
      # resource path
      local_var_path = '/v2/incident_roles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_roles_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentRolesCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentRolesV2Api.incident_roles_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentRolesV2Api#incident_roles_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Incident Roles V2
    # Removes an existing role
    # @param id [String] Unique identifier for the role
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def incident_roles_v2_delete(id, opts = {})
      incident_roles_v2_delete_with_http_info(id, opts)
      nil
    end

    # Delete Incident Roles V2
    # Removes an existing role
    # @param id [String] Unique identifier for the role
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def incident_roles_v2_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentRolesV2Api.incident_roles_v2_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentRolesV2Api.incident_roles_v2_delete"
      end
      # resource path
      local_var_path = '/v2/incident_roles/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentRolesV2Api.incident_roles_v2_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentRolesV2Api#incident_roles_v2_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Incident Roles V2
    # List all incident roles for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [IncidentRolesListResultV2]
    def incident_roles_v2_list(opts = {})
      data, _status_code, _headers = incident_roles_v2_list_with_http_info(opts)
      data
    end

    # List Incident Roles V2
    # List all incident roles for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentRolesListResultV2, Integer, Hash)>] IncidentRolesListResultV2 data, response status code and response headers
    def incident_roles_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentRolesV2Api.incident_roles_v2_list ...'
      end
      # resource path
      local_var_path = '/v2/incident_roles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentRolesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentRolesV2Api.incident_roles_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentRolesV2Api#incident_roles_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Incident Roles V2
    # Get a single incident role.
    # @param id [String] Unique identifier for the role
    # @param [Hash] opts the optional parameters
    # @return [IncidentRolesShowResultV2]
    def incident_roles_v2_show(id, opts = {})
      data, _status_code, _headers = incident_roles_v2_show_with_http_info(id, opts)
      data
    end

    # Show Incident Roles V2
    # Get a single incident role.
    # @param id [String] Unique identifier for the role
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentRolesShowResultV2, Integer, Hash)>] IncidentRolesShowResultV2 data, response status code and response headers
    def incident_roles_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentRolesV2Api.incident_roles_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentRolesV2Api.incident_roles_v2_show"
      end
      # resource path
      local_var_path = '/v2/incident_roles/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentRolesShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentRolesV2Api.incident_roles_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentRolesV2Api#incident_roles_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Incident Roles V2
    # Update an existing incident role
    # @param id [String] Unique identifier for the role
    # @param incident_roles_update_payload_v2 [IncidentRolesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentRolesUpdateResultV2]
    def incident_roles_v2_update(id, incident_roles_update_payload_v2, opts = {})
      data, _status_code, _headers = incident_roles_v2_update_with_http_info(id, incident_roles_update_payload_v2, opts)
      data
    end

    # Update Incident Roles V2
    # Update an existing incident role
    # @param id [String] Unique identifier for the role
    # @param incident_roles_update_payload_v2 [IncidentRolesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentRolesUpdateResultV2, Integer, Hash)>] IncidentRolesUpdateResultV2 data, response status code and response headers
    def incident_roles_v2_update_with_http_info(id, incident_roles_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentRolesV2Api.incident_roles_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentRolesV2Api.incident_roles_v2_update"
      end
      # verify the required parameter 'incident_roles_update_payload_v2' is set
      if @api_client.config.client_side_validation && incident_roles_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'incident_roles_update_payload_v2' when calling IncidentRolesV2Api.incident_roles_v2_update"
      end
      # resource path
      local_var_path = '/v2/incident_roles/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_roles_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentRolesUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentRolesV2Api.incident_roles_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentRolesV2Api#incident_roles_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
