=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentActivityLogEntriesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Incident Activity Log Entries V2
    # List the activity log entries for an incident, oldest first.  If the incident has streams, this returns their entries too, and incident_id on each entry tells you which stream it came from.  Platform noise is left out: channel joins and leaves, chat messages and call transcript fragments are recorded internally but never returned here. 
    # @param incident_id [String] Incident whose activity you want to list
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :id Return only the entries with these IDs
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An entry&#39;s ID. This endpoint returns the entries that follow it.
    # @return [IncidentActivityLogEntriesListResultV2]
    def incident_activity_log_entries_v2_list(incident_id, opts = {})
      data, _status_code, _headers = incident_activity_log_entries_v2_list_with_http_info(incident_id, opts)
      data
    end

    # List Incident Activity Log Entries V2
    # List the activity log entries for an incident, oldest first.  If the incident has streams, this returns their entries too, and incident_id on each entry tells you which stream it came from.  Platform noise is left out: channel joins and leaves, chat messages and call transcript fragments are recorded internally but never returned here. 
    # @param incident_id [String] Incident whose activity you want to list
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :id Return only the entries with these IDs
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An entry&#39;s ID. This endpoint returns the entries that follow it.
    # @return [Array<(IncidentActivityLogEntriesListResultV2, Integer, Hash)>] IncidentActivityLogEntriesListResultV2 data, response status code and response headers
    def incident_activity_log_entries_v2_list_with_http_info(incident_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentActivityLogEntriesV2Api.incident_activity_log_entries_v2_list ...'
      end
      # verify the required parameter 'incident_id' is set
      if @api_client.config.client_side_validation && incident_id.nil?
        fail ArgumentError, "Missing the required parameter 'incident_id' when calling IncidentActivityLogEntriesV2Api.incident_activity_log_entries_v2_list"
      end
      if @api_client.config.client_side_validation && !opts[:'id'].nil? && opts[:'id'].length > 100
        fail ArgumentError, 'invalid value for "opts[:"id"]" when calling IncidentActivityLogEntriesV2Api.incident_activity_log_entries_v2_list, number of items must be less than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentActivityLogEntriesV2Api.incident_activity_log_entries_v2_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling IncidentActivityLogEntriesV2Api.incident_activity_log_entries_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/incident_activity_log_entries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'incident_id'] = incident_id
      query_params[:'id'] = @api_client.build_collection_param(opts[:'id'], :multi) if !opts[:'id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentActivityLogEntriesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentActivityLogEntriesV2Api.incident_activity_log_entries_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentActivityLogEntriesV2Api#incident_activity_log_entries_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
