=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IncidentAttachmentsV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Incident Attachments V1
    # Attaches an external resource to an incident.  You must provide a resource with resource_type and either external_id or url, but not both.  When providing a url, the server will create the attachment from that link for the given resource type if the integration is installed and the link is valid.  To attach an arbitrary link that isn't backed by an integration, use the arbitrary_url resource type with a url, and optionally a title and emoji.
    # @param incident_attachments_create_payload_v1 [IncidentAttachmentsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [IncidentAttachmentsCreateResultV1]
    def incident_attachments_v1_create(incident_attachments_create_payload_v1, opts = {})
      data, _status_code, _headers = incident_attachments_v1_create_with_http_info(incident_attachments_create_payload_v1, opts)
      data
    end

    # Create Incident Attachments V1
    # Attaches an external resource to an incident.  You must provide a resource with resource_type and either external_id or url, but not both.  When providing a url, the server will create the attachment from that link for the given resource type if the integration is installed and the link is valid.  To attach an arbitrary link that isn&#39;t backed by an integration, use the arbitrary_url resource type with a url, and optionally a title and emoji.
    # @param incident_attachments_create_payload_v1 [IncidentAttachmentsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncidentAttachmentsCreateResultV1, Integer, Hash)>] IncidentAttachmentsCreateResultV1 data, response status code and response headers
    def incident_attachments_v1_create_with_http_info(incident_attachments_create_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentAttachmentsV1Api.incident_attachments_v1_create ...'
      end
      # verify the required parameter 'incident_attachments_create_payload_v1' is set
      if @api_client.config.client_side_validation && incident_attachments_create_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'incident_attachments_create_payload_v1' when calling IncidentAttachmentsV1Api.incident_attachments_v1_create"
      end
      # resource path
      local_var_path = '/v1/incident_attachments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incident_attachments_create_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentAttachmentsCreateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentAttachmentsV1Api.incident_attachments_v1_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentAttachmentsV1Api#incident_attachments_v1_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Incident Attachments V1
    # Unattaches an external resource from an incident
    # @param id [String] Unique identifier of this incident membership
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def incident_attachments_v1_delete(id, opts = {})
      incident_attachments_v1_delete_with_http_info(id, opts)
      nil
    end

    # Delete Incident Attachments V1
    # Unattaches an external resource from an incident
    # @param id [String] Unique identifier of this incident membership
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def incident_attachments_v1_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentAttachmentsV1Api.incident_attachments_v1_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IncidentAttachmentsV1Api.incident_attachments_v1_delete"
      end
      # resource path
      local_var_path = '/v1/incident_attachments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentAttachmentsV1Api.incident_attachments_v1_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentAttachmentsV1Api#incident_attachments_v1_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Incident Attachments V1
    # List all incident attachments for a given external resource or incident. You must provide either a specific incident ID or a specific external resource type and external ID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :incident_id Incident that this attachment is against
    # @option opts [String] :external_id ID of the resource in the external system
    # @option opts [String] :resource_type E.g. PagerDuty: the external system that holds the resource
    # @return [IncidentAttachmentsListResultV1]
    def incident_attachments_v1_list(opts = {})
      data, _status_code, _headers = incident_attachments_v1_list_with_http_info(opts)
      data
    end

    # List Incident Attachments V1
    # List all incident attachments for a given external resource or incident. You must provide either a specific incident ID or a specific external resource type and external ID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :incident_id Incident that this attachment is against
    # @option opts [String] :external_id ID of the resource in the external system
    # @option opts [String] :resource_type E.g. PagerDuty: the external system that holds the resource
    # @return [Array<(IncidentAttachmentsListResultV1, Integer, Hash)>] IncidentAttachmentsListResultV1 data, response status code and response headers
    def incident_attachments_v1_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncidentAttachmentsV1Api.incident_attachments_v1_list ...'
      end
      # resource path
      local_var_path = '/v1/incident_attachments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'incident_id'] = opts[:'incident_id'] if !opts[:'incident_id'].nil?
      query_params[:'external_id'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'resource_type'] = opts[:'resource_type'] if !opts[:'resource_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncidentAttachmentsListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IncidentAttachmentsV1Api.incident_attachments_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncidentAttachmentsV1Api#incident_attachments_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
