=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class IPAllowlistsV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # ShowIPAllowlist IPAllowlists V1
    # Show the IP allowlist for your organisation
    # @param [Hash] opts the optional parameters
    # @return [IPAllowlistsShowIPAllowlistResultV1]
    def ip_allowlists_v1_show_ip_allowlist(opts = {})
      data, _status_code, _headers = ip_allowlists_v1_show_ip_allowlist_with_http_info(opts)
      data
    end

    # ShowIPAllowlist IPAllowlists V1
    # Show the IP allowlist for your organisation
    # @param [Hash] opts the optional parameters
    # @return [Array<(IPAllowlistsShowIPAllowlistResultV1, Integer, Hash)>] IPAllowlistsShowIPAllowlistResultV1 data, response status code and response headers
    def ip_allowlists_v1_show_ip_allowlist_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IPAllowlistsV1Api.ip_allowlists_v1_show_ip_allowlist ...'
      end
      # resource path
      local_var_path = '/v1/ip_allowlists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IPAllowlistsShowIPAllowlistResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IPAllowlistsV1Api.ip_allowlists_v1_show_ip_allowlist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IPAllowlistsV1Api#ip_allowlists_v1_show_ip_allowlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdateIPAllowlist IPAllowlists V1
    # Update the IP allowlist for your organisation
    # @param ip_allowlists_update_ip_allowlist_payload_v1 [IPAllowlistsUpdateIPAllowlistPayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [IPAllowlistsUpdateIPAllowlistResultV1]
    def ip_allowlists_v1_update_ip_allowlist(ip_allowlists_update_ip_allowlist_payload_v1, opts = {})
      data, _status_code, _headers = ip_allowlists_v1_update_ip_allowlist_with_http_info(ip_allowlists_update_ip_allowlist_payload_v1, opts)
      data
    end

    # UpdateIPAllowlist IPAllowlists V1
    # Update the IP allowlist for your organisation
    # @param ip_allowlists_update_ip_allowlist_payload_v1 [IPAllowlistsUpdateIPAllowlistPayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IPAllowlistsUpdateIPAllowlistResultV1, Integer, Hash)>] IPAllowlistsUpdateIPAllowlistResultV1 data, response status code and response headers
    def ip_allowlists_v1_update_ip_allowlist_with_http_info(ip_allowlists_update_ip_allowlist_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IPAllowlistsV1Api.ip_allowlists_v1_update_ip_allowlist ...'
      end
      # verify the required parameter 'ip_allowlists_update_ip_allowlist_payload_v1' is set
      if @api_client.config.client_side_validation && ip_allowlists_update_ip_allowlist_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'ip_allowlists_update_ip_allowlist_payload_v1' when calling IPAllowlistsV1Api.ip_allowlists_v1_update_ip_allowlist"
      end
      # resource path
      local_var_path = '/v1/ip_allowlists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ip_allowlists_update_ip_allowlist_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'IPAllowlistsUpdateIPAllowlistResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IPAllowlistsV1Api.ip_allowlists_v1_update_ip_allowlist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IPAllowlistsV1Api#ip_allowlists_v1_update_ip_allowlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
