=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class MaintenanceWindowsV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create MaintenanceWindows V1
    # Create a new maintenance window.
    # @param maintenance_windows_create_payload_v1 [MaintenanceWindowsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [MaintenanceWindowsCreateResultV1]
    def maintenance_windows_v1_create(maintenance_windows_create_payload_v1, opts = {})
      data, _status_code, _headers = maintenance_windows_v1_create_with_http_info(maintenance_windows_create_payload_v1, opts)
      data
    end

    # Create MaintenanceWindows V1
    # Create a new maintenance window.
    # @param maintenance_windows_create_payload_v1 [MaintenanceWindowsCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MaintenanceWindowsCreateResultV1, Integer, Hash)>] MaintenanceWindowsCreateResultV1 data, response status code and response headers
    def maintenance_windows_v1_create_with_http_info(maintenance_windows_create_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceWindowsV1Api.maintenance_windows_v1_create ...'
      end
      # verify the required parameter 'maintenance_windows_create_payload_v1' is set
      if @api_client.config.client_side_validation && maintenance_windows_create_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'maintenance_windows_create_payload_v1' when calling MaintenanceWindowsV1Api.maintenance_windows_v1_create"
      end
      # resource path
      local_var_path = '/v1/maintenance_windows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(maintenance_windows_create_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'MaintenanceWindowsCreateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MaintenanceWindowsV1Api.maintenance_windows_v1_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceWindowsV1Api#maintenance_windows_v1_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete MaintenanceWindows V1
    # Archives a maintenance window. Set force to archive an active window.
    # @param id [String] Unique identifier of the maintenance window
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force Archives the window even if it is active. This ends the window immediately. Its resolve_on_end and reroute_on_end actions do not run, so the alerts it is holding stay as they are. To run those actions, use Update to set end_at, then delete the window once it has ended. (default to false)
    # @return [nil]
    def maintenance_windows_v1_delete(id, opts = {})
      maintenance_windows_v1_delete_with_http_info(id, opts)
      nil
    end

    # Delete MaintenanceWindows V1
    # Archives a maintenance window. Set force to archive an active window.
    # @param id [String] Unique identifier of the maintenance window
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force Archives the window even if it is active. This ends the window immediately. Its resolve_on_end and reroute_on_end actions do not run, so the alerts it is holding stay as they are. To run those actions, use Update to set end_at, then delete the window once it has ended. (default to false)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def maintenance_windows_v1_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceWindowsV1Api.maintenance_windows_v1_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MaintenanceWindowsV1Api.maintenance_windows_v1_delete"
      end
      # resource path
      local_var_path = '/v1/maintenance_windows/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'force'] = opts[:'force'] if !opts[:'force'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MaintenanceWindowsV1Api.maintenance_windows_v1_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceWindowsV1Api#maintenance_windows_v1_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List MaintenanceWindows V1
    # List maintenance windows for your organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of maintenance windows to return per page (default to 25)
    # @option opts [String] :after The ID of the last maintenance window on the previous page
    # @option opts [String] :status Filter by window status: active (start_at &lt;&#x3D; now &lt; end_at), upcoming (now &lt; start_at), or past (end_at &lt;&#x3D; now)
    # @return [MaintenanceWindowsListResultV1]
    def maintenance_windows_v1_list(opts = {})
      data, _status_code, _headers = maintenance_windows_v1_list_with_http_info(opts)
      data
    end

    # List MaintenanceWindows V1
    # List maintenance windows for your organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of maintenance windows to return per page (default to 25)
    # @option opts [String] :after The ID of the last maintenance window on the previous page
    # @option opts [String] :status Filter by window status: active (start_at &lt;&#x3D; now &lt; end_at), upcoming (now &lt; start_at), or past (end_at &lt;&#x3D; now)
    # @return [Array<(MaintenanceWindowsListResultV1, Integer, Hash)>] MaintenanceWindowsListResultV1 data, response status code and response headers
    def maintenance_windows_v1_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceWindowsV1Api.maintenance_windows_v1_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 50
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling MaintenanceWindowsV1Api.maintenance_windows_v1_list, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling MaintenanceWindowsV1Api.maintenance_windows_v1_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/maintenance_windows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MaintenanceWindowsListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MaintenanceWindowsV1Api.maintenance_windows_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceWindowsV1Api#maintenance_windows_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show MaintenanceWindows V1
    # Show a particular maintenance window.
    # @param id [String] Unique identifier of the maintenance window
    # @param [Hash] opts the optional parameters
    # @return [MaintenanceWindowsShowResultV1]
    def maintenance_windows_v1_show(id, opts = {})
      data, _status_code, _headers = maintenance_windows_v1_show_with_http_info(id, opts)
      data
    end

    # Show MaintenanceWindows V1
    # Show a particular maintenance window.
    # @param id [String] Unique identifier of the maintenance window
    # @param [Hash] opts the optional parameters
    # @return [Array<(MaintenanceWindowsShowResultV1, Integer, Hash)>] MaintenanceWindowsShowResultV1 data, response status code and response headers
    def maintenance_windows_v1_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceWindowsV1Api.maintenance_windows_v1_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MaintenanceWindowsV1Api.maintenance_windows_v1_show"
      end
      # resource path
      local_var_path = '/v1/maintenance_windows/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MaintenanceWindowsShowResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MaintenanceWindowsV1Api.maintenance_windows_v1_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceWindowsV1Api#maintenance_windows_v1_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update MaintenanceWindows V1
    # Update an existing maintenance window.
    # @param id [String] Unique identifier of the maintenance window
    # @param maintenance_windows_update_payload_v1 [MaintenanceWindowsUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [MaintenanceWindowsUpdateResultV1]
    def maintenance_windows_v1_update(id, maintenance_windows_update_payload_v1, opts = {})
      data, _status_code, _headers = maintenance_windows_v1_update_with_http_info(id, maintenance_windows_update_payload_v1, opts)
      data
    end

    # Update MaintenanceWindows V1
    # Update an existing maintenance window.
    # @param id [String] Unique identifier of the maintenance window
    # @param maintenance_windows_update_payload_v1 [MaintenanceWindowsUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MaintenanceWindowsUpdateResultV1, Integer, Hash)>] MaintenanceWindowsUpdateResultV1 data, response status code and response headers
    def maintenance_windows_v1_update_with_http_info(id, maintenance_windows_update_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceWindowsV1Api.maintenance_windows_v1_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MaintenanceWindowsV1Api.maintenance_windows_v1_update"
      end
      # verify the required parameter 'maintenance_windows_update_payload_v1' is set
      if @api_client.config.client_side_validation && maintenance_windows_update_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'maintenance_windows_update_payload_v1' when calling MaintenanceWindowsV1Api.maintenance_windows_v1_update"
      end
      # resource path
      local_var_path = '/v1/maintenance_windows/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(maintenance_windows_update_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'MaintenanceWindowsUpdateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MaintenanceWindowsV1Api.maintenance_windows_v1_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceWindowsV1Api#maintenance_windows_v1_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
