=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class OnCallNotificationPausesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List On-call Notification Pauses V2
    # List on-call notification pauses across the organisation. By default this returns pauses that are active now or scheduled for the future. Cancelled pauses are never returned, and pauses that were resumed early have ends_at set to when they were resumed.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from Only return pauses that end after this time. Defaults to now, so by default only active and upcoming pauses are returned.
    # @option opts [Time] :to Only return pauses that start before this time
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A pause&#39;s ID. This endpoint will return a list of pauses after this ID in relation to the API response order.
    # @return [OnCallNotificationPausesListResultV2]
    def on_call_notification_pauses_v2_list(opts = {})
      data, _status_code, _headers = on_call_notification_pauses_v2_list_with_http_info(opts)
      data
    end

    # List On-call Notification Pauses V2
    # List on-call notification pauses across the organisation. By default this returns pauses that are active now or scheduled for the future. Cancelled pauses are never returned, and pauses that were resumed early have ends_at set to when they were resumed.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from Only return pauses that end after this time. Defaults to now, so by default only active and upcoming pauses are returned.
    # @option opts [Time] :to Only return pauses that start before this time
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A pause&#39;s ID. This endpoint will return a list of pauses after this ID in relation to the API response order.
    # @return [Array<(OnCallNotificationPausesListResultV2, Integer, Hash)>] OnCallNotificationPausesListResultV2 data, response status code and response headers
    def on_call_notification_pauses_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OnCallNotificationPausesV2Api.on_call_notification_pauses_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OnCallNotificationPausesV2Api.on_call_notification_pauses_v2_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling OnCallNotificationPausesV2Api.on_call_notification_pauses_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/on_call_notification_pauses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OnCallNotificationPausesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"OnCallNotificationPausesV2Api.on_call_notification_pauses_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OnCallNotificationPausesV2Api#on_call_notification_pauses_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show On-call Notification Pauses V2
    # Show a single on-call notification pause. Cancelled pauses are not found.
    # @param id [String] The pause&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [OnCallNotificationPausesShowResultV2]
    def on_call_notification_pauses_v2_show(id, opts = {})
      data, _status_code, _headers = on_call_notification_pauses_v2_show_with_http_info(id, opts)
      data
    end

    # Show On-call Notification Pauses V2
    # Show a single on-call notification pause. Cancelled pauses are not found.
    # @param id [String] The pause&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(OnCallNotificationPausesShowResultV2, Integer, Hash)>] OnCallNotificationPausesShowResultV2 data, response status code and response headers
    def on_call_notification_pauses_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OnCallNotificationPausesV2Api.on_call_notification_pauses_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OnCallNotificationPausesV2Api.on_call_notification_pauses_v2_show"
      end
      # resource path
      local_var_path = '/v2/on_call_notification_pauses/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OnCallNotificationPausesShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"OnCallNotificationPausesV2Api.on_call_notification_pauses_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OnCallNotificationPausesV2Api#on_call_notification_pauses_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
