=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class PayConfigsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Pay Configs V2
    # Create a pay config.  The config is created as a draft, and becomes visible to everyone in the organisation once a report that prices against it is published.
    # @param pay_configs_create_payload_v2 [PayConfigsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PayConfigsCreateResultV2]
    def pay_configs_v2_create(pay_configs_create_payload_v2, opts = {})
      data, _status_code, _headers = pay_configs_v2_create_with_http_info(pay_configs_create_payload_v2, opts)
      data
    end

    # Create Pay Configs V2
    # Create a pay config.  The config is created as a draft, and becomes visible to everyone in the organisation once a report that prices against it is published.
    # @param pay_configs_create_payload_v2 [PayConfigsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayConfigsCreateResultV2, Integer, Hash)>] PayConfigsCreateResultV2 data, response status code and response headers
    def pay_configs_v2_create_with_http_info(pay_configs_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_create ...'
      end
      # verify the required parameter 'pay_configs_create_payload_v2' is set
      if @api_client.config.client_side_validation && pay_configs_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'pay_configs_create_payload_v2' when calling PayConfigsV2Api.pay_configs_v2_create"
      end
      # resource path
      local_var_path = '/v2/pay_configs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pay_configs_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateOneOffRule Pay Configs V2
    # Add a one-off rule to a pay config. It may not overlap a rule the config already has. Where it lands in the list has no effect on pricing.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param pay_configs_create_one_off_rule_payload_v2 [PayConfigsCreateOneOffRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PayConfigsCreateOneOffRuleResultV2]
    def pay_configs_v2_create_one_off_rule(pay_config_id, pay_configs_create_one_off_rule_payload_v2, opts = {})
      data, _status_code, _headers = pay_configs_v2_create_one_off_rule_with_http_info(pay_config_id, pay_configs_create_one_off_rule_payload_v2, opts)
      data
    end

    # CreateOneOffRule Pay Configs V2
    # Add a one-off rule to a pay config. It may not overlap a rule the config already has. Where it lands in the list has no effect on pricing.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param pay_configs_create_one_off_rule_payload_v2 [PayConfigsCreateOneOffRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayConfigsCreateOneOffRuleResultV2, Integer, Hash)>] PayConfigsCreateOneOffRuleResultV2 data, response status code and response headers
    def pay_configs_v2_create_one_off_rule_with_http_info(pay_config_id, pay_configs_create_one_off_rule_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_create_one_off_rule ...'
      end
      # verify the required parameter 'pay_config_id' is set
      if @api_client.config.client_side_validation && pay_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'pay_config_id' when calling PayConfigsV2Api.pay_configs_v2_create_one_off_rule"
      end
      # verify the required parameter 'pay_configs_create_one_off_rule_payload_v2' is set
      if @api_client.config.client_side_validation && pay_configs_create_one_off_rule_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'pay_configs_create_one_off_rule_payload_v2' when calling PayConfigsV2Api.pay_configs_v2_create_one_off_rule"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{pay_config_id}/one_off_rules'.sub('{pay_config_id}', CGI.escape(pay_config_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pay_configs_create_one_off_rule_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsCreateOneOffRuleResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_create_one_off_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_create_one_off_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateWeeklyRule Pay Configs V2
    # Add a weekly rule to a pay config.  The rule is added last, so it is evaluated after every rule already on the config.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param pay_configs_create_weekly_rule_payload_v2 [PayConfigsCreateWeeklyRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PayConfigsCreateWeeklyRuleResultV2]
    def pay_configs_v2_create_weekly_rule(pay_config_id, pay_configs_create_weekly_rule_payload_v2, opts = {})
      data, _status_code, _headers = pay_configs_v2_create_weekly_rule_with_http_info(pay_config_id, pay_configs_create_weekly_rule_payload_v2, opts)
      data
    end

    # CreateWeeklyRule Pay Configs V2
    # Add a weekly rule to a pay config.  The rule is added last, so it is evaluated after every rule already on the config.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param pay_configs_create_weekly_rule_payload_v2 [PayConfigsCreateWeeklyRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayConfigsCreateWeeklyRuleResultV2, Integer, Hash)>] PayConfigsCreateWeeklyRuleResultV2 data, response status code and response headers
    def pay_configs_v2_create_weekly_rule_with_http_info(pay_config_id, pay_configs_create_weekly_rule_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_create_weekly_rule ...'
      end
      # verify the required parameter 'pay_config_id' is set
      if @api_client.config.client_side_validation && pay_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'pay_config_id' when calling PayConfigsV2Api.pay_configs_v2_create_weekly_rule"
      end
      # verify the required parameter 'pay_configs_create_weekly_rule_payload_v2' is set
      if @api_client.config.client_side_validation && pay_configs_create_weekly_rule_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'pay_configs_create_weekly_rule_payload_v2' when calling PayConfigsV2Api.pay_configs_v2_create_weekly_rule"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{pay_config_id}/weekly_rules'.sub('{pay_config_id}', CGI.escape(pay_config_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pay_configs_create_weekly_rule_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsCreateWeeklyRuleResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_create_weekly_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_create_weekly_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroy Pay Configs V2
    # Delete a pay config.  Reports already published against this config keep their own copy of it, so their figures do not change. Any schedule using it as a default loses that default.
    # @param id [String] Unique identifier for this pay config
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def pay_configs_v2_destroy(id, opts = {})
      pay_configs_v2_destroy_with_http_info(id, opts)
      nil
    end

    # Destroy Pay Configs V2
    # Delete a pay config.  Reports already published against this config keep their own copy of it, so their figures do not change. Any schedule using it as a default loses that default.
    # @param id [String] Unique identifier for this pay config
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def pay_configs_v2_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayConfigsV2Api.pay_configs_v2_destroy"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DestroyOneOffRule Pay Configs V2
    # Remove a one-off rule from a pay config. Time it covered falls back to the weekly rules.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def pay_configs_v2_destroy_one_off_rule(pay_config_id, id, opts = {})
      pay_configs_v2_destroy_one_off_rule_with_http_info(pay_config_id, id, opts)
      nil
    end

    # DestroyOneOffRule Pay Configs V2
    # Remove a one-off rule from a pay config. Time it covered falls back to the weekly rules.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def pay_configs_v2_destroy_one_off_rule_with_http_info(pay_config_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_destroy_one_off_rule ...'
      end
      # verify the required parameter 'pay_config_id' is set
      if @api_client.config.client_side_validation && pay_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'pay_config_id' when calling PayConfigsV2Api.pay_configs_v2_destroy_one_off_rule"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayConfigsV2Api.pay_configs_v2_destroy_one_off_rule"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{pay_config_id}/one_off_rules/{id}'.sub('{pay_config_id}', CGI.escape(pay_config_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_destroy_one_off_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_destroy_one_off_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DestroyWeeklyRule Pay Configs V2
    # Remove a weekly rule from a pay config. Time it covered falls back to the base rate, or to a later rule that also covers it.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def pay_configs_v2_destroy_weekly_rule(pay_config_id, id, opts = {})
      pay_configs_v2_destroy_weekly_rule_with_http_info(pay_config_id, id, opts)
      nil
    end

    # DestroyWeeklyRule Pay Configs V2
    # Remove a weekly rule from a pay config. Time it covered falls back to the base rate, or to a later rule that also covers it.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def pay_configs_v2_destroy_weekly_rule_with_http_info(pay_config_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_destroy_weekly_rule ...'
      end
      # verify the required parameter 'pay_config_id' is set
      if @api_client.config.client_side_validation && pay_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'pay_config_id' when calling PayConfigsV2Api.pay_configs_v2_destroy_weekly_rule"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayConfigsV2Api.pay_configs_v2_destroy_weekly_rule"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{pay_config_id}/weekly_rules/{id}'.sub('{pay_config_id}', CGI.escape(pay_config_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_destroy_weekly_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_destroy_weekly_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Pay Configs V2
    # List pay configs for this organisation.  Returns published configs, and drafts created through the API, which belong to nobody and so are visible to everyone. A draft a person created in the dashboard stays private to them. Archived configs are never returned.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A pay config&#39;s ID. This endpoint will return a list of pay configs after this ID in relation to the API response order.
    # @return [PayConfigsListResultV2]
    def pay_configs_v2_list(opts = {})
      data, _status_code, _headers = pay_configs_v2_list_with_http_info(opts)
      data
    end

    # List Pay Configs V2
    # List pay configs for this organisation.  Returns published configs, and drafts created through the API, which belong to nobody and so are visible to everyone. A draft a person created in the dashboard stays private to them. Archived configs are never returned.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A pay config&#39;s ID. This endpoint will return a list of pay configs after this ID in relation to the API response order.
    # @return [Array<(PayConfigsListResultV2, Integer, Hash)>] PayConfigsListResultV2 data, response status code and response headers
    def pay_configs_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PayConfigsV2Api.pay_configs_v2_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PayConfigsV2Api.pay_configs_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/pay_configs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListOneOffRules Pay Configs V2
    # List a pay config's one-off rules, in no particular order. They take precedence over weekly rules, and may not overlap, so at most one applies to any moment.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [PayConfigsListOneOffRulesResultV2]
    def pay_configs_v2_list_one_off_rules(pay_config_id, opts = {})
      data, _status_code, _headers = pay_configs_v2_list_one_off_rules_with_http_info(pay_config_id, opts)
      data
    end

    # ListOneOffRules Pay Configs V2
    # List a pay config&#39;s one-off rules, in no particular order. They take precedence over weekly rules, and may not overlap, so at most one applies to any moment.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayConfigsListOneOffRulesResultV2, Integer, Hash)>] PayConfigsListOneOffRulesResultV2 data, response status code and response headers
    def pay_configs_v2_list_one_off_rules_with_http_info(pay_config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_list_one_off_rules ...'
      end
      # verify the required parameter 'pay_config_id' is set
      if @api_client.config.client_side_validation && pay_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'pay_config_id' when calling PayConfigsV2Api.pay_configs_v2_list_one_off_rules"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{pay_config_id}/one_off_rules'.sub('{pay_config_id}', CGI.escape(pay_config_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsListOneOffRulesResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_list_one_off_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_list_one_off_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListWeeklyRules Pay Configs V2
    # List a pay config's weekly rules, in evaluation order.  A shift is priced by the first rule that covers it, so order is meaningful. A created rule goes last, and there is no way to reorder rules once set: to put one earlier, replace the config through its own create endpoint.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [PayConfigsListWeeklyRulesResultV2]
    def pay_configs_v2_list_weekly_rules(pay_config_id, opts = {})
      data, _status_code, _headers = pay_configs_v2_list_weekly_rules_with_http_info(pay_config_id, opts)
      data
    end

    # ListWeeklyRules Pay Configs V2
    # List a pay config&#39;s weekly rules, in evaluation order.  A shift is priced by the first rule that covers it, so order is meaningful. A created rule goes last, and there is no way to reorder rules once set: to put one earlier, replace the config through its own create endpoint.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayConfigsListWeeklyRulesResultV2, Integer, Hash)>] PayConfigsListWeeklyRulesResultV2 data, response status code and response headers
    def pay_configs_v2_list_weekly_rules_with_http_info(pay_config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_list_weekly_rules ...'
      end
      # verify the required parameter 'pay_config_id' is set
      if @api_client.config.client_side_validation && pay_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'pay_config_id' when calling PayConfigsV2Api.pay_configs_v2_list_weekly_rules"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{pay_config_id}/weekly_rules'.sub('{pay_config_id}', CGI.escape(pay_config_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsListWeeklyRulesResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_list_weekly_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_list_weekly_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Pay Configs V2
    # Show a single pay config.
    # @param id [String] Unique identifier for this pay config
    # @param [Hash] opts the optional parameters
    # @return [PayConfigsShowResultV2]
    def pay_configs_v2_show(id, opts = {})
      data, _status_code, _headers = pay_configs_v2_show_with_http_info(id, opts)
      data
    end

    # Show Pay Configs V2
    # Show a single pay config.
    # @param id [String] Unique identifier for this pay config
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayConfigsShowResultV2, Integer, Hash)>] PayConfigsShowResultV2 data, response status code and response headers
    def pay_configs_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayConfigsV2Api.pay_configs_v2_show"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowOneOffRule Pay Configs V2
    # Show a single one-off rule.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param [Hash] opts the optional parameters
    # @return [PayConfigsShowOneOffRuleResultV2]
    def pay_configs_v2_show_one_off_rule(pay_config_id, id, opts = {})
      data, _status_code, _headers = pay_configs_v2_show_one_off_rule_with_http_info(pay_config_id, id, opts)
      data
    end

    # ShowOneOffRule Pay Configs V2
    # Show a single one-off rule.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayConfigsShowOneOffRuleResultV2, Integer, Hash)>] PayConfigsShowOneOffRuleResultV2 data, response status code and response headers
    def pay_configs_v2_show_one_off_rule_with_http_info(pay_config_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_show_one_off_rule ...'
      end
      # verify the required parameter 'pay_config_id' is set
      if @api_client.config.client_side_validation && pay_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'pay_config_id' when calling PayConfigsV2Api.pay_configs_v2_show_one_off_rule"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayConfigsV2Api.pay_configs_v2_show_one_off_rule"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{pay_config_id}/one_off_rules/{id}'.sub('{pay_config_id}', CGI.escape(pay_config_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsShowOneOffRuleResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_show_one_off_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_show_one_off_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowWeeklyRule Pay Configs V2
    # Show a single weekly rule.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param [Hash] opts the optional parameters
    # @return [PayConfigsShowWeeklyRuleResultV2]
    def pay_configs_v2_show_weekly_rule(pay_config_id, id, opts = {})
      data, _status_code, _headers = pay_configs_v2_show_weekly_rule_with_http_info(pay_config_id, id, opts)
      data
    end

    # ShowWeeklyRule Pay Configs V2
    # Show a single weekly rule.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayConfigsShowWeeklyRuleResultV2, Integer, Hash)>] PayConfigsShowWeeklyRuleResultV2 data, response status code and response headers
    def pay_configs_v2_show_weekly_rule_with_http_info(pay_config_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_show_weekly_rule ...'
      end
      # verify the required parameter 'pay_config_id' is set
      if @api_client.config.client_side_validation && pay_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'pay_config_id' when calling PayConfigsV2Api.pay_configs_v2_show_weekly_rule"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayConfigsV2Api.pay_configs_v2_show_weekly_rule"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{pay_config_id}/weekly_rules/{id}'.sub('{pay_config_id}', CGI.escape(pay_config_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsShowWeeklyRuleResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_show_weekly_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_show_weekly_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Pay Configs V2
    # Update a pay config's attributes.  This changes the config's name, timezone, currency and base rate. It does not touch the config's rules, which are set when the config is created.  Updating a config that a published report priced against additionally requires the schedule_pay_configs.update_published scope, because it changes the explanation of pay someone has already been sent.
    # @param id [String] Unique identifier for this pay config
    # @param pay_configs_update_payload_v2 [PayConfigsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PayConfigsUpdateResultV2]
    def pay_configs_v2_update(id, pay_configs_update_payload_v2, opts = {})
      data, _status_code, _headers = pay_configs_v2_update_with_http_info(id, pay_configs_update_payload_v2, opts)
      data
    end

    # Update Pay Configs V2
    # Update a pay config&#39;s attributes.  This changes the config&#39;s name, timezone, currency and base rate. It does not touch the config&#39;s rules, which are set when the config is created.  Updating a config that a published report priced against additionally requires the schedule_pay_configs.update_published scope, because it changes the explanation of pay someone has already been sent.
    # @param id [String] Unique identifier for this pay config
    # @param pay_configs_update_payload_v2 [PayConfigsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayConfigsUpdateResultV2, Integer, Hash)>] PayConfigsUpdateResultV2 data, response status code and response headers
    def pay_configs_v2_update_with_http_info(id, pay_configs_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayConfigsV2Api.pay_configs_v2_update"
      end
      # verify the required parameter 'pay_configs_update_payload_v2' is set
      if @api_client.config.client_side_validation && pay_configs_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'pay_configs_update_payload_v2' when calling PayConfigsV2Api.pay_configs_v2_update"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pay_configs_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdateOneOffRule Pay Configs V2
    # Update a one-off rule. It may not be moved to overlap another rule on the same config.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param pay_configs_update_one_off_rule_payload_v2 [PayConfigsUpdateOneOffRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PayConfigsUpdateOneOffRuleResultV2]
    def pay_configs_v2_update_one_off_rule(pay_config_id, id, pay_configs_update_one_off_rule_payload_v2, opts = {})
      data, _status_code, _headers = pay_configs_v2_update_one_off_rule_with_http_info(pay_config_id, id, pay_configs_update_one_off_rule_payload_v2, opts)
      data
    end

    # UpdateOneOffRule Pay Configs V2
    # Update a one-off rule. It may not be moved to overlap another rule on the same config.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param pay_configs_update_one_off_rule_payload_v2 [PayConfigsUpdateOneOffRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayConfigsUpdateOneOffRuleResultV2, Integer, Hash)>] PayConfigsUpdateOneOffRuleResultV2 data, response status code and response headers
    def pay_configs_v2_update_one_off_rule_with_http_info(pay_config_id, id, pay_configs_update_one_off_rule_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_update_one_off_rule ...'
      end
      # verify the required parameter 'pay_config_id' is set
      if @api_client.config.client_side_validation && pay_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'pay_config_id' when calling PayConfigsV2Api.pay_configs_v2_update_one_off_rule"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayConfigsV2Api.pay_configs_v2_update_one_off_rule"
      end
      # verify the required parameter 'pay_configs_update_one_off_rule_payload_v2' is set
      if @api_client.config.client_side_validation && pay_configs_update_one_off_rule_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'pay_configs_update_one_off_rule_payload_v2' when calling PayConfigsV2Api.pay_configs_v2_update_one_off_rule"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{pay_config_id}/one_off_rules/{id}'.sub('{pay_config_id}', CGI.escape(pay_config_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pay_configs_update_one_off_rule_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsUpdateOneOffRuleResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_update_one_off_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_update_one_off_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdateWeeklyRule Pay Configs V2
    # Update a weekly rule, leaving its position in the evaluation order alone.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param pay_configs_update_weekly_rule_payload_v2 [PayConfigsUpdateWeeklyRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PayConfigsUpdateWeeklyRuleResultV2]
    def pay_configs_v2_update_weekly_rule(pay_config_id, id, pay_configs_update_weekly_rule_payload_v2, opts = {})
      data, _status_code, _headers = pay_configs_v2_update_weekly_rule_with_http_info(pay_config_id, id, pay_configs_update_weekly_rule_payload_v2, opts)
      data
    end

    # UpdateWeeklyRule Pay Configs V2
    # Update a weekly rule, leaving its position in the evaluation order alone.
    # @param pay_config_id [String] The pay config&#39;s ID
    # @param id [String] Unique identifier for this rule, stable across edits to the config
    # @param pay_configs_update_weekly_rule_payload_v2 [PayConfigsUpdateWeeklyRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayConfigsUpdateWeeklyRuleResultV2, Integer, Hash)>] PayConfigsUpdateWeeklyRuleResultV2 data, response status code and response headers
    def pay_configs_v2_update_weekly_rule_with_http_info(pay_config_id, id, pay_configs_update_weekly_rule_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayConfigsV2Api.pay_configs_v2_update_weekly_rule ...'
      end
      # verify the required parameter 'pay_config_id' is set
      if @api_client.config.client_side_validation && pay_config_id.nil?
        fail ArgumentError, "Missing the required parameter 'pay_config_id' when calling PayConfigsV2Api.pay_configs_v2_update_weekly_rule"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayConfigsV2Api.pay_configs_v2_update_weekly_rule"
      end
      # verify the required parameter 'pay_configs_update_weekly_rule_payload_v2' is set
      if @api_client.config.client_side_validation && pay_configs_update_weekly_rule_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'pay_configs_update_weekly_rule_payload_v2' when calling PayConfigsV2Api.pay_configs_v2_update_weekly_rule"
      end
      # resource path
      local_var_path = '/v2/pay_configs/{pay_config_id}/weekly_rules/{id}'.sub('{pay_config_id}', CGI.escape(pay_config_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pay_configs_update_weekly_rule_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PayConfigsUpdateWeeklyRuleResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayConfigsV2Api.pay_configs_v2_update_weekly_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayConfigsV2Api#pay_configs_v2_update_weekly_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
