=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class PayReportsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Pay Reports V2
    # Request a pay report.  Generating a report can take minutes for a wide date window, so this returns as soon as the request is accepted, with a report that has a status of pending and no totals. Fetch the report to find out how it went: it ends up either complete, with its totals filled in, or failed, with error_code and error_message saying why.  Reports are created as drafts.
    # @param pay_reports_create_payload_v2 [PayReportsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PayReportsCreateResultV2]
    def pay_reports_v2_create(pay_reports_create_payload_v2, opts = {})
      data, _status_code, _headers = pay_reports_v2_create_with_http_info(pay_reports_create_payload_v2, opts)
      data
    end

    # Create Pay Reports V2
    # Request a pay report.  Generating a report can take minutes for a wide date window, so this returns as soon as the request is accepted, with a report that has a status of pending and no totals. Fetch the report to find out how it went: it ends up either complete, with its totals filled in, or failed, with error_code and error_message saying why.  Reports are created as drafts.
    # @param pay_reports_create_payload_v2 [PayReportsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayReportsCreateResultV2, Integer, Hash)>] PayReportsCreateResultV2 data, response status code and response headers
    def pay_reports_v2_create_with_http_info(pay_reports_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayReportsV2Api.pay_reports_v2_create ...'
      end
      # verify the required parameter 'pay_reports_create_payload_v2' is set
      if @api_client.config.client_side_validation && pay_reports_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'pay_reports_create_payload_v2' when calling PayReportsV2Api.pay_reports_v2_create"
      end
      # resource path
      local_var_path = '/v2/pay_reports'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pay_reports_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PayReportsCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayReportsV2Api.pay_reports_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayReportsV2Api#pay_reports_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroy Pay Reports V2
    # Delete a draft pay report, archiving it so it no longer appears in list or show.  Published reports cannot be deleted. Unpublish them instead.
    # @param id [String] Unique identifier for this pay report
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def pay_reports_v2_destroy(id, opts = {})
      pay_reports_v2_destroy_with_http_info(id, opts)
      nil
    end

    # Destroy Pay Reports V2
    # Delete a draft pay report, archiving it so it no longer appears in list or show.  Published reports cannot be deleted. Unpublish them instead.
    # @param id [String] Unique identifier for this pay report
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def pay_reports_v2_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayReportsV2Api.pay_reports_v2_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayReportsV2Api.pay_reports_v2_destroy"
      end
      # resource path
      local_var_path = '/v2/pay_reports/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayReportsV2Api.pay_reports_v2_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayReportsV2Api#pay_reports_v2_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download Pay Reports V2
    # Download a pay report as CSV.  One row per user, carrying what they earned over the report's window and how long they were on-call for it. Each value appears twice: once formatted for a person to read, and once as an integer for a system to parse.  Only a report that has finished generating can be downloaded, since an incomplete one has no totals to write. Check the report's status first.
    # @param id [String] Unique identifier for this pay report
    # @param [Hash] opts the optional parameters
    # @return [File]
    def pay_reports_v2_download(id, opts = {})
      data, _status_code, _headers = pay_reports_v2_download_with_http_info(id, opts)
      data
    end

    # Download Pay Reports V2
    # Download a pay report as CSV.  One row per user, carrying what they earned over the report&#39;s window and how long they were on-call for it. Each value appears twice: once formatted for a person to read, and once as an integer for a system to parse.  Only a report that has finished generating can be downloaded, since an incomplete one has no totals to write. Check the report&#39;s status first.
    # @param id [String] Unique identifier for this pay report
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def pay_reports_v2_download_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayReportsV2Api.pay_reports_v2_download ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayReportsV2Api.pay_reports_v2_download"
      end
      # resource path
      local_var_path = '/v2/pay_reports/{id}/download'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayReportsV2Api.pay_reports_v2_download",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayReportsV2Api#pay_reports_v2_download\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Pay Reports V2
    # List pay reports, newest first.  Only reports that have finished generating are listed. A report you have just asked for appears once it is complete. Fetch it by ID to follow its progress, or to see why it failed.  Reports created before the current pay report format have no totals, so check that total_duration_seconds is set before reading either total.  Drafts are returned alongside published reports. Check published_at to tell them apart.  Only the headline totals are returned: the shifts behind them, and the per-user and per-schedule breakdowns, come from downloading the report.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A pay report&#39;s ID. This endpoint will return a list of pay reports after this ID in relation to the API response order.
    # @return [PayReportsListResultV2]
    def pay_reports_v2_list(opts = {})
      data, _status_code, _headers = pay_reports_v2_list_with_http_info(opts)
      data
    end

    # List Pay Reports V2
    # List pay reports, newest first.  Only reports that have finished generating are listed. A report you have just asked for appears once it is complete. Fetch it by ID to follow its progress, or to see why it failed.  Reports created before the current pay report format have no totals, so check that total_duration_seconds is set before reading either total.  Drafts are returned alongside published reports. Check published_at to tell them apart.  Only the headline totals are returned: the shifts behind them, and the per-user and per-schedule breakdowns, come from downloading the report.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A pay report&#39;s ID. This endpoint will return a list of pay reports after this ID in relation to the API response order.
    # @return [Array<(PayReportsListResultV2, Integer, Hash)>] PayReportsListResultV2 data, response status code and response headers
    def pay_reports_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayReportsV2Api.pay_reports_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 50
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PayReportsV2Api.pay_reports_v2_list, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PayReportsV2Api.pay_reports_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/pay_reports'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayReportsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayReportsV2Api.pay_reports_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayReportsV2Api#pay_reports_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish Pay Reports V2
    # Publish a draft pay report, making it visible to everyone in the organisation.  Publishing emails the report to cc_emails. Set send_user_breakdowns to send if each user should also get their own pay breakdown, or skip if not.
    # @param id [String] Unique identifier for this pay report
    # @param pay_reports_publish_payload_v2 [PayReportsPublishPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PayReportsPublishResultV2]
    def pay_reports_v2_publish(id, pay_reports_publish_payload_v2, opts = {})
      data, _status_code, _headers = pay_reports_v2_publish_with_http_info(id, pay_reports_publish_payload_v2, opts)
      data
    end

    # Publish Pay Reports V2
    # Publish a draft pay report, making it visible to everyone in the organisation.  Publishing emails the report to cc_emails. Set send_user_breakdowns to send if each user should also get their own pay breakdown, or skip if not.
    # @param id [String] Unique identifier for this pay report
    # @param pay_reports_publish_payload_v2 [PayReportsPublishPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayReportsPublishResultV2, Integer, Hash)>] PayReportsPublishResultV2 data, response status code and response headers
    def pay_reports_v2_publish_with_http_info(id, pay_reports_publish_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayReportsV2Api.pay_reports_v2_publish ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayReportsV2Api.pay_reports_v2_publish"
      end
      # verify the required parameter 'pay_reports_publish_payload_v2' is set
      if @api_client.config.client_side_validation && pay_reports_publish_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'pay_reports_publish_payload_v2' when calling PayReportsV2Api.pay_reports_v2_publish"
      end
      # resource path
      local_var_path = '/v2/pay_reports/{id}/actions/publish'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pay_reports_publish_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PayReportsPublishResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayReportsV2Api.pay_reports_v2_publish",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayReportsV2Api#pay_reports_v2_publish\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Pay Reports V2
    # Get a single pay report.  This is how you follow up a report you asked for: status says whether it is still being generated, and error_code and error_message say why it will never be.
    # @param id [String] Unique identifier for this pay report
    # @param [Hash] opts the optional parameters
    # @return [PayReportsShowResultV2]
    def pay_reports_v2_show(id, opts = {})
      data, _status_code, _headers = pay_reports_v2_show_with_http_info(id, opts)
      data
    end

    # Show Pay Reports V2
    # Get a single pay report.  This is how you follow up a report you asked for: status says whether it is still being generated, and error_code and error_message say why it will never be.
    # @param id [String] Unique identifier for this pay report
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayReportsShowResultV2, Integer, Hash)>] PayReportsShowResultV2 data, response status code and response headers
    def pay_reports_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayReportsV2Api.pay_reports_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayReportsV2Api.pay_reports_v2_show"
      end
      # resource path
      local_var_path = '/v2/pay_reports/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PayReportsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayReportsV2Api.pay_reports_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayReportsV2Api#pay_reports_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unpublish Pay Reports V2
    # Unpublish a published pay report, recording a reason it should not be used.  A draft cannot be unpublished: delete it instead.  Unpublishing is terminal: the report no longer appears in List or Show, and cannot be published again. The reason is shown to anyone who still has a permalink.
    # @param id [String] Unique identifier for this pay report
    # @param pay_reports_unpublish_payload_v2 [PayReportsUnpublishPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PayReportsUnpublishResultV2]
    def pay_reports_v2_unpublish(id, pay_reports_unpublish_payload_v2, opts = {})
      data, _status_code, _headers = pay_reports_v2_unpublish_with_http_info(id, pay_reports_unpublish_payload_v2, opts)
      data
    end

    # Unpublish Pay Reports V2
    # Unpublish a published pay report, recording a reason it should not be used.  A draft cannot be unpublished: delete it instead.  Unpublishing is terminal: the report no longer appears in List or Show, and cannot be published again. The reason is shown to anyone who still has a permalink.
    # @param id [String] Unique identifier for this pay report
    # @param pay_reports_unpublish_payload_v2 [PayReportsUnpublishPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PayReportsUnpublishResultV2, Integer, Hash)>] PayReportsUnpublishResultV2 data, response status code and response headers
    def pay_reports_v2_unpublish_with_http_info(id, pay_reports_unpublish_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayReportsV2Api.pay_reports_v2_unpublish ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayReportsV2Api.pay_reports_v2_unpublish"
      end
      # verify the required parameter 'pay_reports_unpublish_payload_v2' is set
      if @api_client.config.client_side_validation && pay_reports_unpublish_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'pay_reports_unpublish_payload_v2' when calling PayReportsV2Api.pay_reports_v2_unpublish"
      end
      # resource path
      local_var_path = '/v2/pay_reports/{id}/actions/unpublish'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pay_reports_unpublish_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PayReportsUnpublishResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PayReportsV2Api.pay_reports_v2_unpublish",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayReportsV2Api#pay_reports_v2_unpublish\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
