=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class PoliciesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Policies V2
    # Create a new policy.
    # @param policies_create_payload_v2 [PoliciesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PoliciesCreateResultV2]
    def policies_v2_create(policies_create_payload_v2, opts = {})
      data, _status_code, _headers = policies_v2_create_with_http_info(policies_create_payload_v2, opts)
      data
    end

    # Create Policies V2
    # Create a new policy.
    # @param policies_create_payload_v2 [PoliciesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PoliciesCreateResultV2, Integer, Hash)>] PoliciesCreateResultV2 data, response status code and response headers
    def policies_v2_create_with_http_info(policies_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesV2Api.policies_v2_create ...'
      end
      # verify the required parameter 'policies_create_payload_v2' is set
      if @api_client.config.client_side_validation && policies_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'policies_create_payload_v2' when calling PoliciesV2Api.policies_v2_create"
      end
      # resource path
      local_var_path = '/v2/policies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policies_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PoliciesCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PoliciesV2Api.policies_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesV2Api#policies_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Policies V2
    # Archive a policy. Archived policies stop evaluating and no longer appear in the API.
    # @param id [String] Unique identifier for the policy
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def policies_v2_delete(id, opts = {})
      policies_v2_delete_with_http_info(id, opts)
      nil
    end

    # Delete Policies V2
    # Archive a policy. Archived policies stop evaluating and no longer appear in the API.
    # @param id [String] Unique identifier for the policy
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def policies_v2_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesV2Api.policies_v2_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PoliciesV2Api.policies_v2_delete"
      end
      # resource path
      local_var_path = '/v2/policies/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PoliciesV2Api.policies_v2_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesV2Api#policies_v2_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Policies V2
    # List all policies for an organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of policies to return per page (default to 25)
    # @option opts [String] :after The ID of the last policy on the previous page
    # @option opts [String] :policy_type Filter to policies of this type
    # @return [PoliciesListResultV2]
    def policies_v2_list(opts = {})
      data, _status_code, _headers = policies_v2_list_with_http_info(opts)
      data
    end

    # List Policies V2
    # List all policies for an organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of policies to return per page (default to 25)
    # @option opts [String] :after The ID of the last policy on the previous page
    # @option opts [String] :policy_type Filter to policies of this type
    # @return [Array<(PoliciesListResultV2, Integer, Hash)>] PoliciesListResultV2 data, response status code and response headers
    def policies_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesV2Api.policies_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 50
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PoliciesV2Api.policies_v2_list, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PoliciesV2Api.policies_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/policies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'policy_type'] = opts[:'policy_type'] if !opts[:'policy_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PoliciesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PoliciesV2Api.policies_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesV2Api#policies_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Policies V2
    # Get a single policy.
    # @param id [String] Unique identifier for the policy
    # @param [Hash] opts the optional parameters
    # @return [PoliciesShowResultV2]
    def policies_v2_show(id, opts = {})
      data, _status_code, _headers = policies_v2_show_with_http_info(id, opts)
      data
    end

    # Show Policies V2
    # Get a single policy.
    # @param id [String] Unique identifier for the policy
    # @param [Hash] opts the optional parameters
    # @return [Array<(PoliciesShowResultV2, Integer, Hash)>] PoliciesShowResultV2 data, response status code and response headers
    def policies_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesV2Api.policies_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PoliciesV2Api.policies_v2_show"
      end
      # resource path
      local_var_path = '/v2/policies/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PoliciesShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PoliciesV2Api.policies_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesV2Api#policies_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Policies V2
    # Update an existing policy.  The <code>policy_type</code> of an existing policy cannot be changed: sending a different type is rejected. Create a new policy instead. 
    # @param id [String] Unique identifier for the policy
    # @param policies_update_payload_v2 [PoliciesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PoliciesUpdateResultV2]
    def policies_v2_update(id, policies_update_payload_v2, opts = {})
      data, _status_code, _headers = policies_v2_update_with_http_info(id, policies_update_payload_v2, opts)
      data
    end

    # Update Policies V2
    # Update an existing policy.  The &lt;code&gt;policy_type&lt;/code&gt; of an existing policy cannot be changed: sending a different type is rejected. Create a new policy instead. 
    # @param id [String] Unique identifier for the policy
    # @param policies_update_payload_v2 [PoliciesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PoliciesUpdateResultV2, Integer, Hash)>] PoliciesUpdateResultV2 data, response status code and response headers
    def policies_v2_update_with_http_info(id, policies_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesV2Api.policies_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PoliciesV2Api.policies_v2_update"
      end
      # verify the required parameter 'policies_update_payload_v2' is set
      if @api_client.config.client_side_validation && policies_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'policies_update_payload_v2' when calling PoliciesV2Api.policies_v2_update"
      end
      # resource path
      local_var_path = '/v2/policies/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policies_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PoliciesUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PoliciesV2Api.policies_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesV2Api#policies_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
