=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class PolicyFindingsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Dismiss Policy Findings V2
    # Dismiss a finding, so it stops being counted as open.  Dismissing is a judgement that the finding doesn't need acting on, not that the resource now meets the policy. The finding stays queryable with a state of <code>dismissed</code>. 
    # @param id [String] Unique identifier for the finding
    # @param policy_findings_dismiss_payload_v2 [PolicyFindingsDismissPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyFindingsDismissResultV2]
    def policy_findings_v2_dismiss(id, policy_findings_dismiss_payload_v2, opts = {})
      data, _status_code, _headers = policy_findings_v2_dismiss_with_http_info(id, policy_findings_dismiss_payload_v2, opts)
      data
    end

    # Dismiss Policy Findings V2
    # Dismiss a finding, so it stops being counted as open.  Dismissing is a judgement that the finding doesn&#39;t need acting on, not that the resource now meets the policy. The finding stays queryable with a state of &lt;code&gt;dismissed&lt;/code&gt;. 
    # @param id [String] Unique identifier for the finding
    # @param policy_findings_dismiss_payload_v2 [PolicyFindingsDismissPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFindingsDismissResultV2, Integer, Hash)>] PolicyFindingsDismissResultV2 data, response status code and response headers
    def policy_findings_v2_dismiss_with_http_info(id, policy_findings_dismiss_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyFindingsV2Api.policy_findings_v2_dismiss ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PolicyFindingsV2Api.policy_findings_v2_dismiss"
      end
      # verify the required parameter 'policy_findings_dismiss_payload_v2' is set
      if @api_client.config.client_side_validation && policy_findings_dismiss_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'policy_findings_dismiss_payload_v2' when calling PolicyFindingsV2Api.policy_findings_v2_dismiss"
      end
      # resource path
      local_var_path = '/v2/policy_findings/{id}/actions/dismiss'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_findings_dismiss_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyFindingsDismissResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyFindingsV2Api.policy_findings_v2_dismiss",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyFindingsV2Api#policy_findings_v2_dismiss\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Policy Findings V2
    # List the findings your policies have raised, whatever state they are in.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of findings to return per page (default to 25)
    # @option opts [String] :after The ID of the last finding on the previous page
    # @option opts [String] :policy_id Only findings raised by this policy
    # @return [PolicyFindingsListResultV2]
    def policy_findings_v2_list(opts = {})
      data, _status_code, _headers = policy_findings_v2_list_with_http_info(opts)
      data
    end

    # List Policy Findings V2
    # List the findings your policies have raised, whatever state they are in.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Number of findings to return per page (default to 25)
    # @option opts [String] :after The ID of the last finding on the previous page
    # @option opts [String] :policy_id Only findings raised by this policy
    # @return [Array<(PolicyFindingsListResultV2, Integer, Hash)>] PolicyFindingsListResultV2 data, response status code and response headers
    def policy_findings_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyFindingsV2Api.policy_findings_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PolicyFindingsV2Api.policy_findings_v2_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PolicyFindingsV2Api.policy_findings_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/policy_findings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'policy_id'] = opts[:'policy_id'] if !opts[:'policy_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyFindingsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyFindingsV2Api.policy_findings_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyFindingsV2Api#policy_findings_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore Policy Findings V2
    # Undo a dismissal, returning the finding to its open state.
    # @param id [String] Unique identifier for the finding
    # @param [Hash] opts the optional parameters
    # @return [PolicyFindingsRestoreResultV2]
    def policy_findings_v2_restore(id, opts = {})
      data, _status_code, _headers = policy_findings_v2_restore_with_http_info(id, opts)
      data
    end

    # Restore Policy Findings V2
    # Undo a dismissal, returning the finding to its open state.
    # @param id [String] Unique identifier for the finding
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFindingsRestoreResultV2, Integer, Hash)>] PolicyFindingsRestoreResultV2 data, response status code and response headers
    def policy_findings_v2_restore_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyFindingsV2Api.policy_findings_v2_restore ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PolicyFindingsV2Api.policy_findings_v2_restore"
      end
      # resource path
      local_var_path = '/v2/policy_findings/{id}/actions/restore'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyFindingsRestoreResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyFindingsV2Api.policy_findings_v2_restore",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyFindingsV2Api#policy_findings_v2_restore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Policy Findings V2
    # Get a single finding.
    # @param id [String] Unique identifier for the finding
    # @param [Hash] opts the optional parameters
    # @return [PolicyFindingsShowResultV2]
    def policy_findings_v2_show(id, opts = {})
      data, _status_code, _headers = policy_findings_v2_show_with_http_info(id, opts)
      data
    end

    # Show Policy Findings V2
    # Get a single finding.
    # @param id [String] Unique identifier for the finding
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyFindingsShowResultV2, Integer, Hash)>] PolicyFindingsShowResultV2 data, response status code and response headers
    def policy_findings_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyFindingsV2Api.policy_findings_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PolicyFindingsV2Api.policy_findings_v2_show"
      end
      # resource path
      local_var_path = '/v2/policy_findings/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyFindingsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyFindingsV2Api.policy_findings_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyFindingsV2Api#policy_findings_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
