=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class PostmortemDocumentsV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Attach PostmortemDocuments V1
    # Link an externally-hosted post-mortem document to an incident.  Use this to attach a retrospective document you've created in your own provider (for example Confluence, Notion, or Google Docs) to an existing incident. This is the API equivalent of pasting a document link into the incident.io dashboard, and is useful for automating your retrospective workflow - for example, creating a document in the right space with the right permissions when an incident is opened, then linking it back to the incident.  Only one external post-mortem can be attached to an incident, and you cannot attach an external document to an incident that already has an in-app post-mortem. Re-attaching the same incident with a new permalink updates the existing link. 
    # @param postmortem_documents_attach_payload_v1 [PostmortemDocumentsAttachPayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [PostmortemDocumentsAttachResultV1]
    def postmortem_documents_v1_attach(postmortem_documents_attach_payload_v1, opts = {})
      data, _status_code, _headers = postmortem_documents_v1_attach_with_http_info(postmortem_documents_attach_payload_v1, opts)
      data
    end

    # Attach PostmortemDocuments V1
    # Link an externally-hosted post-mortem document to an incident.  Use this to attach a retrospective document you&#39;ve created in your own provider (for example Confluence, Notion, or Google Docs) to an existing incident. This is the API equivalent of pasting a document link into the incident.io dashboard, and is useful for automating your retrospective workflow - for example, creating a document in the right space with the right permissions when an incident is opened, then linking it back to the incident.  Only one external post-mortem can be attached to an incident, and you cannot attach an external document to an incident that already has an in-app post-mortem. Re-attaching the same incident with a new permalink updates the existing link. 
    # @param postmortem_documents_attach_payload_v1 [PostmortemDocumentsAttachPayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostmortemDocumentsAttachResultV1, Integer, Hash)>] PostmortemDocumentsAttachResultV1 data, response status code and response headers
    def postmortem_documents_v1_attach_with_http_info(postmortem_documents_attach_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostmortemDocumentsV1Api.postmortem_documents_v1_attach ...'
      end
      # verify the required parameter 'postmortem_documents_attach_payload_v1' is set
      if @api_client.config.client_side_validation && postmortem_documents_attach_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'postmortem_documents_attach_payload_v1' when calling PostmortemDocumentsV1Api.postmortem_documents_v1_attach"
      end
      # resource path
      local_var_path = '/v1/postmortem_documents/actions/attach'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(postmortem_documents_attach_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'PostmortemDocumentsAttachResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PostmortemDocumentsV1Api.postmortem_documents_v1_attach",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostmortemDocumentsV1Api#postmortem_documents_v1_attach\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PostmortemDocuments V1
    # List post-mortem documents for the organisation.  Results can be filtered by incident and sorted by creation date. This endpoint returns document metadata only. If you want to fetch the content of the post-mortem, use the ShowContent endpoint. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A post-mortem document&#39;s ID. This endpoint will return a list of post-mortem documents after this ID.
    # @option opts [String] :incident_id Filter to only return post-mortem documents for the given incident
    # @option opts [String] :sort_by Controls the order that results are returned in (default to 'created_at_newest_first')
    # @return [PostmortemDocumentsListResultV1]
    def postmortem_documents_v1_list(opts = {})
      data, _status_code, _headers = postmortem_documents_v1_list_with_http_info(opts)
      data
    end

    # List PostmortemDocuments V1
    # List post-mortem documents for the organisation.  Results can be filtered by incident and sorted by creation date. This endpoint returns document metadata only. If you want to fetch the content of the post-mortem, use the ShowContent endpoint. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A post-mortem document&#39;s ID. This endpoint will return a list of post-mortem documents after this ID.
    # @option opts [String] :incident_id Filter to only return post-mortem documents for the given incident
    # @option opts [String] :sort_by Controls the order that results are returned in (default to 'created_at_newest_first')
    # @return [Array<(PostmortemDocumentsListResultV1, Integer, Hash)>] PostmortemDocumentsListResultV1 data, response status code and response headers
    def postmortem_documents_v1_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostmortemDocumentsV1Api.postmortem_documents_v1_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PostmortemDocumentsV1Api.postmortem_documents_v1_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling PostmortemDocumentsV1Api.postmortem_documents_v1_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/postmortem_documents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'incident_id'] = opts[:'incident_id'] if !opts[:'incident_id'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostmortemDocumentsListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PostmortemDocumentsV1Api.postmortem_documents_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostmortemDocumentsV1Api#postmortem_documents_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show PostmortemDocuments V1
    # Get a single post-mortem document by ID.  This returns the document's metadata. To retrieve the content of the post-mortem, use the ShowContent endpoint. 
    # @param id [String] Unique identifier for the post-mortem document
    # @param [Hash] opts the optional parameters
    # @return [PostmortemDocumentsShowResultV1]
    def postmortem_documents_v1_show(id, opts = {})
      data, _status_code, _headers = postmortem_documents_v1_show_with_http_info(id, opts)
      data
    end

    # Show PostmortemDocuments V1
    # Get a single post-mortem document by ID.  This returns the document&#39;s metadata. To retrieve the content of the post-mortem, use the ShowContent endpoint. 
    # @param id [String] Unique identifier for the post-mortem document
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostmortemDocumentsShowResultV1, Integer, Hash)>] PostmortemDocumentsShowResultV1 data, response status code and response headers
    def postmortem_documents_v1_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostmortemDocumentsV1Api.postmortem_documents_v1_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PostmortemDocumentsV1Api.postmortem_documents_v1_show"
      end
      # resource path
      local_var_path = '/v1/postmortem_documents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostmortemDocumentsShowResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PostmortemDocumentsV1Api.postmortem_documents_v1_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostmortemDocumentsV1Api#postmortem_documents_v1_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowContent PostmortemDocuments V1
    # Fetch the content of a post-mortem document, rendered as markdown.  The response contains the full document content as a single markdown string. The markdown follows standard formatting and is structured to mirror the post-mortem as it appears in the incident.io dashboard:  - **Headings** (`#`, `##`, `###`) for document title and sections - **Bold** and *italic* text formatting - Bullet lists and numbered lists - [Links](url) to external resources, Slack threads, and pull requests - Mentions of users, incidents, and catalog entries resolved to their display names - Custom field values rendered as labelled bullet lists - Timeline entries grouped by date with timestamps - Follow-ups with assignees and descriptions  To preview what this markdown will look like for a given post-mortem, open the document in the incident.io dashboard and use the \"Copy to clipboard\" button. The copied content uses the same rendering pipeline as this endpoint.  If you only need document metadata, use the Show or List endpoints instead. 
    # @param id [String] Unique identifier for the post-mortem document
    # @param [Hash] opts the optional parameters
    # @return [PostmortemDocumentsShowContentResultV1]
    def postmortem_documents_v1_show_content(id, opts = {})
      data, _status_code, _headers = postmortem_documents_v1_show_content_with_http_info(id, opts)
      data
    end

    # ShowContent PostmortemDocuments V1
    # Fetch the content of a post-mortem document, rendered as markdown.  The response contains the full document content as a single markdown string. The markdown follows standard formatting and is structured to mirror the post-mortem as it appears in the incident.io dashboard:  - **Headings** (&#x60;#&#x60;, &#x60;##&#x60;, &#x60;###&#x60;) for document title and sections - **Bold** and *italic* text formatting - Bullet lists and numbered lists - [Links](url) to external resources, Slack threads, and pull requests - Mentions of users, incidents, and catalog entries resolved to their display names - Custom field values rendered as labelled bullet lists - Timeline entries grouped by date with timestamps - Follow-ups with assignees and descriptions  To preview what this markdown will look like for a given post-mortem, open the document in the incident.io dashboard and use the \&quot;Copy to clipboard\&quot; button. The copied content uses the same rendering pipeline as this endpoint.  If you only need document metadata, use the Show or List endpoints instead. 
    # @param id [String] Unique identifier for the post-mortem document
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostmortemDocumentsShowContentResultV1, Integer, Hash)>] PostmortemDocumentsShowContentResultV1 data, response status code and response headers
    def postmortem_documents_v1_show_content_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostmortemDocumentsV1Api.postmortem_documents_v1_show_content ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PostmortemDocumentsV1Api.postmortem_documents_v1_show_content"
      end
      # resource path
      local_var_path = '/v1/postmortem_documents/{id}/content'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostmortemDocumentsShowContentResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PostmortemDocumentsV1Api.postmortem_documents_v1_show_content",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostmortemDocumentsV1Api#postmortem_documents_v1_show_content\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdateStatus PostmortemDocuments V1
    # Update the status of a post-mortem document.
    # @param id [String] Unique identifier for the post-mortem document
    # @param postmortem_documents_update_status_payload_v1 [PostmortemDocumentsUpdateStatusPayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [PostmortemDocumentsUpdateStatusResultV1]
    def postmortem_documents_v1_update_status(id, postmortem_documents_update_status_payload_v1, opts = {})
      data, _status_code, _headers = postmortem_documents_v1_update_status_with_http_info(id, postmortem_documents_update_status_payload_v1, opts)
      data
    end

    # UpdateStatus PostmortemDocuments V1
    # Update the status of a post-mortem document.
    # @param id [String] Unique identifier for the post-mortem document
    # @param postmortem_documents_update_status_payload_v1 [PostmortemDocumentsUpdateStatusPayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostmortemDocumentsUpdateStatusResultV1, Integer, Hash)>] PostmortemDocumentsUpdateStatusResultV1 data, response status code and response headers
    def postmortem_documents_v1_update_status_with_http_info(id, postmortem_documents_update_status_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostmortemDocumentsV1Api.postmortem_documents_v1_update_status ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PostmortemDocumentsV1Api.postmortem_documents_v1_update_status"
      end
      # verify the required parameter 'postmortem_documents_update_status_payload_v1' is set
      if @api_client.config.client_side_validation && postmortem_documents_update_status_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'postmortem_documents_update_status_payload_v1' when calling PostmortemDocumentsV1Api.postmortem_documents_v1_update_status"
      end
      # resource path
      local_var_path = '/v1/postmortem_documents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(postmortem_documents_update_status_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'PostmortemDocumentsUpdateStatusResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PostmortemDocumentsV1Api.postmortem_documents_v1_update_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostmortemDocumentsV1Api#postmortem_documents_v1_update_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
