=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class ScheduleSyncTargetsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Schedule Sync Targets V2
    # Create a new schedule sync target for a Slack user group.
    # @param schedule_sync_targets_create_payload_v2 [ScheduleSyncTargetsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [ScheduleSyncTargetsCreateResultV2]
    def schedule_sync_targets_v2_create(schedule_sync_targets_create_payload_v2, opts = {})
      data, _status_code, _headers = schedule_sync_targets_v2_create_with_http_info(schedule_sync_targets_create_payload_v2, opts)
      data
    end

    # Create Schedule Sync Targets V2
    # Create a new schedule sync target for a Slack user group.
    # @param schedule_sync_targets_create_payload_v2 [ScheduleSyncTargetsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduleSyncTargetsCreateResultV2, Integer, Hash)>] ScheduleSyncTargetsCreateResultV2 data, response status code and response headers
    def schedule_sync_targets_v2_create_with_http_info(schedule_sync_targets_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_create ...'
      end
      # verify the required parameter 'schedule_sync_targets_create_payload_v2' is set
      if @api_client.config.client_side_validation && schedule_sync_targets_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_sync_targets_create_payload_v2' when calling ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_create"
      end
      # resource path
      local_var_path = '/v2/schedule_sync_targets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedule_sync_targets_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduleSyncTargetsCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduleSyncTargetsV2Api#schedule_sync_targets_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroy Schedule Sync Targets V2
    # Archive a schedule sync target. Will fail if any active sync rules reference this target.
    # @param id [String] The sync target ID to archive
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def schedule_sync_targets_v2_destroy(id, opts = {})
      schedule_sync_targets_v2_destroy_with_http_info(id, opts)
      nil
    end

    # Destroy Schedule Sync Targets V2
    # Archive a schedule sync target. Will fail if any active sync rules reference this target.
    # @param id [String] The sync target ID to archive
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def schedule_sync_targets_v2_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_destroy"
      end
      # resource path
      local_var_path = '/v2/schedule_sync_targets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduleSyncTargetsV2Api#schedule_sync_targets_v2_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Schedule Sync Targets V2
    # List all schedule sync targets for this organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A sync target&#39;s ID. This endpoint will return a list of sync targets after this ID in relation to the API response order.
    # @return [ScheduleSyncTargetsListResultV2]
    def schedule_sync_targets_v2_list(opts = {})
      data, _status_code, _headers = schedule_sync_targets_v2_list_with_http_info(opts)
      data
    end

    # List Schedule Sync Targets V2
    # List all schedule sync targets for this organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A sync target&#39;s ID. This endpoint will return a list of sync targets after this ID in relation to the API response order.
    # @return [Array<(ScheduleSyncTargetsListResultV2, Integer, Hash)>] ScheduleSyncTargetsListResultV2 data, response status code and response headers
    def schedule_sync_targets_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/schedule_sync_targets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduleSyncTargetsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduleSyncTargetsV2Api#schedule_sync_targets_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Schedule Sync Targets V2
    # Get a single schedule sync target.
    # @param id [String] The sync target ID
    # @param [Hash] opts the optional parameters
    # @return [ScheduleSyncTargetsShowResultV2]
    def schedule_sync_targets_v2_show(id, opts = {})
      data, _status_code, _headers = schedule_sync_targets_v2_show_with_http_info(id, opts)
      data
    end

    # Show Schedule Sync Targets V2
    # Get a single schedule sync target.
    # @param id [String] The sync target ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduleSyncTargetsShowResultV2, Integer, Hash)>] ScheduleSyncTargetsShowResultV2 data, response status code and response headers
    def schedule_sync_targets_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_show"
      end
      # resource path
      local_var_path = '/v2/schedule_sync_targets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduleSyncTargetsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduleSyncTargetsV2Api#schedule_sync_targets_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Schedule Sync Targets V2
    # Update the add_bot_to_group flag on a sync target. The change propagates to every schedule with an active sync rule pointing at this target; the entire operation aborts if the caller lacks edit permission on any of those schedules.
    # @param id [String] The sync target ID
    # @param schedule_sync_targets_update_payload_v2 [ScheduleSyncTargetsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [ScheduleSyncTargetsUpdateResultV2]
    def schedule_sync_targets_v2_update(id, schedule_sync_targets_update_payload_v2, opts = {})
      data, _status_code, _headers = schedule_sync_targets_v2_update_with_http_info(id, schedule_sync_targets_update_payload_v2, opts)
      data
    end

    # Update Schedule Sync Targets V2
    # Update the add_bot_to_group flag on a sync target. The change propagates to every schedule with an active sync rule pointing at this target; the entire operation aborts if the caller lacks edit permission on any of those schedules.
    # @param id [String] The sync target ID
    # @param schedule_sync_targets_update_payload_v2 [ScheduleSyncTargetsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduleSyncTargetsUpdateResultV2, Integer, Hash)>] ScheduleSyncTargetsUpdateResultV2 data, response status code and response headers
    def schedule_sync_targets_v2_update_with_http_info(id, schedule_sync_targets_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_update"
      end
      # verify the required parameter 'schedule_sync_targets_update_payload_v2' is set
      if @api_client.config.client_side_validation && schedule_sync_targets_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_sync_targets_update_payload_v2' when calling ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_update"
      end
      # resource path
      local_var_path = '/v2/schedule_sync_targets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedule_sync_targets_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduleSyncTargetsUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ScheduleSyncTargetsV2Api.schedule_sync_targets_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduleSyncTargetsV2Api#schedule_sync_targets_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
