=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class SchedulesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Schedules V2
    # Create a new schedule.
    # @param schedules_create_payload_v2 [SchedulesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [SchedulesCreateResultV2]
    def schedules_v2_create(schedules_create_payload_v2, opts = {})
      data, _status_code, _headers = schedules_v2_create_with_http_info(schedules_create_payload_v2, opts)
      data
    end

    # Create Schedules V2
    # Create a new schedule.
    # @param schedules_create_payload_v2 [SchedulesCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesCreateResultV2, Integer, Hash)>] SchedulesCreateResultV2 data, response status code and response headers
    def schedules_v2_create_with_http_info(schedules_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_create ...'
      end
      # verify the required parameter 'schedules_create_payload_v2' is set
      if @api_client.config.client_side_validation && schedules_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'schedules_create_payload_v2' when calling SchedulesV2Api.schedules_v2_create"
      end
      # resource path
      local_var_path = '/v2/schedules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedules_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateOverride Schedules V2
    # Create a new schedule override.
    # @param schedules_create_override_payload_v2 [SchedulesCreateOverridePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [SchedulesCreateOverrideResultV2]
    def schedules_v2_create_override(schedules_create_override_payload_v2, opts = {})
      data, _status_code, _headers = schedules_v2_create_override_with_http_info(schedules_create_override_payload_v2, opts)
      data
    end

    # CreateOverride Schedules V2
    # Create a new schedule override.
    # @param schedules_create_override_payload_v2 [SchedulesCreateOverridePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesCreateOverrideResultV2, Integer, Hash)>] SchedulesCreateOverrideResultV2 data, response status code and response headers
    def schedules_v2_create_override_with_http_info(schedules_create_override_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_create_override ...'
      end
      # verify the required parameter 'schedules_create_override_payload_v2' is set
      if @api_client.config.client_side_validation && schedules_create_override_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'schedules_create_override_payload_v2' when calling SchedulesV2Api.schedules_v2_create_override"
      end
      # resource path
      local_var_path = '/v2/schedule_overrides'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedules_create_override_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesCreateOverrideResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_create_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_create_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateScheduleReplica Schedules V2
    # Create a new schedule replica.
    # @param schedule_id [String] The schedule to create a replica for
    # @param schedules_create_schedule_replica_payload_v2 [SchedulesCreateScheduleReplicaPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [SchedulesCreateScheduleReplicaResultV2]
    def schedules_v2_create_schedule_replica(schedule_id, schedules_create_schedule_replica_payload_v2, opts = {})
      data, _status_code, _headers = schedules_v2_create_schedule_replica_with_http_info(schedule_id, schedules_create_schedule_replica_payload_v2, opts)
      data
    end

    # CreateScheduleReplica Schedules V2
    # Create a new schedule replica.
    # @param schedule_id [String] The schedule to create a replica for
    # @param schedules_create_schedule_replica_payload_v2 [SchedulesCreateScheduleReplicaPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesCreateScheduleReplicaResultV2, Integer, Hash)>] SchedulesCreateScheduleReplicaResultV2 data, response status code and response headers
    def schedules_v2_create_schedule_replica_with_http_info(schedule_id, schedules_create_schedule_replica_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_create_schedule_replica ...'
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SchedulesV2Api.schedules_v2_create_schedule_replica"
      end
      # verify the required parameter 'schedules_create_schedule_replica_payload_v2' is set
      if @api_client.config.client_side_validation && schedules_create_schedule_replica_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'schedules_create_schedule_replica_payload_v2' when calling SchedulesV2Api.schedules_v2_create_schedule_replica"
      end
      # resource path
      local_var_path = '/v2/schedules/{schedule_id}/replicas'.sub('{schedule_id}', CGI.escape(schedule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedules_create_schedule_replica_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesCreateScheduleReplicaResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_create_schedule_replica",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_create_schedule_replica\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateScheduleSyncRule Schedules V2
    # Create a new sync rule linking a schedule to a sync target.
    # @param schedule_id [String] The schedule to create a sync rule for
    # @param schedules_create_schedule_sync_rule_payload_v2 [SchedulesCreateScheduleSyncRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [SchedulesCreateScheduleSyncRuleResultV2]
    def schedules_v2_create_schedule_sync_rule(schedule_id, schedules_create_schedule_sync_rule_payload_v2, opts = {})
      data, _status_code, _headers = schedules_v2_create_schedule_sync_rule_with_http_info(schedule_id, schedules_create_schedule_sync_rule_payload_v2, opts)
      data
    end

    # CreateScheduleSyncRule Schedules V2
    # Create a new sync rule linking a schedule to a sync target.
    # @param schedule_id [String] The schedule to create a sync rule for
    # @param schedules_create_schedule_sync_rule_payload_v2 [SchedulesCreateScheduleSyncRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesCreateScheduleSyncRuleResultV2, Integer, Hash)>] SchedulesCreateScheduleSyncRuleResultV2 data, response status code and response headers
    def schedules_v2_create_schedule_sync_rule_with_http_info(schedule_id, schedules_create_schedule_sync_rule_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_create_schedule_sync_rule ...'
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SchedulesV2Api.schedules_v2_create_schedule_sync_rule"
      end
      # verify the required parameter 'schedules_create_schedule_sync_rule_payload_v2' is set
      if @api_client.config.client_side_validation && schedules_create_schedule_sync_rule_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'schedules_create_schedule_sync_rule_payload_v2' when calling SchedulesV2Api.schedules_v2_create_schedule_sync_rule"
      end
      # resource path
      local_var_path = '/v2/schedules/{schedule_id}/sync_rules'.sub('{schedule_id}', CGI.escape(schedule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedules_create_schedule_sync_rule_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesCreateScheduleSyncRuleResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_create_schedule_sync_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_create_schedule_sync_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroy Schedules V2
    # Archives a single schedule. Will fail if the schedule has active replicas — remove all replicas before deleting.
    # @param id [String] Unique internal ID of the schedule
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def schedules_v2_destroy(id, opts = {})
      schedules_v2_destroy_with_http_info(id, opts)
      nil
    end

    # Destroy Schedules V2
    # Archives a single schedule. Will fail if the schedule has active replicas — remove all replicas before deleting.
    # @param id [String] Unique internal ID of the schedule
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def schedules_v2_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_destroy"
      end
      # resource path
      local_var_path = '/v2/schedules/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DestroyOverride Schedules V2
    # Delete a schedule override, restoring whoever the rotations put on-call for that window.  Deleting an override that has already been deleted succeeds, so it is safe to retry.
    # @param id [String] The override ID to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def schedules_v2_destroy_override(id, opts = {})
      schedules_v2_destroy_override_with_http_info(id, opts)
      nil
    end

    # DestroyOverride Schedules V2
    # Delete a schedule override, restoring whoever the rotations put on-call for that window.  Deleting an override that has already been deleted succeeds, so it is safe to retry.
    # @param id [String] The override ID to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def schedules_v2_destroy_override_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_destroy_override ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_destroy_override"
      end
      # resource path
      local_var_path = '/v2/schedule_overrides/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_destroy_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_destroy_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DestroyScheduleReplica Schedules V2
    # Archives a single schedule replica, stopping incident.io from syncing on-call shifts to the external provider.  As with disabling mirroring via the UI, this will remove any upcoming overrides that incident.io has created in the external schedule, restoring it to its original state. If multiple replicas target the same external schedule, overrides are only removed when the last replica pointing to that schedule is deleted.  Note: override cleanup is supported for PagerDuty and Jira Service Management. Opsgenie does not support programmatic override deletion, so overrides must be removed manually.
    # @param schedule_id [String] The parent schedule ID
    # @param id [String] The replica ID to archive
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def schedules_v2_destroy_schedule_replica(schedule_id, id, opts = {})
      schedules_v2_destroy_schedule_replica_with_http_info(schedule_id, id, opts)
      nil
    end

    # DestroyScheduleReplica Schedules V2
    # Archives a single schedule replica, stopping incident.io from syncing on-call shifts to the external provider.  As with disabling mirroring via the UI, this will remove any upcoming overrides that incident.io has created in the external schedule, restoring it to its original state. If multiple replicas target the same external schedule, overrides are only removed when the last replica pointing to that schedule is deleted.  Note: override cleanup is supported for PagerDuty and Jira Service Management. Opsgenie does not support programmatic override deletion, so overrides must be removed manually.
    # @param schedule_id [String] The parent schedule ID
    # @param id [String] The replica ID to archive
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def schedules_v2_destroy_schedule_replica_with_http_info(schedule_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_destroy_schedule_replica ...'
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SchedulesV2Api.schedules_v2_destroy_schedule_replica"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_destroy_schedule_replica"
      end
      # resource path
      local_var_path = '/v2/schedules/{schedule_id}/replicas/{id}'.sub('{schedule_id}', CGI.escape(schedule_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_destroy_schedule_replica",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_destroy_schedule_replica\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DestroyScheduleSyncRule Schedules V2
    # Archive a sync rule, unlinking the schedule from the sync target.
    # @param schedule_id [String] The parent schedule ID
    # @param id [String] The sync rule ID to archive
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def schedules_v2_destroy_schedule_sync_rule(schedule_id, id, opts = {})
      schedules_v2_destroy_schedule_sync_rule_with_http_info(schedule_id, id, opts)
      nil
    end

    # DestroyScheduleSyncRule Schedules V2
    # Archive a sync rule, unlinking the schedule from the sync target.
    # @param schedule_id [String] The parent schedule ID
    # @param id [String] The sync rule ID to archive
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def schedules_v2_destroy_schedule_sync_rule_with_http_info(schedule_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_destroy_schedule_sync_rule ...'
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SchedulesV2Api.schedules_v2_destroy_schedule_sync_rule"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_destroy_schedule_sync_rule"
      end
      # resource path
      local_var_path = '/v2/schedules/{schedule_id}/sync_rules/{id}'.sub('{schedule_id}', CGI.escape(schedule_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_destroy_schedule_sync_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_destroy_schedule_sync_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Schedules V2
    # List configured schedules.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Note that next_shifts will only be returned when the page size is 25 or lower. (default to 25)
    # @option opts [String] :after A schedule&#39;s ID. This endpoint will return a list of schedules after this ID in relation to the API response order.
    # @return [SchedulesListResultV2]
    def schedules_v2_list(opts = {})
      data, _status_code, _headers = schedules_v2_list_with_http_info(opts)
      data
    end

    # List Schedules V2
    # List configured schedules.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Note that next_shifts will only be returned when the page size is 25 or lower. (default to 25)
    # @option opts [String] :after A schedule&#39;s ID. This endpoint will return a list of schedules after this ID in relation to the API response order.
    # @return [Array<(SchedulesListResultV2, Integer, Hash)>] SchedulesListResultV2 data, response status code and response headers
    def schedules_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 10000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SchedulesV2Api.schedules_v2_list, must be smaller than or equal to 10000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SchedulesV2Api.schedules_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/schedules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListOverrides Schedules V2
    # List the overrides on a schedule.  Overrides are one-off changes layered on top of the rotations, such as someone covering a colleague's shift. This returns the overrides themselves: to see the effective schedule with overrides already merged in, use the schedule entries endpoint instead.  Overrides belong to a specific layer of a specific rotation, so you can narrow the results with `rotation_id` and `layer_id`.  Archived overrides are not returned.
    # @param schedule_id [String] The ID of the schedule to get overrides for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :rotation_id If set, only return overrides on this rotation.
    # @option opts [String] :layer_id If set, only return overrides on this layer.
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An override&#39;s ID. This endpoint will return a list of overrides after this ID in relation to the API response order.
    # @return [SchedulesListOverridesResultV2]
    def schedules_v2_list_overrides(schedule_id, opts = {})
      data, _status_code, _headers = schedules_v2_list_overrides_with_http_info(schedule_id, opts)
      data
    end

    # ListOverrides Schedules V2
    # List the overrides on a schedule.  Overrides are one-off changes layered on top of the rotations, such as someone covering a colleague&#39;s shift. This returns the overrides themselves: to see the effective schedule with overrides already merged in, use the schedule entries endpoint instead.  Overrides belong to a specific layer of a specific rotation, so you can narrow the results with &#x60;rotation_id&#x60; and &#x60;layer_id&#x60;.  Archived overrides are not returned.
    # @param schedule_id [String] The ID of the schedule to get overrides for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :rotation_id If set, only return overrides on this rotation.
    # @option opts [String] :layer_id If set, only return overrides on this layer.
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An override&#39;s ID. This endpoint will return a list of overrides after this ID in relation to the API response order.
    # @return [Array<(SchedulesListOverridesResultV2, Integer, Hash)>] SchedulesListOverridesResultV2 data, response status code and response headers
    def schedules_v2_list_overrides_with_http_info(schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_list_overrides ...'
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SchedulesV2Api.schedules_v2_list_overrides"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SchedulesV2Api.schedules_v2_list_overrides, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SchedulesV2Api.schedules_v2_list_overrides, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/schedule_overrides'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'schedule_id'] = schedule_id
      query_params[:'rotation_id'] = opts[:'rotation_id'] if !opts[:'rotation_id'].nil?
      query_params[:'layer_id'] = opts[:'layer_id'] if !opts[:'layer_id'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesListOverridesResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_list_overrides",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_list_overrides\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListScheduleEntries Schedules V2
    # List the schedule entries for a schedule over a window of time.  Use this endpoint to find out who is on-call for a schedule, either right now or at any point in the future. Common uses include:  - Building a calendar or timeline view of who is on-call. - Looking up who was on-call at a particular moment (for example, when an   incident fired). - Exporting upcoming shifts into another system, such as a payroll or   scheduling tool.  The response groups entries into three lists: `scheduled` (the entries the rotation rules produce, before any overrides), `overrides` (any one-off overrides that apply in the window) and `final` (the effective schedule after overrides have been merged in — this is normally the list you want).  Each entry includes the `rotation_id` it belongs to. Schedules can be made up of multiple rotations (for example, a primary and a secondary rotation) and each rotation can have several layers, and we return entries for every rotation and layer on the schedule.  The endpoint returns all entries that overlap with the given window. If no window is provided we default to a sensible range starting from now.  ## Pagination  Responses are paginated. When more entries are available than fit on a single page, the response includes a `pagination_meta` block with two fields:  - `after_url` — a fully-formed URL for the next page. The simplest way   to paginate is to keep following this URL until it is no longer present. - `after` — an opaque cursor token. To fetch the next page manually,   re-issue the request with `entry_window_start` set to this value and   `entry_window_end` left unchanged from the original request. Treat   the token as opaque — do not parse or modify it.  Keep paginating until `pagination_meta` is absent from the response, at which point you have received every entry in the window.
    # @param schedule_id [String] The ID of the schedule to get entries for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :entry_window_start The start of the window to get entries for. May also carry an opaque pagination cursor previously returned in &#x60;pagination_meta.after&#x60; — pass it back here unchanged to fetch the next page (leave &#x60;entry_window_end&#x60; unchanged from the original request).
    # @option opts [Time] :entry_window_end The end of the window to get entries for.
    # @return [SchedulesListScheduleEntriesResultV2]
    def schedules_v2_list_schedule_entries(schedule_id, opts = {})
      data, _status_code, _headers = schedules_v2_list_schedule_entries_with_http_info(schedule_id, opts)
      data
    end

    # ListScheduleEntries Schedules V2
    # List the schedule entries for a schedule over a window of time.  Use this endpoint to find out who is on-call for a schedule, either right now or at any point in the future. Common uses include:  - Building a calendar or timeline view of who is on-call. - Looking up who was on-call at a particular moment (for example, when an   incident fired). - Exporting upcoming shifts into another system, such as a payroll or   scheduling tool.  The response groups entries into three lists: &#x60;scheduled&#x60; (the entries the rotation rules produce, before any overrides), &#x60;overrides&#x60; (any one-off overrides that apply in the window) and &#x60;final&#x60; (the effective schedule after overrides have been merged in — this is normally the list you want).  Each entry includes the &#x60;rotation_id&#x60; it belongs to. Schedules can be made up of multiple rotations (for example, a primary and a secondary rotation) and each rotation can have several layers, and we return entries for every rotation and layer on the schedule.  The endpoint returns all entries that overlap with the given window. If no window is provided we default to a sensible range starting from now.  ## Pagination  Responses are paginated. When more entries are available than fit on a single page, the response includes a &#x60;pagination_meta&#x60; block with two fields:  - &#x60;after_url&#x60; — a fully-formed URL for the next page. The simplest way   to paginate is to keep following this URL until it is no longer present. - &#x60;after&#x60; — an opaque cursor token. To fetch the next page manually,   re-issue the request with &#x60;entry_window_start&#x60; set to this value and   &#x60;entry_window_end&#x60; left unchanged from the original request. Treat   the token as opaque — do not parse or modify it.  Keep paginating until &#x60;pagination_meta&#x60; is absent from the response, at which point you have received every entry in the window.
    # @param schedule_id [String] The ID of the schedule to get entries for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :entry_window_start The start of the window to get entries for. May also carry an opaque pagination cursor previously returned in &#x60;pagination_meta.after&#x60; — pass it back here unchanged to fetch the next page (leave &#x60;entry_window_end&#x60; unchanged from the original request).
    # @option opts [Time] :entry_window_end The end of the window to get entries for.
    # @return [Array<(SchedulesListScheduleEntriesResultV2, Integer, Hash)>] SchedulesListScheduleEntriesResultV2 data, response status code and response headers
    def schedules_v2_list_schedule_entries_with_http_info(schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_list_schedule_entries ...'
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SchedulesV2Api.schedules_v2_list_schedule_entries"
      end
      # resource path
      local_var_path = '/v2/schedule_entries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'schedule_id'] = schedule_id
      query_params[:'entry_window_start'] = opts[:'entry_window_start'] if !opts[:'entry_window_start'].nil?
      query_params[:'entry_window_end'] = opts[:'entry_window_end'] if !opts[:'entry_window_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesListScheduleEntriesResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_list_schedule_entries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_list_schedule_entries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListScheduleReplicas Schedules V2
    # List all replicas for a schedule.
    # @param schedule_id [String] The schedule to list replicas for
    # @param [Hash] opts the optional parameters
    # @return [SchedulesListScheduleReplicasResultV2]
    def schedules_v2_list_schedule_replicas(schedule_id, opts = {})
      data, _status_code, _headers = schedules_v2_list_schedule_replicas_with_http_info(schedule_id, opts)
      data
    end

    # ListScheduleReplicas Schedules V2
    # List all replicas for a schedule.
    # @param schedule_id [String] The schedule to list replicas for
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesListScheduleReplicasResultV2, Integer, Hash)>] SchedulesListScheduleReplicasResultV2 data, response status code and response headers
    def schedules_v2_list_schedule_replicas_with_http_info(schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_list_schedule_replicas ...'
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SchedulesV2Api.schedules_v2_list_schedule_replicas"
      end
      # resource path
      local_var_path = '/v2/schedules/{schedule_id}/replicas'.sub('{schedule_id}', CGI.escape(schedule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesListScheduleReplicasResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_list_schedule_replicas",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_list_schedule_replicas\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListScheduleSyncRules Schedules V2
    # List the sync rules configured on this schedule.
    # @param schedule_id [String] The schedule to list sync rules for
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A sync rule&#39;s ID. This endpoint will return a list of sync rules after this ID in relation to the API response order.
    # @return [SchedulesListScheduleSyncRulesResultV2]
    def schedules_v2_list_schedule_sync_rules(schedule_id, opts = {})
      data, _status_code, _headers = schedules_v2_list_schedule_sync_rules_with_http_info(schedule_id, opts)
      data
    end

    # ListScheduleSyncRules Schedules V2
    # List the sync rules configured on this schedule.
    # @param schedule_id [String] The schedule to list sync rules for
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A sync rule&#39;s ID. This endpoint will return a list of sync rules after this ID in relation to the API response order.
    # @return [Array<(SchedulesListScheduleSyncRulesResultV2, Integer, Hash)>] SchedulesListScheduleSyncRulesResultV2 data, response status code and response headers
    def schedules_v2_list_schedule_sync_rules_with_http_info(schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_list_schedule_sync_rules ...'
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SchedulesV2Api.schedules_v2_list_schedule_sync_rules"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SchedulesV2Api.schedules_v2_list_schedule_sync_rules, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SchedulesV2Api.schedules_v2_list_schedule_sync_rules, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/schedules/{schedule_id}/sync_rules'.sub('{schedule_id}', CGI.escape(schedule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesListScheduleSyncRulesResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_list_schedule_sync_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_list_schedule_sync_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PreviewScheduleEntries Schedules V2
    # Preview the schedule entries that would be generated by a proposed schedule configuration.  Use this endpoint before updating a schedule to see who would be on-call if you saved the supplied schedule payload. The request body uses the same `schedule` payload shape as Update schedule, so you can send the configuration you intend to save without persisting it.  The response uses the same `schedule_entries` envelope as List schedule entries: `scheduled` contains entries produced by the rotation rules, `overrides` contains matching overrides, and `final` contains the effective schedule after overrides are applied.  The preview window is bounded to keep requests predictable. If you ask for more than 91 days, the response is capped to 91 days from `entry_window_start`.
    # @param id [String] The ID of the schedule to preview entries for.
    # @param schedules_preview_schedule_entries_payload_v2 [SchedulesPreviewScheduleEntriesPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [SchedulesPreviewScheduleEntriesResultV2]
    def schedules_v2_preview_schedule_entries(id, schedules_preview_schedule_entries_payload_v2, opts = {})
      data, _status_code, _headers = schedules_v2_preview_schedule_entries_with_http_info(id, schedules_preview_schedule_entries_payload_v2, opts)
      data
    end

    # PreviewScheduleEntries Schedules V2
    # Preview the schedule entries that would be generated by a proposed schedule configuration.  Use this endpoint before updating a schedule to see who would be on-call if you saved the supplied schedule payload. The request body uses the same &#x60;schedule&#x60; payload shape as Update schedule, so you can send the configuration you intend to save without persisting it.  The response uses the same &#x60;schedule_entries&#x60; envelope as List schedule entries: &#x60;scheduled&#x60; contains entries produced by the rotation rules, &#x60;overrides&#x60; contains matching overrides, and &#x60;final&#x60; contains the effective schedule after overrides are applied.  The preview window is bounded to keep requests predictable. If you ask for more than 91 days, the response is capped to 91 days from &#x60;entry_window_start&#x60;.
    # @param id [String] The ID of the schedule to preview entries for.
    # @param schedules_preview_schedule_entries_payload_v2 [SchedulesPreviewScheduleEntriesPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesPreviewScheduleEntriesResultV2, Integer, Hash)>] SchedulesPreviewScheduleEntriesResultV2 data, response status code and response headers
    def schedules_v2_preview_schedule_entries_with_http_info(id, schedules_preview_schedule_entries_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_preview_schedule_entries ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_preview_schedule_entries"
      end
      # verify the required parameter 'schedules_preview_schedule_entries_payload_v2' is set
      if @api_client.config.client_side_validation && schedules_preview_schedule_entries_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'schedules_preview_schedule_entries_payload_v2' when calling SchedulesV2Api.schedules_v2_preview_schedule_entries"
      end
      # resource path
      local_var_path = '/v2/schedules/{id}/actions/preview_entries'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedules_preview_schedule_entries_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesPreviewScheduleEntriesResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_preview_schedule_entries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_preview_schedule_entries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Schedules V2
    # Get a single schedule.
    # @param id [String] Unique internal ID of the schedule
    # @param [Hash] opts the optional parameters
    # @return [SchedulesShowResultV2]
    def schedules_v2_show(id, opts = {})
      data, _status_code, _headers = schedules_v2_show_with_http_info(id, opts)
      data
    end

    # Show Schedules V2
    # Get a single schedule.
    # @param id [String] Unique internal ID of the schedule
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesShowResultV2, Integer, Hash)>] SchedulesShowResultV2 data, response status code and response headers
    def schedules_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_show"
      end
      # resource path
      local_var_path = '/v2/schedules/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowOverride Schedules V2
    # Get a single schedule override.  Overrides that have been deleted are not returned.  An override's ID is not stable across edits: updating an override that overlaps its neighbours replaces them with new overrides, so an ID you are holding can stop resolving. List the schedule's overrides again to pick up the replacements.
    # @param id [String] The override ID to get
    # @param [Hash] opts the optional parameters
    # @return [SchedulesShowOverrideResultV2]
    def schedules_v2_show_override(id, opts = {})
      data, _status_code, _headers = schedules_v2_show_override_with_http_info(id, opts)
      data
    end

    # ShowOverride Schedules V2
    # Get a single schedule override.  Overrides that have been deleted are not returned.  An override&#39;s ID is not stable across edits: updating an override that overlaps its neighbours replaces them with new overrides, so an ID you are holding can stop resolving. List the schedule&#39;s overrides again to pick up the replacements.
    # @param id [String] The override ID to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesShowOverrideResultV2, Integer, Hash)>] SchedulesShowOverrideResultV2 data, response status code and response headers
    def schedules_v2_show_override_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_show_override ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_show_override"
      end
      # resource path
      local_var_path = '/v2/schedule_overrides/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesShowOverrideResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_show_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_show_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowScheduleReplica Schedules V2
    # Get a single schedule replica.
    # @param schedule_id [String] The parent schedule ID
    # @param id [String] The replica ID to show
    # @param [Hash] opts the optional parameters
    # @return [SchedulesShowScheduleReplicaResultV2]
    def schedules_v2_show_schedule_replica(schedule_id, id, opts = {})
      data, _status_code, _headers = schedules_v2_show_schedule_replica_with_http_info(schedule_id, id, opts)
      data
    end

    # ShowScheduleReplica Schedules V2
    # Get a single schedule replica.
    # @param schedule_id [String] The parent schedule ID
    # @param id [String] The replica ID to show
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesShowScheduleReplicaResultV2, Integer, Hash)>] SchedulesShowScheduleReplicaResultV2 data, response status code and response headers
    def schedules_v2_show_schedule_replica_with_http_info(schedule_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_show_schedule_replica ...'
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SchedulesV2Api.schedules_v2_show_schedule_replica"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_show_schedule_replica"
      end
      # resource path
      local_var_path = '/v2/schedules/{schedule_id}/replicas/{id}'.sub('{schedule_id}', CGI.escape(schedule_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesShowScheduleReplicaResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_show_schedule_replica",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_show_schedule_replica\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowScheduleSyncRule Schedules V2
    # Get a single sync rule for a schedule.
    # @param schedule_id [String] The parent schedule ID
    # @param id [String] The sync rule ID
    # @param [Hash] opts the optional parameters
    # @return [SchedulesShowScheduleSyncRuleResultV2]
    def schedules_v2_show_schedule_sync_rule(schedule_id, id, opts = {})
      data, _status_code, _headers = schedules_v2_show_schedule_sync_rule_with_http_info(schedule_id, id, opts)
      data
    end

    # ShowScheduleSyncRule Schedules V2
    # Get a single sync rule for a schedule.
    # @param schedule_id [String] The parent schedule ID
    # @param id [String] The sync rule ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesShowScheduleSyncRuleResultV2, Integer, Hash)>] SchedulesShowScheduleSyncRuleResultV2 data, response status code and response headers
    def schedules_v2_show_schedule_sync_rule_with_http_info(schedule_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_show_schedule_sync_rule ...'
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SchedulesV2Api.schedules_v2_show_schedule_sync_rule"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_show_schedule_sync_rule"
      end
      # resource path
      local_var_path = '/v2/schedules/{schedule_id}/sync_rules/{id}'.sub('{schedule_id}', CGI.escape(schedule_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesShowScheduleSyncRuleResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_show_schedule_sync_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_show_schedule_sync_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Schedules V2
    # Update a schedule.  Updating a schedule replaces its entire configuration with the one you send, including any scheduled future versions of its rotations — fetch the schedule first and include every version you want to keep.  To change who's in a rotation from a future date without affecting shifts before then, keep the current version unchanged and add another version of the same rotation with `effective_from` set to when the change should land — ideally an upcoming handover, so nobody is swapped mid-shift. You can check the effect of any configuration before saving it with Preview schedule entries.
    # @param id [String] The schedule ID to update.
    # @param schedules_update_payload_v2 [SchedulesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [SchedulesUpdateResultV2]
    def schedules_v2_update(id, schedules_update_payload_v2, opts = {})
      data, _status_code, _headers = schedules_v2_update_with_http_info(id, schedules_update_payload_v2, opts)
      data
    end

    # Update Schedules V2
    # Update a schedule.  Updating a schedule replaces its entire configuration with the one you send, including any scheduled future versions of its rotations — fetch the schedule first and include every version you want to keep.  To change who&#39;s in a rotation from a future date without affecting shifts before then, keep the current version unchanged and add another version of the same rotation with &#x60;effective_from&#x60; set to when the change should land — ideally an upcoming handover, so nobody is swapped mid-shift. You can check the effect of any configuration before saving it with Preview schedule entries.
    # @param id [String] The schedule ID to update.
    # @param schedules_update_payload_v2 [SchedulesUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesUpdateResultV2, Integer, Hash)>] SchedulesUpdateResultV2 data, response status code and response headers
    def schedules_v2_update_with_http_info(id, schedules_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_update"
      end
      # verify the required parameter 'schedules_update_payload_v2' is set
      if @api_client.config.client_side_validation && schedules_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'schedules_update_payload_v2' when calling SchedulesV2Api.schedules_v2_update"
      end
      # resource path
      local_var_path = '/v2/schedules/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedules_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdateOverride Schedules V2
    # Update a schedule override, moving its window or the rotation and layer it sits on.  An override cannot be reassigned: send the user it already has, and delete and recreate it to put someone else on call for that window.  Overrides on a layer cannot overlap, so widening one over its neighbour's window takes that time over. The neighbour is deleted, and any of its time left outside the new window comes back as new overrides with new IDs, so other override IDs on this layer may stop resolving — list the schedule's overrides again to pick up the replacements.
    # @param id [String] The override ID to update
    # @param schedules_update_override_payload_v2 [SchedulesUpdateOverridePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [SchedulesUpdateOverrideResultV2]
    def schedules_v2_update_override(id, schedules_update_override_payload_v2, opts = {})
      data, _status_code, _headers = schedules_v2_update_override_with_http_info(id, schedules_update_override_payload_v2, opts)
      data
    end

    # UpdateOverride Schedules V2
    # Update a schedule override, moving its window or the rotation and layer it sits on.  An override cannot be reassigned: send the user it already has, and delete and recreate it to put someone else on call for that window.  Overrides on a layer cannot overlap, so widening one over its neighbour&#39;s window takes that time over. The neighbour is deleted, and any of its time left outside the new window comes back as new overrides with new IDs, so other override IDs on this layer may stop resolving — list the schedule&#39;s overrides again to pick up the replacements.
    # @param id [String] The override ID to update
    # @param schedules_update_override_payload_v2 [SchedulesUpdateOverridePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesUpdateOverrideResultV2, Integer, Hash)>] SchedulesUpdateOverrideResultV2 data, response status code and response headers
    def schedules_v2_update_override_with_http_info(id, schedules_update_override_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_update_override ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_update_override"
      end
      # verify the required parameter 'schedules_update_override_payload_v2' is set
      if @api_client.config.client_side_validation && schedules_update_override_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'schedules_update_override_payload_v2' when calling SchedulesV2Api.schedules_v2_update_override"
      end
      # resource path
      local_var_path = '/v2/schedule_overrides/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedules_update_override_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesUpdateOverrideResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_update_override",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_update_override\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdateScheduleSyncRule Schedules V2
    # Update a sync rule's sync_type and permanent members in place. If the rule's sync target is shared with other schedules, a sync_type change propagates to every linked schedule and the entire operation aborts if the caller lacks edit permission on any of them. Permanent members are scoped to this rule and never propagate.
    # @param schedule_id [String] The parent schedule ID
    # @param id [String] The sync rule ID
    # @param schedules_update_schedule_sync_rule_payload_v2 [SchedulesUpdateScheduleSyncRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [SchedulesUpdateScheduleSyncRuleResultV2]
    def schedules_v2_update_schedule_sync_rule(schedule_id, id, schedules_update_schedule_sync_rule_payload_v2, opts = {})
      data, _status_code, _headers = schedules_v2_update_schedule_sync_rule_with_http_info(schedule_id, id, schedules_update_schedule_sync_rule_payload_v2, opts)
      data
    end

    # UpdateScheduleSyncRule Schedules V2
    # Update a sync rule&#39;s sync_type and permanent members in place. If the rule&#39;s sync target is shared with other schedules, a sync_type change propagates to every linked schedule and the entire operation aborts if the caller lacks edit permission on any of them. Permanent members are scoped to this rule and never propagate.
    # @param schedule_id [String] The parent schedule ID
    # @param id [String] The sync rule ID
    # @param schedules_update_schedule_sync_rule_payload_v2 [SchedulesUpdateScheduleSyncRulePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchedulesUpdateScheduleSyncRuleResultV2, Integer, Hash)>] SchedulesUpdateScheduleSyncRuleResultV2 data, response status code and response headers
    def schedules_v2_update_schedule_sync_rule_with_http_info(schedule_id, id, schedules_update_schedule_sync_rule_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchedulesV2Api.schedules_v2_update_schedule_sync_rule ...'
      end
      # verify the required parameter 'schedule_id' is set
      if @api_client.config.client_side_validation && schedule_id.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_id' when calling SchedulesV2Api.schedules_v2_update_schedule_sync_rule"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchedulesV2Api.schedules_v2_update_schedule_sync_rule"
      end
      # verify the required parameter 'schedules_update_schedule_sync_rule_payload_v2' is set
      if @api_client.config.client_side_validation && schedules_update_schedule_sync_rule_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'schedules_update_schedule_sync_rule_payload_v2' when calling SchedulesV2Api.schedules_v2_update_schedule_sync_rule"
      end
      # resource path
      local_var_path = '/v2/schedules/{schedule_id}/sync_rules/{id}'.sub('{schedule_id}', CGI.escape(schedule_id.to_s)).sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedules_update_schedule_sync_rule_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'SchedulesUpdateScheduleSyncRuleResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SchedulesV2Api.schedules_v2_update_schedule_sync_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchedulesV2Api#schedules_v2_update_schedule_sync_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
