=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class SecretsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Secrets V2
    # Create a new secret with its initial value.
    # @param secrets_create_payload_v2 [SecretsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [SecretsCreateResultV2]
    def secrets_v2_create(secrets_create_payload_v2, opts = {})
      data, _status_code, _headers = secrets_v2_create_with_http_info(secrets_create_payload_v2, opts)
      data
    end

    # Create Secrets V2
    # Create a new secret with its initial value.
    # @param secrets_create_payload_v2 [SecretsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecretsCreateResultV2, Integer, Hash)>] SecretsCreateResultV2 data, response status code and response headers
    def secrets_v2_create_with_http_info(secrets_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsV2Api.secrets_v2_create ...'
      end
      # verify the required parameter 'secrets_create_payload_v2' is set
      if @api_client.config.client_side_validation && secrets_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'secrets_create_payload_v2' when calling SecretsV2Api.secrets_v2_create"
      end
      # resource path
      local_var_path = '/v2/secrets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secrets_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'SecretsCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SecretsV2Api.secrets_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsV2Api#secrets_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroy Secrets V2
    # Delete a secret, permanently removing its value. Fails if the secret is still referenced by a workflow.
    # @param id [String] The secret&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def secrets_v2_destroy(id, opts = {})
      secrets_v2_destroy_with_http_info(id, opts)
      nil
    end

    # Destroy Secrets V2
    # Delete a secret, permanently removing its value. Fails if the secret is still referenced by a workflow.
    # @param id [String] The secret&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def secrets_v2_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsV2Api.secrets_v2_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SecretsV2Api.secrets_v2_destroy"
      end
      # resource path
      local_var_path = '/v2/secrets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SecretsV2Api.secrets_v2_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsV2Api#secrets_v2_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Secrets V2
    # List all secrets for this organisation. Returns metadata only, never values.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A secret&#39;s ID. This endpoint will return a list of secrets after this ID in relation to the API response order.
    # @option opts [Array<String>] :team_ids Filter to secrets owned by any of these teams
    # @return [SecretsListResultV2]
    def secrets_v2_list(opts = {})
      data, _status_code, _headers = secrets_v2_list_with_http_info(opts)
      data
    end

    # List Secrets V2
    # List all secrets for this organisation. Returns metadata only, never values.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after A secret&#39;s ID. This endpoint will return a list of secrets after this ID in relation to the API response order.
    # @option opts [Array<String>] :team_ids Filter to secrets owned by any of these teams
    # @return [Array<(SecretsListResultV2, Integer, Hash)>] SecretsListResultV2 data, response status code and response headers
    def secrets_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsV2Api.secrets_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SecretsV2Api.secrets_v2_list, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SecretsV2Api.secrets_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/secrets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'team_ids'] = @api_client.build_collection_param(opts[:'team_ids'], :multi) if !opts[:'team_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecretsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SecretsV2Api.secrets_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsV2Api#secrets_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate Secrets V2
    # Rotate a secret's value, replacing the current value with a new one. The previous value is retired and can no longer be read.
    # @param id [String] The secret&#39;s ID
    # @param secrets_rotate_payload_v2 [SecretsRotatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [SecretsRotateResultV2]
    def secrets_v2_rotate(id, secrets_rotate_payload_v2, opts = {})
      data, _status_code, _headers = secrets_v2_rotate_with_http_info(id, secrets_rotate_payload_v2, opts)
      data
    end

    # Rotate Secrets V2
    # Rotate a secret&#39;s value, replacing the current value with a new one. The previous value is retired and can no longer be read.
    # @param id [String] The secret&#39;s ID
    # @param secrets_rotate_payload_v2 [SecretsRotatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecretsRotateResultV2, Integer, Hash)>] SecretsRotateResultV2 data, response status code and response headers
    def secrets_v2_rotate_with_http_info(id, secrets_rotate_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsV2Api.secrets_v2_rotate ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SecretsV2Api.secrets_v2_rotate"
      end
      # verify the required parameter 'secrets_rotate_payload_v2' is set
      if @api_client.config.client_side_validation && secrets_rotate_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'secrets_rotate_payload_v2' when calling SecretsV2Api.secrets_v2_rotate"
      end
      # resource path
      local_var_path = '/v2/secrets/{id}/actions/rotate'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secrets_rotate_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'SecretsRotateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SecretsV2Api.secrets_v2_rotate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsV2Api#secrets_v2_rotate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Secrets V2
    # Show a single secret's metadata, including its version history. Never returns values.
    # @param id [String] The secret&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [SecretsShowResultV2]
    def secrets_v2_show(id, opts = {})
      data, _status_code, _headers = secrets_v2_show_with_http_info(id, opts)
      data
    end

    # Show Secrets V2
    # Show a single secret&#39;s metadata, including its version history. Never returns values.
    # @param id [String] The secret&#39;s ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecretsShowResultV2, Integer, Hash)>] SecretsShowResultV2 data, response status code and response headers
    def secrets_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsV2Api.secrets_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SecretsV2Api.secrets_v2_show"
      end
      # resource path
      local_var_path = '/v2/secrets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecretsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SecretsV2Api.secrets_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsV2Api#secrets_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Secrets V2
    # Update a secret's metadata. Does not change the value: use the rotate action for that.
    # @param id [String] The secret&#39;s ID
    # @param secrets_update_payload_v2 [SecretsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [SecretsUpdateResultV2]
    def secrets_v2_update(id, secrets_update_payload_v2, opts = {})
      data, _status_code, _headers = secrets_v2_update_with_http_info(id, secrets_update_payload_v2, opts)
      data
    end

    # Update Secrets V2
    # Update a secret&#39;s metadata. Does not change the value: use the rotate action for that.
    # @param id [String] The secret&#39;s ID
    # @param secrets_update_payload_v2 [SecretsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecretsUpdateResultV2, Integer, Hash)>] SecretsUpdateResultV2 data, response status code and response headers
    def secrets_v2_update_with_http_info(id, secrets_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsV2Api.secrets_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SecretsV2Api.secrets_v2_update"
      end
      # verify the required parameter 'secrets_update_payload_v2' is set
      if @api_client.config.client_side_validation && secrets_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'secrets_update_payload_v2' when calling SecretsV2Api.secrets_v2_update"
      end
      # resource path
      local_var_path = '/v2/secrets/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secrets_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'SecretsUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SecretsV2Api.secrets_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsV2Api#secrets_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
