=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class SeveritiesV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Severities V1
    # Create a new severity
    # @param severities_create_payload_v1 [SeveritiesCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [SeveritiesCreateResultV1]
    def severities_v1_create(severities_create_payload_v1, opts = {})
      data, _status_code, _headers = severities_v1_create_with_http_info(severities_create_payload_v1, opts)
      data
    end

    # Create Severities V1
    # Create a new severity
    # @param severities_create_payload_v1 [SeveritiesCreatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SeveritiesCreateResultV1, Integer, Hash)>] SeveritiesCreateResultV1 data, response status code and response headers
    def severities_v1_create_with_http_info(severities_create_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeveritiesV1Api.severities_v1_create ...'
      end
      # verify the required parameter 'severities_create_payload_v1' is set
      if @api_client.config.client_side_validation && severities_create_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'severities_create_payload_v1' when calling SeveritiesV1Api.severities_v1_create"
      end
      # resource path
      local_var_path = '/v1/severities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(severities_create_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'SeveritiesCreateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SeveritiesV1Api.severities_v1_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeveritiesV1Api#severities_v1_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Severities V1
    # Delete a severity
    # @param id [String] Unique identifier of the severity
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def severities_v1_delete(id, opts = {})
      severities_v1_delete_with_http_info(id, opts)
      nil
    end

    # Delete Severities V1
    # Delete a severity
    # @param id [String] Unique identifier of the severity
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def severities_v1_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeveritiesV1Api.severities_v1_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SeveritiesV1Api.severities_v1_delete"
      end
      # resource path
      local_var_path = '/v1/severities/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SeveritiesV1Api.severities_v1_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeveritiesV1Api#severities_v1_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Severities V1
    # List all incident severities for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [SeveritiesListResultV1]
    def severities_v1_list(opts = {})
      data, _status_code, _headers = severities_v1_list_with_http_info(opts)
      data
    end

    # List Severities V1
    # List all incident severities for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SeveritiesListResultV1, Integer, Hash)>] SeveritiesListResultV1 data, response status code and response headers
    def severities_v1_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeveritiesV1Api.severities_v1_list ...'
      end
      # resource path
      local_var_path = '/v1/severities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SeveritiesListResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SeveritiesV1Api.severities_v1_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeveritiesV1Api#severities_v1_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Severities V1
    # Get a single incident severity.
    # @param id [String] Unique identifier of the severity
    # @param [Hash] opts the optional parameters
    # @return [SeveritiesShowResultV1]
    def severities_v1_show(id, opts = {})
      data, _status_code, _headers = severities_v1_show_with_http_info(id, opts)
      data
    end

    # Show Severities V1
    # Get a single incident severity.
    # @param id [String] Unique identifier of the severity
    # @param [Hash] opts the optional parameters
    # @return [Array<(SeveritiesShowResultV1, Integer, Hash)>] SeveritiesShowResultV1 data, response status code and response headers
    def severities_v1_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeveritiesV1Api.severities_v1_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SeveritiesV1Api.severities_v1_show"
      end
      # resource path
      local_var_path = '/v1/severities/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SeveritiesShowResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SeveritiesV1Api.severities_v1_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeveritiesV1Api#severities_v1_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Severities V1
    # Update an existing severity
    # @param id [String] Unique identifier of the severity
    # @param severities_update_payload_v1 [SeveritiesUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [SeveritiesUpdateResultV1]
    def severities_v1_update(id, severities_update_payload_v1, opts = {})
      data, _status_code, _headers = severities_v1_update_with_http_info(id, severities_update_payload_v1, opts)
      data
    end

    # Update Severities V1
    # Update an existing severity
    # @param id [String] Unique identifier of the severity
    # @param severities_update_payload_v1 [SeveritiesUpdatePayloadV1] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SeveritiesUpdateResultV1, Integer, Hash)>] SeveritiesUpdateResultV1 data, response status code and response headers
    def severities_v1_update_with_http_info(id, severities_update_payload_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeveritiesV1Api.severities_v1_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SeveritiesV1Api.severities_v1_update"
      end
      # verify the required parameter 'severities_update_payload_v1' is set
      if @api_client.config.client_side_validation && severities_update_payload_v1.nil?
        fail ArgumentError, "Missing the required parameter 'severities_update_payload_v1' when calling SeveritiesV1Api.severities_v1_update"
      end
      # resource path
      local_var_path = '/v1/severities/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(severities_update_payload_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'SeveritiesUpdateResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SeveritiesV1Api.severities_v1_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeveritiesV1Api#severities_v1_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
