=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class StatusPagesV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # ListResponseIncidents Status Pages V1
    # List the linked Response incidents for a status page incident.
    # @param id [String] ID of the status page
    # @param incident_id [String] ID of the status page incident
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesListResponseIncidentsResultV1]
    def status_pages_v1_list_response_incidents(id, incident_id, opts = {})
      data, _status_code, _headers = status_pages_v1_list_response_incidents_with_http_info(id, incident_id, opts)
      data
    end

    # ListResponseIncidents Status Pages V1
    # List the linked Response incidents for a status page incident.
    # @param id [String] ID of the status page
    # @param incident_id [String] ID of the status page incident
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesListResponseIncidentsResultV1, Integer, Hash)>] StatusPagesListResponseIncidentsResultV1 data, response status code and response headers
    def status_pages_v1_list_response_incidents_with_http_info(id, incident_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV1Api.status_pages_v1_list_response_incidents ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StatusPagesV1Api.status_pages_v1_list_response_incidents"
      end
      # verify the required parameter 'incident_id' is set
      if @api_client.config.client_side_validation && incident_id.nil?
        fail ArgumentError, "Missing the required parameter 'incident_id' when calling StatusPagesV1Api.status_pages_v1_list_response_incidents"
      end
      # resource path
      local_var_path = '/v1/status-pages/{id}/incidents/{incident_id}/response-incidents'.sub('{id}', CGI.escape(id.to_s)).sub('{incident_id}', CGI.escape(incident_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesListResponseIncidentsResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV1Api.status_pages_v1_list_response_incidents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV1Api#status_pages_v1_list_response_incidents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
