=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class StatusPageComponentsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Status Page Components V2
    # Create a status page component. Placement on a page is controlled separately via status page structures.
    # @param status_page_components_create_payload_v2 [StatusPageComponentsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [StatusPageComponentsCreateResultV2]
    def status_page_components_v2_create(status_page_components_create_payload_v2, opts = {})
      data, _status_code, _headers = status_page_components_v2_create_with_http_info(status_page_components_create_payload_v2, opts)
      data
    end

    # Create Status Page Components V2
    # Create a status page component. Placement on a page is controlled separately via status page structures.
    # @param status_page_components_create_payload_v2 [StatusPageComponentsCreatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPageComponentsCreateResultV2, Integer, Hash)>] StatusPageComponentsCreateResultV2 data, response status code and response headers
    def status_page_components_v2_create_with_http_info(status_page_components_create_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPageComponentsV2Api.status_page_components_v2_create ...'
      end
      # verify the required parameter 'status_page_components_create_payload_v2' is set
      if @api_client.config.client_side_validation && status_page_components_create_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_components_create_payload_v2' when calling StatusPageComponentsV2Api.status_page_components_v2_create"
      end
      # resource path
      local_var_path = '/v2/status_page_components'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(status_page_components_create_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPageComponentsCreateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPageComponentsV2Api.status_page_components_v2_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPageComponentsV2Api#status_page_components_v2_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroy Status Page Components V2
    # Archive a status page component.
    # @param id [String] Unique identifier of the status page component
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def status_page_components_v2_destroy(id, opts = {})
      status_page_components_v2_destroy_with_http_info(id, opts)
      nil
    end

    # Destroy Status Page Components V2
    # Archive a status page component.
    # @param id [String] Unique identifier of the status page component
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def status_page_components_v2_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPageComponentsV2Api.status_page_components_v2_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StatusPageComponentsV2Api.status_page_components_v2_destroy"
      end
      # resource path
      local_var_path = '/v2/status_page_components/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPageComponentsV2Api.status_page_components_v2_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPageComponentsV2Api#status_page_components_v2_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Status Page Components V2
    # List all status page components for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [StatusPageComponentsListResultV2]
    def status_page_components_v2_list(opts = {})
      data, _status_code, _headers = status_page_components_v2_list_with_http_info(opts)
      data
    end

    # List Status Page Components V2
    # List all status page components for an organisation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPageComponentsListResultV2, Integer, Hash)>] StatusPageComponentsListResultV2 data, response status code and response headers
    def status_page_components_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPageComponentsV2Api.status_page_components_v2_list ...'
      end
      # resource path
      local_var_path = '/v2/status_page_components'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPageComponentsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPageComponentsV2Api.status_page_components_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPageComponentsV2Api#status_page_components_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Status Page Components V2
    # Show a single status page component.
    # @param id [String] Unique identifier of the status page component
    # @param [Hash] opts the optional parameters
    # @return [StatusPageComponentsShowResultV2]
    def status_page_components_v2_show(id, opts = {})
      data, _status_code, _headers = status_page_components_v2_show_with_http_info(id, opts)
      data
    end

    # Show Status Page Components V2
    # Show a single status page component.
    # @param id [String] Unique identifier of the status page component
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPageComponentsShowResultV2, Integer, Hash)>] StatusPageComponentsShowResultV2 data, response status code and response headers
    def status_page_components_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPageComponentsV2Api.status_page_components_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StatusPageComponentsV2Api.status_page_components_v2_show"
      end
      # resource path
      local_var_path = '/v2/status_page_components/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPageComponentsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPageComponentsV2Api.status_page_components_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPageComponentsV2Api#status_page_components_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Status Page Components V2
    # Update a status page component's name and description.
    # @param id [String] Unique identifier of the status page component
    # @param status_page_components_update_payload_v2 [StatusPageComponentsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [StatusPageComponentsUpdateResultV2]
    def status_page_components_v2_update(id, status_page_components_update_payload_v2, opts = {})
      data, _status_code, _headers = status_page_components_v2_update_with_http_info(id, status_page_components_update_payload_v2, opts)
      data
    end

    # Update Status Page Components V2
    # Update a status page component&#39;s name and description.
    # @param id [String] Unique identifier of the status page component
    # @param status_page_components_update_payload_v2 [StatusPageComponentsUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPageComponentsUpdateResultV2, Integer, Hash)>] StatusPageComponentsUpdateResultV2 data, response status code and response headers
    def status_page_components_v2_update_with_http_info(id, status_page_components_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPageComponentsV2Api.status_page_components_v2_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StatusPageComponentsV2Api.status_page_components_v2_update"
      end
      # verify the required parameter 'status_page_components_update_payload_v2' is set
      if @api_client.config.client_side_validation && status_page_components_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_components_update_payload_v2' when calling StatusPageComponentsV2Api.status_page_components_v2_update"
      end
      # resource path
      local_var_path = '/v2/status_page_components/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(status_page_components_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPageComponentsUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPageComponentsV2Api.status_page_components_v2_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPageComponentsV2Api#status_page_components_v2_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
