=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class StatusPagesV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # CreateStatusPageIncident Status Pages V2
    # Create a status page incident.  This endpoint requires an API key with the \"Create status page incidents, status page maintenance windows, and publish status page updates\" scope.
    # @param status_pages_create_status_page_incident_payload_v2 [StatusPagesCreateStatusPageIncidentPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesCreateStatusPageIncidentResultV2]
    def status_pages_v2_create_status_page_incident(status_pages_create_status_page_incident_payload_v2, opts = {})
      data, _status_code, _headers = status_pages_v2_create_status_page_incident_with_http_info(status_pages_create_status_page_incident_payload_v2, opts)
      data
    end

    # CreateStatusPageIncident Status Pages V2
    # Create a status page incident.  This endpoint requires an API key with the \&quot;Create status page incidents, status page maintenance windows, and publish status page updates\&quot; scope.
    # @param status_pages_create_status_page_incident_payload_v2 [StatusPagesCreateStatusPageIncidentPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesCreateStatusPageIncidentResultV2, Integer, Hash)>] StatusPagesCreateStatusPageIncidentResultV2 data, response status code and response headers
    def status_pages_v2_create_status_page_incident_with_http_info(status_pages_create_status_page_incident_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_create_status_page_incident ...'
      end
      # verify the required parameter 'status_pages_create_status_page_incident_payload_v2' is set
      if @api_client.config.client_side_validation && status_pages_create_status_page_incident_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'status_pages_create_status_page_incident_payload_v2' when calling StatusPagesV2Api.status_pages_v2_create_status_page_incident"
      end
      # resource path
      local_var_path = '/v2/status_page_incidents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(status_pages_create_status_page_incident_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesCreateStatusPageIncidentResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_create_status_page_incident",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_create_status_page_incident\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateStatusPageIncidentUpdate Status Pages V2
    # Post an update on a Status Page incident.  This is the endpoint to use when resolving an incident - set incident_status to \"resolved\" to end the incident. There is a limit of 100 updates per incident.  This endpoint requires an API key with the \"Create status page incidents, status page maintenance windows, and publish status page updates\" scope.
    # @param status_pages_create_status_page_incident_update_payload_v2 [StatusPagesCreateStatusPageIncidentUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesCreateStatusPageIncidentUpdateResultV2]
    def status_pages_v2_create_status_page_incident_update(status_pages_create_status_page_incident_update_payload_v2, opts = {})
      data, _status_code, _headers = status_pages_v2_create_status_page_incident_update_with_http_info(status_pages_create_status_page_incident_update_payload_v2, opts)
      data
    end

    # CreateStatusPageIncidentUpdate Status Pages V2
    # Post an update on a Status Page incident.  This is the endpoint to use when resolving an incident - set incident_status to \&quot;resolved\&quot; to end the incident. There is a limit of 100 updates per incident.  This endpoint requires an API key with the \&quot;Create status page incidents, status page maintenance windows, and publish status page updates\&quot; scope.
    # @param status_pages_create_status_page_incident_update_payload_v2 [StatusPagesCreateStatusPageIncidentUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesCreateStatusPageIncidentUpdateResultV2, Integer, Hash)>] StatusPagesCreateStatusPageIncidentUpdateResultV2 data, response status code and response headers
    def status_pages_v2_create_status_page_incident_update_with_http_info(status_pages_create_status_page_incident_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_create_status_page_incident_update ...'
      end
      # verify the required parameter 'status_pages_create_status_page_incident_update_payload_v2' is set
      if @api_client.config.client_side_validation && status_pages_create_status_page_incident_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'status_pages_create_status_page_incident_update_payload_v2' when calling StatusPagesV2Api.status_pages_v2_create_status_page_incident_update"
      end
      # resource path
      local_var_path = '/v2/status_page_incident_updates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(status_pages_create_status_page_incident_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesCreateStatusPageIncidentUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_create_status_page_incident_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_create_status_page_incident_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateStatusPageMaintenance Status Pages V2
    # Schedule a Status Page maintenance window.  This endpoint requires an API key with the \"Create status page incidents, status page maintenance windows, and publish status page updates\" scope.
    # @param status_pages_create_status_page_maintenance_payload_v2 [StatusPagesCreateStatusPageMaintenancePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesCreateStatusPageMaintenanceResultV2]
    def status_pages_v2_create_status_page_maintenance(status_pages_create_status_page_maintenance_payload_v2, opts = {})
      data, _status_code, _headers = status_pages_v2_create_status_page_maintenance_with_http_info(status_pages_create_status_page_maintenance_payload_v2, opts)
      data
    end

    # CreateStatusPageMaintenance Status Pages V2
    # Schedule a Status Page maintenance window.  This endpoint requires an API key with the \&quot;Create status page incidents, status page maintenance windows, and publish status page updates\&quot; scope.
    # @param status_pages_create_status_page_maintenance_payload_v2 [StatusPagesCreateStatusPageMaintenancePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesCreateStatusPageMaintenanceResultV2, Integer, Hash)>] StatusPagesCreateStatusPageMaintenanceResultV2 data, response status code and response headers
    def status_pages_v2_create_status_page_maintenance_with_http_info(status_pages_create_status_page_maintenance_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_create_status_page_maintenance ...'
      end
      # verify the required parameter 'status_pages_create_status_page_maintenance_payload_v2' is set
      if @api_client.config.client_side_validation && status_pages_create_status_page_maintenance_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'status_pages_create_status_page_maintenance_payload_v2' when calling StatusPagesV2Api.status_pages_v2_create_status_page_maintenance"
      end
      # resource path
      local_var_path = '/v2/status_page_maintenances'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(status_pages_create_status_page_maintenance_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesCreateStatusPageMaintenanceResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_create_status_page_maintenance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_create_status_page_maintenance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateStatusPageMaintenanceUpdate Status Pages V2
    # Post an update on a Status Page maintenance window.  This is the endpoint to use when completing a maintenance window - set maintenance_status to \"maintenance_complete\" to end the maintenance. There is a limit of 100 updates per maintenance window.  This endpoint requires an API key with the \"Create status page incidents, status page maintenance windows, and publish status page updates\" scope.
    # @param status_pages_create_status_page_maintenance_update_payload_v2 [StatusPagesCreateStatusPageMaintenanceUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesCreateStatusPageMaintenanceUpdateResultV2]
    def status_pages_v2_create_status_page_maintenance_update(status_pages_create_status_page_maintenance_update_payload_v2, opts = {})
      data, _status_code, _headers = status_pages_v2_create_status_page_maintenance_update_with_http_info(status_pages_create_status_page_maintenance_update_payload_v2, opts)
      data
    end

    # CreateStatusPageMaintenanceUpdate Status Pages V2
    # Post an update on a Status Page maintenance window.  This is the endpoint to use when completing a maintenance window - set maintenance_status to \&quot;maintenance_complete\&quot; to end the maintenance. There is a limit of 100 updates per maintenance window.  This endpoint requires an API key with the \&quot;Create status page incidents, status page maintenance windows, and publish status page updates\&quot; scope.
    # @param status_pages_create_status_page_maintenance_update_payload_v2 [StatusPagesCreateStatusPageMaintenanceUpdatePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesCreateStatusPageMaintenanceUpdateResultV2, Integer, Hash)>] StatusPagesCreateStatusPageMaintenanceUpdateResultV2 data, response status code and response headers
    def status_pages_v2_create_status_page_maintenance_update_with_http_info(status_pages_create_status_page_maintenance_update_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_create_status_page_maintenance_update ...'
      end
      # verify the required parameter 'status_pages_create_status_page_maintenance_update_payload_v2' is set
      if @api_client.config.client_side_validation && status_pages_create_status_page_maintenance_update_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'status_pages_create_status_page_maintenance_update_payload_v2' when calling StatusPagesV2Api.status_pages_v2_create_status_page_maintenance_update"
      end
      # resource path
      local_var_path = '/v2/status_page_maintenance_updates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(status_pages_create_status_page_maintenance_update_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesCreateStatusPageMaintenanceUpdateResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_create_status_page_maintenance_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_create_status_page_maintenance_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CreateStatusPageRetrospectiveIncident Status Pages V2
    # Create a retrospective (historical) status page incident.  Use this to backfill a completed incident with a reconstructed timeline of past updates, for example when migrating from another status page provider. Every update's published_at must be in the past, the updates must be ordered chronologically (earliest first), and the final update must set incident_status to \"resolved\".  Retrospective incidents never notify subscribers.  As this endpoint is intended for bulk historical backfill, it has a dedicated rate limit of 5 requests per second (with a burst allowance of 300 requests) per API key. If you exceed it you'll receive a 429 response with a Retry-After header; back off and retry to resume your backfill.  This endpoint requires an API key with the \"Create status page incidents, status page maintenance windows, and publish status page updates\" scope.
    # @param status_pages_create_status_page_retrospective_incident_payload_v2 [StatusPagesCreateStatusPageRetrospectiveIncidentPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesCreateStatusPageRetrospectiveIncidentResultV2]
    def status_pages_v2_create_status_page_retrospective_incident(status_pages_create_status_page_retrospective_incident_payload_v2, opts = {})
      data, _status_code, _headers = status_pages_v2_create_status_page_retrospective_incident_with_http_info(status_pages_create_status_page_retrospective_incident_payload_v2, opts)
      data
    end

    # CreateStatusPageRetrospectiveIncident Status Pages V2
    # Create a retrospective (historical) status page incident.  Use this to backfill a completed incident with a reconstructed timeline of past updates, for example when migrating from another status page provider. Every update&#39;s published_at must be in the past, the updates must be ordered chronologically (earliest first), and the final update must set incident_status to \&quot;resolved\&quot;.  Retrospective incidents never notify subscribers.  As this endpoint is intended for bulk historical backfill, it has a dedicated rate limit of 5 requests per second (with a burst allowance of 300 requests) per API key. If you exceed it you&#39;ll receive a 429 response with a Retry-After header; back off and retry to resume your backfill.  This endpoint requires an API key with the \&quot;Create status page incidents, status page maintenance windows, and publish status page updates\&quot; scope.
    # @param status_pages_create_status_page_retrospective_incident_payload_v2 [StatusPagesCreateStatusPageRetrospectiveIncidentPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesCreateStatusPageRetrospectiveIncidentResultV2, Integer, Hash)>] StatusPagesCreateStatusPageRetrospectiveIncidentResultV2 data, response status code and response headers
    def status_pages_v2_create_status_page_retrospective_incident_with_http_info(status_pages_create_status_page_retrospective_incident_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_create_status_page_retrospective_incident ...'
      end
      # verify the required parameter 'status_pages_create_status_page_retrospective_incident_payload_v2' is set
      if @api_client.config.client_side_validation && status_pages_create_status_page_retrospective_incident_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'status_pages_create_status_page_retrospective_incident_payload_v2' when calling StatusPagesV2Api.status_pages_v2_create_status_page_retrospective_incident"
      end
      # resource path
      local_var_path = '/v2/status_page_retrospective_incidents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(status_pages_create_status_page_retrospective_incident_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesCreateStatusPageRetrospectiveIncidentResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_create_status_page_retrospective_incident",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_create_status_page_retrospective_incident\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DeleteStatusPageMaintenance Status Pages V2
    # Delete a Status Page maintenance window.  The maintenance window and its updates stop appearing on your public status page, links to it stop working, and a window that has not yet run publishes no further automated updates. This cannot be undone.  Subscribers are not told the window has been deleted, so anyone already emailed about it will have updates for a maintenance window they can no longer find.  This endpoint requires an API key with the \"Create status page incidents, status page maintenance windows, and publish status page updates\" scope.
    # @param status_page_maintenance_id [String] ID of the status page maintenance window
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def status_pages_v2_delete_status_page_maintenance(status_page_maintenance_id, opts = {})
      status_pages_v2_delete_status_page_maintenance_with_http_info(status_page_maintenance_id, opts)
      nil
    end

    # DeleteStatusPageMaintenance Status Pages V2
    # Delete a Status Page maintenance window.  The maintenance window and its updates stop appearing on your public status page, links to it stop working, and a window that has not yet run publishes no further automated updates. This cannot be undone.  Subscribers are not told the window has been deleted, so anyone already emailed about it will have updates for a maintenance window they can no longer find.  This endpoint requires an API key with the \&quot;Create status page incidents, status page maintenance windows, and publish status page updates\&quot; scope.
    # @param status_page_maintenance_id [String] ID of the status page maintenance window
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def status_pages_v2_delete_status_page_maintenance_with_http_info(status_page_maintenance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_delete_status_page_maintenance ...'
      end
      # verify the required parameter 'status_page_maintenance_id' is set
      if @api_client.config.client_side_validation && status_page_maintenance_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_maintenance_id' when calling StatusPagesV2Api.status_pages_v2_delete_status_page_maintenance"
      end
      # resource path
      local_var_path = '/v2/status_page_maintenances/{status_page_maintenance_id}'.sub('{status_page_maintenance_id}', CGI.escape(status_page_maintenance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_delete_status_page_maintenance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_delete_status_page_maintenance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListStatusPageIncidents Status Pages V2
    # List status page incidents.  This endpoint requires a valid API key but no specific scopes.
    # @param status_page_id [String] ID of the status page. You can find this by calling the ListStatusPages endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :component_id Filter status page incidents to only those that impacted the specified component. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [String] :group_id Filter status page incidents to only those that impacted components in the specified group. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [String] :sub_page_id Filter status page incidents to only those that impacted the specified sub-page. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [Time] :start_at Filter status page incidents to only those that had impacts during or after this time.
    # @option opts [Time] :end_at Filter status page incidents to only those that had impacts during or before this time.
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [StatusPagesListStatusPageIncidentsResultV2]
    def status_pages_v2_list_status_page_incidents(status_page_id, opts = {})
      data, _status_code, _headers = status_pages_v2_list_status_page_incidents_with_http_info(status_page_id, opts)
      data
    end

    # ListStatusPageIncidents Status Pages V2
    # List status page incidents.  This endpoint requires a valid API key but no specific scopes.
    # @param status_page_id [String] ID of the status page. You can find this by calling the ListStatusPages endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :component_id Filter status page incidents to only those that impacted the specified component. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [String] :group_id Filter status page incidents to only those that impacted components in the specified group. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [String] :sub_page_id Filter status page incidents to only those that impacted the specified sub-page. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [Time] :start_at Filter status page incidents to only those that had impacts during or after this time.
    # @option opts [Time] :end_at Filter status page incidents to only those that had impacts during or before this time.
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [Array<(StatusPagesListStatusPageIncidentsResultV2, Integer, Hash)>] StatusPagesListStatusPageIncidentsResultV2 data, response status code and response headers
    def status_pages_v2_list_status_page_incidents_with_http_info(status_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_list_status_page_incidents ...'
      end
      # verify the required parameter 'status_page_id' is set
      if @api_client.config.client_side_validation && status_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_id' when calling StatusPagesV2Api.status_pages_v2_list_status_page_incidents"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling StatusPagesV2Api.status_pages_v2_list_status_page_incidents, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling StatusPagesV2Api.status_pages_v2_list_status_page_incidents, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/status_page_incidents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status_page_id'] = status_page_id
      query_params[:'component_id'] = opts[:'component_id'] if !opts[:'component_id'].nil?
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'sub_page_id'] = opts[:'sub_page_id'] if !opts[:'sub_page_id'].nil?
      query_params[:'start_at'] = opts[:'start_at'] if !opts[:'start_at'].nil?
      query_params[:'end_at'] = opts[:'end_at'] if !opts[:'end_at'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesListStatusPageIncidentsResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_list_status_page_incidents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_list_status_page_incidents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListStatusPageMaintenances Status Pages V2
    # List status page maintenances.  This endpoint requires a valid API key but no specific scopes.
    # @param status_page_id [String] ID of the status page. You can find this by calling the ListStatusPages endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :component_id Filter status page maintenance windows to only those that impacted the specified component. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [String] :group_id Filter status page maintenance windows to only those that impacted components in the specified group. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [String] :sub_page_id Filter status page maintenance windows to only those that impacted the specified sub-page. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [Time] :start_at Filter status page maintenance windows to only those that had impacts during or after this time.
    # @option opts [Time] :end_at Filter status page maintenance windows to only those that had impacts during or before this time.
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [StatusPagesListStatusPageMaintenancesResultV2]
    def status_pages_v2_list_status_page_maintenances(status_page_id, opts = {})
      data, _status_code, _headers = status_pages_v2_list_status_page_maintenances_with_http_info(status_page_id, opts)
      data
    end

    # ListStatusPageMaintenances Status Pages V2
    # List status page maintenances.  This endpoint requires a valid API key but no specific scopes.
    # @param status_page_id [String] ID of the status page. You can find this by calling the ListStatusPages endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :component_id Filter status page maintenance windows to only those that impacted the specified component. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [String] :group_id Filter status page maintenance windows to only those that impacted components in the specified group. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [String] :sub_page_id Filter status page maintenance windows to only those that impacted the specified sub-page. This ID may be found by calling the ShowStatusPageStructure endpoint.
    # @option opts [Time] :start_at Filter status page maintenance windows to only those that had impacts during or after this time.
    # @option opts [Time] :end_at Filter status page maintenance windows to only those that had impacts during or before this time.
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [Array<(StatusPagesListStatusPageMaintenancesResultV2, Integer, Hash)>] StatusPagesListStatusPageMaintenancesResultV2 data, response status code and response headers
    def status_pages_v2_list_status_page_maintenances_with_http_info(status_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_list_status_page_maintenances ...'
      end
      # verify the required parameter 'status_page_id' is set
      if @api_client.config.client_side_validation && status_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_id' when calling StatusPagesV2Api.status_pages_v2_list_status_page_maintenances"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling StatusPagesV2Api.status_pages_v2_list_status_page_maintenances, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling StatusPagesV2Api.status_pages_v2_list_status_page_maintenances, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/status_page_maintenances'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status_page_id'] = status_page_id
      query_params[:'component_id'] = opts[:'component_id'] if !opts[:'component_id'].nil?
      query_params[:'group_id'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'sub_page_id'] = opts[:'sub_page_id'] if !opts[:'sub_page_id'].nil?
      query_params[:'start_at'] = opts[:'start_at'] if !opts[:'start_at'].nil?
      query_params[:'end_at'] = opts[:'end_at'] if !opts[:'end_at'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesListStatusPageMaintenancesResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_list_status_page_maintenances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_list_status_page_maintenances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListStatusPages Status Pages V2
    # List all status pages for your organisation.  This endpoint requires a valid API key but no specific scopes. Use this to find status page IDs for use in other endpoints.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [StatusPagesListStatusPagesResultV2]
    def status_pages_v2_list_status_pages(opts = {})
      data, _status_code, _headers = status_pages_v2_list_status_pages_with_http_info(opts)
      data
    end

    # ListStatusPages Status Pages V2
    # List all status pages for your organisation.  This endpoint requires a valid API key but no specific scopes. Use this to find status page IDs for use in other endpoints.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [Array<(StatusPagesListStatusPagesResultV2, Integer, Hash)>] StatusPagesListStatusPagesResultV2 data, response status code and response headers
    def status_pages_v2_list_status_pages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_list_status_pages ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 250
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling StatusPagesV2Api.status_pages_v2_list_status_pages, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling StatusPagesV2Api.status_pages_v2_list_status_pages, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/status_pages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesListStatusPagesResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_list_status_pages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_list_status_pages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowStatusPage Status Pages V2
    # Show a single status page.  This endpoint requires a valid API key but no specific scopes. Use ShowStatusPageStructure to see the components and groups configured on the page.
    # @param status_page_id [String] ID of the status page. You can find this by calling the ListStatusPages endpoint.
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesShowStatusPageResultV2]
    def status_pages_v2_show_status_page(status_page_id, opts = {})
      data, _status_code, _headers = status_pages_v2_show_status_page_with_http_info(status_page_id, opts)
      data
    end

    # ShowStatusPage Status Pages V2
    # Show a single status page.  This endpoint requires a valid API key but no specific scopes. Use ShowStatusPageStructure to see the components and groups configured on the page.
    # @param status_page_id [String] ID of the status page. You can find this by calling the ListStatusPages endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesShowStatusPageResultV2, Integer, Hash)>] StatusPagesShowStatusPageResultV2 data, response status code and response headers
    def status_pages_v2_show_status_page_with_http_info(status_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_show_status_page ...'
      end
      # verify the required parameter 'status_page_id' is set
      if @api_client.config.client_side_validation && status_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_id' when calling StatusPagesV2Api.status_pages_v2_show_status_page"
      end
      # resource path
      local_var_path = '/v2/status_pages/{status_page_id}'.sub('{status_page_id}', CGI.escape(status_page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesShowStatusPageResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_show_status_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_show_status_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowStatusPageComponentAvailability Status Pages V2
    # Show availability for a status page component over a time window.  Pass start_at and end_at as RFC3339 timestamps. The window cannot be longer than 366 days. Availability uses the same rules as the public status page: full and partial outages count as downtime, overlapping impacts are merged, and time before we have data for the component is excluded rather than counted as up.  This endpoint requires a valid API key but no specific scopes. Use ListStatusPages and ShowStatusPageStructure to find status page and component IDs.
    # @param start_at [Time] Start of the availability window
    # @param end_at [Time] End of the availability window
    # @param status_page_id [String] ID of the status page. You can find this by calling the ListStatusPages endpoint.
    # @param component_id [String] ID of the component. You can find this by calling the ShowStatusPageStructure endpoint.
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesShowStatusPageComponentAvailabilityResultV2]
    def status_pages_v2_show_status_page_component_availability(start_at, end_at, status_page_id, component_id, opts = {})
      data, _status_code, _headers = status_pages_v2_show_status_page_component_availability_with_http_info(start_at, end_at, status_page_id, component_id, opts)
      data
    end

    # ShowStatusPageComponentAvailability Status Pages V2
    # Show availability for a status page component over a time window.  Pass start_at and end_at as RFC3339 timestamps. The window cannot be longer than 366 days. Availability uses the same rules as the public status page: full and partial outages count as downtime, overlapping impacts are merged, and time before we have data for the component is excluded rather than counted as up.  This endpoint requires a valid API key but no specific scopes. Use ListStatusPages and ShowStatusPageStructure to find status page and component IDs.
    # @param start_at [Time] Start of the availability window
    # @param end_at [Time] End of the availability window
    # @param status_page_id [String] ID of the status page. You can find this by calling the ListStatusPages endpoint.
    # @param component_id [String] ID of the component. You can find this by calling the ShowStatusPageStructure endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesShowStatusPageComponentAvailabilityResultV2, Integer, Hash)>] StatusPagesShowStatusPageComponentAvailabilityResultV2 data, response status code and response headers
    def status_pages_v2_show_status_page_component_availability_with_http_info(start_at, end_at, status_page_id, component_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_show_status_page_component_availability ...'
      end
      # verify the required parameter 'start_at' is set
      if @api_client.config.client_side_validation && start_at.nil?
        fail ArgumentError, "Missing the required parameter 'start_at' when calling StatusPagesV2Api.status_pages_v2_show_status_page_component_availability"
      end
      # verify the required parameter 'end_at' is set
      if @api_client.config.client_side_validation && end_at.nil?
        fail ArgumentError, "Missing the required parameter 'end_at' when calling StatusPagesV2Api.status_pages_v2_show_status_page_component_availability"
      end
      # verify the required parameter 'status_page_id' is set
      if @api_client.config.client_side_validation && status_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_id' when calling StatusPagesV2Api.status_pages_v2_show_status_page_component_availability"
      end
      # verify the required parameter 'component_id' is set
      if @api_client.config.client_side_validation && component_id.nil?
        fail ArgumentError, "Missing the required parameter 'component_id' when calling StatusPagesV2Api.status_pages_v2_show_status_page_component_availability"
      end
      # resource path
      local_var_path = '/v2/status_pages/{status_page_id}/components/{component_id}/availability'.sub('{status_page_id}', CGI.escape(status_page_id.to_s)).sub('{component_id}', CGI.escape(component_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_at'] = start_at
      query_params[:'end_at'] = end_at

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesShowStatusPageComponentAvailabilityResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_show_status_page_component_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_show_status_page_component_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowStatusPageIncident Status Pages V2
    # Show a status page incident.  This endpoint requires a valid API key but no specific scopes.
    # @param status_page_incident_id [String] ID of the status page incident
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesShowStatusPageIncidentResultV2]
    def status_pages_v2_show_status_page_incident(status_page_incident_id, opts = {})
      data, _status_code, _headers = status_pages_v2_show_status_page_incident_with_http_info(status_page_incident_id, opts)
      data
    end

    # ShowStatusPageIncident Status Pages V2
    # Show a status page incident.  This endpoint requires a valid API key but no specific scopes.
    # @param status_page_incident_id [String] ID of the status page incident
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesShowStatusPageIncidentResultV2, Integer, Hash)>] StatusPagesShowStatusPageIncidentResultV2 data, response status code and response headers
    def status_pages_v2_show_status_page_incident_with_http_info(status_page_incident_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_show_status_page_incident ...'
      end
      # verify the required parameter 'status_page_incident_id' is set
      if @api_client.config.client_side_validation && status_page_incident_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_incident_id' when calling StatusPagesV2Api.status_pages_v2_show_status_page_incident"
      end
      # resource path
      local_var_path = '/v2/status_page_incidents/{status_page_incident_id}'.sub('{status_page_incident_id}', CGI.escape(status_page_incident_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesShowStatusPageIncidentResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_show_status_page_incident",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_show_status_page_incident\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowStatusPageMaintenance Status Pages V2
    # Show a status page maintenance window.  This endpoint requires a valid API key but no specific scopes.
    # @param status_page_maintenance_id [String] ID of the status page maintenance window
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesShowStatusPageMaintenanceResultV2]
    def status_pages_v2_show_status_page_maintenance(status_page_maintenance_id, opts = {})
      data, _status_code, _headers = status_pages_v2_show_status_page_maintenance_with_http_info(status_page_maintenance_id, opts)
      data
    end

    # ShowStatusPageMaintenance Status Pages V2
    # Show a status page maintenance window.  This endpoint requires a valid API key but no specific scopes.
    # @param status_page_maintenance_id [String] ID of the status page maintenance window
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesShowStatusPageMaintenanceResultV2, Integer, Hash)>] StatusPagesShowStatusPageMaintenanceResultV2 data, response status code and response headers
    def status_pages_v2_show_status_page_maintenance_with_http_info(status_page_maintenance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_show_status_page_maintenance ...'
      end
      # verify the required parameter 'status_page_maintenance_id' is set
      if @api_client.config.client_side_validation && status_page_maintenance_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_maintenance_id' when calling StatusPagesV2Api.status_pages_v2_show_status_page_maintenance"
      end
      # resource path
      local_var_path = '/v2/status_page_maintenances/{status_page_maintenance_id}'.sub('{status_page_maintenance_id}', CGI.escape(status_page_maintenance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesShowStatusPageMaintenanceResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_show_status_page_maintenance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_show_status_page_maintenance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowStatusPageStructure Status Pages V2
    # Show the structure of a status page.  This endpoint requires a valid API key but no specific scopes. Returns the components and component groups configured on a status page. Use this to find component IDs when specifying affected components for incidents or maintenance windows.
    # @param status_page_id [String] ID of the status page
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesShowStatusPageStructureResultV2]
    def status_pages_v2_show_status_page_structure(status_page_id, opts = {})
      data, _status_code, _headers = status_pages_v2_show_status_page_structure_with_http_info(status_page_id, opts)
      data
    end

    # ShowStatusPageStructure Status Pages V2
    # Show the structure of a status page.  This endpoint requires a valid API key but no specific scopes. Returns the components and component groups configured on a status page. Use this to find component IDs when specifying affected components for incidents or maintenance windows.
    # @param status_page_id [String] ID of the status page
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesShowStatusPageStructureResultV2, Integer, Hash)>] StatusPagesShowStatusPageStructureResultV2 data, response status code and response headers
    def status_pages_v2_show_status_page_structure_with_http_info(status_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_show_status_page_structure ...'
      end
      # verify the required parameter 'status_page_id' is set
      if @api_client.config.client_side_validation && status_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_id' when calling StatusPagesV2Api.status_pages_v2_show_status_page_structure"
      end
      # resource path
      local_var_path = '/v2/status_page_structures/{status_page_id}'.sub('{status_page_id}', CGI.escape(status_page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesShowStatusPageStructureResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_show_status_page_structure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_show_status_page_structure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdateStatusPageIncident Status Pages V2
    # Update a status page incident.  This endpoint requires an API key with the \"Create status page incidents, status page maintenance windows, and publish status page updates\" scope.
    # @param status_page_incident_id [String] ID of the status page incident
    # @param status_pages_update_status_page_incident_payload_v2 [StatusPagesUpdateStatusPageIncidentPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesUpdateStatusPageIncidentResultV2]
    def status_pages_v2_update_status_page_incident(status_page_incident_id, status_pages_update_status_page_incident_payload_v2, opts = {})
      data, _status_code, _headers = status_pages_v2_update_status_page_incident_with_http_info(status_page_incident_id, status_pages_update_status_page_incident_payload_v2, opts)
      data
    end

    # UpdateStatusPageIncident Status Pages V2
    # Update a status page incident.  This endpoint requires an API key with the \&quot;Create status page incidents, status page maintenance windows, and publish status page updates\&quot; scope.
    # @param status_page_incident_id [String] ID of the status page incident
    # @param status_pages_update_status_page_incident_payload_v2 [StatusPagesUpdateStatusPageIncidentPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesUpdateStatusPageIncidentResultV2, Integer, Hash)>] StatusPagesUpdateStatusPageIncidentResultV2 data, response status code and response headers
    def status_pages_v2_update_status_page_incident_with_http_info(status_page_incident_id, status_pages_update_status_page_incident_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_update_status_page_incident ...'
      end
      # verify the required parameter 'status_page_incident_id' is set
      if @api_client.config.client_side_validation && status_page_incident_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_incident_id' when calling StatusPagesV2Api.status_pages_v2_update_status_page_incident"
      end
      # verify the required parameter 'status_pages_update_status_page_incident_payload_v2' is set
      if @api_client.config.client_side_validation && status_pages_update_status_page_incident_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'status_pages_update_status_page_incident_payload_v2' when calling StatusPagesV2Api.status_pages_v2_update_status_page_incident"
      end
      # resource path
      local_var_path = '/v2/status_page_incidents/{status_page_incident_id}'.sub('{status_page_incident_id}', CGI.escape(status_page_incident_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(status_pages_update_status_page_incident_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesUpdateStatusPageIncidentResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_update_status_page_incident",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_update_status_page_incident\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdateStatusPageMaintenance Status Pages V2
    # Update the name and scheduled window of a Status Page maintenance window.  The new start_at and end_at apply to every component this maintenance window affects.  This does not publish an update to your status page and does not notify subscribers. Automated updates only move a window forwards, so one that has already started or completed will not move back to an earlier status. To move a status backwards, or to tell subscribers the schedule has changed, post a maintenance update to POST /status_page_maintenance_updates.  This endpoint requires an API key with the \"Create status page incidents, status page maintenance windows, and publish status page updates\" scope.
    # @param status_page_maintenance_id [String] ID of the status page maintenance window
    # @param status_pages_update_status_page_maintenance_payload_v2 [StatusPagesUpdateStatusPageMaintenancePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [StatusPagesUpdateStatusPageMaintenanceResultV2]
    def status_pages_v2_update_status_page_maintenance(status_page_maintenance_id, status_pages_update_status_page_maintenance_payload_v2, opts = {})
      data, _status_code, _headers = status_pages_v2_update_status_page_maintenance_with_http_info(status_page_maintenance_id, status_pages_update_status_page_maintenance_payload_v2, opts)
      data
    end

    # UpdateStatusPageMaintenance Status Pages V2
    # Update the name and scheduled window of a Status Page maintenance window.  The new start_at and end_at apply to every component this maintenance window affects.  This does not publish an update to your status page and does not notify subscribers. Automated updates only move a window forwards, so one that has already started or completed will not move back to an earlier status. To move a status backwards, or to tell subscribers the schedule has changed, post a maintenance update to POST /status_page_maintenance_updates.  This endpoint requires an API key with the \&quot;Create status page incidents, status page maintenance windows, and publish status page updates\&quot; scope.
    # @param status_page_maintenance_id [String] ID of the status page maintenance window
    # @param status_pages_update_status_page_maintenance_payload_v2 [StatusPagesUpdateStatusPageMaintenancePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StatusPagesUpdateStatusPageMaintenanceResultV2, Integer, Hash)>] StatusPagesUpdateStatusPageMaintenanceResultV2 data, response status code and response headers
    def status_pages_v2_update_status_page_maintenance_with_http_info(status_page_maintenance_id, status_pages_update_status_page_maintenance_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatusPagesV2Api.status_pages_v2_update_status_page_maintenance ...'
      end
      # verify the required parameter 'status_page_maintenance_id' is set
      if @api_client.config.client_side_validation && status_page_maintenance_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_page_maintenance_id' when calling StatusPagesV2Api.status_pages_v2_update_status_page_maintenance"
      end
      # verify the required parameter 'status_pages_update_status_page_maintenance_payload_v2' is set
      if @api_client.config.client_side_validation && status_pages_update_status_page_maintenance_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'status_pages_update_status_page_maintenance_payload_v2' when calling StatusPagesV2Api.status_pages_v2_update_status_page_maintenance"
      end
      # resource path
      local_var_path = '/v2/status_page_maintenances/{status_page_maintenance_id}'.sub('{status_page_maintenance_id}', CGI.escape(status_page_maintenance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(status_pages_update_status_page_maintenance_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'StatusPagesUpdateStatusPageMaintenanceResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"StatusPagesV2Api.status_pages_v2_update_status_page_maintenance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatusPagesV2Api#status_pages_v2_update_status_page_maintenance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
