=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class TelemetryV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # UpdateDataSource Telemetry V2
    # Update the credentials or configuration of a telemetry data source. Provide only the config block that matches your data source type (e.g. grafana_config for Grafana, datadog_config for Datadog). New credentials are validated against the provider before being saved.
    # @param id [String] Data source ID
    # @param telemetry_update_data_source_payload_v2 [TelemetryUpdateDataSourcePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [TelemetryUpdateDataSourceResultV2]
    def telemetry_v2_update_data_source(id, telemetry_update_data_source_payload_v2, opts = {})
      data, _status_code, _headers = telemetry_v2_update_data_source_with_http_info(id, telemetry_update_data_source_payload_v2, opts)
      data
    end

    # UpdateDataSource Telemetry V2
    # Update the credentials or configuration of a telemetry data source. Provide only the config block that matches your data source type (e.g. grafana_config for Grafana, datadog_config for Datadog). New credentials are validated against the provider before being saved.
    # @param id [String] Data source ID
    # @param telemetry_update_data_source_payload_v2 [TelemetryUpdateDataSourcePayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TelemetryUpdateDataSourceResultV2, Integer, Hash)>] TelemetryUpdateDataSourceResultV2 data, response status code and response headers
    def telemetry_v2_update_data_source_with_http_info(id, telemetry_update_data_source_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TelemetryV2Api.telemetry_v2_update_data_source ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TelemetryV2Api.telemetry_v2_update_data_source"
      end
      # verify the required parameter 'telemetry_update_data_source_payload_v2' is set
      if @api_client.config.client_side_validation && telemetry_update_data_source_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'telemetry_update_data_source_payload_v2' when calling TelemetryV2Api.telemetry_v2_update_data_source"
      end
      # resource path
      local_var_path = '/v2/telemetry/data_sources/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(telemetry_update_data_source_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'TelemetryUpdateDataSourceResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"TelemetryV2Api.telemetry_v2_update_data_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TelemetryV2Api#telemetry_v2_update_data_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
