=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class UsersV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Users V2
    # List users in your account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email Filter by email address
    # @option opts [String] :slack_user_id Filter by Slack user ID
    # @option opts [Boolean] :include_inactive Include deactivated or not-yet-active users (defaults to false). Useful for resolving users who have since been offboarded.
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [UsersListResultV2]
    def users_v2_list(opts = {})
      data, _status_code, _headers = users_v2_list_with_http_info(opts)
      data
    end

    # List Users V2
    # List users in your account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email Filter by email address
    # @option opts [String] :slack_user_id Filter by Slack user ID
    # @option opts [Boolean] :include_inactive Include deactivated or not-yet-active users (defaults to false). Useful for resolving users who have since been offboarded.
    # @option opts [Integer] :page_size Integer number of records to return (default to 25)
    # @option opts [String] :after An record&#39;s ID. This endpoint will return a list of records after this ID in relation to the API response order.
    # @return [Array<(UsersListResultV2, Integer, Hash)>] UsersListResultV2 data, response status code and response headers
    def users_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersV2Api.users_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 10000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UsersV2Api.users_v2_list, must be smaller than or equal to 10000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling UsersV2Api.users_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'slack_user_id'] = opts[:'slack_user_id'] if !opts[:'slack_user_id'].nil?
      query_params[:'include_inactive'] = opts[:'include_inactive'] if !opts[:'include_inactive'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsersListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"UsersV2Api.users_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersV2Api#users_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListNotificationMethods Users V2
    # List notification methods for a user. Phone numbers are partially redacted unless the API key holds the notification_methods.view_unredacted scope.
    # @param user_id [String] The ID of the user whose notification methods you want to list.
    # @param [Hash] opts the optional parameters
    # @return [UsersListNotificationMethodsResultV2]
    def users_v2_list_notification_methods(user_id, opts = {})
      data, _status_code, _headers = users_v2_list_notification_methods_with_http_info(user_id, opts)
      data
    end

    # ListNotificationMethods Users V2
    # List notification methods for a user. Phone numbers are partially redacted unless the API key holds the notification_methods.view_unredacted scope.
    # @param user_id [String] The ID of the user whose notification methods you want to list.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsersListNotificationMethodsResultV2, Integer, Hash)>] UsersListNotificationMethodsResultV2 data, response status code and response headers
    def users_v2_list_notification_methods_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersV2Api.users_v2_list_notification_methods ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersV2Api.users_v2_list_notification_methods"
      end
      # resource path
      local_var_path = '/v2/users/{user_id}/notification_methods'.sub('{user_id}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsersListNotificationMethodsResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"UsersV2Api.users_v2_list_notification_methods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersV2Api#users_v2_list_notification_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListNotificationRules Users V2
    # List notification rules for a user. Rules define how and when a user is notified for on-call pages. Only includes high_urgency and low_urgency rules; shift_changes rules are not returned.
    # @param user_id [String] The ID of the user whose notification rules you want to list.
    # @param [Hash] opts the optional parameters
    # @return [UsersListNotificationRulesResultV2]
    def users_v2_list_notification_rules(user_id, opts = {})
      data, _status_code, _headers = users_v2_list_notification_rules_with_http_info(user_id, opts)
      data
    end

    # ListNotificationRules Users V2
    # List notification rules for a user. Rules define how and when a user is notified for on-call pages. Only includes high_urgency and low_urgency rules; shift_changes rules are not returned.
    # @param user_id [String] The ID of the user whose notification rules you want to list.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsersListNotificationRulesResultV2, Integer, Hash)>] UsersListNotificationRulesResultV2 data, response status code and response headers
    def users_v2_list_notification_rules_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersV2Api.users_v2_list_notification_rules ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersV2Api.users_v2_list_notification_rules"
      end
      # resource path
      local_var_path = '/v2/users/{user_id}/notification_rules'.sub('{user_id}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsersListNotificationRulesResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"UsersV2Api.users_v2_list_notification_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersV2Api#users_v2_list_notification_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show Users V2
    # Get a single user.
    # @param id [String] Unique identifier of the user
    # @param [Hash] opts the optional parameters
    # @return [UsersShowResultV2]
    def users_v2_show(id, opts = {})
      data, _status_code, _headers = users_v2_show_with_http_info(id, opts)
      data
    end

    # Show Users V2
    # Get a single user.
    # @param id [String] Unique identifier of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsersShowResultV2, Integer, Hash)>] UsersShowResultV2 data, response status code and response headers
    def users_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersV2Api.users_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UsersV2Api.users_v2_show"
      end
      # resource path
      local_var_path = '/v2/users/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsersShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"UsersV2Api.users_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersV2Api#users_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowPagingProvider Users V2
    # Show the paging provider that would be used to escalate to this user. Reflects their explicit preference if set; otherwise resolves to the effective fallback (typically `native` for on-call seat users, or a linked external provider otherwise). May be omitted only when the user cannot be escalated to at all (no seat and no linked external user).
    # @param user_id [String] The ID of the user.
    # @param [Hash] opts the optional parameters
    # @return [UsersShowPagingProviderResultV2]
    def users_v2_show_paging_provider(user_id, opts = {})
      data, _status_code, _headers = users_v2_show_paging_provider_with_http_info(user_id, opts)
      data
    end

    # ShowPagingProvider Users V2
    # Show the paging provider that would be used to escalate to this user. Reflects their explicit preference if set; otherwise resolves to the effective fallback (typically &#x60;native&#x60; for on-call seat users, or a linked external provider otherwise). May be omitted only when the user cannot be escalated to at all (no seat and no linked external user).
    # @param user_id [String] The ID of the user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UsersShowPagingProviderResultV2, Integer, Hash)>] UsersShowPagingProviderResultV2 data, response status code and response headers
    def users_v2_show_paging_provider_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersV2Api.users_v2_show_paging_provider ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersV2Api.users_v2_show_paging_provider"
      end
      # resource path
      local_var_path = '/v2/users/{user_id}/paging_provider'.sub('{user_id}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsersShowPagingProviderResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"UsersV2Api.users_v2_show_paging_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersV2Api#users_v2_show_paging_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdatePagingProvider Users V2
    # Update a user's preferred paging provider.
    # @param user_id [String] The ID of the user to update.
    # @param users_update_paging_provider_payload_v2 [UsersUpdatePagingProviderPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def users_v2_update_paging_provider(user_id, users_update_paging_provider_payload_v2, opts = {})
      users_v2_update_paging_provider_with_http_info(user_id, users_update_paging_provider_payload_v2, opts)
      nil
    end

    # UpdatePagingProvider Users V2
    # Update a user&#39;s preferred paging provider.
    # @param user_id [String] The ID of the user to update.
    # @param users_update_paging_provider_payload_v2 [UsersUpdatePagingProviderPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def users_v2_update_paging_provider_with_http_info(user_id, users_update_paging_provider_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersV2Api.users_v2_update_paging_provider ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersV2Api.users_v2_update_paging_provider"
      end
      # verify the required parameter 'users_update_paging_provider_payload_v2' is set
      if @api_client.config.client_side_validation && users_update_paging_provider_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'users_update_paging_provider_payload_v2' when calling UsersV2Api.users_v2_update_paging_provider"
      end
      # resource path
      local_var_path = '/v2/users/{user_id}/paging_provider'.sub('{user_id}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_update_paging_provider_payload_v2)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"UsersV2Api.users_v2_update_paging_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersV2Api#users_v2_update_paging_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
