=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class UtilitiesV1Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Identity Utilities V1
    # Test if your API key is valid, and which roles it has.
    # @param [Hash] opts the optional parameters
    # @return [UtilitiesIdentityResultV1]
    def utilities_v1_identity(opts = {})
      data, _status_code, _headers = utilities_v1_identity_with_http_info(opts)
      data
    end

    # Identity Utilities V1
    # Test if your API key is valid, and which roles it has.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UtilitiesIdentityResultV1, Integer, Hash)>] UtilitiesIdentityResultV1 data, response status code and response headers
    def utilities_v1_identity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UtilitiesV1Api.utilities_v1_identity ...'
      end
      # resource path
      local_var_path = '/v1/identity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UtilitiesIdentityResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"UtilitiesV1Api.utilities_v1_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UtilitiesV1Api#utilities_v1_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # IPRanges Utilities V1
    # List the IP addresses our requests to your systems come from.  Use this to keep a firewall allowlist up to date without watching our documentation. Poll it rather than copying the list once. We give at least two weeks' notice before our own addresses change. Webhook deliveries come from our provider's addresses, so we cannot promise notice on those.  These are the addresses we send from. Do not allowlist them for inbound access: our API is served on different addresses, and those change without notice.
    # @param [Hash] opts the optional parameters
    # @return [UtilitiesIPRangesResultV1]
    def utilities_v1_ip_ranges(opts = {})
      data, _status_code, _headers = utilities_v1_ip_ranges_with_http_info(opts)
      data
    end

    # IPRanges Utilities V1
    # List the IP addresses our requests to your systems come from.  Use this to keep a firewall allowlist up to date without watching our documentation. Poll it rather than copying the list once. We give at least two weeks&#39; notice before our own addresses change. Webhook deliveries come from our provider&#39;s addresses, so we cannot promise notice on those.  These are the addresses we send from. Do not allowlist them for inbound access: our API is served on different addresses, and those change without notice.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UtilitiesIPRangesResultV1, Integer, Hash)>] UtilitiesIPRangesResultV1 data, response status code and response headers
    def utilities_v1_ip_ranges_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UtilitiesV1Api.utilities_v1_ip_ranges ...'
      end
      # resource path
      local_var_path = '/v1/ip_ranges'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UtilitiesIPRangesResultV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UtilitiesV1Api.utilities_v1_ip_ranges",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UtilitiesV1Api#utilities_v1_ip_ranges\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OpenAPIV3 Utilities V1
    # Get the OpenAPI (v3) definition.
    # @param [Hash] opts the optional parameters
    # @return [File]
    def utilities_v1_open_api_v3(opts = {})
      data, _status_code, _headers = utilities_v1_open_api_v3_with_http_info(opts)
      data
    end

    # OpenAPIV3 Utilities V1
    # Get the OpenAPI (v3) definition.
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def utilities_v1_open_api_v3_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UtilitiesV1Api.utilities_v1_open_api_v3 ...'
      end
      # resource path
      local_var_path = '/v1/openapiV3.json'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UtilitiesV1Api.utilities_v1_open_api_v3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UtilitiesV1Api#utilities_v1_open_api_v3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
