=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class WorkflowRunsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List WorkflowRuns V2
    # List workflow runs, newest first. Cancelled runs are never returned.  The webhook delivery on each step omits the headers and bodies. Fetch a single run to see them.  You can filter on when a run was created:  ``` # Runs created on or after a date curl 'https://api.incident.io/v2/workflow_runs?created_at[gte]=2026-07-01'  # Runs created on or before a date curl 'https://api.incident.io/v2/workflow_runs?created_at[lte]=2026-07-31'  # Runs created between two dates curl 'https://api.incident.io/v2/workflow_runs?created_at[date_range]=2026-07-01~2026-07-31' ```  Paginate by passing the last run's ID as `after`. The response's `pagination_meta.after` carries the value to send next, and is absent on the last page. An `after` that isn't a run in your organisation returns 404.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workflow_id Unique identifier for the workflow to filter by
    # @option opts [String] :incident_id Unique identifier for the incident to filter by
    # @option opts [Hash<String, Array<String>>] :created_at Filter on workflow run created at timestamp. The accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Integer] :page_size Number of workflow runs to return per page (default to 25)
    # @option opts [String] :after A workflow run&#39;s ID. This endpoint will return a list of workflow runs after this ID in relation to the API response order.
    # @return [WorkflowRunsListResultV2]
    def workflow_runs_v2_list(opts = {})
      data, _status_code, _headers = workflow_runs_v2_list_with_http_info(opts)
      data
    end

    # List WorkflowRuns V2
    # List workflow runs, newest first. Cancelled runs are never returned.  The webhook delivery on each step omits the headers and bodies. Fetch a single run to see them.  You can filter on when a run was created:  &#x60;&#x60;&#x60; # Runs created on or after a date curl &#39;https://api.incident.io/v2/workflow_runs?created_at[gte]&#x3D;2026-07-01&#39;  # Runs created on or before a date curl &#39;https://api.incident.io/v2/workflow_runs?created_at[lte]&#x3D;2026-07-31&#39;  # Runs created between two dates curl &#39;https://api.incident.io/v2/workflow_runs?created_at[date_range]&#x3D;2026-07-01~2026-07-31&#39; &#x60;&#x60;&#x60;  Paginate by passing the last run&#39;s ID as &#x60;after&#x60;. The response&#39;s &#x60;pagination_meta.after&#x60; carries the value to send next, and is absent on the last page. An &#x60;after&#x60; that isn&#39;t a run in your organisation returns 404.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workflow_id Unique identifier for the workflow to filter by
    # @option opts [String] :incident_id Unique identifier for the incident to filter by
    # @option opts [Hash<String, Array<String>>] :created_at Filter on workflow run created at timestamp. The accepted operators are &#39;gte&#39;, &#39;lte&#39; and &#39;date_range&#39;.
    # @option opts [Integer] :page_size Number of workflow runs to return per page (default to 25)
    # @option opts [String] :after A workflow run&#39;s ID. This endpoint will return a list of workflow runs after this ID in relation to the API response order.
    # @return [Array<(WorkflowRunsListResultV2, Integer, Hash)>] WorkflowRunsListResultV2 data, response status code and response headers
    def workflow_runs_v2_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowRunsV2Api.workflow_runs_v2_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 50
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling WorkflowRunsV2Api.workflow_runs_v2_list, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling WorkflowRunsV2Api.workflow_runs_v2_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v2/workflow_runs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'workflow_id'] = opts[:'workflow_id'] if !opts[:'workflow_id'].nil?
      query_params[:'incident_id'] = opts[:'incident_id'] if !opts[:'incident_id'].nil?
      query_params[:'created_at'] = opts[:'created_at'] if !opts[:'created_at'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowRunsListResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowRunsV2Api.workflow_runs_v2_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowRunsV2Api#workflow_runs_v2_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show WorkflowRuns V2
    # Show a single workflow run, including the full webhook delivery for any step that sent one.  A delivery is kept for 7 days. After that `webhook_delivery_state` becomes `expired` and the delivery itself is absent: the step still ran and may well have succeeded, so an expired delivery must not be read as a failure.  This may return a cancelled run, in which case `cancelled_at` is set.
    # @param id [String] Unique identifier for the workflow run
    # @param [Hash] opts the optional parameters
    # @return [WorkflowRunsShowResultV2]
    def workflow_runs_v2_show(id, opts = {})
      data, _status_code, _headers = workflow_runs_v2_show_with_http_info(id, opts)
      data
    end

    # Show WorkflowRuns V2
    # Show a single workflow run, including the full webhook delivery for any step that sent one.  A delivery is kept for 7 days. After that &#x60;webhook_delivery_state&#x60; becomes &#x60;expired&#x60; and the delivery itself is absent: the step still ran and may well have succeeded, so an expired delivery must not be read as a failure.  This may return a cancelled run, in which case &#x60;cancelled_at&#x60; is set.
    # @param id [String] Unique identifier for the workflow run
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowRunsShowResultV2, Integer, Hash)>] WorkflowRunsShowResultV2 data, response status code and response headers
    def workflow_runs_v2_show_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowRunsV2Api.workflow_runs_v2_show ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowRunsV2Api.workflow_runs_v2_show"
      end
      # resource path
      local_var_path = '/v2/workflow_runs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowRunsShowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowRunsV2Api.workflow_runs_v2_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowRunsV2Api#workflow_runs_v2_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
