=begin
#incident.io

#Ruby client for the incident.io API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module IncidentIo
  class WorkflowsV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # CreateWorkflow Workflows V2
    # Create a new workflow
    # @param workflows_create_workflow_payload_v2 [WorkflowsCreateWorkflowPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [WorkflowsCreateWorkflowResultV2]
    def workflows_v2_create_workflow(workflows_create_workflow_payload_v2, opts = {})
      data, _status_code, _headers = workflows_v2_create_workflow_with_http_info(workflows_create_workflow_payload_v2, opts)
      data
    end

    # CreateWorkflow Workflows V2
    # Create a new workflow
    # @param workflows_create_workflow_payload_v2 [WorkflowsCreateWorkflowPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowsCreateWorkflowResultV2, Integer, Hash)>] WorkflowsCreateWorkflowResultV2 data, response status code and response headers
    def workflows_v2_create_workflow_with_http_info(workflows_create_workflow_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsV2Api.workflows_v2_create_workflow ...'
      end
      # verify the required parameter 'workflows_create_workflow_payload_v2' is set
      if @api_client.config.client_side_validation && workflows_create_workflow_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'workflows_create_workflow_payload_v2' when calling WorkflowsV2Api.workflows_v2_create_workflow"
      end
      # resource path
      local_var_path = '/v2/workflows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflows_create_workflow_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowsCreateWorkflowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsV2Api.workflows_v2_create_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsV2Api#workflows_v2_create_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DestroyWorkflow Workflows V2
    # Archives a workflow
    # @param id [String] Unique identifier for the workflow
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def workflows_v2_destroy_workflow(id, opts = {})
      workflows_v2_destroy_workflow_with_http_info(id, opts)
      nil
    end

    # DestroyWorkflow Workflows V2
    # Archives a workflow
    # @param id [String] Unique identifier for the workflow
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def workflows_v2_destroy_workflow_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsV2Api.workflows_v2_destroy_workflow ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsV2Api.workflows_v2_destroy_workflow"
      end
      # resource path
      local_var_path = '/v2/workflows/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsV2Api.workflows_v2_destroy_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsV2Api#workflows_v2_destroy_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ListWorkflows Workflows V2
    # List all workflows
    # @param [Hash] opts the optional parameters
    # @return [WorkflowsListWorkflowsResultV2]
    def workflows_v2_list_workflows(opts = {})
      data, _status_code, _headers = workflows_v2_list_workflows_with_http_info(opts)
      data
    end

    # ListWorkflows Workflows V2
    # List all workflows
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowsListWorkflowsResultV2, Integer, Hash)>] WorkflowsListWorkflowsResultV2 data, response status code and response headers
    def workflows_v2_list_workflows_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsV2Api.workflows_v2_list_workflows ...'
      end
      # resource path
      local_var_path = '/v2/workflows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowsListWorkflowsResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsV2Api.workflows_v2_list_workflows",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsV2Api#workflows_v2_list_workflows\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ShowWorkflow Workflows V2
    # Show a workflow by ID
    # @param id [String] Unique identifier for the workflow
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :skip_step_upgrades Skips workflow step upgrades, when the parameters for an existing workflow step change
    # @return [WorkflowsShowWorkflowResultV2]
    def workflows_v2_show_workflow(id, opts = {})
      data, _status_code, _headers = workflows_v2_show_workflow_with_http_info(id, opts)
      data
    end

    # ShowWorkflow Workflows V2
    # Show a workflow by ID
    # @param id [String] Unique identifier for the workflow
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :skip_step_upgrades Skips workflow step upgrades, when the parameters for an existing workflow step change
    # @return [Array<(WorkflowsShowWorkflowResultV2, Integer, Hash)>] WorkflowsShowWorkflowResultV2 data, response status code and response headers
    def workflows_v2_show_workflow_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsV2Api.workflows_v2_show_workflow ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsV2Api.workflows_v2_show_workflow"
      end
      # resource path
      local_var_path = '/v2/workflows/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'skip_step_upgrades'] = opts[:'skip_step_upgrades'] if !opts[:'skip_step_upgrades'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowsShowWorkflowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsV2Api.workflows_v2_show_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsV2Api#workflows_v2_show_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # UpdateWorkflow Workflows V2
    # Updates a workflow
    # @param id [String] ID of the workflow to update
    # @param workflows_update_workflow_payload_v2 [WorkflowsUpdateWorkflowPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [WorkflowsUpdateWorkflowResultV2]
    def workflows_v2_update_workflow(id, workflows_update_workflow_payload_v2, opts = {})
      data, _status_code, _headers = workflows_v2_update_workflow_with_http_info(id, workflows_update_workflow_payload_v2, opts)
      data
    end

    # UpdateWorkflow Workflows V2
    # Updates a workflow
    # @param id [String] ID of the workflow to update
    # @param workflows_update_workflow_payload_v2 [WorkflowsUpdateWorkflowPayloadV2] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowsUpdateWorkflowResultV2, Integer, Hash)>] WorkflowsUpdateWorkflowResultV2 data, response status code and response headers
    def workflows_v2_update_workflow_with_http_info(id, workflows_update_workflow_payload_v2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsV2Api.workflows_v2_update_workflow ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorkflowsV2Api.workflows_v2_update_workflow"
      end
      # verify the required parameter 'workflows_update_workflow_payload_v2' is set
      if @api_client.config.client_side_validation && workflows_update_workflow_payload_v2.nil?
        fail ArgumentError, "Missing the required parameter 'workflows_update_workflow_payload_v2' when calling WorkflowsV2Api.workflows_v2_update_workflow"
      end
      # resource path
      local_var_path = '/v2/workflows/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workflows_update_workflow_payload_v2)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowsUpdateWorkflowResultV2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsV2Api.workflows_v2_update_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsV2Api#workflows_v2_update_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
